[2016-03-07 16:36] KenMaltby opened #1871 "Move the menu item for the Calibre wireless connection, from Reader menu to File Manager menu."
- KOReader version: All?
- Device:

It seems more intuitive, to me, if the Calibre wireless connection function were in the File Manager, instead of the Reader menus.  If  moved, it should be easier for the average user to find and use.

[2016-03-07 16:56] KenMaltby commented on #1871
Just noticed that the OTA function also is in the File Manager menus.

[2016-03-07 20:15] Frenzie commented on #1871
I don't know about Calibre, but I think OTA update makes sense in both
locations (as it is).

On Mon, Mar 7, 2016 at 5:56 PM, Ken Maltby <notifications@github.com> wrote:

[2016-03-07 20:46] KenMaltby commented on #1871
That is why I changed the title.

[2016-03-07 22:33] dracodoc commented on #1802
Did anybody test it working? I tried the latest nightly build and it should include this fix, but the fonts are not in list.
I saw there is a cspfonts/zh-Hans_font folder created, but nothing inside it.

[2016-03-08 00:01] NiLuJe commented on #1802
Bleh, which means everything probably gets mounted in a subdirectory, not fun.

D you happen to have shell access to your device?

[2016-03-08 00:33] dracodoc commented on #1802
I don't have it now. I can install usbnetwork to voyage, but it seemed that I need to connect from a linux machine while I'm using windows.

I can try usbnetwork if nobody in developers is using Chinese as default language

[2016-03-08 03:35] houqp commented on #1702
Looks great to me. Thank you so much @GeneralFailer  :)

[2016-03-08 04:56] houqp commented on #1852
@burunduk, when koreader crashes, it will generate a crash.log under `koreader` folder. Can you paste the content of that file here? Also it wouldn't hurt if you paste the book settings too :)

[2016-03-08 04:58] houqp commented on #1871
I think for now, it actually makes more sense to have them in both menus given that many people use koreader without filemanager? Especially for kindle users, they probably just run koreader from kpvbooklet.

[2016-03-08 05:04] houqp opened #1872 "keyboard should support cursor navigation"
- KOReader version: ALL
- Device: ALL

A followup for https://github.com/koreader/koreader/pull/1840#issuecomment-193398231.

[2016-03-09 00:23] Hzj-jie commented on #1814
@akamaus Are you still working on the 'Suspend device after X minute' feature? If not, I may help.

[2016-03-09 00:58] Hzj-jie opened #1874 "Up-right side may miss after resume"
* KOReader version: Nightly 2015.11-233 (built myself)
* Device: Kobo Aura HD with firmware 3.19.5761

#### Issue
Up-right side of the screen turns to blank after resume.

#### Steps to reproduce
Suspend, then resume.
I cannot consistently reproduce this issue, but keep the device in suspending state for a long time may help to reproduce.

Below are two images when the issue reproduced,
https://ra

[2016-03-09 02:09] houqp commented on #1874
Could you test to see if the bug is introduced in this commit? https://github.com/koreader/koreader/commit/ada373e247020c484053a09d76ffbd675b00a7e1

[2016-03-09 02:31] Hzj-jie commented on #1874
Should be partially, I found (at least on my device) this issue almost the first day I used koreader (should be early Feb). But, yes, commit ada373e does make this issue worse. i.e. both the trigger rate and impacted area size have increased.

[2016-03-09 02:47] Hzj-jie opened #1876 "Opening file '...' message box won't show until koreader has fully started"
* KOReader version: Nightly 2015.11-233 (built myself)
* Device: Kobo Aura HD with firmware 3.19.5761

#### Issue
Opening file '...' message box won't show until koreader has fully started.
i.e. When starts koreader from KSM, with 'Start with last opened book' settings on, the screen will remain unchanged for a long time (depends on file size).

#### Steps to reproduce
Described above.

Commit 5e8

[2016-03-09 02:48] houqp commented on #1874
Hm... it's weird the shape is so irregular. I also don't get a screen refresh at all after resume without that commit. I will see if I can reproduce this issue tonight.

[2016-03-09 02:59] Hzj-jie commented on #1874
It's always a right trapezoid AFAIK. It may be a Kobo specific issue, on my device, the screen is always refreshed after resume.

[2016-03-09 06:28] akamaus commented on #1814
hello @houqp
I tried to reproduce the issue (it had been long time since I made a habit of turning light off manually).
I turned light on to 50%, waited for some time, then checked the battery.
Here is the data:
21:50 - 66% battery
00:00 - 62%
10:00 - 49%
11:50 - 47%

So looks like there is stable 1% drain per hour. So I have to agree with @AlanSP1, probably I observed some other issue in the past

[2016-03-09 06:55] houqp commented on #1876
Good catch! My bad for not testing last opened book option.

[2016-03-09 07:42] houqp commented on #1874
I am also using kobo Aura HD. It's probably because I have a much older firmware. But I can confirm that it's a recent change that makes the refresh go away.

[2016-03-09 07:50] houqp commented on #1814
@akamaus if you need to reboot the device to get a new battery value each time, then there is probably something wrong with the kernel, i.e. the stock firmware. In the worst case, restarting KOReader should get the uptodate value. In your cause, it looks like KOReader just keeps reading the same value from the kernel (so is checkbattery.sh).

Also do you use the autoRefreshTime feature at all? It'

[2016-03-09 08:27] houqp commented on #1874
@Hzj-jie , could you test whether adding a sleep in `Kobo:resume` helps alleviate the issue?

[2016-03-09 11:40] #1876 closed

[2016-03-09 15:25] medwatt commented on #1813
I have some epubs with mathematical notations presented as inline images and currently KoReader just treats them as block elements and puts each in a new line.

[2016-03-09 16:50] KenMaltby commented on #1876
And I thought you guys had sped up the starting of reader so much that my last page was displayed ahead of the mesagebox.  I thought it was starting faster.

[2016-03-09 20:20] Hzj-jie commented on #1874
I will try, will get you back later.

[2016-03-09 21:26] Hzj-jie commented on #1874
I have not seen the issue reproduces anymore, after added a os.execute("sleep 0.1") after os.execute("echo 0 > /sys/power/state-extended").
I found the screen fully refresh after resuming, is it because of the screensaver?

[2016-03-10 00:34] Hzj-jie commented on #1874
Tried several times, with various suspending duration, I have not seen the issue reproduced anymore. But still cannot quite understand the root cause.

[2016-03-10 01:18] NiLuJe commented on #1874
Kernel being stupid.

[2016-03-10 01:44] houqp commented on #1874
Yeah, this is usually the sign of race condition in kernel drivers where we tells it to update the screen while it is still in the process of waking up.

[2016-03-10 13:16] akamaus commented on #542
looks like this reaction is triggered by any cyrillic letter in file name. Can it be somehow related to locale settings on device?

[2016-03-10 15:59] GeneralFailer opened #1880 "Certain book files cause a crash-to-home-screen"
* KOReader version: Latest dev build
* Device: Kindle Touch

#### Issue
I've [mentioned](https://github.com/koreader/koreader/issues/1701#issuecomment-153466898) this a while ago, but it seems to have slipped under the radar. Basically, both EPUB and Mobi files from [this page](https://www.gutenberg.org/ebooks/4300) consistently cause KOReader to crash to the home screen.

[2016-03-10 18:33] Hzj-jie commented on #1874
Do you prefer me to send the PR for this change?

[2016-03-10 21:21] houqp commented on #1874
Yes please ;)

[2016-03-11 05:13] yasteora opened #1883 "bug: OTA always show the lastst is 2015110219 and OTA failed too."
* KOReader version:koreader-nightly-20160227

* Device:kpw3 kobo glo

#### Issue
Hello,After I downloaded koreader-nightly-20160227,I upgraded by OTA, but it always show me download the 2015110219 edition, althought I found the lastst  edition is 240 from  http://koreader.ak-team.com/ . And I cant OTA to the new edition too.
Is this is a bug?
#### Steps to reproduce

[2016-03-11 06:38] houqp commented on #1883
I assume you already chose the nightly channel in the OTA setting?

[2016-03-11 06:41] houqp commented on #1818
@Markismus can you try the latest build to see if the close button is more responsive now? I increased the tapping area in the recent commit.

[2016-03-11 06:45] yasteora commented on #1883
@houqp Hi,houqp,I had set the OTA channel to develop,I do not find the nightly channel.

[2016-03-11 06:58] houqp commented on #1883
Sorry, i meant develop channel ;P

Hmm.. I won't have time to dig into this until weekend. @chrox , any thoughts?

[2016-03-11 09:34] NiLuJe commented on #1883
In a slightly related note, we've had a report of failed updates on Kindles over on MR.

Haven't had time to look into it yet either.

[2016-03-11 13:02] KenMaltby commented on #1818
I am using 42 there now and at line 92, in menu.lua

[2016-03-11 13:19] KenMaltby commented on #1883
The "http://vislab.bjmu.edu.cn/apps/koreader/ota/koreader-kobo-latest-nightly.zsync" only has:
Filename: koreader-kobo-arm-linux-gnueabihf-v2015.11-219-g2fda2d0.targz MTime: Sun, 06 Mar 2016 10:02:16 +0000 Blocksize: 2048 Length: 41605120 Hash-Lengths: 2,2,5 Z-URL: koreader-kobo-arm-linux-gnueabihf-v2015.11-219-g2fda2d0.targz in the start of it.

[2016-03-11 15:32] medwatt opened #1884 "Android: No reader engine for this file"
* KOReader version: koreader-nightly-20160227
* Device: Onyx i86 Plus (Android 4.0.4)

#### Issue
Cannot load ePub or djvu documents. I get the message "No reader engine for this file".

#### Steps to reproduce
Just try to open any ePub or djvu file.

[2016-03-12 03:58] houqp commented on #1818
With the changes I made, the default font size `32` should hopefully be good enough. I am trying to get it to a work out of box state so there is no need for users to tweak the setting.

[2016-03-12 07:54] frankyifei commented on #1880
I tried epub-with images. it is ok on my kpw

[2016-03-12 08:09] houqp commented on #1880
@GeneralFailer , do you have crash.log that you can upload?

[2016-03-12 08:29] GeneralFailer commented on #1880
It just says "Segmentation fault" there. I use the official nightly releases.

[2016-03-12 13:44] KenMaltby commented on #1818
Well gee..., if you are going to go and do a real, proper fix....

[2016-03-12 15:06] Markismus commented on #1675
@houpq OTA-update consistently gave an error message, so it took me a while before I had time to test.

On version `v2015.11-175-g7b11491` it still generates a segmentation fault. A full log is [here](https://gist.github.com/ca4297c2fe55145ec464).

[2016-03-12 15:14] Markismus commented on #1818
Ah it's closed, so that why I couldn't find this issue anymore. Anyway, it seems a tad more responsive. After trying a bunch of times with words on different parts of the page, ---See log [here](https://gist.github.com/a1bd943004b308a2c60d)--- I found that in these three responses are as likely to happen:
[1]  I get it to close at the first time,
[2] I get it to close after tapping a bunch of time

[2016-03-12 15:15] Markismus commented on #1818
Previous post was for @houqp.

[2016-03-13 00:42] houqp commented on #1818
@Markismus that's a very old version, my change is introduced in https://github.com/koreader/koreader/commit/a99ab5a976b2c0549c2c40742f9b12f85ba356e2, can you give the latest build a try?

[2016-03-13 07:45] houqp commented on #1858
@SsnL , I cannot reproduce the issue. Both the `go back` item and swipe back works as expected for me. The link `Metropolis, Rosenbluth, Rosenbluth and Teller (1953)` in section 1.1 is located in the first page, so when you swipe back, it will jump back to the first page, which is expected. I tried some links in other pages and was able to swipe back to the correct page. Do you have a better examp

[2016-03-13 08:39] SsnL commented on #1858
Uhh, it occurs for me in reflow mode, if that's helpful at all. Sorry I don't have a better example at hand. But I will report back if I see one.

[2016-03-13 08:51] houqp commented on #1858
Ha i see. It makes sense now. The jump back feature does not work every well with reflow mode right now. Mainly because when page 1 is reflowed into multiple pages, those pages are still considered page 1. So when you jump page, it goes straight back to top of page 1.

This is indeed a bug. We should restore all context during a jump back operation.

[2016-03-13 11:42] Markismus commented on #1818
Huh, odd. Since I downloaded that from the release page yesterday. Will try again.

[2016-03-13 11:53] Markismus commented on #1883
I am also not able to download via OTA since a few days.

[2016-03-13 11:54] Markismus commented on #1818
I can't download via OTA and the [releases](https://github.com/koreader/koreader/releases) still only have version 175 as the latest.

[2016-03-13 12:35] Markismus commented on #1818
Still the same bug with building a kobo release, too.

[2016-03-13 12:48] frankyifei commented on #1880
this is identical to #1852 , i reproduce this bug with older version. it has been fixed but not released yet

[2016-03-13 15:12] KenMaltby commented on #1883
It looks like whatever was supposed to create new .zsync files, stopped working some time ago. At leased for the Kobo releases.

[2016-03-13 15:27] KenMaltby commented on #1818
I just download the appropriate .targz file directly from the OTA site, using myPC (usually: http://vislab.bjmu.edu.cn/apps/koreader/ota/)  I use "Save As" to shorten the file name and remove the "tar" from the extension, like this "koreader-kobo-v2015.11-251.gz".  Both WinRAR and 7-Zip can open .gz files.  (7-Zip also can save back to that [for making changes])

[2016-03-13 18:29] m4kh opened #1887 "Building emulator fails at build step for lua-spore"
* KOReader version: Build from source (Sun Mar 13 09:00:25 2016, master branch, commit 511147ae29ce443e12cb775cca1505d60810beb6)
* System: Ubuntu 15.10, 32 bit

I followed the building instructions described in the readme. However, building the emulator both for linux (./kodev build) as well as for win32 (./kodev build win32) fails at the _lua-spore_ build step. I successfully build for kobo (./ko

[2016-03-13 19:03] Markismus commented on #1818
That should have been a tar.gz-file, shouldn't it? It think you might have found the typo that killed OTA!

[2016-03-13 19:08] Markismus commented on #1818
Another oddness:
![screenshot from 2016-03-13 20-06-23](https://cloud.githubusercontent.com/assets/5269101/13730715/1e987092-e957-11e5-8e08-83456dc1406c.png)
My extraction app fileroller generates an error stating that it cannot make a hard link in this directory.

[2016-03-13 19:08] KenMaltby commented on #1818
Not really a typo, it was a work around, as I recall.

[2016-03-13 19:14] Markismus commented on #1818
On version 251-g511147a the x finally marks the spot! Seven direct closings out of seven tries!

[2016-03-13 19:15] #1818 closed

[2016-03-13 19:16] Markismus commented on #1675
Yes, it works on 251-g511147a! Thanks!

[2016-03-13 19:16] #1675 closed

[2016-03-13 19:24] Markismus commented on #1887
It seems that `Failed installing dependency: https://rocks.moonscript.org/luajson-1.3.3-1.src.rock - Failed installing dependency: https://rocks.moonscript.org/lpeg-1.0.0-1.src.rock ` is the breaking error.

You can check whether you have lpeg and luajson installed with `$ luarocks list`
If they are absent, tou could try installing them manually before compiling:
[code]

[2016-03-13 19:54] Goligoski commented on #1883
The same for the kindle. Cannot update.

[2016-03-13 21:16] KenMaltby commented on #1883
Try again it looks like the .zsync files have been updated: For Kindle:
Filename: koreader-kindle-arm-linux-gnueabi-v2015.11-251-g511147a.targz MTime: Sun, 13 Mar 2016 15:12:33

[2016-03-13 21:19] Markismus commented on #1883
Looking at [this line](https://github.com/koreader/koreader/blob/cf9dc260339b5cb3d004f4877a51d5dc653c0999/Makefile#L162) in the makefile targz is the intended extension.

Could the double appearance of package.index on koreader/ota (see [this post](https://github.com/koreader/koreader/issues/1818#issuecomment-196022054)) be the cause for the malfunction?

[2016-03-13 21:32] KenMaltby commented on #1883
I would guess that the OTA plugin checks the .zsync file for the file to be downloaded.  If the file is not newer than what is running on the device, the update would be aborted.

[2016-03-13 22:04] m4kh commented on #1887
Thanks for the help. I tried installing the dependencies manually by calling `sudo luarocks install luajson` and `sudo luarocks install lpeg`. However, they got installed in `/usr/local` and subsequently calling `./kodev build` resulted in the same errors as listed above. I checked the build log of my successful build for kobo `./kodev release kobo` and it seems they need to be installed in `korea

[2016-03-13 22:06] houqp commented on #1818
Good to know my change worked :)

targz is introduced to workaround CDN caching issue, it's not a bug.

[2016-03-14 01:07] houqp commented on #1887
Interesting, I have never seen that error before. But I have also never tried compiling in 15.10, so maybe something in the system toolchain is different. I will see if I can reproduce this with a 15.10 VM.

By just looking at the link error, looks like we should be able to workaround it by replacing `ld` with `gcc`.

[2016-03-14 01:12] houqp commented on #1887
@m4kh , just in case you are bored and want to test my theory ;) You can edit this line: https://github.com/koreader/koreader-base/blob/master/thirdparty/lua-Spore/CMakeLists.txt#L24 and replace `LD=\"${LD}\"` with `LD=\"${CC}\" to see if the error is still there.

[2016-03-14 01:36] houqp commented on #1883
OTA looks for the version in .zsync file and compare it with the current version of KOReader, which is saved in `git-rev` file.

@yasteora and @Markismus , can you confirm that OTA is working now?

[2016-03-14 01:45] #1874 closed

[2016-03-14 02:04] houqp commented on #1773
I can reproduce this with the latest code:

[code]

A quick search in google seems to indicate that you are not suppose to load sysmte library manually anymore in 6.0.

[2016-03-14 02:10] houqp commented on #1773
Yep, ignoring `libdl.so` works around the issue. Now we need to come up with a proper fix.

[2016-03-14 02:14] NiLuJe commented on #1887
Or could it be ccache being stoopid?

(Never used ccache, so, wild guess ;p).

[2016-03-14 02:16] houqp commented on #1887
@NiLuJe are you not using ccache with gentoo? ;)

[2016-03-14 02:21] NiLuJe commented on #1887
I so rarely rebuild non-trivial stuff that I never bothered, no ;).

I do build everything in a tmpfs to nullify IO impact (and avoid usless cell writes on the SSD), though.

That, and I did upgrade my 5 year old box this winter...

[code]

It does the job... *grin*

(I've had to switch to a pasta-heavy diet, but that's a minor detail... :D)

[2016-03-14 02:21] houqp commented on #1880
@GeneralFailer can you try the latest version as @frankyifei said? He fixed a bug in CREngine a while ago. I also cannot reproduce the crash on my side.

[2016-03-14 02:27] houqp commented on #1887
Damn... as a comparison, here comes my main laptop:

[code]

This is why I decided not to use gentoo on my mac air ;)

I remember on my old sony laptop, KDE update would take a whole night. Fun time...

[2016-03-14 02:29] NiLuJe commented on #1887
Yep, I have a recent-ish entry-level 11" Air too, and, yuuuup, that one stayed on OS X for pretty much the exact same reason ;p.

[2016-03-14 02:30] houqp commented on #1884
I just tried it out with verstion 254 and was able to open epub files. Can you give that version a try when it's out? Also do you have access to `adb log`?

[2016-03-14 08:11] Markismus commented on #1862
@NiLuJe I upgraded to v.251 last night and I got the bug on my Kobo Aura H2O, too!

[2016-03-14 10:45] GeneralFailer commented on #1880
I'm having trouble installing gcc-arm-linux-gnueabi on Arch Linux. There's only arm-none-eabi-gcc in repos and nothing in AUR.

[2016-03-14 11:12] frankyifei commented on #1880
that should be the same one. I tried older build of crengine, and it did crash like #1852 . Also I found a better way to fix this, the bug is when len==64, TexHyph::hyphenate() will crash. The last fix will work because when len>64, it will reduce it to WORD_LENGTH-2=62.

[2016-03-14 11:20] yasteora commented on #1883
@houqp  Hi, I tested on KOBO and  Kinlde ,they are both working now thanks!

[2016-03-14 11:45] medwatt commented on #1884
@houqp, I have access to the log file. What do you want me to run or what do you want to see ?

[2016-03-14 15:50] Markismus commented on #1862
I updated the firmware for Nickel, but the problem remains.

[2016-03-14 16:52] m4kh commented on #1887
I tested @houqp's theory by replacing `LD=\"${LD}\"` with `LD=\"${CC}\"` on line 24 of `~/koreader/base/thirdparty/lua-Spore/CMakeLists.txt`. Now the build hangs at:

[code]

I also tried to disable ccache by inserting `export USE_NO_CCACHE=1` into `kodev` (without @houqp's mod). But this results in the same error as reported in the first post. Any other ideas?

[2016-03-14 19:05] NiLuJe commented on #1887
Which luarocks/lua version is your system using?

[2016-03-14 19:07] NiLuJe commented on #1862
Huh. Could the reordering of stuff and/or the added sleep be messing things up?

That's the only vaguely related commits I can think of in that window, I think?

[2016-03-14 19:28] m4kh commented on #1887
My system uses `LuaRocks 2.2.0` and `Lua 5.1`.

[2016-03-14 20:20] houqp commented on #1862
@Markismus you upgraded from 175 to 251 right? Same question from NiluJe, do you have nickel running with KOReader? If you are only launching it from KSM, can you try manually reverting following two commits?
https://github.com/koreader/koreader/commit/ada373e247020c484053a09d76ffbd675b00a7e1
https://github.com/koreader/koreader/commit/767e6e2b7109ab97f9e9b8f6022abf15140f59cb

[2016-03-14 20:35] Markismus commented on #1862
@NiLuJe Yep, KSM.
@houqp Nope, I never run Nickel if I can help it. I hope I get to those revertions tomorrow, but it'll probably be later. I did revert back to v175 and the problem disappears. Which is odd, since NiLuJe suggested that he had the problem at v175, too.

[2016-03-14 21:23] m4kh commented on #1887
If it helps, here are the complete logs for my successful [kobo build](https://www.dropbox.com/s/4af4aoulsnt59y8/kobo_out.txt?dl=0) and the failed [emulator build](https://www.dropbox.com/s/merc6pr3alexohd/emulator_out.txt?dl=0). I briefly checked them but couldn't find any issues.

[2016-03-15 00:49] houqp commented on #1862
Your case is probably a different from NiLuJe's since he is running it along side of nickel from SSH.

[2016-03-15 01:02] NiLuJe commented on #1862
Yep, and that (mine) specific scenario should trigger the workaround.

[2016-03-15 01:10] houqp commented on #1884
Thanks for the log, it already points out the issue:

[code]

I wonder why  libpng16.so.16 is missing from the build. Where did you download the apk file?

[2016-03-15 01:23] houqp commented on #1880
@GeneralFailer setting up build environment in Arch is not easy right now.  I am also having issue with setting it up in a arch vm. You can use https://github.com/koreader/virdevenv/tree/master/vm/ubuntu to do the build for now, which should work out of the box.

[2016-03-15 01:28] #1883 closed

[2016-03-15 01:59] medwatt commented on #1884
@houqp, I downloaded it from https://github.com/koreader/koreader/releases. This file that I downloaded has the name "koreader-android-arm-linux-androideabi-v2015.11-175-g7b11491.apk".

[2016-03-15 02:56] Hzj-jie opened #1889 "koreader.sh does not be called by KSM 08 anymore"
* KOReader version: latest nightly build (built myself)
* Device: Kobo Aura HD

#### Issue

I am using KSM 08 (2015.10.27) to start koreader, and almost suddenly, koreader.sh does not be called by KSM anymore. KSM uses some magic way to start koreader. Is it an expected change, or anything wrong with my device or configuration?

#### Steps to reproduce

I recently found remount sd card function di

[2016-03-15 05:04] KenMaltby commented on #1889
You might get more results at the KSM8 thread on MR in the Kobo Developer's Corner subforum.

[2016-03-15 06:31] houqp commented on #1889
@Hzj-jie do you have the link for the new KSM download? I can take a look to see what's going on. We might need to coordinate with KSM project on this.

[2016-03-15 06:46] houqp commented on #1887
In your build log, I found following error:
[code]
So looks like it's trying to install it to global tree, which requires root access. Looking at `thirdparty/lua-Spore/CMakeLists.txt`, we are using `luarocks make --to=DIR` option to specify the output directory. This is weird, because I can't find any reference to that option in luarocks's documentation. I am trying with `--tree` on my dev machine

[2016-03-15 07:01] houqp commented on #1884
@chrox the build in release page is quite old. How do we upload the nightly build right now? Is it still done from your build server? We can also use travis to generate and upload the build if it's easier for you. I can help with that if needed.

[2016-03-15 07:05] houqp commented on #1884
In case you want to give the latest version a try, you can download the release I attached in this comment.

[koreader-android-arm-linux-androideabi-v2015.11-254-g959bf73.zip](https://github.com/koreader/koreader/files/173383/koreader-android-arm-linux-androideabi-v2015.11-254-g959bf73.zip)

[2016-03-15 07:38] houqp commented on #1887
@m4kh so `--tree` worked for me. Can you give it a try by modifying the `CMakeLIsts.txt` file? If it fixes your issue, feel free to submit a pull request :)

[2016-03-15 09:39] m4kh commented on #1887
It's strange that `Permission denied` didn't show up in the first build log above. I will try using the `--tree` option, and report back later today.

[2016-03-15 11:56] chrox commented on #1884
The build server is already fixed now.

[2016-03-15 12:15] KenMaltby commented on #1884
I don't understand how the .zsync file there now, with "zsync: 0.6.2 Filename: koreader-pocketbook-arm-obreey-linux-gnueabi-v2015.11-219-g2fda2d0.targz MTime: Sun, 06 Mar 2016 10:02:58"
Or how the: koreader-android-arm-linux-androideabi-v2015.11-253-gcf9dc26.targz ends up an .apk?

I can see that  houqp's .zip could be changed to .apk ( would it need to be signed to install?)

[2016-03-15 12:24] chrox commented on #1884
It now refers to koreader-android-arm-linux-androideabi-v2015.11-253-gcf9dc26.targz which will be unpacked by koreader program and the main part of koreader will be updated. Previously the pocketbook file on Android's zsync file is just a test case.

[2016-03-15 12:28] KenMaltby commented on #1884
Ah, makes sense now, thanks for setting me straight. (I broke my tablet, so I can't try it out, till I get a new one.)

[2016-03-15 12:31] chrox commented on #1884
Should be fixed in the latest release. Close this now.

[2016-03-15 12:31] #1884 closed

[2016-03-15 16:12] GeneralFailer commented on #1880
The building failed apparently. Here's the console output.
[log.txt](https://github.com/koreader/koreader/files/174288/log.txt)

[2016-03-15 16:23] Hzj-jie commented on #1889
I believe I have downloaded KSM8 @ http://www.mobileread.com/forums/showthread.php?t=266821
It used to work well, but, yes, things suddenly changed around last week.
@KenMaltby I did not see a clear description, how KSM find koreader or other applications for kobo and start it on mobileread, KSM is not an open source project AFAIK.

[2016-03-15 16:24] Frenzie commented on #1889
It may not be free software, but the source is open enough. It's in a util
folder or something like that.
On Mar 15, 2016 5:23 PM, "Hzj_jie" <notifications@github.com> wrote:

[2016-03-15 16:49] KenMaltby commented on #1889
Tshering's scripting has been given freely to the Kobo Community at MR, to great benefit for KOReader users as well as those using the stock software.
While some parts have been moved to the System partition, tshering has had the starting of KOReader use the koreader.sh in the koreader folder and I doubt that, that has changed.  Where the koreader folder has been, was changed to /mnt/onboard/.adds

[2016-03-15 16:57] Frenzie commented on #1889
Having had a chance to take a quick peek now (I was on my phone before), the script I was referring to is /adds/kbmenu/onstart/start_koreader.sh

Specifically, it checks whether koreader.sh contains `from_nickel`
[code]

A quick look shows you to be responsible for [changing from_nickel to FROM_NICKEL](https://github.com/koreader/koreader/blob/770625d756868c713c897575da6750726761315b/platform/kobo

[2016-03-15 17:03] Frenzie commented on #1889
Wait, I'll just do that myself. I'm on a proper computer after all. =P

PS My previous comment has seen some editing.

[2016-03-15 17:46] #1889 closed

[2016-03-15 18:33] GeneralFailer commented on #1880
The new official build fixes opening Ulysses, but doesn't fix opening FB2 from #1852.

[2016-03-15 18:33] #1880 closed

[2016-03-15 18:38] GeneralFailer commented on #1852
The crash.log is empty for me.

[2016-03-15 20:35] m4kh commented on #1887
I tried the `--tree` option but got the same error as reported in the first post. I also tried building in a clean VM running Ubuntu 14.04.4 LTS. The build failed at the same location while trying to install `lpeg` in the `lua-spore` step. This time I got `cp: cannot stat ‘lpeg.so’: No such file or directory` (line 4433). Please see the [build log](https://www.dropbox.com/s/6tpnx03t4jhlwkk/ubuntu1

[2016-03-15 21:10] Frenzie opened #1892 "Automatically select Wikipedia language based on ePub language"
* KOReader version: all
* Device: any

This FR would be analogous to #1775, presumably based on something like `self.ui.document:getProps().language` but I only glanced at it.

This came from the forum: http://www.mobileread.com/forums/showpost.php?p=3273899&postcount=10

[2016-03-15 21:11] Frenzie commented on #1892
My bad, I overlooked #1844.

[2016-03-15 21:11] #1892 closed

[2016-03-15 21:13] Frenzie commented on #1844
Similar to #1775 this could potentially be automated, presumably based on something like `self.ui.document:getProps().language` but I only glanced at it.

[2016-03-15 22:19] Hzj-jie commented on #1889
What's an interesting hack in KSM. Why doesn't KSM just try to execute a start.sh in each folder?

Anyway, thank you everyone to digdug the issue.

[2016-03-16 03:44] houqp commented on #1887
This is weird. Did you apply the `LD=\"${CC}\"` workaround in your VM? How different is your vm setup compared to https://github.com/koreader/virdevenv/tree/master/vm/ubuntu? What's the GCC version?

[2016-03-16 08:15] houqp commented on #1880
@GeneralFailer thanks for reporting. I am not able to reproduce the bug on my side, but based on the error log, it's very likely caused by a bug in the build script. See: https://github.com/koreader/koreader-base/pull/394.

[2016-03-16 09:36] m4kh commented on #1887
I finally get successful builds by applying both `LD=\"${CC}\"` and `--tree`. Somehow i didn't try this combination before. It works in both VMs running Ubuntu 15.10 and 14.04.4 LTS. GCC version is 4.8.4. Thanks @houqp for the hint.

[2016-03-16 10:59] Frenzie commented on #1782
I also have a black screen issue on my Zenfone 2, although I suppose that could be an architecture issue as it's an x86 device (cf. #1815). Note that Intel says ARM stuff should [Just Work™](http://regmedia.co.uk/2014/04/30/intel_binary_translator_slide.jpg) with a slight performance penalty.

[code]

[2016-03-16 11:11] Frenzie commented on #1889
Because the KOReader startup script saw some great improvements since the earlier versions of KSM, and there's really no good reason for it to force newer versions on people who aren't interested. Kind of the same reason I've made sure newer versions of KOReader [work with older versions of KSM](https://github.com/koreader/koreader/commit/475ee2817370015c61f3e23a8a4f901ebed19154). =)

[2016-03-16 12:12] frankyifei commented on #1810
the changes may have already saved to pdf file. try should open it on pc

[2016-03-16 17:43] didina44 commented on #1705
Hello,

I was just wondering if by any chance you thought of some way to fix this
problem. It would be really great for users of ancient greek dictionary.
Sorry to bother you with this, you have enabled great features to Koreader,
I dare to ask about this thinking it might just have escaped your notice.

Thank you very much.

On 6 November 2015 at 12:06, Markismus <notifications@github.com> wrote:

[2016-03-16 19:02] GeneralFailer commented on #1880
@houqp I tried building with only the first fix and it didn't report any errors, but the build still weighs over 1.8 GB.
[log.txt](https://github.com/koreader/koreader/files/176685/log.txt)

[2016-03-16 19:20] houqp commented on #1880
@GeneralFailer , the size of the build is expected to be that large. KOReader is not a trivia reader project ;)

[2016-03-17 04:46] houqp opened #1893 "KOReader mailing list"
Hi all,

I have created a mailing list for the project so anything that's not related to bugs or feature requests can be posted to there instead. Please feel free to join the list if you want to participate in all future discussions:

https://www.freelists.org/list/koreader

PS: You don't have to join the list in order to send emails.

[2016-03-17 05:15] ilyats opened #1894 "Flipping mode doesn't work"
#* KOReader version:
v2015.11-3-g9e0be45
* Device:
Kindle 7th generation, firmware 5.7.2.1

#### Issue
Flipping mode does not work with PDF file

#### Steps to reproduce
I tap top left corner, book ion appears, but swiping finger only makes screen update, without page changing

[2016-03-17 05:19] ilyats opened #1895 "Status bar overlaps text"
* KOReader version:
v2015.11-3-g9e0be45
* Device:
Kindle 7th generation, firmware 5.7.2.1

#### Issue
Status bar overlaps text

#### Steps to reproduce
When reading PDF file with "fit content" enabled, status bar is displayed over the text. I had to turn off status bar completely to deal with it.

[2016-03-17 05:44] houqp commented on #1887
Thanks @m4kh for confirming the fix. I have included the patch in https://github.com/koreader/koreader-base/pull/394

[2016-03-17 05:44] #1887 closed

[2016-03-17 05:53] houqp commented on #1782
Looks like it's loading fine. I have been experiencing the black screen issue with one of my old phone too. KOReader used to run fine on that phone. I noticed the black screen is caused by the fact that KOReader is running really slow. It takes minutes for it to update the screen and response to user input. That's why it started out as a blackscreen, if you wait for enough time, it will eventually

[2016-03-17 06:18] houqp opened #1897 "Checklist for next stable release"
Feel free to add things here as you see fit.
## todo
- [ ] close all issues in `next stable release` milestone: https://github.com/koreader/koreader/milestones/next%20stable%20release
## include in release note
### breaking change
- KOBO_SCREEN_SAVER and KOBO_SCREEN_SAVER_LAST_BOOK removed in favor of `use_lastfile_as_screensaver` and `screensaver_folder` in reader.settings.lua. See: https://githu

[2016-03-17 08:01] houqp commented on #1895
Confirmed in page mode. @ilyats , it should not be an issue in scroll mode though.

[2016-03-17 12:02] GeneralFailer commented on #1852
Dunno if it can help, but it seems like the last version to produce a non-empty crash.log for me is koreader-nightly-20160216.

`./luajit: frontend/ui/uimanager.lua:291: attempt to index local 'self' (a nil value)
stack traceback:
	frontend/ui/uimanager.lua:291: in function 'quit'
	frontend/apps/reader/readerui.lua:353: in function 'action'
	frontend/ui/uimanager.lua:353: in function '_checkTasks'

[2016-03-17 14:12] yaoxiaoqi opened #1898 "How to use it on kindle 4 black?"
- KOReader version: v2015.11-253-gcf9dc26
- Device:kindle 4 black
#### Issue

I installed the newest KOreader today and tried to reflow a PDF. But I can't find this option in menu.
How can I reflow a PDF?
Sorry for asking a stupid question:(

I found a bug as well. Every time I choose "book status",it crashes.
#### Steps to reproduce

"menu" -> "info" -> "book status"

[2016-03-17 14:24] Frenzie commented on #1898
First you have to tap the top of the screen to bring up the menu; then you can enable reflow under the bottom right-most menu. You can long press settings to make them the default for all documents.

Regarding book status, would it be possible to check whether it's still happening under the latest nightly? See [releases](https://github.com/koreader/koreader/releases).

[2016-03-17 14:46] yaoxiaoqi commented on #1898
Thanks for replying~My device is Kindle4 ,which is non-touch. So I can't tap the top of the screen.I can only press the Menu button to see the menu.

[2016-03-17 15:31] Frenzie commented on #1898
Sorry, I'm not at home in Kindle land. =) In that case I suppose this is
related to #1623.
On Mar 17, 2016 3:46 PM, "yaoxiaoqi" <notifications@github.com> wrote:

[2016-03-17 15:38] GeneralFailer commented on #1898
I don't think non-touch Kindles are supported yet. Try [Librerator](http://www.mobileread.com/forums/showthread.php?t=198742) instead.

[2016-03-17 15:48] Frenzie commented on #1898
Also note that KOReader came from KPV.

I don't think non-touch Kindles are supported yet. Try Librerator
<http://www.mobileread.com/forums/showthread.php?t=198742> instead.

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub
<https://github.com/koreader/koreader/issues/1898#issuecomment-197936948>

[2016-03-17 16:45] houqp commented on #1898
non-touch kindle devices are supported, but we don't have an official build. I use it on my k3 and dxg. For reflow, we need to add that option to the main menu. It's currently only available in the bottom menu which is disabled for non-touch devices.

[2016-03-17 17:25] NiLuJe commented on #1782
Wasn't the usual diagnostic for those kind of issues a JIT failure causing a fallback to interpreted code?

[2016-03-17 17:50] houqp commented on #1782
Good point, that's very likely the cause.

[2016-03-17 17:51] houqp commented on #1898
Also, does librerator support reflow? IIRC, it hasn't been updated for a long time.

[2016-03-17 17:57] Frenzie commented on #1782
I don't know anything about Android debugging; is there any further info I
could provide?
On Mar 17, 2016 6:50 PM, "Qingping Hou" <notifications@github.com> wrote:

[2016-03-17 18:43] GeneralFailer opened #1899 "text-align property doesn't always seem to work"
* KOReader version: Last nightly build
* Device: Kindle Touch

#### Issue
I've noticed that in one book I'm reading text doesn't get centered in KOReader. [Here's](https://github.com/koreader/koreader/files/178469/test.zip) a small example file that suffers from this.

[2016-03-17 19:40] KenMaltby commented on #1899
It works fine (what little is there), if you have "Embedded Style" turned on.  It is under the bottom reader menu Gear Icon.

[2016-03-17 22:09] GeneralFailer commented on #1899
Ah, right, I haven't thought of that. I think it would be very helpful if there was an embedded font option that wouldn't affect this kind of sometimes-important stuff. Though from what I can now see it would be a poor trade-off in the case of that specific book file.
I wonder if any reader app developers have created a sensible easy solution for these kinds of weird ugly cases that doesn't involv

[2016-03-17 22:09] #1899 closed

[2016-03-17 22:13] houqp commented on #1899
@GeneralFailer we can possible just abstract these typesetting out into book config/menu options. Then convert the configs into css overrides on the fly and apply to the documents.

[2016-03-17 22:39] GeneralFailer commented on #1899
They'd still have to be pretty much set on basis of HTML tags, right?
Anyways, is Embedded Style off supposed to make styles to be completely ignored as opposed to low-priority? I've commented .div out of epub.css completely, but it still gets aligned to the left. If so, is there a priority-based kind of option?

[2016-03-18 02:43] gerroon commented on #1897
Image browsing mode?
It would be nice if Kr could browse next/prev image (when tapped to next previous) in the folder if it is used for opening an image.

Ironing out Android stability issue

[2016-03-18 04:41] houqp commented on #1897
Image browsing mode would be something nice to have, but probably not in the next release. Feel free to file a FR issue for it though.

I have included most of the outstanding android issues in the milestone.

[2016-03-18 04:58] houqp commented on #1852
@GeneralFailer I noticed a bug that prevents some of the reader error log from writing into `crash.log`. Either one of the commit in https://github.com/koreader/koreader/pull/1900 should fix the issue. Could you give it a try?

[2016-03-18 05:02] houqp commented on #1782
We can check the JIT status using `DEBUG(jit.status())` call.

[2016-03-18 05:09] houqp commented on #1782
Hmm... jit.status returns true in my phone: `true ARMv7 VFPv3 fold cse dce fwd dse narrow loop abc sink fuse`. So looks like JIT is enabled. @Frenzie , can you help verify that you are having the same issue as mine? i.e. try wait for longer after the blank screen shows up, like 10 minutes, to see if there any change. You can also use `kodev log android` to monitor the log progress.

[2016-03-18 05:48] houqp commented on #1899
There are some common HTML tags. Like we can assume content are wrapped in `<p>` etc.

I believe when Embedded Style is on, all other css will be skipped.

[2016-03-18 06:24] houqp commented on #1810
To delete highlights, just tap on the highlighted text, then you should be able to see a pop up with option to delete the highlight.

[2016-03-18 06:28] houqp commented on #1705
I added this to next release milestone. @chrox are you still working on this? If not I can take a look.

[2016-03-18 07:17] yaoxiaoqi commented on #1898
Also, does librerator support reflow? IIRC, it hasn't been updated for a long time.

Thanks for the response. Guess I must wait for some time? I really want to use KOreader , because I need reflow some vertical writing PDF,which librerator doesn't support.

[2016-03-18 07:49] houqp commented on #1898
Yes, I have added this ticket to the milestone, the next stable release will add reflow to K4 menu.

[2016-03-18 07:59] houqp commented on #1782
My initial test shows that it blocks on `bb:blitFrom(self.bb)` (`ffi/framebuffer_android.lua`) for a very long time. Not sure why this is happening yet.

[2016-03-18 09:43] yasteora commented on #1810
@houqp @frankyifei I had tried that method for my scanned PDF,but that does not work. So I delete the file.lua file on the /history/  and the .lua file on /document/ *.sdr/,the highlights would be Disappeared

[2016-03-18 12:00] GeneralFailer commented on #1852
@houqp Generated logs are still empty for me.

[2016-03-18 13:47] Frenzie commented on #1782
I haven't been able to see anything drawing on the screen after waiting for like ten minutes, but I can confirm that KOReader uses up all of one of my cores. However, using `kodev log android` shows something that might be relevant:

[code]

Note the `W/luajit-launcher(31787): cannot blit: no window`. How do I get it to run this DEBUG status call? Would I have to build the whole Android toolchain

[2016-03-18 14:12] gerroon opened #1901 "Recent books always shows the recent books from the first library of the cops server"
- KOReader version:
  koreader-nightly-20160315
- Device: Android
#### Issue

My cops server has multiple collections. When I open it my browser I can see all the separate libs/collections. When I click on a collection and then click on recent additions I see only the additions to that collection/cops library in the browser but that is not the case with Kr. I can browse the individual libraries bu

[2016-03-18 16:05] KenMaltby commented on #1901
What do you get if you set an OPDS catalog URL to go all the way to one of your sublibraries (not the first) ?  If that works you should be able to catalogs for each of your sublibraries.

[2016-03-18 17:16] m4kh opened #1902 "Koreader startup ignores light OFF (intensity 0) when synchronized with nickel"
* KOReader version: v2015.11-253-gcf9dc26
* Device: Kobo Glo HD

#### Issue
Koreader always starts with light on (intensity set to 1) if light has been disabled in nickel. For light levels between `0 -100` the synchronization works fine.

#### Steps to reproduce
Turn the light off in nickel and exit to KSM. `Kobo eReader.conf` shows `FrontLightLevel=0`. Start koreader. On startup the light is turn

[2016-03-18 17:25] houqp commented on #1902
@Hzj-jie , the normalize function will convert 0 to 1, we need to handle 0 as special case here.
@m4kh , could you also check the `FrontLightState` config in `Kobo eReader.conf` after you exit nickel with frontlight turned off? I suspect your nickel also does not write out this config entry, which is used by KOReader to turn on/off frontlight on start.

[2016-03-18 17:26] m4kh opened #1903 "FR: Use gestures for controlling light intensity to turn light off"
- KOReader version: v2015.11-253-gcf9dc26
- Device: Kobo Glo HD

Enhance swipe gestures for turning light off (intensity 0). Currently the minimum intensity that can be set via gestures is 1. It would be nice if continuing to swipe down would turn the light off completely. Currently this is only possible through the toggle button in the frontlight menu.

[2016-03-18 17:28] houqp commented on #1903
I would consider this a bug. Related to https://github.com/koreader/koreader/issues/1902.

[2016-03-18 17:32] m4kh commented on #1902
I don't see a `FrontLightState` entry in my `Kobo eReader.conf`. I have firmware `3.19.5761 (0e028f3185, 12/29/15)` installed via KSM.

[2016-03-18 17:38] houqp commented on #1782
`cannot blit` error should go away with the latest android build. If you don't want to install the android TC, you can hack around by unzip the apk, change the files inside and zip it back.

Looking at your log, I am pretty sure you are running into the same issue as mine. On My phone, it works totally fine before. Now it's just really really slow on loops. I suspect it's related to this: http://w

[2016-03-18 18:10] didina44 commented on #1705
Thank you!

On 18 March 2016 at 07:28, Qingping Hou <notifications@github.com> wrote:

[2016-03-18 20:49] Frenzie commented on #1782
Oh, I thought those APKs were signed and stuff. I'll check up on the JIT status tomorrow.

[2016-03-18 21:05] ilyats opened #1904 "Koreader does not work on Samsung Galaxy SIII Neo"
- KOReader version:
  koreader-stable-v2015.11
- Device:
  Samsung Galaxy SIII Neo GT-I9301I Android 4.4.2 firmware I9301IXXUAOD2
#### Issue

black screen on start
#### Steps to reproduce

Download and install stable .apk, then start koreader. Black screen appears, no reaction to touches or buttons.

[2016-03-18 21:27] houqp commented on #1904
Likely a duplicate of https://github.com/koreader/koreader/issues/1782#issuecomment-198535990.

[2016-03-18 22:18] KenMaltby commented on #1782
They are but you can modify scripts or resources in them then sign your modified .apk with EasyAPKDisasembler https://code.google.com/archive/p/easy-apk-dissassembler/downloads and they will install.  (I replace the KOreader Icon with my egocentric one, as well as test script changes that way.)

[2016-03-18 22:52] djalma2k commented on #1902
Same that @m4kh (Kobo Glo HD with 3.19.5761 upgraded via "nickel") and don't appears any "FrontLightState" parameter in my Kobo eReader.conf. Exists a parameter called "FrontLightLevel"...
Regards.

[2016-03-18 23:12] djalma2k opened #1905 "Status bar don't show the chapter structure"
* KOReader version: v2015-11 261 and 264
* Device: Kobo Glo HD

#### Issue
Status bar don't show the epub file chapter structure. It doesn't happen with v2015-11-214

![statusbar_1](https://cloud.githubusercontent.com/assets/17313916/13894353/25f7ff6a-ed67-11e5-8d95-ff64000bfb9b.png)

![statusbar_2](https://cloud.githubusercontent.com/assets/17313916/13894361/2a861f76-ed67-11e5-8b81-5f039d082959.p

[2016-03-18 23:42] Hzj-jie commented on #1814
A prototype of auto-suspend function for kobo is @ https://github.com/hzj-jie/koreader, I am testing it on my Kobo Aura HD.

[2016-03-18 23:43] djalma2k commented on #1833
@NiLuJe Thanks 4 your explanation and your IM batch (and bash :P ) processing script. :+1:  You probably save me a lot of time of checking this in the future... :)))
Regards.

[2016-03-19 00:11] KenMaltby commented on #1905
I lost the chapter tick marks with 261 also.

[2016-03-19 00:27] djalma2k commented on #1839
Yes, It could be a temporary solution, maybe with the correct script magnifying the images could be a good solution. But I wrote my previous post thinking that the "pinch 2 zoom" gesture is already implemented for pdf files (real zoom isn't currently and really implemented). And maybe could be easy (I really don't know :) ) implement a simple zoom feature.
The problem of doing what you do in a man

[2016-03-19 03:27] gerroon commented on #1901
@KenMaltby

I have like 11 libraries ;(

[2016-03-19 03:31] gerroon commented on #1782
@houqp
It must be memory allocation because I have bunch of devices with various rams and os combinations and Kr is so inconsitent with performance and speed and crashes among these devices. Sometimes it works in low end android ereaders (C67ML) but not on highend latest android devices of mine (like Lenovo A10-70f).

[2016-03-19 04:30] chrox commented on #1782
Maybe we can debug the issue like this https://github.com/koreader/koreader/issues/1456#issuecomment-82028581 in #1456. It looks like a JIT failure issue.

[2016-03-19 05:07] chrox commented on #1705
Sorry, I'm afraid I forgot this. You can take this of course.

[2016-03-19 06:24] burunduk commented on #1852
@houqp, on v2015.11-267 i have some log:
`FATAL ERROR #111: restoreFromCache() failed for chunk`
I try clean cach folder. May be I have other bug. Not for this issue.

[2016-03-19 06:26] houqp commented on #1905
Thanks for the report. My bad for breaking this.

[2016-03-19 07:46] houqp commented on #1782
Unfortunately, the phone that's having this issue is not rooted :( I will see if it's possible to get root access tomorrow.

Assuming it's mcode allocation that's failing, shouldn't it be taken care by https://github.com/koreader/android-luajit-launcher/blob/master/assets/android.lua#L20?

[2016-03-19 08:27] #1905 closed

[2016-03-19 08:42] Frenzie commented on #1814
Nice! I'd been thinking of writing something similar for fun, but
unfortunately it's of no practical interest to me so I never did. =)
On Mar 19, 2016 12:43 AM, "Hzj_jie" <notifications@github.com> wrote:

[2016-03-19 09:31] Frenzie commented on #1814
I just realized that no one mentioned #1356 yet, so hereby.

[2016-03-19 12:51] KenMaltby commented on #1901
So, "When I open it my browser I can see all the separate libs/collections", you have a page with, "like 11 library links".  You could have 11 more catalogs listed on your KOReader "OPDS Catalog" page or pages. In other works it could be When I open it my KOReader "OPDS Catalog" page  I can see all the separate libs/collections.  Of course, you won't know until you try one.

[2016-03-19 14:33] chrox commented on #1782
Not necessarily. On some devices there is not a single free slot for mcode in the short jump range, for example some devices that install xposed framework.

[2016-03-19 18:43] gerroon commented on #1782
@chrox

Kr did not work on my Galaxy when it had Xprivacy+Android Kitkat but when I upgraded the same device to Android Lollipop along with Xposed/Xprivacy Kr started working fine (although a biut laggy sometimes)

[2016-03-19 23:29] m4kh opened #1907 "OTA update gets downloaded but not installed after restart"
* KOReader version: koreader-nightly-20160315
* Device: Kobo Glo HD

#### Issue
OTA updates are downloaded but not installed after restart.

A partially related issue:
1) The check for updates is not performed automatically, after the prompt for turning on wifi (in case wifi was off previously). After wifi is turned on, the prompt closes and I have to go back into the menu and hit `check for updat

[2016-03-19 23:42] NiLuJe commented on #1907
What's the exact file listing of your ota directory?

[2016-03-19 23:43] m4kh opened #1908 "Option to turn off Wi-Fi"
* KOReader version: koreader-nightly-20160315
* Device: Kobo Glo HD

#### Issue
There is no option to turn Wi-Fi off after it has been enabled in KOReader. A Wi-Fi menu to turn it on/off might be helpful, maybe even with a Wi-Fi status indicator.

#### Steps to reproduce
I Wi-Fi is off, hit `Check for updates` in the `OTA update` menu. A prompt allows to enable Wi-Fi. Afterwards there is no way to

[2016-03-19 23:51] m4kh commented on #1907
My ota directory shows the following files:

- koreader.installed.tar
- koreader.updated.tar
- koreader-kobo-latest-nightly.zsync
- package.index

[2016-03-20 00:11] m4kh opened #1909 "Missing Wi-Fi prompt in calibre wireless connection"
- KOReader version: koreader-nightly-20160315
- Device: Kobo Glo HD
#### Issue

If Wi-Fi is turned off, the calibre wireless connection shows the error `Cannot connect to calibre server`. In this case, it might be more intuitive to first ask for turning Wi-Fi on. Similar functionality is already implemented for `OTA update`.
#### Steps to reproduce

If Wi-Fi is turned off, hit `Connect` in the `Ca

[2016-03-20 00:17] KenMaltby commented on #1908
There should be a "Network" menu item (under the gear tab/icon of the top menus) It will have a "Wi-Fi connection" that will have a check in front of it, if the Wi-Fi is on.  selecting that will pop up a message box to turn it on or off.

[2016-03-20 00:29] KenMaltby commented on #1909
The error message is not misleading, KOReader cannot connect the the server with the Wi-Fi off.

But - it sounds like it is missing the Wi-Fi prompt, that the other functions that rely on the Wi-Fi have.

[2016-03-20 00:32] m4kh commented on #1908
Ah sorry, I somehow didn't see that menu before. Thanks for the hint!

[2016-03-20 00:32] #1908 closed

[2016-03-20 00:34] NiLuJe commented on #1907
How do you launch KOReader?

[2016-03-20 00:36] m4kh commented on #1909
That's what I tried to say. Thanks for the correction. I will change the title of the issue accordingly.

[2016-03-20 00:40] m4kh commented on #1907
I launch KOReader via KSM 8 or via the nickel-koreader switch (after enabling it in KSM).

[2016-03-20 01:21] houqp commented on #1782
Confirmed that in my case, it's the mcode allocator that's failing to find a large enough mcode area for JIT compiler:

[code]

Setting `sizemcode` to 128 makes the JIT compiler happy again. Since the memory address around luajit.so is completely out of our control, I am thinking of dynamically adjust `sizemcode` on start based on `/proc/self/maps`. And if there no enough space, just turn off JIT

[2016-03-20 01:30] houqp commented on #1907
Looks like `koreader.sh` failed at ` cd "${KOREADER_DIR%/*}" && tar xf "${NEWUPDATE}" && mv "${NEWUPDATE}" "${INSTALLED}"   `? Or does KSM 8 launches koreader with its own script?

[2016-03-20 05:44] pavlukivan commented on #1852
Everything works on new version

[2016-03-20 05:52] gerroon commented on #1782
@houqp

Thanks for digging into this issue. We need stable Kr on Android very badly.

[2016-03-20 06:03] pavlukivan opened #1910 "Crash when searching NULL (reproducible)"
* KOReader version: 20160315
* Device: Kindle PW2

#### Issue
Crash when searching NULL (log: something like "expected string, found NULL)

#### Steps to reproduce

Tap at the VERY left (or maybe very right too) of the screen and hold, then drag the finger anywhere else. Then tap search.

[2016-03-20 08:48] Frenzie commented on #1907
This is #1889. Applying the update manually will fix it.
On Mar 20, 2016 2:30 AM, "Qingping Hou" <notifications@github.com> wrote:

[2016-03-20 08:49] chrox commented on #1782
The maps file is only accessible with root permission so it's not an option. A more viable way is extending luajit to have explicit annotations for JIT code block, which could save precious mcode memory space on some platforms. Compared to the rewriting in C approach, this could be a good to have feature of luajit and may be useful to other projects that may have the same problem with koreader.

[2016-03-20 10:23] m4kh commented on #1907
I will try to apply the fix of #1889, as suggested by @Frenzie. However, I thought my current version of KOReader `koreader-nightly-20160315` already is the latest build. So, why does `Check for update` show a newer version in the first place? I downloaded the current version from github and manually installed it by copying/merging the koreader folder in the zip to my device.

[2016-03-20 10:39] Frenzie commented on #1907
Ah, sorry. I didn't take a close enough look at the version. Serves me
right for using my phone.
On Mar 20, 2016 11:23 AM, "m4kh" <notifications@github.com> wrote:

[2016-03-20 11:13] chrox commented on #1907
The OTA nightly builds are updated twice a day automatically while the release packages in the release page from which you can download are updated every one or two weeks because those packages need manual uploading. So most of the time there is newer version in the ota server if you check it.

[2016-03-20 11:54] Frenzie commented on #1910
Confirmed. I figure the best fix is probably to prevent the popup from
showing up at all if NULL is selected?

On Sun, Mar 20, 2016 at 7:03 AM, pavlukivan <notifications@github.com>
wrote:

[2016-03-20 15:39] m4kh commented on #1907
OK, thanks for the info. I followed @Frenzie's suggestion and manually applied the fix of #1889 (commit b8b0684) in KOReader version `2015110253`. I can confirm that this fixes the issue and the OTA updates are now getting installed after restarting KOReader. Thanks everybody for the help!

[2016-03-20 15:39] #1907 closed

[2016-03-20 16:09] houqp commented on #1782
`/proc/self/maps` does not require root access, that's how I read mine. My phone is still not rooted yet :P Windows VM is not working properly for me.

The problem here is luajit mcode allocator only does random probing. Which means there could be enough way more space than needed around the jump target, but it can still fail after trying the random probe for 32 times as shown in my previous comme

[2016-03-21 05:33] houqp commented on #1782
After playing around with the mcode setting more, I am lost again. LuaJIT was able to create trace for our dummy loop no matter how large I set the `sizemcode` to, for example `640000`. It will only start giving out `failed allocate mcode memory` error in blitbuffer module. The size I given is already larger than the jump range, so shouldn't I get a trace abort event from the beginning?

The error

[2016-03-21 05:35] houqp commented on #1782
@chrox , how hard is it to implement explicit annotation? And how much memory can we save from doing that?

[2016-03-21 05:38] pavlukivan commented on #1910
or maybe creating search function with NULL, that does nothing

[2016-03-21 06:39] houqp commented on #1910
Thanks for the report, It's actually a bug in crengine wrapper where it should return `nil`, but instead returns `{}`.

[2016-03-21 07:41] chrox commented on #1782
Yes, allocating a large mcode memory is just a workaround and it may not work on every circumstance. It seems we cannot implement that feature with existing luajit APIs. And we need to patch luajit to jit-compiling only the code blocks that are specified in the code for example between two api calls. I guess in this way the four blitbuffer loops won't take more than 8KB of memory that needs to be

[2016-03-21 07:42] #1910 closed

[2016-03-21 07:56] houqp commented on #1902
@m4kh @djalma2k next build should work without the workaround ;)

[2016-03-21 07:56] #1902 closed

[2016-03-21 07:57] chrox commented on #1782
And from my observation the bionic implementation of mmap returns monotonically increasing address without regarding the hint address given in the mmap call which is not taken care of in luajit's allocation probe function. That's a big reason why after several probes it will never return an allocation in proper address range. So increasing probing times won't help at all. And the less execution me

[2016-03-21 08:04] chrox commented on #1748
Closing this as the OP already found the answer.

[2016-03-21 08:04] #1748 closed

[2016-03-21 08:04] houqp commented on #1782
Ha, I see what you meant by explicit annotation now. It would be nice to have priority based tracing so we can guarantee annotated code are JIT compiled while JIT compile other code too if there is extra space.

Another thing we can possibly do to is to statically pre-allocate a large noop code region at compile time. Then patch the mcode allocator to only use this memory region instead of mmap at

[2016-03-21 08:36] #1773 closed

[2016-03-21 09:14] GeneralFailer opened #1913 "FR: Ability to change dictionary priority"
As far as I can see, KOReader now just displays dictionaries in alphabetic order. I think it'd be useful to be able to customize their order, at least set a bilingual/monolingual preference or the default one.

[2016-03-21 09:52] chrox commented on #1913
You can tap the title bar of the dictionary window to set current dictionary the default one.

[2016-03-21 09:52] #1913 closed

[2016-03-21 11:05] GeneralFailer commented on #1913
Ah, right, this is mentioned in the wiki.
Still, I think it would be very useful to set the dictionary to be the default one for the language with a long tap on the title bar. I doubt that setting on by-document basis would be useful for most people using the dictionary feature. Of course, it can still stay and have a higher priority.

[2016-03-21 18:31] Hzj-jie commented on #1814
It looks like a very heavy feature requirement. :)
I believe my patch is ready to review, go on pulling request.

[2016-03-21 21:48] KenMaltby opened #1914 "FR: Long press on image provide option to use image as the screensaver image."
- KOReader version: All
- Device:All
#### Issue

Being able to dynamically set an image within a book/document as the screensaver image would come in handy, in several ways.
1.  I have a number of epubs that are compilations of individual novels merged in caliber. Each novel is treated as a chapter.  Each novel has a cover image.  It would be nice to have the current novel's cover as the suspend i

[2016-03-21 22:46] djalma2k opened #1915 "Koreader don't open an epub file"
* KOReader version: v2015.11-270-g3f8f759
* Device: Kobo Glo HD

#### Issue
Koreader don't open an epub file from KSM (with the koreader's option: auto-loading the last file opened -> enabled).
Crash.log:
[code]

#### Steps to reproduce
It was working well since this version was released but now when I'm using KSM menu and I try to "load" koreader, it don't open and it crash.

[2016-03-21 23:08] djalma2k opened #1916 "Wrong SEARCH_LIBRARY_PATH"
- KOReader version: koreader-stable-v2015.11
- Device: Kobo Glo HD
#### Issue

With this device I need to force the default search library path to:

defaults.persistent.lua:

[code]

(I don't know if I only need one of them or both.  Although, anyway, all it is working well right now).
#### Steps to reproduce

When I try to search a specific book using calibre's db and koreader shows the results,

[2016-03-21 23:26] djalma2k commented on #1915
Ok, I already tried a manual upgrade to v2015.11-275 with same results (same crash.log).
On the other hand, I also tried to change:
settings.reader.lua:
from
`["open_last"] = true,`
to
`["open_last"] = false,`
(cr by vlasovsoft and "nickel" are working with the same epub)

Regards.

[2016-03-21 23:28] houqp commented on #1915
My bad, i broke it in the last couple commit. You can fix it by changing that line to `Deivce.screen`.

[2016-03-21 23:29] houqp commented on #1915
You are using night mode right?

[2016-03-21 23:29] djalma2k commented on #1915
mmm related with night mode

-- night mode
if G_reader_settings:readSetting("night_mode") then
    Device.Screen:toggleNightMode()
end

[2016-03-21 23:30] djalma2k commented on #1915
yes, im gonna try changing it

[2016-03-21 23:31] houqp commented on #1915
This should be fixed by https://github.com/koreader/koreader/commit/9a3e262bb3611bf95c6619f143ec3688a5394786.

And yes, I mistakenly committed to master directly again with the stupid github web editor. I promise I won't use that thing again...

[2016-03-21 23:31] #1915 closed

[2016-03-21 23:37] KenMaltby commented on #1916
The "metadata.calibre" file is created by calibre and placed in the root of the drive/folder that caliber is directed to.  For instance the "Main" device for Kobo devices is at /mnt/onboard  The drive A (external drive) is at /mnt/sd/.  The search of the calibre installed books on your device makes use of that or those files.

[2016-03-22 03:14] djalma2k commented on #1916
Yes, ok then I only need 1 of them, but when I only set the 2nd one (SEARCH_LIBRARY_PATH2 = "/mnt/onboard/"), it just doesn't works.
Anyway, by default calibre and "nickel" copy all the books folders and files in /mnt/onboard (Kobo Glo HD haven't a "external drive"). I'm just saying that koreader should know this and when dectects a Kobo Glo HD set the default path to /mnt/onboard because mostly p

[2016-03-22 05:19] houqp commented on #1773
@tywtyw2002 can you give the latest android build a try when it's out?

[2016-03-22 07:01] houqp commented on #1913
Yup, I agree having default setting per language makes sense.

[2016-03-22 14:58] jonch919 commented on #1761
I'd like to add a feature request to this topic/milestone.
Since there is no milti-touch available on Kobo Aura HD/H2O; would it be possible to implement a toggle to switch to "one finger swipe" to control the frontlight?
That would be extremely helpful in enhancing the user experience within KOReader.
Are there any specific issues connected to implement a one-finger-swipe for light-control? Seems

[2016-03-23 05:06] houqp commented on #1761
@habeck , thanks for the detailed list of suggestions :+1: It would it easier to track each feature request if you can help split them into its own github issue.

@jonch919 it's not very hard to implement a one-finger-swipe widget. It's just that nobody is actively working on it right now. Since I have added it to the milestone. I will make sure this feature is included in the next release.

[2016-03-23 07:23] mwozny123 commented on #1761
Can this feature be implemented also for Pocketbook devices? (not only for
Kindle and Kobo)?
23 mar 2016 6:06 AM "Qingping Hou" <notifications@github.com> napisał(a):

[2016-03-23 19:19] andruha30 opened #1918 "Last nightly Koreader crashes on Pocketbook Lux 3"
* KOReader version:
* Device:

#### Issue

#### Steps to reproduce

[2016-03-23 19:19] #1918 closed

[2016-03-23 20:47] medwatt opened #1919 "Android: No reader engine for Djvu file"
* KOReader version: koreader-nightly-20160315
* Device: Onyx i86+

#### Issue
I created a similar thread like this the last time mentioning the fact that epubs don't load and I get the error message  "No reader engine for this file". The last update solved this issue. However, DJVU files still don't load and give the same error message.

[2016-03-23 21:55] houqp commented on #1761
@mwozny123 , it will be a feature shared among all platforms.

[2016-03-23 22:50] houqp commented on #1919
Is Onyx running android? Could you post the crash.log?

[2016-03-23 23:08] medwatt commented on #1919
@houqp,

I/luajit-launcher(15691): # opening file /mnt/sdcard/Books/DJVU/Ordinary Differential Equations - Tenenbaum, Pollard.djvu

I/luajit-launcher(15691): # cannot open document /mnt/sdcard/Books/DJVU/Ordinary Differential Equations - Tenenbaum, Pollard.djvu frontend/document/djvudocument.lua:26: module 'libs/libkoreader-djvu' not found:

I/luajit-launcher(15691): 	no field package.preload['lib

[2016-03-25 06:14] pavlukivan opened #1920 "2-colour cover"
* KOReader version: any
* Device: Kindle PW2 (And maybe other e-books, or even all devices)

#### Issue
Cover is only 2 colours - very black and very white, no gray colour. Even if that's not a bug, that's weird.

[2016-03-25 06:23] pavlukivan opened #1921 "Updated russian translation"
I don't know how to join KOReader translators' team, but I translated all the remaining strings (it's actually .po file, github doesn't support it):
[ru.txt](https://github.com/koreader/koreader/files/189128/ru.txt)

[2016-03-25 07:03] Frenzie commented on #1921
Cool, thanks! You can join the KOReader project on Transifex with your GitHub account, but I see you already noticed. I accepted you there. I fear the best way to actually get the translations into KOReader is probably to redo them in the web interface.

[2016-03-25 07:06] Frenzie commented on #1920
Do you perhaps have a picture of how a specific cover looks on your device coupled with its regular color look?

[2016-03-25 11:35] GeneralFailer commented on #1852
The new nightly build finally started generating logs.

./ffi/mupdf.lua:61: cannot open page #1:  (0)
stack traceback:
	./ffi/mupdf.lua:61: in function 'merror'
	./ffi/mupdf.lua:191: in function 'openPage'
	frontend/document/document.lua:139: in function 'getNativePageDimensions'
	frontend/apps/reader/modules/readerzooming.lua:213: in function 'getZoom'
	frontend/apps/reader/modules/readerzooming.

[2016-03-25 18:39] SsnL opened #1922 "[Kindle] cropping in pdf reflow"
* KOReader version: v2015.11-276-g9a3e262
* Device: Kindle PW3

#### Issue
I'm reading a Chinese pdf book with reflow on. There are places where the text gets cut in reflow mode, but not in non-reflow with auto-cropping/manual cropping/semi-auto-cropping.

#### Screenshots
Reflow
![reader_2016-mar-24_112459](https://cloud.githubusercontent.com/assets/5674597/14051146/fc9e0e36-f27d-11e5-9d03-5ce1b6

[2016-03-25 19:27] SsnL opened #1923 "Suggestion: "None" as a cropping option"
Can we have "None" as a cropping option?

It was confusing when I opened a pdf for the first time, noticed that cropping was shown in UI as "auto", but the pdf wasn't cropped at all. Sure, tapping on "auto" again activates cropping. But what if I want to disable cropping and don't want to read in scroll mode?

Thanks.

[2016-03-25 19:34] SsnL opened #1924 "[Kindle] No refreshing when exiting KOReader from file manager"
* KOReader version: v2015.11-276-g9a3e262
* Device: Kindle PW3

#### Issue
No refreshing when exiting KOReader from file manager

#### Steps to reproduce
1. Open KUAL
2. Start KOReader by "KOReader" -> "Start file manager"
3. Exit KOReader using the menu bar button
4. Noticing that KOReader already exits but screen is not refreshed. i.e. it should show kindle main menu, but actually showing KORead

[2016-03-25 19:36] SsnL opened #1925 "Suggestion: add "Open last opened document" in file manager"
I often find myself accidentally open file manager. In such cases, I would love if I can just reopen last document from there, rather than either reopen KOReader entirely, or search in file manager.

Thanks.

[2016-03-25 20:04] NiLuJe commented on #1924
On which FW version?

[2016-03-25 20:06] SsnL commented on #1924
5.7.3.1

[2016-03-25 20:15] Frenzie commented on #1925
Note that the Pokeball menu > History effectively serves this purpose.

[2016-03-25 20:21] SsnL commented on #1925
Ah dumb me. Never noticed that option before.

[2016-03-25 20:22] NiLuJe commented on #1924
Do you have shell access to your device?

What does
[code]

returns?

[2016-03-25 20:24] SsnL commented on #1924
Just realized that this is not just file manager.
Adding a step "2.5. Open a document" still reproduces this bug.
Maybe the KUAL extension script?

[2016-03-25 20:27] Frenzie commented on #1925
To be fair, who the heck knows what Pokeball means. =P

I'll close this then.

[2016-03-25 20:27] #1925 closed

[2016-03-25 20:30] SsnL commented on #1924
573

[2016-03-25 20:42] houqp commented on #1925
LOL. Someone should propose a better icon.

There is also an option in filemanager to automatically open last viewed book. You can hold on the menu item to set it as the default behavior.

[2016-03-25 20:56] NiLuJe commented on #1924
Huh.

Will double-check again, but last I checked, I fixed that, and it worked (PW2/5.7.3, not that it should change anything...)

[2016-03-25 20:57] NiLuJe commented on #1924
Does uncommenting [this line](https://github.com/koreader/koreader/blob/master/platform/kindle/koreader.sh#L311) in koreader/koreader.sh help?

[2016-03-25 21:38] houqp commented on #1920
Same question. Or it would even better if you can provide us the book. There is no code path in KOReader that does 2 color rendering.

[2016-03-25 23:38] chrox commented on #1920
Maybe it's related to #1438.

[2016-03-25 23:47] chrox commented on #1922
Yes, the reflowing is done always after cropping so could make sure you didn't crop too much in the reflow mode? Did you still have this problem with autocrop + reflowing?

[2016-03-25 23:50] SsnL commented on #1924
Umm weird enough, I restarted kindle and the problem was gone. Will report back if it appears again.

[2016-03-25 23:54] SsnL commented on #1922
Yes, I went back to that page and the problem is still there.

One funny thing though: Starting from reflow and auto-cropping, I turned off reflow, KOReader shows full uncropped page, rather than auto-cropped page. I had to tap on the already selected "auto" in cropping setting to make the cropping happen.

[2016-03-25 23:55] SsnL commented on #1922
Oh yes, and when I turned off reflow, characters aren't cut. (They are when reflow is on)

[2016-03-26 00:05] houqp commented on #1924
Please reopen this issue if you found a way to reproduce it.

[2016-03-26 00:05] #1924 closed

[2016-03-26 04:52] enigma90 opened #1926 "Koreader does not work on Kobo Touch"
* KOReader version:nightly-20160315 and nightly-20160323
* Device:Kobo Touch
firmware 3.16

#### Issue

can't enter koreader. just quits. koreader-nightly-20160227 and earlier versions work just fine.

#### Steps to reproduce

[2016-03-26 06:18] houqp commented on #1926
Can you paste the crash log here?

[2016-03-26 09:15] enigma90 commented on #1926
./luajit: ./reader.lua:135: attempt to index field 'fl' (a nil value)
stack traceback:
	./reader.lua:135: in main chunk
	[C]: at 0x0000bea5

[2016-03-26 09:17] enigma90 commented on #1926
btw, that's crash log of nightly-20160323

[2016-03-26 12:52] Hzj-jie commented on #1926
It should be a defect by commit 08b08d6, a Kobo without front light will be impacted.

[2016-03-26 12:54] Hzj-jie commented on #1923
Thank you SsnL, it's a known issue, at least I know it. I will fix it.

[2016-03-26 13:09] Frenzie commented on #1926
The frontend/device/kobo/device.lua file already has hasFrontlight
definitions, so it should be simple to put in a check of some sort.

On Sat, Mar 26, 2016 at 1:52 PM, Hzj_jie <notifications@github.com> wrote:

[2016-03-26 13:30] Frenzie commented on #1925
History would be a clock or an hourglass, but since it's a menu with other things as well I don't have a ready suggestion. Since our icons hail from [here](https://github.com/Templarian/WindowsIcons/tree/master/WindowsPhone/svg) maybe it could be worthwhile to take a look at them all in order to come up with a few suitable candidates.

Speaking of which, out of a small sampling among a handful of

[2016-03-26 13:50] ersi-dnd commented on #1925
Actually, I am satisfied enough when there's an _option_ to set the app to open the last book on startup. Koreader already has this option.

I make my comments regarding e-readers while having very little familiarity with them. I have only very recently acquired a Pocketbook and I don't know how the interface of other e-readers differs from it. When I installed Koreader, I tended to expect it to l

[2016-03-26 14:03] Frenzie commented on #1925
In any case, fwiw everyone* has enabled that option. But yeah, I think it's fine as it is.

* Um, 3 people, 4 including myself. =P

[2016-03-26 14:06] ersi-dnd commented on #1313
Prior to working on a fancy homescreen, how about some more startup options?

Right now Koreader can be set to open at startup either the file manager (folder view) or the last opened book. At the same time, Koreader contains a History list which could also make sense as a startup option.

To make History list as a sensible startup option, it should display differently. Instead of having frames ar

[2016-03-26 14:10] ersi-dnd commented on #1313
Apparently, my suggestions could be implemented within the context of the File Manager. So, my suggestions would be just options to open up the File Manager in specific determined views.

Another sensible option would be to open up the File Manager in the folder where it last left off :)

[2016-03-26 17:39] Hzj-jie commented on #1926
Emmm, I think we do not need to change the front light state, if the setting we have got is off, i.e. user may turn on the front light in other system (not nickel, we are syncing configuration with nickel) because the environment is dim.

But anyway, let me fix this crash first.

[2016-03-26 18:23] Frenzie commented on #1926
You're right, there's no need to mess with anything in that case. Good
point.
On Mar 26, 2016 6:39 PM, "Hzj_jie" <notifications@github.com> wrote:

[2016-03-26 20:26] houqp commented on #1925
That section was meant to be misc, so we need to pick an icon to reflect that.

Fun fact, I also recently enabled it on my kobo.... If we are going to change the default behavior, we need to make sure it does not break the existing options in KUAL menu. Or even better, have an intro widget like http://introjs.com/ to guide user through the new changes.

[2016-03-26 20:29] houqp commented on #1313
@ersi-dnd , these are very useful features. That said, I am afraid we don't have enough resources to work on this right now. I will be happy to accept patches that implement those features though.

[2016-03-26 20:33] houqp commented on #1926
My bad for not taking this into account :( Thanks @Hzj-jie for fixing it :+1:

[2016-03-26 21:11] tigran123 commented on #1313
I think letting Koreader have anything to do with metadata is a very bad idea because it is not scalable. For example, nobody in the right mind would use Nickel (Kobo's builtin proprietary software) simply because it will never complete the "Processing content..." stage of building its internal metadata database for a reasonably large collection (say 50,000 books on a 128GB card).

The second reas

[2016-03-28 00:37] houqp commented on #1313
@tigran123 like @hwhw said, earlier, we can make the home screen optional so people can still use filemamanger as default based on their own preference.

One of the biggest problem with nickel and kindle is they use sqlite for indexing, which is known for slowness on large tables. We should be able to get way better performance by switching to key value storage like leveldb/rocksdb. That said, for

[2016-03-28 02:04] houqp commented on #1921
Thanks @pavlukivan for the help! I have entered the translation from your file to Transifex. Please help review the russian translation there when you have time ;)

[2016-03-28 02:04] #1921 closed

[2016-03-28 08:01] #1858 closed

[2016-03-28 09:50] Frenzie commented on #1926
This should be fixed in #1928.

[2016-03-28 09:50] #1926 closed

[2016-03-28 10:27] tigran123 commented on #1313
The problem with indexing metadata lies, imho, not in the use of sqlite or any other database, but with the inherent impossibility of obtaining the data as the PDF file itself has to be read and the relevant objects found. When you type `pdfinfo file.pdf` notice that it takes ages to extract the data (about 0.024s on a very fast machine). A typical eInk device is at least 10 times slower, so it pr

[2016-03-28 15:29] GeneralFailer commented on #1852
Is anybody planning to look into this?

[2016-03-29 01:16] houqp commented on #1814
fixed by #1917

[2016-03-29 01:16] #1814 closed

[2016-03-29 01:16] houqp commented on #1356
fixed by #1917

[2016-03-29 01:16] #1356 closed

[2016-03-29 01:18] houqp commented on #1852
You need to reopen the issue so it's back in the milestone queue ;) I will try again to see if I can reproduce with the latest code.

[2016-03-29 01:26] houqp opened #1929 "Investigate font rendering quality in CREngine"
Quote from the discussion in #1313:

[2016-03-29 01:27] houqp commented on #1313
Ha, I see why are you so against indexing now ;) I agree it's a bad idea to parse the metadata inside the document. I wouldn't be surprised if the parsing process is even slower in other formats. By metadata, I was mainly referring to our own stuff, like tags for books, reviews, collections etc. I think indexing document just by filename should be enough.

Maybe it's because we are using a newer v

[2016-03-29 04:43] houqp commented on #1852
@GeneralFailer I am still not able to reproduce the crash. Is the crash from `crash.zip`? If so, can you upload the book settings here?

[2016-03-29 05:34] GeneralFailer commented on #1852
I don't think I have the necessary privileges.

Yes it is. The generated `crash.sdr` is empty.

[2016-03-29 08:06] houqp commented on #1852
@GeneralFailer what device are you using? Do you have ssh access?

[2016-03-29 09:48] tigran123 commented on #1313
And I decided to give Koreader a fair trial and tried to open the file which CoolReader reads perfectly fine (with all the formulas etc) --- Albert Messiah, Quantum Mechanics, 2014 (2 vols in 1, Dover Pubs) in ePub format and it failed to open it, i.e. crashed and the `crash.log` says just one line `Floating point exception`. I'll open an issue for this now.

[2016-03-29 09:54] tigran123 opened #1931 "Koreader crashes opening ePub file"
* KOReader version: v2015.11-stable
* Device: Kobo Aura H2O

#### Issue
Koreader crashes when opening an epub file with `Floating point exception` in `crash.log`. The epub file is: Quantum Mechanics by Albert Messiah, Dover Pubs, 2014 (2 vols in 1) in epub format. (downloadable from LG). Note that CoolReader opens and reads this file absolutely fine, no problems at all.

#### Steps to reproduce

O

[2016-03-29 10:47] GeneralFailer commented on #1852
@houqp Kindle Touch. No, do I need to?

[2016-03-29 12:30] NiLuJe commented on #1929
AutoHint vs. BCI (or even... unhinted?!)?

cf. https://github.com/koreader/koreader-base/pull/199/commits/ed43255b1912d4e388a096ef0c19027a6bea32ae

[2016-03-29 14:27] AlanSP1 opened #1932 "FR - Include some help within koreader, or as a bundled document"
* KOReader version: ALL
* Device: ALL

Reading this discussion and this comment https://github.com/koreader/koreader/pull/1917#issuecomment-201466485 I just realized how good it would be if we have some documentation available within koreader.

It could be written for power user, more people in that way would see all power behind koreader.

Of course, you don't need to write all from scratch, it c

[2016-03-29 14:35] AlanSP1 opened #1933 "FR - two lines progress bar"
- KOReader version: ALL
- Device: ALL

I already asked if we could get two lines for lower status bar, but in a way it is OK if it doesn't happen.

The reason I asked for this is that we have more and more text options to add in status bar, and being statistics freak (is there a word for it?), I like to have them all turned all at the same time. With having all of them turned on, graphic progress

[2016-03-29 15:12] KenMaltby commented on #1933
Perhaps it would be less impact on the normal reading experience, if there were a pop-up info box of maybe four lines size. It might drop back down after a certain amount of time after the finger is lifted.

[2016-03-29 15:19] AlanSP1 commented on #1933
Well, if you ask me, I prefer to see that info all the time, without any special action from my side, like pointing on same screen position.

I'd like to see it all the time, if it is possible.

[2016-03-30 03:22] frankyifei commented on #1931
cant find this book

[2016-03-30 03:31] frankyifei commented on #1929
I noticed a little difference. Fonts are handled using fontconfig in CoolReader, does it relevant?

[2016-03-30 03:51] houqp commented on #1931
Not able to find the book neither. What is LG?

[2016-03-30 04:44] houqp commented on #1929
AFAIK, frontconfig only helps discovering fontface files and has nothing to do with the rendering bit. What @NiLuJe points out is more likely the cause. @frankyifei were you able to spot the rendering difference from CR and KOR? I haven't had time to test it on my side yet.

[2016-03-30 04:46] houqp commented on #1933
Sounds like a simple task. Now only if someone can tell me how to enable the upper progress bar... When I read, I usually disable everything so I can focus on the text. I don't even know we have a upper progress bar support...

[2016-03-30 05:01] KenMaltby commented on #1933
It's the bottom reader menu gear icon "Full" progress bar.

[2016-03-30 05:14] frankyifei commented on #1929
a screenshot, very little difference.
![fonts](https://cloud.githubusercontent.com/assets/8104251/14132509/33618cb8-f68e-11e5-9d6e-525a81be8d57.jpg)

[2016-03-30 05:19] houqp commented on #1852
It will be easier for you to collect debug information. Can you add a `print('!!!!!!!!!!!', number)` statement at `ffi/mupdf.lua` https://github.com/koreader/koreader-base/blob/master/ffi/mupdf.lua#L184 right before the `local mupdf_page = {` statement?  After that, you should be able to see the print output in the crash.log.

I wonder if it's feeding a valid page number.

[2016-03-30 05:26] houqp commented on #1929
I don't see much difference from the screenshot. @tigran123 did mention it only happens to some specific font faces though.

[2016-03-30 06:17] houqp commented on #1933
Oh, i see. That's the one rendered by crengine, which is completely out of
our control. If we want to change its styling, we will need to change
crengine's code instead...
On Mar 29, 2016 10:01 PM, "Ken Maltby" <notifications@github.com> wrote:

[2016-03-30 06:45] Frenzie commented on #1929
@houqp fontconfig can provide the configuration for something like `props->setInt(PROP_FONT_HINTING, 2);` though (not saying it does in our case)

[2016-03-30 08:36] NiLuJe commented on #1929
If you want to see dramatic differences between bytecode hinting and the
autohinter, check with Consolas, if you have a Win7+ somewhere ;).

As for fontconfig, yeah, it's used to handle choosing font families /
styles, and eventually rendering settings, like hinting. No idea to which
extent CRe actually uses it though.
On Mar 30, 2016 8:45 AM, "Frans de Jonge" <notifications@github.com> wrote:

[2016-03-30 08:38] NiLuJe commented on #1929
Some differences also tend to be much more marked on e-ink than on an lcd
screen...
On Mar 30, 2016 10:36 AM, "NiLuJe" <ninuje@gmail.com> wrote:

[2016-03-30 08:45] NiLuJe commented on #1929
If CR is using an older freetype version than ours, and the original report
was about a CFF font, and not a truetype one, there have been massive
changes (for the better) when hinting those natively.
On Mar 30, 2016 10:38 AM, "NiLuJe" <ninuje@gmail.com> wrote:

[2016-03-30 08:45] tigran123 commented on #1931
Oh, come on, guys... Which planet are you from? :)
LG stands for Library Genesis, libgen.io

[2016-03-30 08:59] tigran123 commented on #1931
http://libgen.io/book/index.php?md5=F5A01F7C7518D2104774DBE7337B9D7C

[2016-03-30 13:43] KenMaltby commented on #1931
It doesn't open in Sergey's Coolreader port either.  It takes ~28 seconds to crash in KOReader.  After the attempts, it took longer than normal to reload my current read, as well.

[2016-03-30 15:21] Hzj-jie commented on #1932
I am trying to build the wiki into epub directly. I can use wget to download all wiki pages, but leak of linux internal tools to convert html pages into epub.

[2016-03-30 16:11] Frenzie commented on #1932
Duplicate of #1371

[2016-03-30 16:16] AlanSP1 commented on #1933
If it is a problem, maybe you could put lower progress bar in separate line from textual statistics info, so it is wide as screen. I would even prefer it this way.

[2016-03-30 16:58] houqp commented on #1932
Let's close this one and move the discussion to 1371

[2016-03-30 16:58] #1932 closed

[2016-03-30 17:00] Markismus commented on #1932
Yep. Still, nice to see, that it's not only me.

Another aspect of this is the development of the wiki. If we are able to make the wiki accessible to users of koreader, ---at first probably only with a link to the live wiki site where they can edit the wiki--- then it would encourage the development of a more transparent wiki. Now I usually use google to find the page in the wiki that I was lookin

[2016-03-30 17:01] Markismus commented on #1932
@houpq I was still typing!!

[2016-03-30 17:39] houqp commented on #1371
Feature wise, pandoc will no doubt be the best tooling out there. It might take awhile to configure pandoc to do what we want though. Someone is already trying to do similar stuff: https://github.com/jgm/pandoc/issues/1857.

Another alternative is to write a tiny script in lua, leveraging the markdown parser used by ldoc.

Either way, I think this automated wiki to book tooling can be turned into

[2016-03-30 17:39] houqp commented on #1371
BTW, If anyone volunteers to do this, we can add this ticket to the next stable release milestone too.

[2016-03-30 17:47] tigran123 commented on #1931
@KenMaltby It opens and reads perfectly here. Which version of CoolReader are you using? I am using 2016.03:

``
$ l pbchess-2016.03_kobo.zip
-rw-r----- 1 tigran tigran 21145340 Mar 22 06:44 pbchess-2016.03_kobo.zip
$ md5sum pbchess-2016.03_kobo.zip
ceebb773b643a6946ca8732f1e79271f  pbchess-2016.03_kobo.zip
``

[2016-03-30 17:50] GeneralFailer commented on #1852
@houqp

./ffi/mupdf.lua:61: cannot open page #1:  (0)
stack traceback:
	./ffi/mupdf.lua:61: in function 'merror'
	./ffi/mupdf.lua:192: in function 'openPage'
	frontend/document/document.lua:139: in function 'getNativePageDimensions'
	frontend/apps/reader/modules/readerzooming.lua:213: in function 'getZoom'
	frontend/apps/reader/modules/readerzooming.lua:279: in function 'setZoom'
	frontend/apps/re

[2016-03-30 18:24] houqp commented on #1371
Haha, this is getting fancy ;) What concern do you have with this workflow?

[2016-03-30 18:25] houqp commented on #1932
Sorry ;P I quoted your reply to the original issue.

[2016-03-30 20:00] ilyats opened #1934 "Screen not redrawn at exit"
- KOReader version:
  v2015.11-stable
- Device:
  Kindle 7th Generation, firmware 5.7.3
  #### Issue
  After exiting koreader screen is not redrawn.
  #### Steps to reproduce
  Open a PDF file in koreader, then select home icon from menu. The document text remains on the screen. After turning screensaver on and off with the power button kindle home screen is displayed.

[2016-03-30 20:06] ilyats opened #1935 "Screensaver does not wait for swiping finger."
* KOReader version:
v2015.11-stable
* Device:
Kindle 7th Generation, firmware 5.7.3 (with ads displayed on screensaver)
#### Issue
When screensaver is displayed over koreader, pushing power button makes it disappear
 #### Steps to reproduce
Open a PDF file in koreader, wait until screensaver is displayed, push power button. Writing appears inviting to swipe finger to end screensaver, then screensa

[2016-03-30 20:06] Earnestly commented on #1608
I had to make the same changes to `frontend/device/kobo/device.lua` for the touch coordinates to match the location I was physically pressing.

[2016-03-30 20:43] Markismus commented on #1371
Too many intermediaries: Seems like begging for high maintenance.

[2016-03-30 21:02] houqp commented on #1371
It will be simpler if you think of it as two parallel workflows:
1. convert wiki markdown to epub
2. convert note to wiki markdown

And we bridge them with git commits. Then again, this is a nice to have feature that I don't expect it to happen in the near future ;)

[2016-03-30 22:28] AlanSP1 commented on #1933
I already opened similar issue, just to remind: https://github.com/koreader/koreader/issues/1724

It was closed with reason that lower status bar should be as small as possible, but if it is possible to make it into two lines (one for graphic progress bar, one for textual statistics), with option to choose if it is one or two lines, this would be really great for people like myself who like to hav

[2016-03-30 22:37] houqp commented on #1933
I am with chrox with on this matter. I would prefer the two lines status bar to be implemented as a plugin that's not on by default.

[2016-03-31 00:47] djalma2k opened #1936 "FR: An option to force margins and line spacing (epub):"
- KOReader version: All
- Device: All
#### Issue

I think that an option, (a checkbox or a mark for example), to force margins and/or line spacing to selected/default ones in epub files with embedded styles would be very useful.

Some books come with predefined margins that are not interesting for a particular device.
And totally disabling the embedded styles (or directly modifying the epub file),

[2016-03-31 05:08] houqp commented on #1929
Looking at lvfntman.cpp, looks like it's just using FC for the following font attributes: ` Font family:%s style:%s weight:%d slant:%d spacing:%d file:%s`.

@NiLuJe isn't auto hinting suppose to produce better result? Looks like coolreader is using autothint as default hinting setting.

Anyway, I think we should first find a font face that we can use to reproduce the difference.

[2016-03-31 05:10] houqp commented on #1313
@tigran123 Will you be able to upload the font faces (Arno Pro and Academy) you mentioned in the previous comment online for us to access?

[2016-03-31 09:37] NiLuJe commented on #1929
I tend to like what the autohinter does, yeah, and in fact, I'm using it a
lot on my desktop (I have a fairly complex ft + fc setup ;p).

But on e-ink devices, provided the bytecode is halfway decent, native
hunting will often produce much sharper results, which both looks better
and are less prone to ghosting.

But since some fonts have truly terrible bytecode, we also default to the
autohinter t

[2016-03-31 12:02] AlanSP1 commented on #1933
Of course, I don't think it need to be on by default, that's the reason why I suggested option (in status bar menu), to have second line. And if we choose to have second line, it becomes graphic progress bar, living text in first line (I would like to put progress bar in upper line, textual info in lower line, where it already is).

Some people like to cycle through selected statistics, but some p

[2016-03-31 13:53] NiLuJe commented on #1929
A few examples, although a bit less dramatic since I'm using a SPR-enabled FT build, which more closely follows the MS ClearType guidelines, which means it tends to smooth over some of the native truetype hinting I was talking about.

With KOReader's build, since we don't care about SPR, we get a differently tweaked native hinter (v35 vs. v38, IIRC), which will expose some more issues.

First is C

[2016-03-31 13:58] NiLuJe commented on #1929
Or B&H's Luxi family, which is even more broken w/ v35:

![screenshot_20160331_155731](https://cloud.githubusercontent.com/assets/111974/14178074/6661ff32-f759-11e5-8b23-ab3d923abaf8.png)
![screenshot_20160331_155801](https://cloud.githubusercontent.com/assets/111974/14178079/6926f27c-f759-11e5-8c19-93d49dcb7587.png)

[2016-03-31 15:40] NiLuJe commented on #1929
One thing I'm not sure about how it all works out is if FT ever outputs more than 16 shades of grey, and how we actually dither or remap that to the right eInk palette...

[2016-03-31 16:47] retrue opened #1937 "Suggestion: Bring back the "No hyphenation" option."
I would like to have back the option "No hyphenation" in the hyphenation options that was removed some months ago. There are people (me included) that prefer to read without hyphens.

[2016-03-31 17:08] Frenzie commented on #1937
I don't really care one way or the other, but it seems like enabling hyphenation often results in OHMYGODWRONG hyphenation and *that* bothers me.

[2016-03-31 17:37] djalma2k commented on #1936
A picture is worth a thousand words:

- **Embedded styles (on)** --> bad margins, good "styles" ;) :
![styles_on_1](https://cloud.githubusercontent.com/assets/17313916/14184712/ca425cbe-f776-11e5-97d8-525ff2eb1177.png)
![styles_on_2](https://cloud.githubusercontent.com/assets/17313916/14184723/cf7338d4-f776-11e5-88b2-885438fc3d5b.png)

- **Embedded styles (off)** --> good margins, poor "styles" :P

[2016-03-31 18:50] djalma2k commented on #1929
Can someone test with the embedded text in the following book?
`http://m.zbigz.com/myfiles?url=magnet:?xt=urn:btih:0D7A00D965E2F3C8EFB7E026D4408BE6F29F1E10&dn=EPL_Los_piratas_fantasmas&tr=http://tracker.tfile.me/announce&tr=http://91.121.54.8:6969/announce&tr=udp://tracker.openbittorrent.com:80&tr=udp://tracker.publicbt.com:80&tr=udp://open.demonii.com:1337/announce`

It don't seems "clear" enough

[2016-03-31 18:51] KenMaltby commented on #1936
With embedded styles off, the styles that KOReader has for your selection or one you add or modify, might provide what you want.

[2016-03-31 21:23] NiLuJe commented on #1929
The chapter titles will probably get mangled with anything not using native hinting, that's to be expected with such peculiar fonts.

[2016-03-31 21:24] djalma2k commented on #1936
@KenMaltby I don't totally understand what you are trying to say to me: With embedded styles off, the koreader ones has all the embedded typography off also ( and I don't want it :) ); and add or modify book by book... in this case I prefer to do it with a properly configured calibre output plugin...
Anyway, I'm gonna try to explain myself a little bit better:
All I want is bypass some parameters

[2016-03-31 21:53] KenMaltby commented on #1936
I am referring to the .css files in the "Set render style" menu option.  They are located in the koreader/data/ directory. Since you would be applying it last, in the cascade, it should override earlier css.  (The ebook maker can prevent a change for some settings, in which case you may need to use the "clear all external styles" before selecting yours.)

[2016-03-31 22:33] djalma2k commented on #1929
Ok, following @KenMaltby advice for #1936, I just was testing with "Set render style" menu option and setting this to ~~""No style"", I got this:
![reader_2016-apr-01_001610](https://cloud.githubusercontent.com/assets/17313916/14192792/33c51bb2-f7a0-11e5-95ca-0425004b5ebe.png)
Then, IMHO It's no related to this.
Sorry if I've wasted your time with this little test... :/
Regards.

[2016-04-01 06:54] houqp commented on #1608
@Earnestly , can you elaborate why changes you made in device.lua for kobo?

[2016-04-01 07:34] houqp commented on #1929
We are not doing any dithering or remapping for eink. By 16 shades of grey, you mean 4 bit bitmap?

[2016-04-01 07:36] NiLuJe commented on #1929
No, I was thinking of the actual 16 shades of grey (which, granted, would fit in a 4bit bitmap ;p).

On 1 April 2016 at 09:34:31, Qingping Hou (notifications@github.com) wrote:

[2016-04-01 13:17] Earnestly commented on #1608
@houqp I made the changes to `device.lua` because, as I said previously, the coordinates koreader responded to were misaligned to where I had actually touched the screen.  This issue being one of the few reports about it with a solution, I tried it.

So yeah, I changed `touch_switch_xy` to `true` in the `local KoboTrilogy = Kobo:new {}` block as @boul51 did which fixed the situation.  It's been wo

[2016-04-01 23:25] houqp commented on #1608
@Earnestly can you do us a favor by testing with the following steps?
* temporarily remove your patch in `device.lua`
* remove `kobo_touch_switch_xy` in `settings.reader.lua`
* start your reader and touch the probing porint
* check the value of `kobo_touch_switch_xy` in `settings.reader.lua`

It everything goes correctly, you should be able to see the value of that config set to `true` and you won

[2016-04-02 01:18] Earnestly commented on #1608
As in the forum post @Frenzie added, my situation seems to be identical. Setting `kobo_touch_switch_xy` to `true` in `settings.reader.lua` has no effect, even recreating the entire koreader installation from scratch and touching the probe point results in that `kobo_touch_switch_xz` key being set to `false` and again changing it to `true` has no effect.

Unfortunately the only setting which worked

[2016-04-02 01:20] houqp commented on #1608
Thanks @Earnestly for the info, looks like the code is broken in two places (both probing and initialization), I will take a look tonight.

[2016-04-02 07:26] seacatwu opened #1938 "FR:add chinese input method"
When we use search function, it needs chinese IM........
can we use kindle native IM?

[2016-04-02 07:51] houqp commented on #1608
Ha, I know what's wrong in the probing logic now. I will send out a patch tomorrow. It's bad time here now ;)

[2016-04-03 05:02] houqp commented on #1938
It might not be trivia to integrate with kindle's IM. Probably easier to just implement our own im module.

[2016-04-03 06:28] houqp commented on #1852
I can't reproduce the crash, but the first page in my emulator is displayed as a blank page. So the JPEG is not rendered probably. This might be related to the crash you are seeing.

[2016-04-03 07:40] seacatwu commented on #1938
great

[2016-04-03 10:14] frankyifei commented on #1938
I think it needs great effort to implement.

[2016-04-03 15:14] pavlukivan commented on #1920
Yes, it's copy of #1438 , I didn't noticed it.

[2016-04-03 15:14] #1920 closed

[2016-04-03 18:38] houqp commented on #1938
yes, either way, it will be a non-triva work :)

[2016-04-04 00:55] frankyifei commented on #1931
can you guys share this book

[2016-04-04 01:28] houqp commented on #1931
http://libgen.io/book/index.php?md5=F5A01F7C7518D2104774DBE7337B9D7C。

Not able to reproduce in emulator, might be an ARM specific bug.

[2016-04-04 02:50] houqp commented on #1852
@GeneralFailer oh, wait, it's a fb2 file, it should not be using mupdf to render it. Can you rename the file to `crash.fb2.zip` or unzip it to extract `crash.fb2` and try again?

[2016-04-04 08:17] GeneralFailer commented on #1852
@houqp Right, I thought something along those lines. It works fine with the full extension.

[2016-04-04 09:29] tigran123 commented on #1931
@houqp Yes, probably, as the error suggests as well (unless it is something trivial like `1/0` the way FPU raises exception may be arch-specific)

[2016-04-04 09:51] GeneralFailer commented on #1852
Also in case this could be somehow related, I've been having an issue of the screen only refreshing in the titlebar's space when exiting KOReader similarly to #1924 for a while now.

[2016-04-04 16:26] gerroon opened #1941 "Statistics plugin is not keeping track properly"
- KOReader version: koreader-nightly-20160323
- Device: C67ML
#### Issue
#### Steps to reproduce

Open a book and read for a while

Hi

I have been reading a book (pdf) for a while and I wanted to see if the stat plugin works. Well it does not seem so. The stat page shows that I am done reading %30 of the book but shows only a  minute or so for reading. I have started reading the book yesterday.

[2016-04-04 16:48] Frenzie commented on #1941
Could you be exceeding the default timeout? See [here](https://github.com/Frenzie/koreader/blob/master/plugins/statistics.koplugin/main.lua#L116).

[2016-04-04 17:01] gerroon commented on #1941
@Frenzie

No idea.

The weird thing is that firt time I looked at the stat page, it said 2 minutes something. Then I thought that maybe restarting Koreader might fix the wrong time. However after restarting, the stat window showed couple seconds, the previous minutes were gone.

[2016-04-04 19:50] Frenzie commented on #1941
Hm, weird. Anyway, I haven't paid much attention to it myself, but checking some books I've read shows things like a reading time of 4 hours.

[2016-04-05 01:25] gerroon commented on #1941
@Frenzie

Well it seems to me that it resets the counter everytime I restart Koreader

[2016-04-05 07:35] houqp commented on #1941
The plugin does time calculation based on the actual time you spent reading on the page, not the file stats:  https://github.com/koreader/koreader/blob/master/plugins/statistics.koplugin/main.lua#L353

This is happening to all your books? Can you check the book setting file after you close the book to see if the config got updated properly? You should be able to find a `total_time_in_sec` entry so

[2016-04-05 08:45] frankyifei commented on #1931
I can open it on my kindle pw1. so it should be a kobo thing. or maybe it has been fixed after last stable version.

[2016-04-05 13:05] KenMaltby commented on #1941
If I look at the "Book status" page the "Time" in the statistics section changes oddly, when I leave and come back. The rest seems right.

[2016-04-05 15:00] Earnestly commented on #1608
Um sorry, I updated to a version with this committed fix and removed `kobo_touch_switch_xy` from `settings.reader.lua` to trigger the prompt.

Now I get prompted to "Tap the lower right corner" when starting koreader but tapping that location does nothing, the prompt remains.  Tapping the lower left does nothing, the upper right and left gets incorrect behaviour again.

However at least now settin

[2016-04-06 03:34] gerroon commented on #1782
This is all I get with some pdf books on Lollipop. I waited like 5 mins without any change.

I/luajit-launcher(29557): Waiting for app ready...
I/luajit-launcher(29557): App window ready.
I/luajit-launcher(29557): App gained focus.
I/luajit-launcher(29557): Launching LuaJIT assets...
I/luajit-launcher(29557): Application data directory /data/data/org.koreader.launcher/files
I/luajit-launcher(29557

[2016-04-06 04:06] houqp commented on #1782
Yeah, at this point, I would say android port is very broken until we fix the mcode allocation issue.

[2016-04-06 04:28] houqp commented on #1608
Looks like the touch probe script just ignores all touches from the bottom half of the screen :(

Can you try removing the range key from the TapProbe event?
https://github.com/koreader/koreader/blob/master/utils/kobo_touch_probe.lua#L48

I think the raw touch input is outside of that registered range area (because of switched x & y).

[2016-04-06 04:30] houqp commented on #1931
Might be a hard-float related issue then. My dev laptop died two days ago. I am waiting for system76 to ship my new laptop ATM :-/

[2016-04-06 04:36] houqp commented on #1852
@GeneralFailer that's an issue with native framework "integration". Have you tried the workaround @NiLuJe mentioned over that issue? Let's move the discussion to that issue instead since I am pretty it's not related to this one ;)

[2016-04-06 04:36] #1852 closed

[2016-04-06 08:37] GeneralFailer commented on #1924
@houqp No, this doesn't work for me. It's also independent from whether a document is opened or not.

[2016-04-06 09:59] NiLuJe commented on #1931
I'd say "try my builds" to chekc if it's a TC issue, but CRe is broken in them right now, so... :D.

[2016-04-06 10:14] thebombsauce opened #1943 "Touchscreen doesn't work after long suspend"
On the latest nightly of koreader if I go to a book, suspend the book and then wait for awhile when I come back and turn on the book the touchscreen doesn't work and I can't interact with anything.

[2016-04-06 13:12] Earnestly commented on #1608
Removing `range = Geom:new { ... }` seems to have solved it, I can now touch the lower right corner and the touch locations match up. \o/

[2016-04-06 16:48] NiLuJe commented on #1943
On which device/FW version, and how do you launch KOReader?

[2016-04-06 16:49] NiLuJe commented on #1924
@GeneralFailer: Same questions as my original queries to @SsnL , please ;).

[2016-04-06 18:30] Hzj-jie opened #1944 "Bug: The first highlight won't disappear after page turns."
* KOReader version: koreader-kobo-arm-linux-gnueabihf-v2015.11-304-g3884266
* Device: Kobo Aura HD

#### Issue
The first highlight of the book does not disappear even after page tunes. The highlight is also clickable.
This issue happens on some certain formats of files, as far as I can tell, text file is impacted. And it's device independent.

#### Steps to reproduce
Open a book, choose several wo

[2016-04-06 18:33] Hzj-jie opened #1945 "FR: The keyboard is too small on Kobo Aura HD"
* KOReader version: koreader-kobo-arm-linux-gnueabihf-v2015.11-304-g3884266
* Device: Kobo Aura HD

#### Issue
The keyboard covers only one fifth of the entire screen, and it's pretty hard to click keys.
I have not tried koreader on other devices, but at least we can tune it a little bit larger on Kobo Aura HD.

#### Steps to reproduce
Use any feature that triggers a keyboard input.

[2016-04-06 22:13] thebombsauce commented on #1943
I'm on a kobo aura h20 running 3.19 and I launch it through kobo start menu

[2016-04-07 03:34] houqp commented on #1943
What is the last working version for you? When you turn the device back on, do you see any change in the screen/frontlight?

[2016-04-07 05:21] #1608 closed

[2016-04-07 06:55] houqp commented on #1608
Thanks @Earnestly and @boul51 for helping us debugging the issue :)

[2016-04-07 07:09] houqp commented on #1945
This is due to `ui/widget/virtualkeyboard.lua` is using raw pixel unit instead of calling `scaleBySize`. Can you try running all size variables through `scaleBySize` to see if it helps? For example, `width` and `height` should definitely be adapted by `scaleBySize`.

[2016-04-07 07:43] Frenzie commented on #1945
I think it's good on the similarly sized H2O, unless it changed recently.
On Apr 7, 2016 9:09 AM, "Qingping Hou" <notifications@github.com> wrote:

[2016-04-07 10:35] thebombsauce commented on #1943
I can't remember but this bug has been around for a few versions that I've updated past to try and fix it, and yeah the front light does turn back on and the text does show, so I'm not a coder but I assume that means something that calls the touchscreen to start working again after suspend just doesn't get called.

[2016-04-07 11:13] KenMaltby commented on #1945
It seems very functional, to me, on my AuraHD.  It could be larger, for those uses I checked, there was room.  It is not too small for me, but that could be subjective, functionally I have no problem poking in text.  No matter how big you were to make it I couldn't actually type on such a keyboard.

[2016-04-07 14:05] Earnestly commented on #1608
Thanks for the quick fixes too o/

[2016-04-07 19:04] mwozny123 opened #1948 "After OTA nightly update koreader (nightly nor stable) doesn't work:("
* KOReader version:
stable and current nightly

* Device:
Pocketbook Touch Lux 3

Log:

	/usr/lib/libcurl.so.4: undefined symbol: SSLv2_client_method
stack traceback:
	[C]: at 0x00044bd9
	[C]: at 0x0003dc81
	[C]: in function 'require'
	frontend/device/input.lua:3: in main chunk
	[C]: in function 'require'
	frontend/device/pocketbook/device.lua:81: in function 'init'
	frontend/device.lua:39: in mai

[2016-04-07 20:17] NiLuJe commented on #1948
Err, something weird is happening...

• OpenSSL 1.0.2g dropped ssl2 support.
• We're not using OpenSSL 1.0.2. And even if we did, we build everything against it, so that wouldn't happen.
• Why the hell is libkoreader-input pulling ing lib curl??!

[2016-04-07 20:25] NiLuJe commented on #1948
Hypothesis:

Given the same thing from the latest PB OTA:
[code]

I'd say libinkview is the one pulling curl, and, for some incomprehensible reason (as-needed is your friend), that is pulling in curl. curl, in turns, depends on OpenSSL (for good reason, this time), but given our RPATH, our own OpenSSL copy is picked first.

And, for some reason (did someone update OpenSSL recently?), our copy does

[2016-04-07 20:28] NiLuJe commented on #1948
[code]

Which matches the output from my own, SSL2-less OpenSSL builds.

[2016-04-07 20:29] NiLuJe commented on #1948
TL;DR: Guess we need to configure OpenSSL w/ enable-ssl2 for the PB builds?

[2016-04-07 20:32] NiLuJe commented on #1948
What's strange is, we haven't touched OpenSSL in a while, so...

Did you update your PB firmware recently, instead?

[2016-04-07 21:26] mwozny123 commented on #1948
Well some time ago there was a FW update, but after it I had no problem at all with koreader.

Until today I used the nightly 201511-something version.
But today I'd checked OTA for Koreader update and I've updated to latest nightly.
New OTA Pocketbook version also started with 201511...

Since then (after Koreader restart) it doesn't start.

I tried (using PC) to remove it, and download directly

[2016-04-08 06:47] houqp commented on #1948
It does really look like an issue caused by firmware upgrade... We did upgrade openssl to OpenSSL_1_0_1s after the stable build. But it looks like the stable is also broken for @mwozny123 . So yeah, I think we might have to enable sslv2 fo PB build. It's sad because it's a broken protocol :(

[2016-04-08 06:56] houqp commented on #1943
@thebombsauce were you able to reproduce this issue consistently? @NiLuJe maybe we need to enable your `FROM_NICKEL` code path even for cases.

[2016-04-08 12:57] holee16 commented on #1943
Similar error occurred with my KOBO aura H2O (KSM8 and nickel 3.19.5761).

I updated koreader from stable 2015.11 to nightly-20160323 manually.
(deleted koreader folder and copied nightly koreader folder to .add folder)

After even very short suspend, touch input didn't work.
Pushed power button, went into screensaver, and pushed power button again, now out of suspend mode, but no touch input. no

[2016-04-08 17:55] mwozny123 commented on #1948
I did some more tests - checking which version works and which doesn't:
1) koreader-pocketbook-arm-obreey-linux-gnueabi-v2014.11-49-test
starts, is running but display is deformed - can't read anything - but this is very old no worries

2) koreader-pocketbook-arm-obreey-linux-gnueabi-v2014.11-415-g5dc899f
works, was able to open pdf, in fast test didn't noticed any problems

3) koreader-pocketbook

[2016-04-08 18:24] NiLuJe commented on #1948
Most likely, yes.

[2016-04-08 19:50] mwozny123 opened #1949 "Long time waiting for ebook to be displayed after device start"
- KOReader version:
  I know this problem since I use Koreader, but I used workaround.
  I'm currently using v2015.11-175
- Device:
  Pocketbook touch lux 3
#### Issue

Opening ebook (after device and then koreader start up) gets "stuck" on "Opening file XXX" info for a long time.
E.g. for [this 5mb PDF manual](http://www.x-plane.com/files/manuals/X-Plane_10_Desktop_manual.pdf) it takes nearly 5 m

[2016-04-09 00:42] Hzj-jie commented on #1938
I am looking at VirtualKeyboard.lua. It looks pretty hard to extend, which is the first issue we are facing to support input method other than English and Russian. If you have no opinion, I will work on it.
Considering it would be a very large change, I will first prepare some design doc.
Please kindly let me know if you agree on this plan.

[2016-04-09 01:08] Hzj-jie commented on #1944
With some initial investigation, ReaderView:drawXPointerSavedHighlight may have some issue. I am continually working on it.

[2016-04-09 07:36] houqp commented on #1944
Thanks for looking into it :) It looks like a bug in CREngine or cre.cpp, which causes `getWordBoxesFromPositions` in cre.cpp to return invalid data. If the highlighted xpointers are not visible in current page, `getWordBoxesFromPositions` should return something that's outside of the current screen.

Also I feel like the way we are checking for highlight is inefficient and should be better optimi

[2016-04-09 07:39] houqp commented on #1938
@Hzj-jie go ahead if you want to take a stab at it :)

[2016-04-09 15:29] NiLuJe commented on #1943
Might be a hint that we finally got the suspend script to work a little bit *too* well? :D.

I'll broaden the scope of a workaround, I don't think it hurts terribly if the IR grid is asked to be woken up twice anyway...

[2016-04-09 16:49] #1862 closed

[2016-04-09 16:49] #1943 closed

[2016-04-09 16:49] #1948 closed

[2016-04-09 17:21] GeneralFailer commented on #1924
5.3.7.3 on Kindle Touch. I can't connect to the shell:  `ip addr add 192.168.15.201 dev _interface_ && ssh root@192.168.15.244` returns `ssh: connect to host 192.168.15.244 port 22: Network is unreachable`.

By the way, `authorized_keys2` seems to have been deprecated long time ago, so maybe readme should be edited?

[2016-04-10 05:51] gerroon commented on #1941
TO me, the book status page keeps "adding" new numbers everytime I click on it. For instance I open a book, couple min later it shows 3:20, I click on it again in less than 5 secs, it shows 6:xx something then I open it in less than 10 secs it shows 10:xx something. So whatever it is, it is totally inconsistent and it does not make any sense.

[2016-04-10 06:36] houqp commented on #1941
@gerroon your issue is the same as @KenMaltby's. I have fixed it in #1942

[2016-04-11 01:44] gerroon commented on #1941
@houqp

thanks

[2016-04-11 05:58] Hzj-jie commented on #1944
Yes, some code in CREngine are suspicious. But how do we cooperate with CREngine? It's even not hosted on github. Should we just make change in https://github.com/koreader/crengine/, and push back later?

[2016-04-11 06:07] houqp commented on #1944
We tried sending our patches to upstream: https://sourceforge.net/p/crengine/crengine/merge-requests. But looks like buggins does not have time reviewing them.

For now, let's put our own changes into koreader/crengine. We are basically forking crengine now. I hope one day we can merge back to upstream, but that will take a lot of effort.

[2016-04-11 15:23] burunduk opened #1953 "smart document format detection for zip files"
- KOReader version: v2015.11-304-g9da6281
- Device: Kindle Touch
#### Issue

KOReader can open some archives
#### Steps to reproduce
1. Pack file «Test.fb2» to archive «Test.zip»;
2. Try open «Test.zip».

If rename «Test.zip» to «Test.fb2.zip» that opens

[2016-04-11 15:39] burunduk opened #1954 "Crash, when opening fb2 (Differs from #1852)"
- KOReader version: v2015.11-304-g9da6281
- Device: Kindle Touch
#### Issue

Crash, when opening some fb2.
[Files with bug](http://www.ex.ua/535469331729)
#### Steps to reproduce
1. Open SEGUN-2-TEST5.fb2.zip > I have crash:
   `FATAL ERROR #111: restoreFromCache() failed for chunk`
2. Open SEGUN-2-TEST4-Work.fb2.zip > All right.

These files differ only one newline at line 18.

[2016-04-11 18:46] NiLuJe commented on #1868
Okay, the just-release snapshots *should* now have a properly working CRe...

(Stupid ABI mismatch, I had some crap in my env...)

[2016-04-12 00:31] gerroon opened #1955 "Koreader opens the book but it is not properly refreshing during initial opening"
- KOReader version:koreader-nightly-20160323
- Device: C67ML
#### Issue

When I open a book in Koreader, the book opens but no  refresh is done initially so only thing I see is loading window unless I press anywhere on the screen which forces a refresh I belive
#### Steps to reproduce

Open a book in C67ML

This has been going on for a while but it is bothersome enough that I decided to report it

[2016-04-12 02:38] NiLuJe commented on #1924
@GeneralFailer: Make sure NetworkManager is not crapping on your party and assigning broken IPs to the USB IF. (i.e., mark it as unmanaged in NM; or something).

Thanks for mentioning the readme thing, I have no idea where that originally came from... :?.

FWIW, I can't reproduce this on a PW2.

Random idea: Do you happen have a crazy amount of books and/or collections on your device (on the nativ

[2016-04-12 02:43] NiLuJe commented on #1924
Holy crap, I just realized I've been reading @GeneralFailer's report wrong (given the context of the original report). And the fact that 5.3.7 looks very much like 5.7.3 at 5 AM xD.

Sooo, yeah, IIRC, shouldn't happen, so, my previous questions still stand.

In the meantime, I'll charge my K5 and see if I can reproduce...

[2016-04-12 02:49] NiLuJe commented on #1832
Anyone still encountering any weird build issues?

[2016-04-12 02:55] NiLuJe commented on #1867
Does this still happen with recent nightlies/OTA?

[2016-04-12 03:02] NoAnyLove commented on #1867
Hi NiLuJe,

I tried the recent released koreader-nightly-20160323, it still happen if the KOReader is lauched from kpvbooklet.

[2016-04-12 14:02] NiLuJe commented on #1924
Yup, reproduced. Will fix :).

[2016-04-12 14:13] NiLuJe commented on #1867
The only SO device I have is a PW1, which doesn't run FW 5.6.5 (and which I don't have in my household right now anyway), so this is going to be tricky to test...

One question though: you're supposed to keep the native status bar when using KPVBooklet right? Because I'm fairly sure I broke that by stopping the WM.

[2016-04-12 15:56] NoAnyLove commented on #1867
I'm not sure about this question. It seems that KPVBooklet doesn't have a graphic user interface. And after lauching KOReader, no matter from KPVBooklet or from KUAL, it's aways full-screen, so the native status bar is invisible, I think.

[2016-04-12 16:46] NiLuJe commented on #1867
Right, good.

Then, yeah, I don't really know what's going on, and I'm not familiar enough with KPVBooklet to psychic debug this one ;).

[2016-04-12 17:57] gerroon opened #1958 "New version for Android?"
* KOReader version:
* Device: Android

#### Issue

Can we please get a recent build for Android? The latest build is 3 weeks old

[2016-04-13 03:46] #1945 closed

[2016-04-13 03:51] frankyifei commented on #1954
try clear the cache folder

[2016-04-13 03:53] frankyifei commented on #1953
it is designed this way.

[2016-04-13 04:47] houqp commented on #1953
as @frankyifei mentioned, this is expected behavior. In the future, we can probably do smarter format detection for zip files.

[2016-04-13 04:48] houqp commented on #1954
@frankyifei shouldn't crengine gracefully ignore the cache instead of failing in this case?

[2016-04-13 19:35] elektronaut0815 commented on #1868
Still not working with current snapshot.

[2016-04-13 19:39] NiLuJe commented on #1868
Okay, so there's a definite issue somewhere in the codebase, and not only a silly mistake on my part, thanks :).

[2016-04-13 19:41] gerroon commented on #1941
@houqp

I still have this issue with koreader-nightly-20160413 on Android Lollipop.

[2016-04-14 06:27] burunduk commented on #1954
@frankyifei this does not solve problem

[2016-04-14 07:36] houqp commented on #1868
@elektronaut0815 are you still getting the same error? Fun fact, I tried a new kindle-legacy build with the latest master, EPUB is working fine for me, but now it says no engine found for PDFs... I will probably take a closer look at weekend to see what's actually happening.

[2016-04-14 07:36] #1958 closed

[2016-04-14 07:40] houqp commented on #1941
@gerroon, I cannot reproduce this the always increasing book status issue on my side anymore. I apologize if you already double checked this, but have you verified that you are testing with the new KOReader, not the old one that was running in the background?

[2016-04-14 07:43] houqp commented on #1941
Oh wait, @gerroon, in your previous comment, are you referring to the bug in the statistics page or the book status page? I only fixed the bug in book status.

[2016-04-14 07:43] houqp commented on #1832
Still working on setting up toolchina in arch vm... Getting weird build issues with https://github.com/koreader/koxtoolchain in arch.

[2016-04-14 09:33] NiLuJe commented on #1832
Yup, CT-NG is probably iffy on Arch since Arch ditched static libraries...
I haven't followed this closely, but last time it came up, it was a bit of
a mess...
On Apr 14, 2016 9:43 AM, "Qingping Hou" <notifications@github.com> wrote:

[2016-04-14 09:38] NiLuJe commented on #1832
Cf. https://github.com/crosstool-ng/crosstool-ng/issues/297
On Apr 14, 2016 11:32 AM, "NiLuJe" <ninuje@gmail.com> wrote:

[2016-04-14 09:54] hcs64 opened #1960 "Kindle toggle frontlight does not reenable frontlight"
* KOReader version: v2015.11-318-g8c4c274
* Device: Kindle Paperwhite 2

#### Issue
On the Frontlight level dialog, pressing "Toggle" will turn off the frontlight if it is on, but pressing it again does not turn the frontlight back on. It is possible to turn it on again only by entering a new brightness level (if it is the same as the previous level nothing happens, even if nothing is currently sh

[2016-04-14 10:28] hcs64 commented on #1960
This behavior appears to be due to 8b7658b8cd9a9754ba66d959274190daddebb25f which [added](https://github.com/koreader/koreader/commit/8b7658b8cd9a9754ba66d959274190daddebb25f#diff-d832f4212dd6340f5a670645c54da2daR60)
```if intensity == self.fl_intensity then return end```
to the beginning of `BasePowerD:setIntensity`. Commenting out this early exit fixes the issue for me.

Since `KindlePowerD:togg

[2016-04-14 12:40] retrue opened #1961 "Kobo Mini doesn't start after update v2015.11-253."
* KOReader version: 11-253 and next ones.
* Device: Kobo Mini

#### Issue: KOReader doesn't start after update OTA or manual update. Last version that works is v2015.11-175.
Tried with fmon and KSM8

crash.log:
**./luajit: ./reader.lua:136: attempt to index field 'fl' (a nil value)
stack traceback:
./reader.lua:136: in main chunk
[C]: at 0x0000bea5**

[2016-04-14 15:15] gerroon commented on #1941
@houqp

I am not sure which one refers to which but I see no fix in the book sttaus page. It shows the correct percentage but the rest of the stats are wrong, in fact the statistics page is wrong as well. The "current book" shows 0s all the way.

[2016-04-14 15:22] gerroon opened #1962 "Koreader does not respect the .sdr file"
* KOReader version: koreader-nightly-20160413
* Device: Samnsung Galaxy Tab

#### Issue
I am syncing my books folder using Syncthing between devices. Syncthing works fine but Koreader does not like to pick up the page number where I left of from another device that is synced via syncthing.

For instance I am on page 92 with a book on DeviceA, I see that the .sdr file is synced to the other device

[2016-04-14 15:43] NiLuJe commented on #1961
One more instance of OO breaking my brain, and Lua syntax not helping, my bad ;).

[2016-04-14 17:43] Hzj-jie commented on #1962
This is a legacy issue, since we prefer history files (in /history folder) instead of .sdr folder.
We plan to eventually remove history folder, but use only sdr folder. But now history list is still based on history folder. So it's not a simple change.
I will send out a very quick fix to prefer sdr folder first.

[2016-04-14 17:46] NiLuJe commented on #1960
AFAICT your hunch sounds solid, I don't *think* killing that check would hurt...

@houqp?

[2016-04-14 17:56] NiLuJe commented on #1868
Okay on PDF & ePubs on a K4 over here.

[2016-04-14 18:04] NiLuJe commented on #1868
Okay also on a K3.

[2016-04-14 18:12] NiLuJe commented on #1868
... And okay also on a K2.

:?

[2016-04-14 18:25] NiLuJe commented on #1868
Even checked on a clean install to make sure, and, yep, works fine on my end... :?

[2016-04-14 21:13] Hzj-jie opened #1966 "*.sdr folders are not excluded in folder item count"
* KOReader version: Up to v2015.11-320-gccd72a8 lightly build
* Device: Independent

#### Issue
*.sdr folders are not excluded in file manager list, but the item count does not exclude these items.

#### Steps to reproduce
Open a folder with *.sdr folders, the count is less than the total count displayed in its parent folder.

You can find screenshots @ https://raw.githubusercontent.com/Hzj-jie/fi

[2016-04-14 23:14] Hzj-jie opened #1968 "FR: Enable Kobo screen saver and auto stretch"
* KOReader version: Up to v2015.11-320-gccd72a8
* Device: Kobo Aura HD

#### Issue
Kobo (and also pocketbook) does not have a default screen saver, so screensaver.lua will be involved, but there is no default setting for screensaver folders. So we can use only book cover image or 'suspend' message.
Also, after enabling screensaver folder, if the image has a different width / height ratio than the

[2016-04-15 00:06] gerroon commented on #1962
@Hzj-jie

It will be great if the sdr file given priority over other stuff as you mentioned. Thanks for looking into it.

[2016-04-15 00:31] KenMaltby commented on #1968
There is a "screensaver"/suspend image that the user can supply and specify.  If a folder is specified the suspend will randomly select from image files in the folder.

If you mean that there is no default image(s) provided, at a default location, that is true.  The "Suspend" message box only comes into play if none of the other options are available.

[2016-04-15 00:39] Hzj-jie commented on #1968
Yes, I mean the feature is not turned on by default.

[2016-04-15 03:31] houqp commented on #1960
Good catch, I forgot to check other models during the refactoring. @NiLuJe , I commented in your PR.

[2016-04-15 03:34] houqp commented on #1961
Ha, nice. As a side note, I tried to keep the naming consistent across the code base, i.e. lower_case for variable and camelCase for functions :)

[2016-04-15 03:45] #1966 closed

[2016-04-15 03:47] houqp commented on #1962
Thanks @Hzj-jie for fixing it. @gerroon next release should pick up the fix.

[2016-04-15 07:15] Frenzie opened #1970 "Language strings to change"
I'm assigning myself unless someone already started on it.

Edit: on account of some issues raised by kingu on Transifex.

[2016-04-15 07:47] houqp commented on #1970
kingu mentioned he will send a PR later, you probably want to message him on transifex to coordinate :)

[2016-04-15 07:51] Frenzie commented on #1970
I added some quick remarks there, but on the whole I suppose it's much
easier to comment on the PR.
On Apr 15, 2016 9:48 AM, "Qingping Hou" <notifications@github.com> wrote:

[2016-04-15 11:57] Markismus opened #1971 "kingu (Allan Nordhøy) made a norwegian translation of koreader"
This morning my inbox was flooded by emails from Transifex. Apparently Kingu has made a Norwegian translation. I have send him a thank you note, but I can do little about these issues as I cannot speak or write Norwegian.

He has already collected a flood of manager roles on Transifex, so I don't know how he will maintain them in the future when he has a paid job. Could someone with more access (@

[2016-04-15 13:53] #1970 closed

[2016-04-15 14:39] NiLuJe commented on #1961
Good to know, thanks :).

[2016-04-15 16:49] #1960 closed

[2016-04-15 16:49] #1961 closed

[2016-04-15 17:00] houqp commented on #1971
I have added him as a maintainer :)

[2016-04-15 17:00] #1971 closed

[2016-04-16 10:39] frankyifei commented on #1954
I have no idea. I tried both file on my kindle and both works well

[2016-04-17 15:39] gmadjara opened #1974 "KOReader segfaults in screen saver mode; v2015.11-318/330"
- KOReader version: v2015.11-318 and v2015.11-330-nightly (in earlier versions didn't have this issue)
- Device: Kobo Aura H2O (latest official firmware + Kobo Start Menu 08)

Issue: after few minutes in screen saver mode (approximate 20 min or more) KOReader force close and returns in Kobo Start Menu 08.

Steps to reproduce: Press power button while in the KOReader - screen saver mode - KOReader

[2016-04-17 16:04] NiLuJe commented on #1974
Anything in crash.log?

[2016-04-17 16:28] KenMaltby commented on #1974
Where do you get : "•KOReader version: v2016.04.13-nightly"   The latest nightly I can find is v2015.11-330

[2016-04-17 16:37] gmadjara commented on #1974
v2015.11-318 and v2015.11-330 also have the same issue.

[2016-04-17 16:43] gmadjara commented on #1974
From crash.log:
"source p[04/17/16 @ 15:49:38] Kobo Suspend: BEGIN!
[04/17/16 @ 15:49:38] Kobo Suspend: Current WakeUp count: 9026
[04/17/16 @ 15:49:38] Kobo Suspend: Asked the kernel to put subsystems to sleep
[04/17/16 @ 15:49:40] Kobo Suspend: Waited for 2s because of reasons...
[04/17/16 @ 15:49:40] Kobo Suspend: Synced FS
[04/17/16 @ 15:49:40] Kobo Suspend: Wrote WakeUp count: 9026 (0)
[04/17

[2016-04-17 17:01] NiLuJe commented on #1974
Wheee.

Is it reproducible straightaway (i.e., sleep, wait a few seconds, press power button), or is the timing key?

[2016-04-17 17:03] NiLuJe commented on #1974
If timing is indeed key, ping @Hzj-jie for the autosuspend stuff?

[2016-04-17 17:31] gmadjara commented on #1974
force close from sleep mode is happening after approximately 20 min- sometimes even longer from pressing power button for sleep. Power button - sleep mode (cca 20 min) - close to Start Menu 08.

[2016-04-17 17:36] gmadjara commented on #1974
Just tried again 2 times..same thing:

[04/17/16 @ 18:43:24] Kobo Suspend: BEGIN!
[04/17/16 @ 18:43:24] Kobo Suspend: Current WakeUp count: 9089
[04/17/16 @ 18:43:24] Kobo Suspend: Asked the kernel to put subsystems to sleep
[04/17/16 @ 18:43:26] Kobo Suspend: Waited for 2s because of reasons...
[04/17/16 @ 18:43:26] Kobo Suspend: Synced FS
[04/17/16 @ 18:43:26] Kobo Suspend: Wrote WakeUp count: 9

[2016-04-17 17:38] gmadjara commented on #1974
So, KOReader shut down is happening after approximately 20 minutes of sleeping (screen saver mode).

[2016-04-17 18:15] Frenzie commented on #1974
The `END` indicates that suspending failed. Odd that the program crashes after 20 mins though.

[2016-04-17 18:28] NiLuJe commented on #1974
Suspending failing is more or less expected, unless the wind blows the right way and the stars are aligned ;).

[2016-04-17 18:43] Frenzie commented on #1974
And yet I have never had suspend fail on me after my initial workaround of adding the timeout. /whistles =P

[2016-04-17 19:18] gmadjara commented on #1974
v2015.11-175 doesn't have this issue.

[2016-04-17 20:06] NiLuJe commented on #1974
@Frenzie : err, which wrokaround would that be?

And, yeah, I was double-checking the default value as well. It's supposed to be 1H.

[2016-04-17 20:32] Frenzie commented on #1974
The waiting at least 5s (8 to be safe, later extended even more in a
roundabout manner in the suspend script itself) after the last draw before
calling the suspend script workaround, without which the H2O refuses to
suspend.  It makes no sense at all, but in any case it works and has worked
consistently. I haven't been able to figure out how my usage of PDF
(including rather heavy ones), DjVu and

[2016-04-18 00:04] houqp commented on #1974
Oh god, 175 is a really old version :( @gmadjara , how about https://github.com/koreader/koreader/releases/tag/v2016.03.15-nightly?

@Frenzie were you able to reproduce without the workaround?

[2016-04-18 00:24] gmadjara commented on #1974
Thanks, but as long as i remember, unfortunately v2015.11-253 also has some bad issue on Kobo - KOReader and actually the whole device just freeze after returning from sleep mode.

[2016-04-18 03:19] frankyifei commented on #1954
This is a bug in cache management, I still don't understand it very well.  It seems Cre tries to read some data that is still not saved into cache file. It should only happen in quite rare circumstances.

[2016-04-18 08:43] houqp commented on #1868
After updated https://github.com/koreader/koxtoolchain to use @NiLuJe 's ct-ng kindle branch, everything is working again on my K3 now. @elektronaut0815 can you give @NiLuJe 's latest build a try?

PS: @NiLuJe, the kernel version you specified in the sample file does not exist in ct-ng. Did you do anything special to make ct-ng fetch your version? I ended up using 2_6_32 for kindle-legacy TC.

[2016-04-18 09:36] NiLuJe commented on #1868
That kernel version is in my kindle, branch, make sure you don't have an
older ct-ng version installed somewhere in your path ?
On Apr 18, 2016 10:43 AM, "Qingping Hou" <notifications@github.com> wrote:

After updated https://github.com/koreader/koxtoolchain to use @NiLuJe
<https://github.com/NiLuJe> 's ct-ng kindle branch, everything is working
again on my K3 now. @elektronaut0815 <https://github

[2016-04-18 09:40] NiLuJe commented on #1868
... On the tip of the branch, that is, whereas your script is checking out
the latest tag ;).
On Apr 18, 2016 11:36 AM, "NiLuJe" <ninuje@gmail.com> wrote:

[2016-04-18 09:50] houqp commented on #1868
haha, I am an idiot. Thanks for catching that, I forgot to change the commit hash ;)

[2016-04-18 13:03] N46AN opened #1975 ""Rate Book" mistakenly popup"
* KOReader version: kindle-arm-linux-gnueabi-v2015.11-318-g8c4c274
* Device: Kindle PW3

#### Issue
When reading this file: http://www.tldp.org/HOWTO/text/TkRat
The "Rate and Comment" page mistakenly popup multiple times as I tap for next page.

#### Steps to reproduce
- Download http://www.tldp.org/HOWTO/text/TkRat as tkrat.txt
- Open tkrat.txt in koreader
- Tap for next page several times, the "

[2016-04-18 14:51] KenMaltby commented on #1975
I wonder if it is being seen as a single page document, and the next page goes to the page presented at the end of reading the "book"?

[2016-04-18 15:06] NiLuJe commented on #1975
I've seen that happen too (that was on a chapter break, for my part).

[2016-04-18 16:45] Hzj-jie commented on #1974
It looks like the issue is about a crash after resume, but not during suspend.

[2016-04-18 20:19] houqp commented on #1975
Looks like edge cases that got missed in https://github.com/koreader/koreader/blob/master/frontend/apps/reader/modules/readerrolling.lua#L380. I will take a look.

[2016-04-18 20:20] houqp commented on #1974
Yeah, looks like a resume bug. Also it seems to be h2o only.

[2016-04-18 20:24] gmadjara commented on #1974
crash is happening during suspend - sleep mode.

[2016-04-18 21:39] anarcat opened #1976 "adding koreader to home tiles?"
I went through the install process documented in the wiki here to setup Koreader on my Kobo Glo HD. I have KSM working on reboot, and it seems I am able to start koreader from there.

Maybe I completely misunderstand how things work here, but I was expecting koreader to be available from the main Kobo interface (which I understand is called "nickel"?). I am not sure I want to always use koreader t

[2016-04-18 22:04] KenMaltby commented on #1976
Yes, there are KSM options that can enable a Nickel to KOReader swapping.  See the KSM8 thread at MobileRead forums: http://www.mobileread.com/forums/showthread.php?t=266821
If, as you say, you seldom use KOReader you might want to set KSM to auto launch in Nickel.

[2016-04-18 22:13] anarcat commented on #1976
hmm... there are 10 pages of comments in there. i already searched for "tile" and "home" and couldn't find the answer I was looking for.

[2016-04-18 22:32] KenMaltby commented on #1976
Try poking "configure" on the main KSM menu, then poke [koreader] > then poke "insertNickelKoreaderSwitch=false" > then poke "insertNickelKoreaderSwitch=true"

[2016-04-18 22:55] anarcat commented on #1976
Okay, so I did that and i actually had to do "addItem" to add `insertNickelKoreaderSwitch=true`, as it was not present already. i did save and return and reboot, then started nickel. i don't see anything changed on the home screen.

maybe i am not looking at the right place?

and what will this do?

to be clear, what I am looking for here is a way to start koreader directly from the Nickel home sc

[2016-04-18 22:57] anarcat commented on #1976
also, I followed http://www.mobileread.com/forums/showpost.php?p=3112371&postcount=301 to the letter, and the menus don't show up in KSM8.

[2016-04-19 01:05] KenMaltby commented on #1976
If you are insisting on using the "fmon" approach to launch from within Nickel, This Guide should help: http://www.mobileread.com/forums/showthread.php?t=226456

 The insertNickelKoreaderSwitch=true should give you an option in the KSM menu to start in Nickel and when you leave Nickel you go to KOReader.  Also, when you then leave KOReader you return to Nickel.
You can also add it as the autostart

[2016-04-19 03:45] frankyifei commented on #1975
I'm also going to make complain about this. It looks like it can not determine the end of the book.  I noticed this usually happens at end of each html inside Epub files.
Sometimes it even caused crash Like this. When it crashes, I have to clear the .sdr folder and delete history file to open the book.
`./luajit: frontend/ui/widget/progresswidget.lua:74: attempt to perform arithmetic on field 'las

[2016-04-19 07:19] houqp commented on #1868
@NiLuJe btw, which version of binutils should we use? linaro-2.24.0-2014.11-2?

[2016-04-19 08:32] houqp commented on #1975
I did suggest we keep the reader core small and implement status page as a plugin. But it was not a triva task so it is merged as part of the core. Turning it into a pluggable module will be a bigger project. Let's first focus on fixing the current bugs first. Now that our master branch is back to a healthy state, I will have time to look into it tomorrow.

[2016-04-19 10:56] NiLuJe commented on #1868
The latest when using gold, but with bfd we don't really care. That said,
it doesn't hurt to go with something up to date, so 2.26 (mainline) right
now ;).
On Apr 19, 2016 9:19 AM, "Qingping Hou" <notifications@github.com> wrote:

[2016-04-19 11:06] sebnapi commented on #1650
What a pitty! At least you could fix the order.

[2016-04-19 11:34] seacatwu opened #1978 "FR: add more options in Line Spacing & Margin"
add more options in Line Spaceing & Margin,or maybe can using decreaser & increase options.
this will be great!

[2016-04-19 14:30] frankyifei opened #1979 "progress window shows very large book cover"
* KOReader version: latest version
* Device: emulator

#### Issue
![reader_2016-apr-19_235803](https://cloud.githubusercontent.com/assets/8104251/14642772/e74734ec-068a-11e6-8dc0-895e662a17f8.png)

#### Steps to reproduce
open any book

[2016-04-19 14:57] anarcat commented on #1976
okay well, i don't know what "fmon" is. i do not mean to insist on anything, but i do want to keep running Nickel for now, and it'd be great if i could start stuff directly from there, so i guess the "fmon" approach is the way to go for me, even though I don't understand what it means - is there a glossary of that stuff somewhere?

anyways - i went through the guide in the forum, and I got the lau

[2016-04-19 14:58] anarcat commented on #1976
oh, and should i be posting this in the forums instead? i felt this was a documentation issue here, but i can also go back to the forum if you prefer that. the idea here was to build more stable documentation here in the wiki or the README file...

[2016-04-19 15:14] KenMaltby commented on #1979
"Book status" normal on my Kobo AuraHD with v2015.11-330.

[2016-04-19 15:42] frankyifei commented on #1979
a recent change in imagewidget.lua caused this.

[2016-04-19 16:03] KenMaltby commented on #1976
You are reporting some very odd behavior, none of which should be the result of following the guide.
Assuming that your KSM8 is installed properly, you should be able to launch into Nickel and you should be able to launch into KOReader.  You should also have tiles/books/pic in Nickel's library, that launch the functions in their file names:
exit_nickel.png
poweroff.png
run_test_script.png
simulate

[2016-04-19 16:12] anarcat commented on #1976
I believe [the guide](http://www.mobileread.com/forums/showthread.php?t=226456) is incomplete. It doesn't say that the vlasovsoft directory should be copied, and doesn't clearly say which .tgz should be copied on step 12. I am not sure how others managed to follow those instructions, I can only have admiration for those people. :)

Honestly at this point, i have just given up. I was looking for OP

[2016-04-19 17:04] #1979 closed

[2016-04-19 21:44] Hzj-jie commented on #1974
I just reproduce a similar, but not exactly the same crash on Kobo Aura HD, the crash.log contains,
[04/19/16 @ 14:24:15] Kobo Suspend: BEGIN!
[04/19/16 @ 14:24:15] Kobo Suspend: Current WakeUp count: 24691
[04/19/16 @ 14:24:15] Kobo Suspend: Asked the kernel to put subsystems to sleep
[04/19/16 @ 14:24:17] Kobo Suspend: Waited for 2s because of reasons...
[04/19/16 @ 14:24:17] Kobo Suspend: Synce

[2016-04-19 21:44] Hzj-jie commented on #1968
Done.

[2016-04-19 21:44] #1968 closed

[2016-04-19 21:55] NiLuJe commented on #1974
That would imply *something* killed it? The OOM killer, maybe, even if that sounds like a stretch? Does dmesg have anything interesting to say?

[2016-04-19 22:05] NiLuJe commented on #1868
@houqp: Any particular reason for sticking w/ GCC 4.8? (If the idea is to avoid GCC 5, which is not such a crazy idea, GCC 4.9 is also a solid choice ;)).

Same question for glibc 2.11 in the Kobo TC?

[2016-04-19 22:19] Hzj-jie opened #1981 "Kobo Aura HD affected by magnet"
* KOReader version: Up to v2015.11-351-gafeefe8
* Device: Kobo Aura HD

#### Issue
This is not a KOReader issue, but Kobo Aura HD has magnetic cover detector. The detector seems too sensitive, so moving the ereader around some speakers or digital devices can trigger the suspend and resume.

#### Steps to reproduce
A video @ https://raw.githubusercontent.com/Hzj-jie/files/master/koreader/b1981/VID_

[2016-04-19 22:47] NiLuJe commented on #1981
Remind me to look into it on the Kindle side of things when you're done, because this has come up before, but it had completely slipped my mind ;).

[2016-04-19 23:47] KenMaltby commented on #1981
This might jog a memory; http://www.mobileread.com/forums/showpost.php?p=3205282&postcount=2480

[2016-04-20 08:58] houqp commented on #1868
I haven't finished up the kindle tc clean up yet. GCC 5 for some reason does not work for me. I need to dig further into it.

As for Kobo TC, I haven't started rebuilding it based on your sample yet ;)

[2016-04-21 02:37] N46AN commented on #1975
Thanks for taking time to look into this issue! The core+plugin model seems like a good choice.

[2016-04-21 02:38] N46AN commented on #1978
For a temporary wordaround, use a custom css file.

[2016-04-21 06:27] houqp commented on #1978
+1 on what @N46AN said. We are mostly working on bug fixes so we can get the next stable release as soon as possible. Therefore, this issue will not have a high priority unless someone volunteers to work on it. Pull requests welcome ;)

[2016-04-21 06:36] houqp commented on #1650
@sebnapi it might not be a simple fix. We welcome other people to send us patches for this though.

[2016-04-21 06:40] Frenzie commented on #1650
I'm not really interested in mobi, but I think there's some info missing. Does this apply to *any* file with images or is there a particular testcase? And even if it does apply to any file with images, we'd still need a testcase. None of my regular sources (e.g. Archive.org and dbnl.org) offer mobi. Basically what I'm saying is you need to erase any resistance to a possible quick fix. ;)

[2016-04-21 06:58] #1975 closed

[2016-04-21 09:34] sebnapi commented on #1650
I have the problem with these files, [epub](http://dl.dropboxusercontent.com/u/15164593/The%20Definitive%20Book%20of%20Body%20Language%20-%20Barbara%20Pease.epub) works well but [mobi](http://dl.dropboxusercontent.com/u/15164593/The%20Definitive%20Book%20of%20Body%20Language%20-%20Barbara%20Pease.mobi) displays the pictures somewhat randomly (you can download them and upload them internally, only

[2016-04-22 01:46] houqp commented on #1650
The biggest problem with mobi is it's a proprietary format designed by amazon for user lock-in :( Has it been an open spec like epub, we will have no problem spending more resources on it.

Out of curiosity, what's the reason that your GF prefer the built-in reader than koreader?

[2016-04-22 15:34] tigran123 opened #1985 "Current directory value is lost when switching books via History"
* KOReader version: 2015-stable
* Device: Kobo Aura H2O

#### Issue
When selecting a book via History the File Manager should switch the current directory to the one corresponding to the book being opened. In the old versions of Koreader this worked fine, but now the current directory is some random useless value (presumably the last directory visited by File Manager). This feature was very useful

[2016-04-22 15:47] tigran123 commented on #1976
@anarcat I didn't follow any instructions, but I use (and have been using for many years) KSM with Koreader and CoolReader (pbchess package from vlasovsoft) without any problems whatsoever. The key thing to remember is to use only KSM 06 (older versions are broken, newer versions are not needed, because when something is working perfectly one should stop the development and actually use the softwa

[2016-04-22 15:52] tigran123 commented on #1962
Hmmm, wait, if you rely entirely on the .sdr and abandon history directory then all the annotations support will stop working with readonly mounted micro sd cards? Isn't that a very serious problem? Please don't make it stop working with readonly location of books.

[2016-04-22 17:36] KenMaltby commented on #1962
Has anyone actually had any problem that relates to having the external uSD card mounted, or remounted as read/write?  I have remounted it with the start of KOReader for a long time, and encountered no related problems.

[2016-04-22 21:35] NiLuJe commented on #1962
Didn't we actually also fix the sdcard issue, making sure it's always mounted rw?

[2016-04-22 21:36] NiLuJe commented on #1985
Does this still happen with current OTAs?

[2016-04-22 22:26] KenMaltby commented on #1962
Right, mnt/SD is now rw with KOReader active, just like I have had it.  There should be no "readonly location of books" that KOReader's "annotations support " would need to work with.

[2016-04-22 22:52] KenMaltby commented on #1985
It looks that way with v2015.11-358.  For me the first switch returned to that book's File Manager page/directory bur subsequent switching settled on one File Manager location irrespective of the current book.

[2016-04-22 23:37] tigran123 commented on #1962
Requiring that micro sd card is always mounted rw is a bad idea, because in the event of crash the card will be corrupted in the following sense: fsck.vfat will complain that backup boot block is not matching the original. Ok, a person who understands vfat filesystem (and who understands that the boot sector of a filesystem on a device which you are never going to boot from is irrelevant) will kno

[2016-04-23 01:32] KenMaltby commented on #1962
I have had my mnt/sd remounted rw continuously since at least July of 2014.  I am sure I have rebooted that way a few times, I haven't encountered any problems or signs of  "filesystem/metdata corruption" .

[2016-04-23 09:23] tigran123 commented on #1962
@KenMaltby Really? And it happens to me literally 10 out of 10 times which makes me believe that you simply haven't noticed the corruption. Have you actually executed fsck.vfat on the card manually after such forced reboot?

[2016-04-23 12:03] KenMaltby commented on #1962
I have it on good authority that doing so would provide the indication of a problem. Not that a backup mismatch would worry me that much.  Besides I seldom do much with Linux, I'm mostly a Windows guy. I haven't run into any problems rebooting and while I am not as sure of perfection, things appear to me to be steadily improving.  (Forcing me to make such a statement, may have tempted fate.)

[2016-04-23 13:03] NiLuJe commented on #1962
In any case, the fact that it's KOReader and not nickel which happens to be mounting the card rw does not make it *more* dangerous. FAT32 simply sucks and deals badly with power loss, that's a fact.

[2016-04-23 13:03] tigran123 commented on #1962
@KenMaltby Ok, I am almost 100% sure that your card wouldn't pass fsck.vfat check. However, the real problem is actually twofold:

1. Reformatting the card and restoring the books from backup is, theoretically, no big deal. In practice, restoring a 100GB collection on a 128GB microsd can take several hours.

2. If you store all the annotations on microsd rather than onboard history then these will

[2016-04-23 13:04] NiLuJe commented on #1962
The argument in favor of sidecar files vs. a centralized location is making it much, much easier to support cross-device synchronization.

[2016-04-23 13:07] tigran123 commented on #1962
@NiLuJe Yes, you are right --- FAT32 deals badly with power loss, that's a fact. So, to avoid the consequences of this fact I suggest not to mount it readwrite. This is the reason why Kobo developers decided to have it readonly by default.

As for cross-device synchronization, interesting.... because this is important to me also (as I use multiple devices too). But I always assumed that such synch

[2016-04-23 13:23] tigran123 commented on #1985
Btw, I should add that the behaviour I expect as correct is also the behaviour of CoolReader. That is in CoolReader, when you go to "Recent books" and select the icon on the left which invokes the "Open File" dialog, the current directory is positioned to the book currently selected in the "Recent books" list (you don't have to open it, just selecting it in the "Recent books" list is enough).

[2016-04-23 13:29] NiLuJe commented on #1962
I have the whole SSH/rsync & co running over WiFi or USB fine with my Kobo port of all my [http://www.mobileread.com/forums/showthread.php?t=254214](Kindle stuff).

I think some people started using syncthing for the sake of simplicity, too, so that also should be available somewhere on MR.

[2016-04-23 15:26] #1985 closed

[2016-04-23 18:22] houqp commented on #1962
As @NiLuJe already mentioned, cross device synchronization is the main driver for introducing sdr directories. Another huge advantage is to better support moving files around. With the old history file, all file paths are hard-coded into the history file name, which means changing document location will break the document setting. Asking users to update the history file name manually is a very bad

[2016-04-23 18:46] KenMaltby commented on #1962
I would think the only element, that would be greatly effected by display on different devices, would be how to pass the displayed page, from device to device.  The same book on a 10.1" display using a small font might be on page 20 but that same progress location in the book might be page 200 on a 4" phone.

I don't see how the book's metadata would be affected at all, unless you were talking abo

[2016-04-23 18:53] houqp commented on #1962
For books handled by CRengine (i.e. books without fixed pages), we track the progress by xpointer, which points to the element inside the document. For example, it can be a paragraph, an image or even a character. So it's typesetting agnostic. You should always be able to restore to the same location regardless of how many pages the book is rendered into.

For PDFs and DJVUs, we just track by page

[2016-04-23 19:00] KenMaltby commented on #1962
Right, so device dependency even less likely.

[2016-04-24 07:29] N46AN opened #1989 "Cannot turn FrontLight back on after 'toggle FL'"
* KOReader version: kindle-arm-linux-gnueabi-v2015.11-318-g8c4c274
* Device: Kindle PW3 5.6.5

#### Issue
Cannot turn front light back on by entering a value after 'toggle frontlight'.

#### Steps to reproduce
- Open koreader with FL on;
- "Toggle FL", FL will go off;
- Enter FL value >0, "Apply" or "OK", FL does not turn back on.

- Expected Behaviour: FL should turn on at given value.

[2016-04-24 13:58] NiLuJe commented on #1989
Should already be fixed in more recent OTAs.

[2016-04-24 15:23] N46AN commented on #1989
@NiLuJe Sorry for the duplicate issue! I've updated to the lastest dev branch and I can confirm this issue is fixed, along with #1975 .
Thank you all!

[2016-04-24 15:23] #1989 closed

[2016-04-24 18:08] mwozny123 opened #1990 "[Enhancement] Save reading progress on Koreader Screensaver activation"
* KOReader version:
* Device:
Pocketbook, Kobo, probably all non-Kindle devices

#### Issue
For saving battery, non-Kindle devices use a auto power-off after specified time period.
 (Kindle has kind of hibernate).

When idle time is up - device system is shutdown, and Koreader is also terminated.

Unfortunately if there was a reading progress, and Koreader was auto-terminated by system, it doesn't

[2016-04-24 23:59] houqp commented on #1990
@koreader/kindle-dev , is there an event that we can get from `lipc-wait-event` for the power off action?

[2016-04-25 01:34] N46AN opened #1991 "FL turn back on upon wakeup after "Toggle FL""
* KOReader version: v2015.11-371-g24a30cb
* Device: Kindle PW3 5.6.5

#### Issue
After turning off FL by "Toggle FL" and then suspend the device, FL will turn back on upon wakeup

#### Steps to reproduce
- Open koreader with FL on
- "Toggle FL", FL will go off
- Press power button, the device goes into suspend
- Press power button again, the device wakes up, FL turns back on.

Expected Behaviour:

[2016-04-25 03:14] houqp commented on #1991
Good catch... We need to do the same thing we did in kobo powerd, using  is_fl_on to keep track of the on/off state..

[2016-04-25 19:37] Hzj-jie commented on #1981
Done

[2016-04-25 19:37] #1981 closed

[2016-04-26 07:14] houqp commented on #1991
Oh wait, actually frontlight toggle in suspend/resume should be managed by the kindle system, not us. @N46AN did this work for the old version you have tried before?

[2016-04-27 00:39] NiLuJe commented on #1990
@houqp: Which power off action? There isn't really one on Kindles, the ~7s thing goes to sleep directly and blanks the screen, IIRC, and more is a hard-reboot by cutting the power :?

[2016-04-27 03:04] gerroon opened #1993 "New Android version?"
Hi

It would be nice if we get a recent Android build.

thanks

[2016-04-27 06:35] mwozny123 commented on #1990
This issue wasn't about kindle.

It was about pocketbook (and Kobo) where if you don't turn on power saving
(turn off device after certain amount of time, or each time turn it off
manually) in few days your battery will be empty, because the device will
be still running.

I don't remember how it is for Kobo but for Pocketbook there is also power
saving "sleep" option but if you use it without powe

[2016-04-27 08:22] zlo2107 commented on #1990
Maybe the best solution is to add the save reading progress action to Koreader's screensaver (blank page). On Pocketbook devices ther is posibility to set "auto shut off". For example when i set this option to 5 minutes and the screen saver will start after e.g 2 minutes, there will be no problem with storing reading progress.

[2016-04-27 08:31] houqp commented on #1990
My bad, I misread the bug report. @mwozny123 can you confirm a screen saver always kicks in before the shutdown? If so, we can implement @zlo2107 's proposal.

I actually have a half done patch somewhere in my old laptop that implements write ahead commit log for book settings so we can recover from any crash. But I feel like this case should be handled by clean setting flush since it's not really

[2016-04-27 15:48] Brnoch opened #1994 "Compatibility with StarDict 3.0.0 dictionaries?"
* KOReader version: v2015.11-371-g24a30cb
* Device: Kobo Glo HD

Cannot use stardict dictionnaries downloaded here: http://download.huzheng.org/babylon/french/ On the webpage, it says "Notice, only StarDict-3.0.0 and above version support these dictionaries."
Is Koreader compatible with them ? Or maybe these files don't respect the Stardict file format? Or maybe they're too big?

After unzipping t

[2016-04-27 19:26] gerroon opened #1995 "Status Bar state is not remembered"
* KOReader version:koreader-nightly-20160427
* Device:BOOX C67ML

#### Issue
I open a book. I enable the status bar. I read the book for a while. When I open the book next time the status bar is not there, I have to renabled it everytime I start reading.

#### Steps to reproduce
Read above

[2016-04-27 19:46] mwozny123 commented on #1990
I think saving when screen saver is activated is a great idea.

But one question does Pocketbook have a Koreader Screensaver?
It for sure got one but I thought it was Pocketbook system Screensaver.

In Koreader "advanced settings" I found Kobo_screen_saver="".
Does it also apply to pocketbook?
Anyway I didn't find Screensaver timeout property.

I've a 10 min to turn off timeout. When it was reache

[2016-04-28 03:00] pazos opened #1996 "[Enhancement] [Kobo] one-step installer"
Project: integrate a (minimal)launcher based on inotify (like fmon) and koreader in KoboRoot.tgz
Goals: provide an alternative for new users, or users that don't like to install a full blown launcher, like KSM.

launcher is coded in c, it just wait for IN_OPEN events on /mnt/onboard/koreader.png
when our target is opened a helper script is launched. The helper script finds a match for file:///mnt/

[2016-04-28 03:05] pazos commented on #1996
There are some typos in the code, but I hope the concept is clear :)

[2016-04-28 03:10] NiLuJe commented on #1996
Just for the record, since I've never used KSM nor fmon:

* PNG files dropped somewhere in onboard are parsed by Nickel and creates dedicated tiles?

* Can't remember if the FW ships w/ the sqlite3 client, but doing a proper SQL query (either via the CLI client, or merging everything in the C code end using libsqlite3 directly) seems "cleaner", as a goal ;).

[2016-04-28 03:25] pazos commented on #1996
I don't understand SQL at all, but the PNG seems to be referenced in some places:
`grep file:///mnt/onboard/koreader.png /mnt/onboard/.kobo/KoboReader.sqlite | wc -l`
= 17

`grep faulkner /mnt/onboard/.kobo/KoboReader.sqlite | wc -l`  <-- just one ebook
= 179

[2016-04-28 04:06] houqp commented on #1573
Thanks @jedick for fixing your own issue ;)

[2016-04-28 04:08] #1573 closed

[2016-04-28 04:10] houqp commented on #1994
Yup... Looks like we are still using 0.4.2...

[2016-04-28 04:32] NiLuJe commented on #1996
[code]

Returns 1 if found (i.e., in the Library), 0 otherwise.

[2016-04-28 04:33] NiLuJe commented on #1996
Note that, yep, my memory wasn't wrong, the Kobos do NOT ship w/ the sqlite3 client...

[code]

[2016-04-28 04:35] NiLuJe commented on #1996
And to answer my initial question, since I've now checked: yeah, PNGs create both a tile and an entry in the Library....

(... and are wrongly assigned the application/x-cbz mimetype, but, hey... :D).

[2016-04-28 04:36] NiLuJe commented on #1996
TL;DR: I'm all for it!

We have [http://trac.ak-team.com/trac/browser/niluje/Configs/trunk/Kindle/Kobo_Hacks/KoboStuff/src/etc/udev/rules.d/99-stuff.rules](non-intrusive) ways to launch daemons at boot, so, yeeep, I like it.

[2016-04-28 04:41] NiLuJe commented on #1996
And whether opened from a tile of the Library, the string of inotify events is the same:

[code]

[2016-04-28 04:44] NiLuJe commented on #1994
Note that I don't know if sdcv 0.5.whatever_beta fares much better on that front.

[2016-04-28 04:52] NiLuJe commented on #1996
The [SQLite API](https://sqlite.org/quickstart.html) looks dead simple and easy to use, so i'm all for doing everything in C and ditching the extra wrapper script :).

[2016-04-28 04:54] NiLuJe commented on #1996
Speaking from experience on Kindles, one question I'm left with is what happens to inotify watches when onboard gets unmounted to be exported over USBMS?

[2016-04-28 06:34] Frenzie commented on #1994
I just tried 0.5.0_beta4 from the Debian repo and those dics work.

[2016-04-28 07:09] houqp commented on #1990
I don't have a pocketbook device, but according to the comment in our sleep handling code, we should be able to detect the device entered screen saver mode. Either way, I think this is a low hanging fruit feature that we should implement.

[2016-04-28 07:39] houqp commented on #1996
We should probably reinitialize the watch every time it's mounted again...

[2016-04-28 10:25] Brnoch commented on #1994
That's a great news... Do you think you can implement this new version in Koreader?

[2016-04-28 11:12] Frenzie commented on #1994
The two have diverged slightly, but I'll take a preliminary look to see if a merge would be doable without really diving into the code.

[2016-04-28 11:13] Brnoch commented on #1994
Thanks Frenzie, I really appreciate!

[2016-04-28 12:03] Frenzie commented on #1994
Hm, I can't quite seem to figure out the correct workflow here.

I suppose one could do something like this and look at it all manually.

[code]

But it seems like some kind of cherry picking in one direction or the other might be more appropriate.

[2016-04-28 12:34] KenMaltby commented on #1996
If this, like fmon, is dependent upon Nickel's processing of the .png, to put it in the db and library, then it retains the obstacle most new users fall prey to.  If you have totally automated the process, so it functions without requiring user intervention, that would make the install more reliable.

[2016-04-28 13:05] NiLuJe commented on #1996
What obstacle would that be? (never used fmon, sorry for rehashing old
stuff ;))
On Apr 28, 2016 2:35 PM, "Ken Maltby" <notifications@github.com> wrote:

[2016-04-28 13:15] KenMaltby commented on #1996
Where users most often ran into problems, when using the install guides I posted at MR, was with getting the .png files properly processed for fmon's use.

[2016-04-28 13:19] NiLuJe commented on #1996
Guess we'll have to check if putting it in the KoboRoot tarball gets it
processed at boot?
On Apr 28, 2016 3:15 PM, "Ken Maltby" <notifications@github.com> wrote:

[2016-04-28 13:25] KenMaltby commented on #1996
Nickel's processing is triggered upon return from a USB connection. This makes the monitoring process a two step install process for the user.

[2016-04-28 14:21] NiLuJe commented on #1996
The idea behind the SQL query would be to avoid such cases. (Note to self: for the same reason, check IN_OPEN events and not IN_CLOSE, to avoid catching the eventual CLOSE of nickel's processing, at which point the DB *may* already be updated, but we certainly don't want to start anything).
I'll double-check, but I don't think we trip anything when removing the PNG from Nickel?

I thought about ad

[2016-04-28 14:25] NiLuJe commented on #1996
Deleting from the Library:

[code]

So I'm not quite sure how one could get "trapped", @KenMaltby, do you have real-world examples?

[2016-04-28 19:50] gerroon commented on #1941
Hi

Just letting you know that this is still an issue with  koreader-nightly-20160427, the numbers see, to reset with pdfs. I do not have an epub to test here atm.

thanks

[2016-04-28 19:50] #1993 closed

[2016-04-28 19:51] gerroon commented on #1978
Css wont do much for reflowed Pdfs, so it would be nice if we have adjustable settings.

[2016-04-28 20:34] mwozny123 commented on #1990
Would be great.
I'm just a little bit afraid, because system Screensaver(book cover) is
applied when system is going for shutdown.
It might be just a moment between changing to book cover a going for a
shutdown (while terminating all programs).
Will it still be ok?

If that would cause problem it could be also a good solution to apply
Koreader Screensaver (or only save reading progress) e.g. 1 min

[2016-04-28 21:49] pazos commented on #1996
Whoooaa! @NiLuJe , when do you sleep?

The loop that @KenMaltby refers is found if fmon is active before koreader.png is indexed. This is why I think about checking nickel db in first place.

@houqp : we don't need to reinitialize the watch. If file isn't found there isn't a way to open the file. The program will run even if /mnt/onboard/koreader.png doesn't exist

[2016-04-28 21:57] Brnoch commented on #1994
I wish I could help you, but I'm only a Windows developper...

[2016-04-28 22:28] houqp commented on #1994
We can't really cherry pick in this case since it's svn :( We just have to suck it up and apply the diff manually.

Alternatively, you can generate a diff in svn, then apply it to our git fork. This way is less painful I think.

[2016-04-28 22:29] houqp commented on #1994
@Brnoch you know KOReader runs on Windows too right? ;P

[2016-04-28 22:31] NiLuJe commented on #1996
@pazos: Not much tonight :D.

As for the issue with reinitializing watch, the watch automatically gets destroyed when the underlying FS is unmounted (which is what should happen when it gets exported over USBMS).

fmon doesn't have any code to deal with this, so I'm wondering if this ever was an issue, or if Kobo somehow handles the USBMS thing differently than what I expected?

[2016-04-28 22:46] Brnoch commented on #1994
@Qingping Hou : I forgot as I failed to install Windows on my Kobo ;P

2016-04-29 0:29 GMT+02:00 Qingping Hou <notifications@github.com>:

[2016-04-29 00:10] gerroon commented on #1955
The most recent version seems to be abit better but does not resolve the issue fully.

[2016-04-29 03:48] seacatwu commented on #1938
just waiting ：）

[2016-04-29 03:55] houqp commented on #1996
In this case, sounds like it should be a trivia fix? i.e. just wait until it's indexed in the db before performing a restart.

sqlite uses flock, so it's safe for multiple processes to write to it at the same time: https://www.sqlite.org/faq.html#q5. That said, I would still avoid doing it because I don't really trust sqlite ;P

[2016-04-29 07:50] houqp commented on #1941
@gerroon I am still not able to reproduce in emulator and my kobo. I wonder if it has anything to do with the book settings. Can you upload your book with its settings here for me to test?

[2016-04-29 08:24] houqp commented on #1990
Writing settings to disk should take less than 1 second in most cases. I am trying to avoid adding more setting to the reader, especially for things that will rely on another system setting. Manually keeping them in sync is not a good experience.

[2016-04-29 08:36] Frenzie commented on #1994
@houqp There is absolutely no problem cherry picking with the Git SVN bridge. ;) One problem I ran into is that the original import was a snapshot of all files rather than a conversion from SVN. (Bad @chrox =P) I'll probably take another look at it later to see if I can figure out something creative with rebase and branches but of course most if not all of our patches here should probably be appli

[2016-04-29 08:44] #1995 closed

[2016-04-29 14:44] gerroon commented on #1941
@houqp
I can try it later.

[2016-04-29 15:42] NiLuJe commented on #1996
@houqp: I'm more concerned about further USBMS events down the line...

I'll check if fmon implemented a workaround it the easy way (i.e., hook into something else relating to mounts and simply restart the fmon process when onboard is ready). (Which, incidentally, is how I went about it on legacy Kindles when using inotify-tools ;p).

Barring that, there are ways to wait for FS events, so, look in

[2016-04-29 17:00] NiLuJe commented on #1996
Okay, I have all the info I need... I'm going to take a stab at this.

Prepare to be amazed by how terrible I am at C :D.

[2016-04-29 20:16] NiLuJe commented on #1996
Okay, WIP in NiLuJe/kfmon ...

Should currently handle unmounts/remounts properly!
Going to tackle SQLite next :).

[2016-04-29 20:33] mwozny123 commented on #1990
Agree.
I would be happy to test that feature ;)

[2016-04-29 21:49] NiLuJe commented on #1996
And now with added SQL! :)

[2016-04-29 23:13] NiLuJe commented on #1996
And it's now a true little daemon :).

[2016-04-30 00:04] NiLuJe commented on #1996
Okay, did a testrun on a Kobo.

It basically works as intended and as well as it did on my local box when playing with a bunch of tmpfs ;p.

The only major issue left is what happens when opening koreader.png from inside KOReader... It's... not good.
Since we block on system(), nothing happens while KOReader is up... but as soon as you exit it, nickel restarts... but so does KOReader. And then you

[2016-04-30 00:05] NiLuJe commented on #1996
But first, it's sammich time!

[2016-04-30 02:49] NiLuJe commented on #1996
Ooookay, after battling execve() & friends, I think I have something that won't try to launch seventy KOReaders concurrently, and won't leave zombie processes either.

[2016-04-30 03:12] NiLuJe commented on #1996
Okay, this one appears to be a winner :).

Checking the KoboRoot now...

[2016-04-30 03:33] NiLuJe commented on #1996
Okay, because that would have been too easy, putting stuff in onboard from a KoboRoot doesn't process it...

[2016-04-30 03:37] KenMaltby commented on #1996
There is a way to simulate a USB connection and initiate the Nickel processing.

[2016-04-30 03:44] NiLuJe commented on #1996
Nah, the zip approach works ;).

It processes everything before rebooting to install the KoboRoot :).

[2016-04-30 03:54] NiLuJe commented on #1996
... And on that note, I can confirm that writing to the DB while nickel holds it has a high probability of trashing it xD.

I was testing a bit of code that updated the Title/Author/Comment of our icon in the Library, it went fine for 5 or 6 tries... And then I got the dreaded error thing plus forced signout.

So, am going to disable that bit of code for now ;o).

[2016-04-30 04:32] NiLuJe commented on #1996
And I just re-trashed it because I'm very stupid and re-tapped on koreader in a search result... :D.

[2016-04-30 04:53] NiLuJe commented on #1996
Hmmm. Now I'm thinking it's either nickel being sneaky, or the DB getting trashed because we're killing nickel slightly too savagely...

[2016-04-30 05:41] houqp commented on #1994
Interesting, I don't know that's supported :) It will definitely be nice if our patches can be contributed back to upstream.

[2016-04-30 05:50] mwozny123 commented on #1749
Wow around Month ago I had the same feeling, as author  on Pocketbook lux 3 (koreader nightly)
4-5days after suspend the battery was empty.
 this was a just bought new eReader, so I thought Pocketbook (is not as good as kindle in battery saving ) and it cannot be suspended(without power off) because it drains battery.
Since the I use battery saving  power off option:/

[2016-04-30 05:53] NiLuJe commented on #1996
Not any weird zombie checking, at the very least. And on the plus side, we now don't leave any hanging for any period of time, yay.

I'm thinking what went wrong (some) of these time is being triggered during the thumbnail creation. Should probably check the DB for a created thumbnail instead of only the book...

[2016-04-30 06:08] mwozny123 opened #1999 "Physical buttons (next, prev) don't work in dictionary window"
* KOReader version:
Nightly 2015-11-175-g..
* Device:
Pocketbook touch lux 3

#### Issue
When opening dictionary with definition that has multiple lines, that doesn't fit in the window and scrollbar is shown, physical device buttons doesn't work. They do nothing and I think they should scroll down the dictionary word definition

#### Steps to reproduce
(must have dictionary installed)
Select a wor

[2016-04-30 06:12] houqp commented on #1996
what do you mean by trashing the db? Did it got corrupted? When do we kill the nickel process?

BTW: awesome work on the kfmon daemon :)

[2016-04-30 06:19] mwozny123 commented on #1974
Isn't it related to this https://github.com/koreader/koreader/issues/1749 or rather the issue from first comment https://github.com/koreader/koreader/issues/1356?

[2016-04-30 06:23] Frenzie commented on #1994
Dunno how to contrib to sourceforge though :p
On Apr 30, 2016 7:41 AM, "Qingping Hou" <notifications@github.com> wrote:

Interesting, I don't know that's supported :) It will definitely be nice if
our patches can be contributed back to upstream.

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub
<https://github.com/koreader/koreader/issues/1994#issue

[2016-04-30 06:42] mwozny123 commented on #1955
Already reported https://github.com/koreader/koreader/issues/1949?

[2016-04-30 07:51] NiLuJe commented on #1996
Well, I initially assumed it was getting corrupted (I get the "Error" popup asking to sign out). But the fact that, in addition to that, nickel is booting downscaled in the top-left corner of the screen might be a hint hat there's some more weirdness involved in how we try to restart nickel...

We kill nickel in the beginning of koreader.sh when it's up.

So, besides trying to figure it out over U

[2016-04-30 07:56] NiLuJe commented on #1996
Okay, I really need to sleep. I *know* where the thumbnails are stored, I tinkered with that in Calibre last year...

I just have to remember where the crappy split path is stored...

[2016-04-30 14:25] KenMaltby commented on #1996
OT comment: Since this install provides a launching process that requires having Nickel running before the launch, of KOReader, can take place, I will not be using it.  I will stick with KSM as I can then launch KOReader without starting Nickel at all.  (AdvBoot, is also an option for those of us who would rather not have started Nickel to use KOReader.)  A "One Step Install" is a great advance fo

[2016-04-30 19:32] comradekingu opened #2000 "New logo, feedback"
- KOReader version: all
- Device: all
#### Issue

New logo
#### Steps to reproduce

![koreader](https://cloud.githubusercontent.com/assets/13802408/14938147/0f1cac02-0f1b-11e6-9649-0754af8f23c9.png)

[2016-04-30 20:17] KenMaltby commented on #2000
I guess the 2000 issue could be one where logo candidates are discussed.

Not sure this four color logo would be best, maybe some others will appear over time.

[2016-04-30 20:23] Frenzie commented on #2000
There could be a color as well as a manually optimized b&w. That being
said, I don't know if pixels (however fake) give the right idea. :)
On Apr 30, 2016 10:17 PM, "Ken Maltby" <notifications@github.com> wrote:

I guess the 2000 issue could be one where logo candidates are discussed.

Not sure this four color logo would be best, maybe some others will appear
over time.

—
You are receiving this b

[2016-04-30 20:53] gerroon commented on #1955
@mwozny123

This is differetn. This is about about not refreshing the eink page during startup. The book loads but it does not refresh the page. I can only get it refresh by clicking on any place on the screen

[2016-05-01 03:53] NiLuJe commented on #1996
Okay, I think I ironed things out...

Turns out it worked fine when I launched kfmon from an SSH shell (I think)...
After some more tweaks to the KOReader startup script to siphon the full environment from nickel, it appears to behave.

I added a bunch more safety checks in the meantime, so, there's that, too ;).

[2016-05-01 03:57] NiLuJe commented on #1996
And in any case, we do need to reboot, because even if restarting nickel now works, we're still left with the broken suspend behavior we've discussed and that I had completely forgotten ;D.

[2016-05-01 04:03] NiLuJe commented on #1996
Okay, so, if anyone wants to check it out...

Install package: [http://files.ak-team.com/niluje/kopub/KFMon.zip](Here!). Just unzip at the USB root :).

Note that it very, very, very much depends on #2001, so, update your KOReader startup script first!

And, of course, *BACKUP YOUR DATABASE & SETTINGS*! I'd go so far as backing up the full USB storage, but I'm pleased to say that I only have had t

[2016-05-01 04:08] NiLuJe commented on #1996
@houqp: If you could add a static SQLite build somewhere in third-party, I'd very much appreciate it! (I'm afraid of screwing things up w/ CMake...).

A few pointers:
  * configure w/ --enable-static --disable-shared --enable-threadsafe
  * Append -fno-ffast-math to CFLAGS

[2016-05-01 04:18] NiLuJe commented on #1996
And, in case of trouble, the logs are stored in ```/usr/local/kfmon/kfmon.log```, and should be verbose enough to help me pinpoint the issue ;).

[2016-05-01 04:38] NiLuJe commented on #1996
Also, it depends on FW >= 2.9.0 (and slightly possibly slightly more recent to avoid SQL issues, I'd have to roughly check the timeline).

[2016-05-01 07:03] houqp commented on #1996
Sure, but you mean adding it to kfmon right? Unless you don't want to make it into a generic launcher, then maybe we can include it into koreader.

[2016-05-01 07:20] houqp commented on #1955
I feel like this might be a pocket book specific issue. Anyone experiencing this in other devices? I am not able to reproduce this at all from my side.

[2016-05-01 07:31] houqp commented on #1974
@mwozny123 this is more likely to be a separate issue. I wonder if there is a memory leak somewhere. Anyone found a reliable way to reproduce it yet? I am trying hard on my kobo right now ;P

[2016-05-01 08:09] #1999 closed

[2016-05-01 12:57] NiLuJe commented on #1996
@houqp: I'd like to avoid reinventing the wheel and somehow vendor SQLite in KFMon directly, and right now it's pretty KOReader specific, yeah.
So yeah, I was thinking simply build SQLite as part of our third-party stuff, and then adapt the KFMon Makefile to point to it for linking? But if that feels wonky I can find another way ;).

[2016-05-01 15:48] NiLuJe commented on #1996
Updated the install package with the latest round of fixes ;).

[2016-05-01 15:52] mwozny123 commented on #1990
I'd changed the title to reflect topic arrangements.

[2016-05-01 18:47] KenMaltby commented on #1990
The title makes me think of the possibility of having the "Suspended" msg expanded to be "Suspended at Page xxx".  I assume that the saving on suspend would update the data used by the Book Status page, and that if it were displayed on suspend ...

[2016-05-01 19:56] gerroon commented on #1955
Mine is Boox Android 4.2.2

[2016-05-01 23:40] pazos commented on #1996
@NiLuJe What behaviour?. I use fmon and can switch between nickel and koreader without broken suspend. (6% of battery loss on 3 days in koreader)

[2016-05-01 23:55] NiLuJe commented on #1996
@pazos: If things go wrong at any point, in inherits our broken suspend behavior and doesn't seem to be able to fix it (i.e., crazy looping trying to deal with the /sys/power/* stuff).
Whether that actually affects battery life in Nickel, I couldn't tell you, but it's certainly not pretty to watch over strace ;).

[2016-05-02 00:47] pazos commented on #1996
@NiLuJe: when you talk about "broken suspend behaviour", do you mean that it isn't battery friendly? Did I miss some related issues?

i ran my kobo aura hd for two months without a reboot. Used nickel to read pocket articles and KOReader to read epubs & pdfs. I used both sleep functions (via a magnet cover) without troubles. Had no problems at all.

I did notice that long sleep times seems to have

[2016-05-02 00:52] NiLuJe commented on #1996
@pazos: I don't really know. Like I said, it's weird as hell and it's hard to actually tell what's happening and the impact it has. But something is certainly not going as planned, and that irks me ;p.

[2016-05-02 05:19] houqp commented on #1996
@NiLuJe there you go: https://github.com/koreader/koreader-base/pull/418.

[2016-05-02 05:20] houqp commented on #1996
@pazos what version of KOReader are you using? We might have broken the suspend feature in kobo recently...

[2016-05-02 07:13] mwozny123 commented on #1990
About the issue title: @KenMaltby I'm not sure what exactly you are taking about. I
s the Screensaver just a message "Suspended"?
Anyway could you change or (if you don't have permission)  write here a better title name?
I'll change it.

[2016-05-02 07:28] mwozny123 opened #2003 "Physical buttons(prev, next) don't work for "page crop""
- KOReader version: 2015.11-175
- Device:pocketbook touch lux
#### Issue

This is similar to the https://github.com/koreader/koreader/issues/1999
So maybe also just additional  "event listener"  is needed?

When using "page crop" set to "manual" or "semi-manual" can't change to next or previous page to see if current  selected crop area  is also valid for next /prev page.
(sometimes the odd and ev

[2016-05-02 07:46] houqp commented on #2003
Yep, you will have to manually flip to next page and do the corp action again for now. I will mark this as a feature request.

[2016-05-02 08:39] houqp commented on #1990
Hm... actually, we are already doing book settings flush right before suspend: https://github.com/koreader/koreader/blob/master/frontend/device/generic/device.lua#L124. If wonder if it's because no event was send during auto shutoff.

[2016-05-02 08:44] Frenzie commented on #1990
I was just going to reply with that exact same line, lol.

[2016-05-02 13:06] KenMaltby commented on #1990
Please don't feel that a change in the title is being called for as a result of my musings, I was just given an idea by an alternative interpretation of the wording of the title.

Do the saved "book settings" include the data on "book status" (to me they sound like two different things)?
If there is an updated variable for current page, it seems like it could be added to the "show" for the "InfoMe

[2016-05-04 00:16] GuyDeLaCombe opened #2005 "Cannot launch Koreader on kobo Touch 2.0"
* KOReader version: (1) koreader-nightly-20160427 and (2) koreader-stable-v2015.11
* Device: kobo touch 2.0

#### Issue

I tried the two methods listed [here](https://github.com/koreader/koreader/wiki/Installation-on-Kobo-devices)

With KSM 8 with version (1) and (2) (with factory reset in-between) :
The star menu launch correctly but when I select Koreader, it just selects the line and come back

[2016-05-04 00:23] houqp commented on #2005
Hi @GuyDeLaCombe ,

You should be able to find a file named crash.log in koreader folder in this case. Can you paste its content here?

[2016-05-04 14:22] GuyDeLaCombe commented on #2005
Hi @houqp

Yes, there is one in Koreader folder :

and no crash.log in the vlasovsoft folder.
Thanks.

[2016-05-04 15:38] NiLuJe commented on #2005
Huh. Yup, we completely forgot to support a 6 months-old device :D. Oops.

Do you happen to have shell access to it (this might make things easier in case the "just wing it" approach fails)?

[2016-05-04 16:02] NiLuJe commented on #2005
@GuyDeLaCombe: See if bdda4e5eef4134de1fa97d3e8448afcf5cbcdf24 helps?

The touch protocol might need some tweaks, though... I know we have some logging capabilities to test that, but I'm not familiar with those, so I'm sure someone else will chime in with some help if touch is wonky with this patch ;).

[2016-05-04 16:37] Frenzie commented on #2005
Pika, Pika! lol, finally the Pokeball icon makes sense.

@NiLuJe PR? =P

[2016-05-04 17:33] GuyDeLaCombe commented on #2005
Hi,

@NiLuJe I reedit the file (using TextEdit on mac) device.lua in .kobo/Koreader/frontend. And after reboot, when clicking on the koreader pic, it loads for 2 sec and come back to main menu of the usual kobo soft. The crash.log says:

By the way, there are others device.lua in .kobo/Koreader/frontend/device/kobo

@NiLuJe What do you mean by shell acess to the kobo ?

[2016-05-04 18:03] itspec-ru commented on #1953
Solution of this issue:
1. open koreader/frontend/document/credocument.lua in editor
2. seach string "registry:addProvider("tcr", "application/tcr", self)"
3. add next string "**registry:addProvider("zip", "application/zip", self)**"
4. save changes

I'm do this every time after upgrading to new release.

After this changes I can open any files packed in zip.
For example
test1.zip (test1.txt packe

[2016-05-04 20:53] NiLuJe commented on #2005
@GuyDeLaCombe: The crash is because I made a stupid mistake (there's an extra 'else' in there).

@Frenzie: Will do, as soon as we're sure it (mostly) works ;).

[2016-05-04 21:02] NiLuJe commented on #2005
@GuyDeLaCombe: 8205177db6bcebb75b1282ca36b164904c06edc0 should be saner, sorry about that ;).

[2016-05-04 23:01] GuyDeLaCombe commented on #2005
OK, still the same, the crash.log says:

[2016-05-05 03:41] houqp commented on #1953
@itspec-ru your patch will break the current behavior because it will override the zip registry added my mupdf engine, which is used to read zipped XPS documents. A proper fix requires detecting document type inside the zip file ahead of time and dispatch it to either mupdf or crengine accordingly.

[2016-05-05 03:57] houqp commented on #2005
This doesn't make much sense to me :( Screen should never be nil. Can you add a print statement after this line? https://github.com/koreader/koreader/blob/master/frontend/device/kobo/device.lua#L84. Add something like `print('!! Device.screen', self.screen)`

[2016-05-05 03:57] NiLuJe commented on #2005
Ah, right, forgot the bits in koreader-base

[2016-05-05 03:58] NiLuJe commented on #2005
@houqp : The waveform selection code in ffi/framebuffer_mxcfb.lua ;)

[2016-05-05 03:59] NiLuJe commented on #2005
... Which is fact doesn't support the Glo HD either, nice :D.

[2016-05-05 04:01] NiLuJe commented on #2005
... Wait, there are defaults value, that shouldn't completely fail.

[2016-05-05 13:24] KenMaltby opened #2006 "History and Open with last file not working"
* KOReader version: 379>
* Device:Kobo AuraHD

#### Issue
Preference for SDR may have lost us the ability to start back on the page we were reading from.
#### Steps to reproduce
Suspend (in the hope of the data being saved, with new code), unsuspend.
Return to File Manager (again to try and insure that the position is recorded). Exit KOReader.
Reboot, when KOReader starts it opens in the File Mana

[2016-05-05 15:09] pavlukivan opened #2007 "Suggestion"
Suggestion: tap on image to switch to next image in this folder. (For reading manga)

[2016-05-05 15:12] Frenzie commented on #2007
If you zip 'em and change the extension to cbz that should probably already
work?
On May 5, 2016 5:09 PM, "Ivan Pavluk" <notifications@github.com> wrote:

[2016-05-05 16:14] pavlukivan commented on #2007
Yes, it works. I'll close the issue, but anyway it will be useful addition.

[2016-05-05 16:14] #2007 closed

[2016-05-05 20:18] mwozny123 commented on #1990
I think the best solution would be if all of user "changes" in book were stored (so of course reading progress, created bookmarks, highlighted text etc).

So after "battery-saving" power off - it can be restored exactly as it was before.

If it's too complex for one task maybe let's focus here at least on saving reading progress (last read page) and I'll create a new task for other bookmarks, high

[2016-05-06 10:02] Frenzie commented on #1580
Slightly besides the point, but I figured I'd share that there's a free Wallabag instance over at https://framabag.org/ for people who can't or don't want to bother with self-hosting.

But the actual reason I'm posting: Wallabag is thinking about implementing OPDS: https://github.com/wallabag/wallabag/issues/1253

[2016-05-06 10:48] Frenzie commented on #1994
I'm closing this now since I fixed it, but unfortunately it won't show automatically show up in a nightly build until something changes on the main koreader repo.

[2016-05-06 15:34] gerroon opened #2009 "FR: Controlling backlight on Android"
Hi

It would be super nice if we could control the backlight on Android builds like we can do on Kobo. It is a bit of hassle to constantly back and forth between the devce and Koreader to set the right light. Also this is an issue when one in night mode light settings vs day light too which makes it less like a book reading exprience.

thanks

[2016-05-06 16:39] Frenzie commented on #1381
Huh, I created this quick test document based on your info and it crashes my dev instance.

[code]

[2016-05-06 23:18] mergen3107 opened #2010 "Cover image is black (fb2)"
* KOReader version: koreader-kindle-arm-linux-gnueabi-v2015.11-371-g24a30cb
* Device: Kindle Touch

#### Issue
A cover images is solid black.

#### Steps to reproduce
The book format is .fb2.zip.
http://flibusta.is/b/313434

[2016-05-07 07:30] Frenzie commented on #1953
https://github.com/luaforge/luazip?
On May 5, 2016 5:41 AM, "Qingping Hou" <notifications@github.com> wrote:

[2016-05-07 14:20] KenMaltby commented on #2006
The loss of these features is really annoying, I had not realized how much I was depending on them. The open in last file, on the page I was reading last, especially.  The History entry may be opening on the last page saved under the old history process.

[2016-05-08 00:37] AlanSP1 commented on #2006
Yes, this is vital for reading any kind of book. Hope it will be solved soon.

[2016-05-08 01:20] houqp commented on #2006
Yes, I will take a look at it later tonight hopefully. I have been moving this week so was not able to get any work done :(

[2016-05-08 06:24] Frenzie commented on #2006
Welcome to the new place!
On May 8, 2016 3:20 AM, "Qingping Hou" <notifications@github.com> wrote:

[2016-05-08 06:41] houqp commented on #2006
OK, my room is still a huge mess right now and it's bed time already so definitely not today. Let's push it to tomorrow :P

[2016-05-08 08:37] mergen3107 opened #2011 "Kindle Touch - Password BYPASS"
* KOReader version: koreader-kindle-arm-linux-gnueabi-v2015.11-371-g24a30cb
* Device: Kindle Touch

#### Issue
KOreader bypasses Kindle Touch's password.

#### Steps to reproduce
Open a book in KOreader. Lock Kindle Touch (a password previously set).
Try to unlock - Kindle will unlock without asking the password.
This also applies to USB connection - normally, Kindle asks to enter the password in

[2016-05-08 08:41] mergen3107 opened #2012 "File manager - Folder name on top"
* KOReader version: koreader-kindle-arm-linux-gnueabi-v2015.11-371-g24a30cb
* Device: all devices

#### Suggestion
It would be great if current folder's name is shown on top of the File Manager screen.

#### Steps to reproduce
First, I open a book from Kindle's Home menu in KOreader (thanks to KPV Booklet and Collections manager that makes collections out of folders!)
Then, I open file manager - i

[2016-05-08 08:46] mergen3107 opened #2013 "Wrap names and font size in File Manager"
- KOReader version: koreader-kindle-arm-linux-gnueabi-v2015.11-371-g24a30cb
- Device: all devices
#### Suggestion

A great idea is to allow filenames to wrap so that we can see the full name.
Also, font size could made smaller in order to allow more names to fit in a single screen.
#### Steps to reproduce

Currently I use Rename dialog to see the full name of a file. However, it would much more co

[2016-05-08 09:04] Frenzie commented on #2006
So I was looking at this and I noticed something odd.

I tested with this EPUB
http://www.gutenberg.org/ebooks/17489

Go to page 2 → opens on page 1
Go to page 12 → opens on page 1
Go to page 13 → opens on page 13
Go to page 19 → opens on page 1

The problem seems to be in the `last_xpointer`.

For page 12:
[code]

For page 13:
[code]

So for all I know the problem might be in crengine. For instan

[2016-05-08 09:12] Frenzie commented on #2006
@KenMaltby Can you confirm my suspicion that this problem shouldn't occur on anything handled by MuPDF (e.g. PDF, DjVu)?

[2016-05-08 12:17] KenMaltby commented on #2006
It is looking the same with "first aid fm4_25x11.pdf"  -  "Start with last opened file" still opens on the File Manager page that lists the file, instead of in the book, on the page I was reading, as was the old way.  From History, it opens to the page it was originally on when I last looked at it a month ago, where it opened at the beginning of this test, not the much later page I was on for the

[2016-05-08 12:31] KenMaltby commented on #2013
I make the following adjustments
For me, with my Kobo AuraHD, it is in .adds\koreader\frontend\ui\widget\menu.lua
 The "cfont", at line 122 and 325, using Notepad++
 I changed mine to 18. It looks fine but The Aura HD, has a higher res than some, which means that the fine print is clear and readable. The text is smaller, so more of the titles are visible.

To adjust number of lines per page, chang

[2016-05-08 12:45] Frenzie commented on #2006
I haven't been able to reproduce this with PDF. Is that document available online?

[2016-05-08 12:55] KenMaltby commented on #2006
Not sure this is where I got it but it is here: https://archive.org/details/FM4-25x11.  I might have used the OPDS catalog.

[2016-05-08 13:05] KenMaltby commented on #2006
I just had a thought, I have KSM set with the option: "deleteSDRsOnboard=true".  I will retest with it false.

[2016-05-08 13:07] Frenzie commented on #2006
Yeah, I can't seem to reproduce that within the first 20 pages or so (as well as some random going to chapters and browsing) with scrollmode both on and off. It simply reloads where I left off.

That doesn't occur anywhere in the current source according to a quick search, so it shouldn't affect anything either.

[2016-05-08 13:41] KenMaltby commented on #2006
Wierdness,  with the KSM option false the History function works sometimes, but not always.  The Open in last file only works if I don't reboot in KSM, or PowerOff and On.  Otherwise; it opens in the File Manager.

[2016-05-08 14:01] KenMaltby commented on #2006
@Frenzie  Could you relook at your fix for #1986

[2016-05-08 14:45] mergen3107 commented on #2013
Great news! Thank you!
Previously I tweaked all my margins and other default settings by copying defaults.lua to defaults.persistent.lua. Tried to find something for UI tweaks in many lua files also available in koreader folders, however the abovementioned tweaks aren't quite obvious :D
Thank you! At least with changed font size and number of items it would be more convenient even without wrapping

[2016-05-08 14:45] mergen3107 commented on #2013
Let me leave the question about list names wrapping still open in the same thread.

[2016-05-08 15:04] KenMaltby commented on #2013
Sure, it still would be useful.

[2016-05-08 22:00] itspec-ru commented on #2010
I am already described this bug
https://github.com/koreader/koreader/issues/1438

[2016-05-08 22:10] mergen3107 commented on #2010
OK, thank you!
Let's wait together :)

[2016-05-08 23:08] mergen3107 opened #2014 "Kindle Touch - NATIVE keyboard support"
* KOReader version: ALL
* Device: ALL Kindles

#### Issue
It would **SUPER helpful** to have an option to use **NATIVE** keyboard on Kindles.

#### Steps to reproduce
Recently I have [added](http://www.the-ebook.org/forum/viewtopic.php?p=1284430#1284430) Kazakh keys for my Kindle Touch. I very-very much would like to use it in KOreader as well - for full text search, books renaming and (future) no

[2016-05-09 01:58] NiLuJe commented on #2011
By design. We can't interact with the native password prompt, so it only gets in our way.

[2016-05-09 01:58] #2011 closed

[2016-05-09 06:17] Frenzie commented on #2010
Note to others who didn't know: fb2 is simply an XML file, and images are BASE64 encoded.

Closing in favor of #1438

[2016-05-09 06:17] #2010 closed

[2016-05-09 06:47] Frenzie commented on #2006
It's @chrox' but I will if I find some time. ;)
On May 8, 2016 4:01 PM, "Ken Maltby" <notifications@github.com> wrote:

[2016-05-09 07:32] houqp commented on #2006
Not able to reproduce on my side. @KenMaltby what is SDR? Are saying everything works fine (including open last file and progress restore) if the device is not rebooted?

[2016-05-09 07:36] houqp opened #2015 "Cannot restore progress some of the pages in crengine"
Reported by @Frenzie at https://github.com/koreader/koreader/issues/2006.

[2016-05-09 07:36] houqp commented on #2015
Multiple pages are reporting its xpointer as "/body/DocFragment[1]/body.0"

[2016-05-09 07:37] houqp commented on #2006
The issue mentioned by @Frenzie seems to be a separate bug. I have created a new ticket for it.

[2016-05-09 07:44] houqp commented on #2014
This is not going to be an easy task because amazon does not open up the native system to 3rd party developers. It will be easier to just add the native keyboard into KOReader's virtualkeyboard module directly.

[2016-05-09 07:46] houqp commented on #2013
@chrox is working on the new KOReader home which will solve this issue :)

[2016-05-09 07:53] houqp commented on #1953
Since we already have zlib compiled in, I wonder if we can just use zlib through luajit ffi.