[2016-12-10 16:00] AlanSP1 commented on #2415
You can change your mind, for whatever reason. Also, you may went in file manager by mistake (wrong tap, something like that).

In MS Windows each window has close option.

Just thinking aloud...

[2016-12-11 00:25] houqp commented on #2415
why not just put another menu entry`open last opened file`  into the default menu tab? It's also just two taps away and it does not clutter the menu tabs.

[2016-12-11 00:30] houqp commented on #2127
Thanks for confirming :)

[2016-12-11 00:30] #2127 closed

[2016-12-11 01:27] houqp commented on #2413
How do you logically decide whether to split the dashed word or not? For example, you won't want to to split `open-source` right? I think the solution to this is not as easy as always split word lookup by dashes.

[2016-12-11 03:10] houqp commented on #2397
New doc will be ready once https://github.com/koreader/koreader/pull/2416 is merged. Let me know if you need more clarification on how the system works.

[2016-12-11 05:49] nathanmp commented on #2345
I think that [owlbot](https://owlbot.info/api/v1/dictionary/test) might be a good search engine to add. I doubt it'd be too terribly challenging - I might be able to do it.

[2016-12-11 07:27] poire-z commented on #2413
For these rare cases, there's always the solution, once the lookup is done (and failed), to hold the word on the dict window : this will popup a widget where you can edit it, remove the wrong word, and launched a new lookup with that.

About splitting on dashes, may be there are some rules for epub editors on using different kind of dashes for these different situations. And even if there are, we'

[2016-12-11 08:01] Frenzie commented on #2413
@houqp Open-source is a hyphen, not a dash—this is an em-dash–and this is an en-dash.

Hyphens incorrectly used as dashes you don't know (unless they're doubled or tripled--like so), but at least for Western European languages you can and should split on em-dashes and en-dashes.

[2016-12-11 08:28] Frenzie commented on #2415
@houqp That's basically what I had in mind when with "quickly switching between a couple of documents from the reader", which would pretty much have the side effect of adding that to the file manager pokeball menu anyway. ;)

[2016-12-11 08:39] houqp commented on #2413
Interesting, I don't even know how to type em-dash and en-dash with my keyboard ;P

Like @poire-z said, it's a bug in crengine. I like the idea of making lookup word editable too.

[2016-12-11 09:24] Frenzie commented on #2413
The `--` and `---` I referred to are the traditional (pre-Unicode) LaTeX ways (Ligatures = TeX). You could also use `\textendash` and `\textendash`. I prefer to just type the character. =P

If you use the compose key ([I recommend Caps Lock](http://fransdejonge.com/2013/02/compose-key-on-xfce/#comment-44743)) then it's <kbd>Compose</kbd>, <kbd>-</kbd>, <kbd>-</kbd>, <kbd>-</kbd> for em-dash and <k

[2016-12-11 09:30] poire-z commented on #2413
It's already there :) https://github.com/koreader/koreader/commit/d34a7fb355e73814669a6c373664c31bc178c449#diff-d62cc01ac3a92ec2624c563aa3e16596R108

[2016-12-11 20:27] houqp commented on #2415
Yeah, adding it to pokeball tab sounds better :)

[2016-12-11 23:07] houqp commented on #2410
This is a bug in the double tap detection code (gesturedetector.lua). I suspect it's problem of finding the right value for `DOUBLE_TAP_INTERVAL`. If it's too high, wait time for single tap detection will increase, if it's too low, it would be too hard for user to perform a double tap.

Problem with changing tap zone is it will still run into issue if most of the menu tap zone also happened to be

[2016-12-12 08:35] houqp commented on #2397
@apletnev please check out http://koreader.rocks/doc/topics/Events.md.html

[2016-12-12 08:35] #2397 closed

[2016-12-12 09:28] houqp commented on #2266
The light toggle tap zone issue should have been fixed in the latest build.

[2016-12-12 09:28] #2266 closed

[2016-12-12 11:43] oldhasbeen commented on #2239
@houqp
true sleep got corrupted again. Version is 742. Nothing done but normal reading. EPUB book is clean without conflicts or errors.
True sleep corruption starts around line 25211 until 27699 where I quit koreader. Restart restored the true sleep function.
[crash.zip](https://github.com/koreader/koreader/files/645807/crash.zip)

[2016-12-12 12:12] apletnev commented on #2397
@houqp thank you very much.

[2016-12-12 17:02] apletnev commented on #2397
@houqp I've read your documentation. And I have additional questions.

For example, if I show a new widget on the screen, I have to register touch zones for it like this:
[code]
Set screen_zone method and handle my events. But if I do not want to handle my events, want to pass them to bottom layers as is. Is it possible?

![screen shot 2016-12-12 at 18 48 39](https://cloud.githubusercontent.com/as

[2016-12-13 07:31] houqp commented on #2397
`self.ui:registerTouchZones` is not required.

If your widget is only for visualization and does not want to handle any input, then you don't have to make it inherits from inputcontainer widget.

I think the issue here is if you show a widget with `UIManager:show`, the new widget will be put into top of the widget stack. And right now, events are only sent to the top widget [[1]](https://github.co

[2016-12-13 07:32] gorlan opened #2418 "Kobo Aura 2nd edition not recognised"
* KOReader version:   koreader-nightly-20161120
* Device:    kobo aura 2nd edition

my kobo aura 2nd edition is not recognized by koreader. I modified in file "/koreader/frontend/device/kobo/device.lua" the existing entries for kobo aura (lines 89-97 and 344-5):

  -- Kobo Aura:
       local Kobo**Star** = Kobo:new{
       model = "Kobo_**Star**",
       hasFrontlight = yes,
       **touch_alyssum

[2016-12-13 07:58] Frenzie commented on #2418
Sounds good, except you'd need to add rather than modify. Could you send a pull request or would you rather I do it?

[2016-12-13 08:03] houqp commented on #2418
Nice, if you are not a programmer, then it really speaks something about how much flexibility Lua brings to the table :) I am impressed.

[2016-12-13 08:07] houqp commented on #2239
Interesting, looks like it's not a bug in the scheduler. The task was scheduled properly:

[code]

Compared to a successful suspend:

[code]

Looks like there is an error from the suspend script instead.

[2016-12-13 08:23] houqp commented on #2239
I made a custom patched device.lua ([device.txt](https://github.com/koreader/koreader/files/648279/device.txt)) for kobo. Could you give it a try? Just rename it to `device.lua` and replace `frontend/device/kobo/device.lua`.

You should be able to see output like `Read Outfile: ` in the crash.log if this patch is working properly.

[2016-12-13 08:27] houqp commented on #2237
I am not able to reproduce this issue. Are you using reflow mode?

[2016-12-13 08:57] apletnev commented on #2397
I want to create a simple plugin based on this idea https://youtu.be/jeOHqI9SqOI I've created it and you are right, i've showed it by UIManager:show like other plugins.

[2016-12-13 10:58] gorlan commented on #2418
I'm not able to write it in the correct way, especially following programmer's and project's rules, so I leave it to experts. As I said I don't know if there are other parameters to correct (viewport,...) and maybe if there's someone else with an Aura 2nd edition and better knowledge then mine could help.
I thank you again for your great job in developing Koreader.

[2016-12-13 11:28] oldhasbeen commented on #2239
@houqp
Ok done. Have triggered suspend three times in a row and "read outfile" is there. True sleep is currently working. See the short new crash log. Let's see if it corrupts again. I will report back.
[crash.zip](https://github.com/koreader/koreader/files/648762/crash.zip)

[2016-12-13 22:39] #2418 closed

[2016-12-14 02:54] ianchen06 commented on #2387
My account has no two-step-verification, but I still cannot login. I get "unexpected response status on allowing access" Error as well.

[2016-12-14 09:32] l126t commented on #2237
yes，I use reflow.http://pan.baidu.com/share/link?shareid=2456571445&uk=1577289894 this is a sample file

[2016-12-14 09:41] l126t commented on #2237
if you get that file ，acknowledge my email please

[2016-12-14 14:17] retrue commented on #2410
I always use double tap because if offers me the option to go to the next/previous chapter, and I have never perceived single taps as slow.
So, in my case, adding a double tap to trigger the menu solves the problem without negative consequences. I would really like that it was implemented.
Another gesture that I would like to see implemented in KOReader is the option to advance or go back 10 pages

[2016-12-14 19:25] houqp commented on #2397
Ha, I see, this is a cool idea :) So to keep all the input events to the readerui, you need to keep it at the top of the widget stack. The way we add visualization to readerui currently is through the [readerview component](https://github.com/koreader/koreader/blob/master/frontend/apps/reader/modules/readerview.lua#L114).

You can start experiment with that as a builtin widget for now. The plugin

[2016-12-14 21:42] GeneralFailer opened #2422 "Incorrect ASCII art display in text files"
* KOReader version: koreader-nightly-20161120
* Device: Kindle Touch

#### Issue
ASCII art in [this file](https://github.com/koreader/koreader/files/652897/ASCII.bug.txt) is displayed completely broken, I think the app even detects a page break in it somehow. It seems to look fine in a HTML file.

[2016-12-15 08:00] houqp commented on #2237
Yes, I have your file. For now this bug only happens in reflow mode, so you need to disable the reflow mode for this book.

[2016-12-15 08:04] houqp commented on #2410
This can be easily implemented as a plugin

[2016-12-15 09:49] l126t commented on #2237
well，the bug dont exist in 20151111 stable version，so I think you can compare them，I need big type using reflow modle

[2016-12-15 19:53] Yaretzki opened #2425 "Light control mod and swipe up/down"
I'm using this great light control mod prepared by ycrichard on my kobo glo HD since it is native in koreader builds (adjusting light level by swiping along left edge).
After last update I found that swiping up change light setting as usual but also I go to next page. When I swipe down, light control works great but at the same time I go to previous page. That never happened before and adjusting l

[2016-12-15 20:52] AlanSP1 commented on #2425
@houqp  maybe there's problem with this PR: https://github.com/koreader/koreader/commit/0c49b915de69b259a7f40eb04affd8e3a12e3eb7

[2016-12-15 21:23] gorlan commented on #2418
Hi guys,
after some more testing I've found that highlighting doesn't work properly with settings I've suggested.

       touch_alyssum_protocol = true

Instead using same touch settings as kobo aura one

        touch_probe_ev_epoch_time = true,
	touch_phoenix_protocol = true,

highlighting works correctly. Maybe it's because Aura 2nd edition and Aura One should share some firmware family (Mark6)

[2016-12-15 21:38] habeck commented on #1761
Thanks!!! :)))

2016-12-08 14:29 GMT+01:00 Robert <notifications@github.com>:

--
Pozdrawiam,
*Habeck*
/Każda rzecz ma dwie strony. Fanatycy widzą tylko jedną/
- Schutzbach

[2016-12-16 11:41] retrue opened #2428 "Feature Request: Ask for connection when clicking on TimeSync while offline."
* KOReader version: Any
* Device: Kobo Mini

#### Issue
EDITED (January 15th, 2017):
Launching the "Synchronize time" plugin while offline shows the message: "Failed to retrieve time". The plugin menu entry should appear grayed when the device is offline or it should ask for connection like when a OTA update is requested.
Edited the issue to show that the Wikipedia part has been already solved in

[2016-12-16 12:34] seacatwu commented on #2425
kobo aura h2o also have this bug

[2016-12-16 12:57] Eduardomb22 opened #2429 "FR: Bookmark browsing mode in EPUBs"
* KOReader version: v2015.11-762
* Device: Kindle PPW3

Does the Bookmark browsing mode works with pubs? I can get it working with pdfs files, but it isn´t working with epub.

[2016-12-16 19:36] baskerville opened #2431 "Allow transitioning from *sleep* to *power off*"
Some users might put the device to sleep by mistake and then try to power it off directly.

This will currently fail.

[2016-12-16 19:47] baskerville opened #2432 "Tap zones regression"
I use the following tap zone definitions in `defaults.lua`:
[code]
And after having upgraded from c71b176 to a8dd8c6, I can no longer toggle the mini bar.

[2016-12-16 20:03] Frenzie commented on #2432
All commits in between (no time to look at it but this should help): https://github.com/koreader/koreader/compare/c71b176...a8dd8c6

[2016-12-17 03:05] NickSavage opened #2433 "Fails to download book from OPDS with colon in filename"
* KOReader version: 2015.11-696
* Device: Kindle Paperwhite 3

#### Issue

I have a calibre server set up on the local network that I want to pull books from into koreader. This is functional for all books except books with colons in the filename, where koreader throws the error: "Could not save file to [local directory]"

[2016-12-17 04:04] houqp commented on #2432
I will take a look

[2016-12-17 08:57] Frenzie commented on #2433
The problem is that `:` isn't allowed as part of a filename in Windows, or in this case presumably on Windows file systems like FAT32. One possible solution would be to automatically remove `\/:*?"<>|` (the problematic Windows characters; only `/` is problematic on Linux).

So, just thinking aloud, in pseudo or at least completely untested code, something like:

[code]

[2016-12-17 09:46] houqp commented on #2425
Is this also happening to PDFs?

[2016-12-17 12:49] retrue opened #2434 "Crash when long pressing in wikipedia/dictionary windows"
* KOReader version: v2015.11-762
* Device: Kobo Mini

#### Issue
Long pressing one of the menus inside of the dictionary window crashes KOReader. It can be any of them: <<, Highlight, >>, Wikipedia or Search.
I discovered it by chance this morning, when pressing a little longer by mistake when trying to trigger the wikipedia.
I include two crash.log files. One with debug activated and another one

[2016-12-17 20:01] asampal commented on #2432
I'm seeing the problem as well.

[2016-12-17 20:14] asampal commented on #2379
@houqp is this still a problem. I just tried launching nickel from KSM on my KA1, with wifi on and the device didn't freeze. I was presented with an option to turn off wifi as nickel was launched, but I chose to keep it on.

[2016-12-17 21:35] #2434 closed

[2016-12-17 23:09] houqp commented on #2432
Can anyone confirm that this is also happening to PDFs?

[2016-12-18 05:56] houqp commented on #2379
@asampal KSM has its own prompt for disabling wifi before starting nickel now? Right now, KSM will show a warning to you if KOReader exits without disabling wifi.

[2016-12-18 07:24] houqp commented on #2429
Yes, it should work with epubs. Are you getting an empty bookmark menu?

[2016-12-18 07:27] houqp commented on #2422
CREngine tries to be smart and detect document structure within a txt file using heuristics. So it definitely will not play nice with ascii arts. In HTML mode, it just use HTML tags for document structure, so it will not try to interpret ascii art.

[2016-12-18 07:29] houqp commented on #2432
@baskerville can you give the latest master a try?

[2016-12-18 12:00] GeneralFailer commented on #2422
OK then, I guess.

[2016-12-18 12:00] #2422 closed

[2016-12-18 13:34] baskerville commented on #2432
I've tried and I'm still experiencing the same issue.

[2016-12-18 14:33] Frenzie commented on #2422
Iirc you might be able to disable this behavior in `data/cr3.ini`, although atm I can't find what settings there are or anything.

[2016-12-18 19:42] houqp commented on #2422
If there is such a setting, I prefer we turn it off by default, most of the time the heuristic is wrong anyway...

[2016-12-18 19:44] houqp commented on #2432
Weird, I cannot reproduce this on emulator and kobo at all. @baskerville @asampal , this is also happening to PDFs right? Does it happen with the default tap zone setting too?

[2016-12-18 19:54] Eduardomb22 commented on #2429
I mean the bookmark browing mode. I can get into this mode by long press the right corner of the screen. It is working fine with pdf but I can´t get it working with epubs
The bookmark menu is fine with epub and pdfs, but this mode isn´t working
Did I made myself clear?

[2016-12-18 20:05] baskerville commented on #2432
It works if I use the default tap zone settings…

[2016-12-18 20:18] baskerville commented on #2432
The problem comes from the fact that, in my settings, `DTAP_ZONE_MENU` and `DTAP_ZONE_MINIBAR` overlap and the menu takes precedence (previously it wasn't the case).

I can *fix* it by making the two zones non-overlapping.

[2016-12-18 20:38] houqp commented on #2432
Good catch, i only copied your DTAP_ZONE_MINIBAR setting. For now, it's easier for you to update your local defaults. The order between menu and minibar tap zone is kind of arbitrary. I will submit a patch to change it to the old behavior.

[2016-12-18 21:25] Frenzie commented on #2422
Ah, I was kept from working on #1607 and forgot all about it later (plus I wasn't entirely sure it should be in the GUI), but that's what I'm talking about.

[2016-12-18 21:53] houqp commented on #2422
Nice, so all we have to do is setting `crengine.file.txt.preformatted` to false?

[2016-12-19 00:25] asampal commented on #2379
@houqp is the first part of your comment meant to be a question? Also, do you know if it's still a problem when launching nickel with wifi on? That was my question.

[2016-12-19 00:33] gerroon opened #2437 "Android keys are different on updates?"
Hi

It looks like the Android apk keys are changing everytime there is an update on http://build.koreader.rocks/download/nightly/. I have to uninstall the installed version and reinstall the new version. This can only only happen if the apks are generated with different keys or the integrity of the apks have changed.

This is a bit of hassle for me because I have to uninstall and reinstall but the

[2016-12-19 01:14] houqp commented on #2379
First part of my comment is a question. I am not familiar with the nickel system actually since I have never used it myself. This is a better question for KSM author. I suggest you ask him on mobileread forum.

[2016-12-19 01:17] houqp commented on #2437
Weird, all of the new nightly builds should be signed with the same key. Only previous nightly builds (the ones uploaded on github) are signed with a different debug key. What version of android is running on Cm67.

[2016-12-19 03:45] oldhasbeen commented on #2239
@houqp
has corrupted again. Around line 6008 all looks good. 6017 is strange for me. that would have been at 3 am where I slept and the device was untouched.  same  with around 6087. But it still is not corrupted.
9936 shows still true sleep. 13280 is still good. 13804 looks  good but I cannot make sense of the time stamp. Is again around 3 am where I slept and the reader was untouched. 13805 show

[2016-12-19 04:03] gerroon commented on #2437
@houqp
Unfortunately that is not the case. I stopped using the github releases, I only use the rocks server. If you are hundred percent sure that the keys are the same then there are 2 options

- Something else changes the apk signatures

- Someone messes with the server uploads and uploads meddled binaries.

[2016-12-19 06:48] richo67 commented on #1095
I wonder, is it still the case that keyboard layout is blocking factor for having note taking and highlight feature in koreader?

[2016-12-19 07:45] Frenzie commented on #2422
False is the default. Sorry, I should've linked to https://github.com/koreader/koreader/issues/1607#issuecomment-135968260 but I was on my phone. It's not perfect either way but it disables most of the cleverness.

[2016-12-19 07:45] #2432 closed

[2016-12-19 09:00] robert00s commented on #1147
@houqp
I think we can close that task.

[2016-12-19 09:09] robert00s commented on #2013
Full filename is added in #2414.
@houqp Please close this issue.

[2016-12-19 09:48] retrue opened #2439 "FR Configurable option to bold / unbold books with sdr in file manager"
* KOReader version: Last nightly builds
* Device: Kobo Mini

#### Issue
One the last changes in the code marks in bold in the file manager all the new books or images that have not been open. That is good and I like it. Little problem here is that almost all my books are in bold, so right now I wouldn't be able to identify newer books just because of the bold, because almost everything is in bold.

[2016-12-19 15:50] KenMaltby commented on #2013
While I have no objection, to closing this item, there is quite some difference between the results of #2414 and what we discussed here.  In fact the approach in #2414 isn't much different from the OP's "Currently I use Rename dialog to see the full name of a file."

[2016-12-20 07:17] #1147 closed

[2016-12-20 07:42] retrue opened #2440 "Crash when selecting Book information on images."
* KOReader version: Last nightly versions
* Device: Kobo Mini

#### Issue
KOReader crashes when quering for Book information on an image.

#### Steps to reproduce
Select an image on the file manager (I have tried with png and jpg). Long press on the image file. In the menu that appears, taps on Book information.

#### Attached files.
[crash.log.txt](https://github.com/koreader/koreader/files/66306

[2016-12-20 08:29] asampal opened #2441 "Can't set download directory for book from OPDS catalog"
* KOReader version: g1a83eb5
* Device: Kobo Aura One FW 4.2.8110

#### Issue
Can't set the download directory for a book to be downloaded from local Calibre OPDS catalog

#### Steps to reproduce
- Start content server on Calibre 2.74
- In KOReader's File Manager, with wifi on, choose OPDS Catalog/Local calibre catalog
- Browse catalog "By Title" and choose a book
- See prompt for setting download

[2016-12-20 08:35] asampal opened #2442 "Can't find books with "Find a book in calibre catalog""
* KOReader version: g1a83eb5
* Device: Kobo Aura One FW 4.2.8110

#### Issue
Can't find a book in Calibre OPDS catalog

#### Steps to reproduce
- Start content server on Calibre 2.74
- In KOReader's File Manager, with wifi on, choose "Find a book in calibre catalog"
- Search for book which was verified to be there by browsing the local OPDS Calibre catalog
- In the resulting search dialog, enter t

[2016-12-20 12:30] polytan02 commented on #2239
Is there any background process happening in kobo or koreader at 3am at night ? (such as OTA server check, sending data to kobo servers for statistics, anything like that ?)

On which time-zone are you ?

[2016-12-20 14:11] Yaretzki commented on #2425
After last nightly build everything works fine. There is no more interference with light control gestures and swipe up/down.

[2016-12-20 15:22] KenMaltby commented on #2441
When you come back to "the title listing in the catalog with the prompt for setting the download directory still showing" it should be showing the selection(s) for file format to download, if you click on the one you want it should download the file.  You should also see an info box that states where the file is being downloaded to.  For me it is always to the folder I had set, and the file can be

[2016-12-20 18:03] robert00s commented on #2440
Book information should be disabled when selecting images after fix.

[2016-12-20 19:01] asampal commented on #2441
@KenMaltby your comment put me on to my (user) error. The prompt for setting the download directory is a two part popup - the top part shows a single word reflecting the file type (PDF, in my case) while the bottom has the text "Set download directory".  It wasn't obvious to me that the top part was a selectable option - I thought it was simply informational, showing me the type of the title I had

[2016-12-20 19:14] robert00s opened #2444 "New Go to page/location widget"
What do you think about new goto page/location widget?
After tap on progress bar we change the page/location immediatly.
![1](https://cloud.githubusercontent.com/assets/22982594/21364364/cd037042-c6f0-11e6-9c6a-3d2bfb7b8bc4.png)
![2](https://cloud.githubusercontent.com/assets/22982594/21364367/cf3f8468-c6f0-11e6-92e2-0b98fcb28860.png)

[2016-12-20 20:08] AlanSP1 commented on #2444
Looks great, much better than before.

[2016-12-20 20:09] Eduardomb22 commented on #2444
much better

[2016-12-20 20:10] Frenzie commented on #2444
I think adding -10 and +10 to the existing dialog could be interesting (I
see no point in +1 and -1), but I think the primary purpose of the dialog
is to enter a number. Like in a scanned document that didn't have ToC
metadata added.

On Tue, Dec 20, 2016 at 8:14 PM, Robert <notifications@github.com> wrote:

[2016-12-20 21:18] oldhasbeen commented on #2239
My time zone is Eastern Australian Standard Time and KSM 08 is set to that - same as Nickel. I do not use the wifi ever and do not use the OTA updater (I download always the complete nightly and install it manually). I have also been wondering if there are hidden processes (synching or who knows what - even Nickel?) running which could lead to the corruption. The 3 am (or so) wakeup is not consist

[2016-12-20 21:39] retrue commented on #2439
I have just discovered that the new feature that use bold to mark all the new books just check if the document has a sdr directory associated.
No sdr - bold typeface
Sdr - regular typeface
If you purge/delete the sdr, the document name goes back to bold.
I wonder if this feature is so useful as it should.

[2016-12-20 22:07] KenMaltby commented on #2239
Now you know why your original post was so well received, new hope for a number of us.

Luck;
Ken

[2016-12-20 23:00] Eduardomb22 commented on #2444
I like the +1 -1 button, but this is my opinion

[2016-12-21 01:01] #2441 closed

[2016-12-21 04:01] KenMaltby commented on #2444
It would make it possible to have the quick, but imprecise, tap on the "progress bar" be easily refined to the page wanted.

[2016-12-21 06:08] #2425 closed

[2016-12-21 06:10] #2440 closed

[2016-12-21 06:19] houqp commented on #2439
KOReader stores everything it knows about the book in sdr folder, so if you delete the directory, you are purging KOReader's memory about the book. The answer to your question is to create sdr directories for books that you don't want to be shown with bold font.

[2016-12-21 06:38] houqp commented on #2444
This looks like a useful feature for quickly flipping through a book. However, I think we should still keep the page number input box. For me, 90% of the time I know exactly which page I am jumping to. We can just keep the old input box at the bottom.

[2016-12-21 06:48] houqp commented on #2429
Ha, that's the flipping mode. Yeah, it's only implemented for pdf and djvu right now.

[2016-12-21 07:16] houqp commented on #2239
KOReader itself does not have background OTA code. The problem here is not sleep got interrupted by background task, which can be easily solved with auto suspend. The real problem is the corrupted sleep state, which seems to require restarting KOReader.

I see the error log now:

[code]

For unknown reason, `os.execute` is returning -1 when executing the suspend script. It's also very strange that

[2016-12-21 07:18] houqp commented on #2441
@asampal I like your suggestion, do you mind sending a PR to fix the wording?

[2016-12-21 08:22] houqp commented on #1095
Not anymore, we have full keyboard now. Although we still don't have input method for CJK.

[2016-12-21 08:30] houqp commented on #2437
Not likely due to attack on the server. If the attacker is smart enough to get into the server, he/she should be smart enough to sign all binaries with the same key. It's probably I am not signing the apk correctly. I will take a look as soon as I have time to work on this. If someone else want to take a look at it, here is the code that signs the api: https://github.com/koreader/koreader-misc/blo

[2016-12-21 08:36] retrue commented on #2439
In that case I would prefer the other way around: That only books with sdr folder were shown in bold.

[2016-12-21 09:21] richo67 commented on #1095
Please excuse my ignorance what is CJK?

[2016-12-21 10:21] asampal commented on #2441
[Here](https://github.com/koreader/koreader/pull/2445) you go.

[2016-12-21 10:25] asampal commented on #2441
Looking at the source, I see that there is a possibility for there to be multiple formats for one selected title, in which case each button having "Download " prefixed might be redundant. It might make more sense for that case to have a title bar (if that can be done), with the title of "Download" and to leave the button for each format with only the text of the format.

[2016-12-21 11:21] Eduardomb22 opened #2446 "Can´t use Wifi"
You can delete. It is fine

[2016-12-21 11:22] Eduardomb22 commented on #2446
Sorry for the wrong orientation

[2016-12-21 14:56] KenMaltby commented on #2439
I carry over 7000 ebooks on my device.  While I have a number that have SDR, the larger number haven't yet been read on that device.  So, if we must do this I would also prefer that it be those that have SDR, be emboldened, not those without.

[2016-12-21 14:59] KenMaltby commented on #1095
Chinese, Japanese, Korean

[2016-12-21 15:12] richo67 commented on #1095
Thanks Ken!
Is the  lack of input for these languages the reason for not having possibility to write notes for highlighted text in ebook (ePub,mobi,..)?

[2016-12-21 17:30] apletnev opened #2447 "Perception expander plugin (Improve peripheral vision)"
* KOReader version: all
* Device: all

#### Issue

Based on that idea: [How to Triple Your Reading Speed in 20 Minutes (Tim Ferriss)](https://youtu.be/jeOHqI9SqOI?t=137) implemented the same approach (two vertical lines) for koreader.

I've some disscussion about it with @houqp in #2397 so currently it is not work as a plugin. For more info read #2397
Guys, take a look at the video, and provide yo

[2016-12-21 20:34] AlanSP1 commented on #2447
This looks like great idea. I like Ferris's books, learned a lot from him before.

Main thing is, people will need to learn what this plugin is all about, how to use it. We will need instructions for that (and for many other things).

But, I like it and I would like to have this included and being able to use it. And learn how to use it properly.

[2016-12-21 20:40] AlanSP1 commented on #2444
Yes, that is exactly what I'm thinking (referring @houqp).

If page number is also in box, symbolizing that we can tap on it and enter exact number, it would be the best.

[2016-12-22 01:23] #2446 closed

[2016-12-22 01:34] Eduardomb22 commented on #2444
Agree with @AlanSP1 and @houqp

[2016-12-22 03:03] dygordon opened #2448 "Coordinates swapped on Kobo N905B after tapping in upper right"
* KOReader version: 2015.11 stable
* Device: N905B

#### Issue
Screen coordinates are swapped, as described here: http://www.mobileread.com/forums/showpost.php?p=2674580&postcount=739
#### Steps to reproduce
Install KOReader. Start first time. Tap in upper right of screen. Coordinates are swapped.

[2016-12-22 07:28] Frenzie commented on #2444
I think tapping on it would be adding a rather unnecessary extra step and a
regression. At the bottom like @houqp said would be much better.

On Dec 22, 2016 2:34 AM, "Eduardomb22" <notifications@github.com> wrote:

Agree with @AlanSP1 <https://github.com/AlanSP1> and @houqp
<https://github.com/houqp>

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub

[2016-12-22 09:21] houqp commented on #2441
I agree, do you want to update your PR? If so, I can help point you to the right direction.

[2016-12-22 09:25] houqp commented on #2439
@poire-z originally implemented it as bold for books with sdr. I later changed it to the current behavior. Looks like we have a very different setup ;) I don't put all my collection to the device, instead, i only put my current to-read list. That's why I prefer the current behavior. I think it's better to make this a configurable option for now.

[2016-12-22 09:36] houqp commented on #2447
I like this feature too, good work :) Are you using the alphacontainer to draw those lines? If not, I recommend using it. The name speed read might be too generic. `Perception expander` is actually not a bad name :P I hope we can have more tools in the future to help people train their reading speed.

You don't have to implement it as a plugin for now. I can help refactor it into a plugin later.

[2016-12-22 09:38] houqp commented on #2448
Have you tried the latest nightly build? http://build.koreader.rocks/download/nightly/

[2016-12-22 14:27] KenMaltby commented on #2439
So, maybe options to:  "Make unopened files bold"  and "Make opened files bold"  with checkmarks when selected.  Without one of them checked, they would display as they do now.  Just an idea.

[2016-12-22 14:38] KenMaltby commented on #2447
"Speed Reading Trainer"  sounds practical.   "Perception expander" sounds philosophical.  I prefer the practical,

[2016-12-22 18:32] fluffymadness commented on #2276
Does any version of koreader work on the pocketbook touch hd? I tried a few already...but not a single one starts on my device :/
When I click the @Koreader icon in the appdrawer nothing happens. Same when opening a book from the pocketbook library.
Hopefully this will be fixed in the future

[2016-12-22 19:20] asampal commented on #2441
NP, I'll get to it soon.

[2016-12-22 19:51] retrue commented on #2439
@houqp Could you reopen this issue, please, so the feature request is not lost among the closed issues?

[2016-12-22 22:05] KenMaltby commented on #2441
The local Calibre OPDS catalog is a good example, where ebooks may be acquired in many formats and converted to a common one that your device supports well.   Also an online book source may offer ebooks in several formats, in their catalog listings.

[2016-12-23 13:41] fluffymadness commented on #2276
fix for the crash in the device lua:
the path /var/dev/shm/ is completely empty on the new pocketbook hd
changing it to /dev/shm/ allows me to start koreader successfully

local PocketBook840 = PocketBook:new{
    isTouchDevice = yes,
    hasKeys = yes,
    display_dpi = 300,
    emu_events_dev = "/dev/shm/emu_events",
}

[2016-12-23 16:34] robert00s commented on #2444
I would like to left widget as small as possible. Adding old input in the bottom will hide almost all page.
First solution:
Tap on page number enable  old input when we need to go to exact page.
Secound solution:
Add new menu item somethink like that:

![1](https://cloud.githubusercontent.com/assets/22982594/21458333/fc74184e-c935-11e6-9ff0-540f892c2bcc.png)

[2016-12-23 17:03] Frenzie commented on #2444
Btw, one of LibreOffice 5.3's big new features is a Go to page dialog where
you can just enter a number
https://wiki.documentfoundation.org/ReleaseNotes/5.3#Go_to_Page_Dialog

How about just sticking something like -50/-10/+10/+50 underneath the
existing dialog?

On Fri, Dec 23, 2016 at 5:34 PM, Robert <notifications@github.com> wrote:

[2016-12-23 17:14] retrue commented on #2444
-25/-10/+10/+25
=P

[2016-12-23 17:21] houqp commented on #2447
What happens when we add other speed reading trainer plugins in the future? How about adding perception expander as a submenu under speed reading trainer menu?

[2016-12-23 17:25] houqp commented on #2276
Nice! Now all we need to do is to load different device setting based on the model. Do you know if there is any file on the device that we can read to determine the model?

[2016-12-23 17:42] fluffymadness commented on #2276
I'd have to dig a bit, when I have some time again, maybe I'll find anything.
Sadly koreader crashes from time to time when navigating through a pdf, I tested 3 versions, the latest stable and two nightlys. It justs closes when switching to the next/prev pages after 20-30 pages or so. Its mostly random.

[2016-12-23 18:14] houqp commented on #2444
you can just enter a number

Welp, looks like we are converging ;)

This still requires an extra tap to get to the page input box

I think this is a good solution too :+1:

In the future, we can add a tiny preview window when user is doing pan gesture on the progress bar too :) page flipping is already taken by another feature in KOReader, how about naming this feature something like `skim documen

[2016-12-23 18:29] retrue commented on #2447
Imho, adding perception expander as a submenu would make sense only and when there are other speed reading trainer plugins for KOReader.
If it is added in a submenu now, it would only add another step to reach the plugin, without any advantage.

[2016-12-23 18:54] AlanSP1 commented on #2444
We also can have redundant UI, i.e. that we have some mesh of first solution (from new interface tapping on page number opens old dialog for direct page number input) and second, having option for dedicated direct page number entering. Which could, of course, also have button for opening this new method.

Also, if we go this way, we could have setting in options, which dialog is default if we tap

[2016-12-23 18:56] Eduardomb22 commented on #2444
I agree

[2016-12-23 21:00] robert00s commented on #2444
Third solution:
Adding additional button in input dialog e.g. "Skim".
![1](https://cloud.githubusercontent.com/assets/22982594/21462286/78f86dba-c95a-11e6-8783-e8d1edc49362.png)
After select button "Skim" we get widget with progress.
![2](https://cloud.githubusercontent.com/assets/22982594/21462288/7c3b618a-c95a-11e6-8274-51f190703989.png)

[2016-12-23 23:09] Hzj-jie commented on #2274
After I updated my AuraHD, the wifi auto resume function won't work any more. :(

[2016-12-24 01:09] houqp commented on #2274
You mean after a kobo firmware upgrade? You can still connect to the wifi manually from KOReader right?

[2016-12-24 01:22] houqp commented on #2444
I like the third option too :+1:

[2016-12-24 10:58] depopov77 commented on #2387
can not login evernote: plugins/evernote.koplugin/EvernoteOAuth.lua:210:wrong version number

[2016-12-24 11:00] depopov77 opened #2451 "Can not login evernote: plugins/evernote.koplugin/EvernoteOAuth.lua:210:wrong version number"
* KOReader version: koreader-nightly-20161120
* Device: Kobo Aura One

#### Issue

#### Steps to reproduce

[2016-12-24 13:27] Frenzie commented on #2444
The "third" option doesn't contradict the "second' one.

Two menu entries:

* Go to
* Skim mode

And then the individual dialogs would allow switching in between.

[2016-12-25 03:38] DrSkyeagle opened #2452 "can not login evernote: plugins/evernote.koplugin/EvernoteOAuth.lua:210:closed"
* KOReader version: koreader-nightly-20161120
* Device:kindle paperwhite3

#### Issue
can not login evernote: plugins/evernote.koplugin/EvernoteOAuth.lua:210:closed
#### Steps to reproduce
when you login evernote ,it will show code like plugins/evernote.koplugin/EvernoteOAuth.lua:210:closed

[2016-12-25 06:36] #2415 closed

[2016-12-25 06:50] houqp commented on #2444
If we are going to add a menu entry for skim mode, I would suggest naming it as `Skim to` to keep it consistent with `Go to`. `Skim mode` is a better name for the button in the input box :)

[2016-12-25 06:56] houqp commented on #2452
Likely a duplicate to https://github.com/koreader/koreader/issues/2387

[2016-12-25 06:58] houqp commented on #2387
They probably changed the API recently. Unfortunately, I won't have time to look into this. If someone can help submit a pull request for the fix that would be great. Code for our evernote client: https://github.com/koreader/evernote-sdk-lua

[2016-12-25 07:02] houqp commented on #2451
Thanks @depopov77 for the report. I am closing this one so we can keep login related discussion in https://github.com/koreader/koreader/issues/2387

[2016-12-25 07:02] #2451 closed

[2016-12-25 07:50] houqp commented on #1095
Thanks Ken for the explanation. Lack of CJK input method is only a blocker for taking notes in CJK languages. There is no blocker for supporting notes taking for languages like English.

[2016-12-25 08:01] houqp commented on #2276
What's in the crash.log? If it's random segfaults, the it might be related to toolchain issues. Currently, we are using https://github.com/pocketbook-free/SDK_481 for all the pocketbook builds, which might be out of date.

Yes, absolutely. You need to first find out the key code for the menu key. Then map that key code to the `Menu` key in `event_map`:
https://github.com/koreader/koreader/blob/mas

[2016-12-25 08:46] #2439 closed

[2016-12-25 20:41] houqp commented on #2447
If number of clicks is a concern here, how about naming the menu entry as `Speed reading module - perception expander`? We have more than enough space to hold this string in the menu.

Giving this plugin a generic name such as `speed reading trainer` will cause two problems down the road if we are going to add more speed reading training features in the future:

* inconsistent UX, user who are alr

[2016-12-25 20:45] houqp commented on #2447
@apletnev I have made the readerview module pluggable in PR https://github.com/koreader/koreader/pull/2454. Now you should be able to implement everything in a plugin. All you have to do is put this into the init method:

[code]

[2016-12-26 01:26] Hzj-jie commented on #2274
No, I mean Koreader update. Yes, the 'wifi-connection' function works well, but it won't connect automatically after resuming from suspension. The log shows 'sending discover'.

[2016-12-26 01:38] Hzj-jie commented on #2274
I doubt whether changes to https://github.com/koreader/koreader/blob/master/platform/kobo/disable-wifi.sh impact the behavior. Maybe the disable-wifi.sh cannot really disable wifi before, the WPA was not removed correctly. I remember we have talked about the 'connect' won't work after suspension before the automatically reconnect function has been implemented. I always needed to disconnect then co

[2016-12-26 01:54] houqp commented on #2274
Interesting, I have tried reverting the disable-wifi script to the old version and see if the resume works again?

Based on the log, looks like it was failing at DHCP step. I wonder if it was able to authenticate with the router at all. If your router displays list of authenticated clients, that's another thing you can check.

What we really should be doing though is to bring preemptive tasks to t

[2016-12-26 09:39] apletnev commented on #2447
@houqp Thank you. going to rewrite as plugin module. Will register it in menu as "Speed reading module - perception expander"

[2016-12-26 14:29] fluffymadness commented on #2276
Hehe, found something

cat /etc/devicename
PocketBook631

The menu key is 23, but one small thing...the Menu options only opens the upper part of the menu.
When I press on the top of the screen, I see the upper and the lower part.
Is there an event where I can trigger the menu with the upper and lower part?
Thanks.

function PocketBook840:init()
    self.screen = require("ffi/framebuffer_mxcfb"):n

[2016-12-26 14:32] fluffymadness commented on #2276
As for the crashes, just had a segmentation fault when pressing on the top of the screen when I tried to open the menu.
I think the menu appeared for a second or so and then the app was gone

[2016-12-26 14:38] fluffymadness commented on #2276
Hmm. I tried different version, and all had some crashes, but the log is from the latest nightly.
Is koreader running completely stable on kindle and kobo ?

[2016-12-26 14:46] fluffymadness commented on #2276
Another one when just pressing the page down button a few time to switch between pages

[code]

[2016-12-26 14:59] fluffymadness commented on #2276
Is this normal O.o
# 12/26/16-15:50:36  refresh: full -1 -1 1450 1074

but the framebuffer resolution is
# 12/26/16-15:50:35  framebuffer resolution: {
    ["h"] = 1448,
    ["w"] = 1072
}

[2016-12-26 21:50] retrue commented on #2439
Where is the new setting to show opened book name in bold?
It is not in the menus, not in Tools --> Advanced settings and not in the lua file with the preferences settings.
I guess that, if I am not wrong, the foundation to the code to possibilite the new setting is there but the new setting is not yet.
Imho, ideally, there should be three options: bold typefont for new books, bold for already ope

[2016-12-26 22:26] houqp commented on #2276
That's awesome, we can use this info to initialize the device module like what we did for kobo: https://github.com/koreader/koreader/blob/master/frontend/device/kobo/device.lua#L348

I can submit a patch later to enable bottom menu for touch devices.

Yes, there is no random segfaults on kindle and kobo.

It's definitely a bug. But if I recall correctly, we have boundary check in framebuffer code

[2016-12-27 06:55] houqp commented on #2439
You can change the behavior by setting `show_file_in_bold` to either `"opened"`, `false`. By default, it shows new files in bold. See https://github.com/koreader/koreader/pull/2457

[2016-12-27 07:12] houqp commented on #2276
You should get the full menu with menu key after https://github.com/koreader/koreader/pull/2457 is merged.

[2016-12-27 09:02] seblucas opened #2458 "OPDS catalog containing URL with many params in query string are not correctly handled"
* KOReader version: koreader-nightly-20160823
* Device: Android Nexus 5

#### Issue

OPDS catalog containing URL with query string are not correctly handled.

#### Steps to reproduce

With KOReader

 * Add a new OPDS catalog with this url http://cops-demo.slucas.fr/feed.php
 * In this OPDS catalog click on Authors
 * Click on C
 * You'll see a list of 5 authors (not normal)

If you use any other O

[2016-12-27 09:11] fluffymadness commented on #2276
I have indeed gdb on the device. I just have to find out how to attach it to it.
Another thing I've noticed.
Right now, when I open the pdf from the stock pocketbooklauncher (via extensions.cfg) it shows page 17. When I press the page down button to go to page 18 it always crashes. I can reproduce this an infinite amount of time.
The funny thing is, if I open the koreader app from the app drawer,

[2016-12-27 09:57] Hzj-jie commented on #2274
Yes, I really agree multi-threading is a must-have now. Since most linux commands are blocking.

[2016-12-27 10:04] houqp commented on #2458
Thanks @seblucas for the detailed report! I have submitted a PR to fix this issue :)

[2016-12-27 10:12] seblucas commented on #2458
Thanks a lot.

[2016-12-27 15:42] KenMaltby commented on #2439
How do you set it to not show any in bold?

[2016-12-27 19:27] retrue commented on #2439
+    -- set to false to show all files in regular font
+    -- set to "opened" to show opened files in bold
+    -- otherwise, show new files in bold
+    local show_file_in_bold = G_reader_settings:readSetting("show_file_in_bold")

[2016-12-27 22:10] mwozny123 opened #2462 "Change PDF font"
* KOReader version: koreader-nightly-20161120
* Device: Pocketbook touch lux 3

#### Issue

Although reflow works fine (even on scanned) PDFs (can increase, decrease font size), fonts quality are rather very bad.

Here's an example:
https://cloud.githubusercontent.com/assets/12519813/10264009/fc742174-69f8-11e5-96ba-51e83e46509c.JPG

Possibility to change font in PDFs would be appreciated.

#### S

[2016-12-27 23:29] Hzj-jie commented on #2444
Sorry, I have not got the point. Why cannot we add an input box in "Skim mode"?

[2016-12-28 00:54] houqp commented on #2444
@robert00s did add the switch for precise page number control. If you tap on the page number, it will bring you to the input box for page number.

[2016-12-28 03:32] houqp commented on #2276
Tips for attaching to a running process with gdb: http://stackoverflow.com/questions/2308653/can-i-use-gdb-to-debug-a-running-process

You also don't have to attach to a running instance. Even a coredump generated by the segfault will help. You can load coredump into gdb and get the stacktrace out of it.

Reproducible bugs are the best bugs!

You still get random crashes when launching koreader fr

[2016-12-28 03:44] houqp commented on #2439
You need to add the setting to `reader.settings.lua`. If you don't want the bold highlight, just set the value of `show_file_in_bold` to `false`.

[2016-12-28 04:17] houqp commented on #2462
This is a non-trivia feature. Your example looks bad because the original scanned image has bad quality. To support arbitrary zooming, we might need to do OCR on the full image to recover the actual characters.

[2016-12-28 06:14] houqp commented on #2239
Hi @oldhasbeen , I have converted the suspend script in pure lua for better error logging. Could you give the new device.txt a try and report back the crash.log when you run into the false sleep issue again?

download link: [device.txt](https://github.com/koreader/koreader/files/675126/device.txt)

[2016-12-28 06:17] houqp commented on #2276
I checked the log from my kobo, the refresh area dimension is also off by 2 in height and width. So this is likely not the cause for your segfults.

[2016-12-28 09:27] retrue commented on #2439
Thanks  =)

[2016-12-28 10:55] mwozny123 commented on #2462
Please don't look at the page structure.
This was just internet example to show how poor quality fonts they're for scanned documents.
My document is less complicated - just 1 column, the same font (and I think most of the scanned PDFs also have less complicated structure).

Current font quality reminds me look of XIX century newspaper:/

I thought as we have a reflow on scanned PDFs we would be ab

[2016-12-28 11:03] oldhasbeen commented on #2239
@houqp
ok, thanks. Have done that and will report as soon as I notice the weirdo in action again.

[2016-12-29 01:11] Shawnathan2001 opened #2463 "KOReader Keeps Crashing"
* KOReader version: koreader-kindle-legacy-arm-kindle-linux-gnueabi-v2015.11-696-g2bc7b01
* Device: Kindle Paperwhite
####Issue
Everything I try to start Koreader, it crashes. I went to the Kual menu, pressed start the filemanager (no framework), my kindle restarted, then went to the home screen. When I click an epub or pdf, the screen goes white then back to the home screen.

#### Steps to reprod

[2016-12-29 07:11] houqp commented on #2462
It's not related to the page structure. What the reflow engine does is basically split the image into pieces by characters, then scale and reorder those pieces to form a new structure. So the quality of the font is determined by the quality of original scanned images.

[2016-12-29 07:17] #2463 closed

[2016-12-29 07:27] #2444 closed

[2016-12-29 08:02] #2458 closed

[2016-12-29 09:40] Hzj-jie commented on #2274
Sorry for the false alarm, after restarting my Kobo, the function now works well.

[2016-12-29 23:10] houqp commented on #2274
I wonder if it's because DHCP client went into a weird state where it still tried to acquire the previous lease but was not able to?

[2016-12-30 09:23] retrue opened #2466 "The menu entry "Keep Alive" should be ticked when the plugin is active"
* KOReader version: Last nightly builds
* Device: All of them

#### Issue

The current implementation of the Keep Alive plugin will maintain the keep alive mode when the user close the pop up after pushing the button "Stay Alive".
The Keep Alive menu entry should be ticked after pushing "Stay Alive" to remind the user that the plugin is active to avoid unnecesary battery drain.
As a side note, the

[2016-12-30 14:38] Eduardomb22 commented on #2466
That would be nice.

[2016-12-31 00:44] jetboo commented on #2252
There is a translator.lua file in /koreader/frontend/ui/ inside which one can read "Translate text using Google Translate" but I don't know what this is used for as we cannot translate any selected word while reading (although this would be GREAT ! )

Is the missing of such feature being related to the Amazon's terms of service ?

[2016-12-31 05:29] houqp commented on #2252
No, it has nothing to do with amazon's TOS. That part of code is only used for detecting language for a given text, see line 64 in frontend/apps/reader/modules/readerwikipedia.lua. Anyone is welcome to create a google translator plugin using this module.

[2016-12-31 06:28] hurzl opened #2467 "Statusbar (footer)"
* KOReader version: koreader-kobo-arm-kobo-linux-gnueabihf-v2015.11-696-g2bc7b01.zip
* Device:

#### Issue
statusbar only shows time if not "show everything" and no page battery etc.

#### Steps to reproduce
disable show everything

[2016-12-31 06:30] hurzl commented on #2467
Sorry this "show everything" setting is totally confusing.

[2016-12-31 06:30] #2467 closed

[2016-12-31 06:34] hurzl commented on #2265
I would like a manual setting, too.  Every time the battery goes low the time is reset.
And 1. there is not wifi everywhere, and 2. I have wifi off anyway.

[2016-12-31 06:42] hurzl opened #2468 "History not working"
* KOReader version: koreader-kobo-arm-kobo-linux-gnueabihf-v2015.11-696-g2bc7b01.zip
* Device:

#### Issue
Files I open don't appear in the history since I installed above version. What went wrong?

[2016-12-31 16:32] AlanSP1 commented on #2265
Yes, I agree.

Automatic syncing over internet is great, but sometime we need manual way to input correct time.

[2016-12-31 16:39] IzzySoft opened #2469 "Latest release has issues with certificates"
* KOReader version: koreader-nightly-20161120
* Device: unrelated

#### Issue

    ERROR: Found multiple signing certificates on koreader-android-arm-linux-androideabi-v2015.11-696-g2bc7b01.apk
    CRITICAL: Failed to get apk signature

#### Steps to reproduce
Try adding the `.apk` to an F-Droid repository. Index won't be compiled, throwing above error message.

[2016-12-31 17:35] KenMaltby commented on #2469
You could try the latest, or other, from here. http://build.koreader.rocks/download/nightly/

[2016-12-31 18:10] IzzySoft commented on #2469
The latest one (`koreader-android-arm-linux-androideabi-v2015.11-789-g86e924a.apk`) still has the same issue. Not sure when this started; I can just say the last "official 1.2" (from the `releases/` page) did not have it.

[2016-12-31 19:34] KenMaltby commented on #2469
It would not be an answer to this issue but it would be interesting if the .apk can install after sigining it with: https://code.google.com/archive/p/easy-apk-dissassembler/ .  There is no need to actually disassemble it, just use the #4 option to sign it.  (I don't know how the program handles signing an apk that is already signed, (it may correct any conflicts), but it didn't throw an error when

[2016-12-31 19:47] houqp commented on #2469
There is a known apk signing issue with the latest release. I am taking a look at it. I would suggest not submitting koreader to fdroid until it's considered ready for broader testing. Right now we are having LuaJIT issues on android platform so it's very unstable (it probably only runs on 50% of the android devices out there).

[2016-12-31 19:55] houqp commented on #2468
Not able to reproduce this on my side. I don't recall any change on the history menu. Did you get a blank menu? Have you tried restarting the device?

[2016-12-31 20:14] IzzySoft commented on #2469
Thanks for the pointers, @houqp – and good to know you're already on it! Waiting for your update then.

Background: I'm not submitting it to F-Droid, I run [my own little repo](https://android.izzysoft.de/repo) – which is intended a.o. to help people without playstore access with apps not in the regular F-Droid repo. You can [find koreader there](https://apt.izzysoft.de/fdroid/index/apk/org.koread

[2017-01-01 06:09] hurzl commented on #2468
The date was reset to 2012 and I can't set it, see #2265, so the files appear at the end of the history list.

[2017-01-01 06:09] #2468 closed

[2017-01-01 09:11] #2392 closed

[2017-01-01 09:11] #2391 closed

[2017-01-01 09:32] Hzj-jie commented on #2468
I have exactly the same issue on my Kobo. You may want https://github.com/koreader/koreader/pull/2459.

[2017-01-01 13:30] csJd opened #2471 "android version not work"
* KOReader version:
* Device:Android 6.0

#### Issue
the last android version installed on android 6.0 can't be launched

#### Steps to reproduce

[2017-01-01 23:30] houqp commented on #2471
Can you tell us the exact version you tried that's not working and the last working version?

[2017-01-02 07:24] ddwust commented on #2471
Sorry, I don't konw Koreader android version is not for android phones. It just not work properly on phones.

[2017-01-02 18:15] houqp commented on #2471
It's still alpha software and only works for 50% of the phones out there, so it's very likely that it won't work for yours.

[2017-01-02 20:21] poire-z commented on #2447
A small thing:
I think `PerceptionExpander:onSaveSettings()` ( https://github.com/koreader/koreader/commit/2bc1be995616022a2408771fad4a5b3255d5fe33#diff-8a9416d5c212fd39ee25121820043bb8R193 ) is unecessary.
You're already doing all the explicite self:saveSettings() needed whenever a setting is changed.
This onSaveSettings() makes the file being rewritten unchanged on each suspend/exit, and created

[2017-01-02 23:50] gerroon commented on #2469
I assume this is the same as https://github.com/koreader/koreader/issues/2437

[2017-01-03 00:40] roger64 commented on #2361
Hi

Though I understood that you had agreed to reverse this progress bar "forced" display, I am not aware of any change allowing the user to discard the progress bar. Maybe I missed something? Will it be implemented with the incoming release? Or will we have to wait for the "next-gen UI" you were speaking about? Could you please provide us with some information about it?

2017 greetings.

[2017-01-03 03:54] houqp commented on #2469
Might be related. The current android builds are signed with both debug and release keys. I made some changes in the build script to strip out debug key before signing. Let's see how it goes.

[2017-01-03 03:57] houqp commented on #2447
Agree, feel free to submit a patch.

[2017-01-03 04:03] houqp commented on #2361
I just haven't had time to make the change yet. I will close the ticket when it's done. It can be done in the current UI.

[2017-01-03 07:47] IzzySoft commented on #2469
Matches. And indeed might be related. Just let me know when there's a "fixed up" version in ' releases/'  I should give another try.

[2017-01-03 09:02] retrue commented on #2428
I extend exactly the same comment about the Time Sync plugin because this plugin only works when the device is online.

[2017-01-03 09:35] baskerville opened #2473 "The two finger swipe gesture doesn't work in landscape mode"
I can bring the *Table of Contents* window with a two finger swipe left gesture in portrait mode but not in landscape mode.

I'm on 2bc1be9.

[2017-01-03 11:54] msbentley commented on #501
The solution implemented in #2082 does a great job of zooming to the block of text. I understand that the original proposal of stepping through the page in blocks is hard without analysing the page structure, but locking horizontal movement in this zoom mode would be very useful - so that once you're centred on a column one can scroll up and down without worrying about losing the position. ezPDF h

[2017-01-03 13:29] roger64 commented on #2361
Thank you for your help.

[2017-01-03 16:21] baskerville opened #2474 "Crashes while doing a full text search"
I have a PDF that triggers a crash after confirming the value of the input box of the full text search dialog.

Here's the log:
[code]

The crash can only be triggered with a specific input.

[2017-01-04 09:09] retrue opened #2476 "FR: Set the language of a book"
* KOReader version: any
* Device: any

#### Issue
Some ebooks don't have a language defined in its metadata. In some cases, they have the wrong language defined, e. g. the book is defined as English but it is in German.
I ask for an option in the menu to define the language of a book. This information would be stored in the sdr folder. The book's new language would override the language defined in

[2017-01-04 11:39] baskerville opened #2477 "Don't keep removed files in the history"
If a file (that appears in the history) is removed through the long press file dialog, then it will still be present in the history.

[2017-01-04 11:49] Frenzie commented on #2477
Whether that's a problem is debatable. It is, after all, a *history*, so I'd say this is desired behavior. What presumably isn't is what happens when you tap on a deleted file.

[2017-01-04 15:18] poire-z commented on #2477
Actually, the history cleans itself of unexisting files when:
- first time opened
- opening a document for reading (even if already presents in history)

So you would see your entries removed as soon as you quit filemanager (exiting reader or opening a document).
It also surprised me, so I'll provide a fix (easy, just a few lines to copy and paste from my "Purge .sdr" callback into the "Delete" on

[2017-01-04 15:55] poire-z commented on #2476
The metadata language (document:getProps().language) seems to be used only for 2 things:
- building the list of available wikipedia languages (if setting `wikipedia_languages` has not been manually set in settings.reader.lua) - and there's always a "en" fallback added (see #2393 : _can be read from custom setting "wikipedia_languages", and if not present, it is build with previous logic (document

[2017-01-04 16:55] robert00s commented on #1871
In the newest versions "Calibre wireless connection" is also available in File Manager menu.

[2017-01-04 17:48] Frenzie commented on #2477
@poire-z Then undesired deletion already occurs and this is a bug that should be fixed. Expected history behavior is that *all* history be kept and non-existing files might either be grayed out or simply display a "this file does not exist" error message when you try to access them. Anything else would be confusing at best.

So if I understand correctly:

* The desired behavior [should usually occ

[2017-01-04 17:56] Frenzie commented on #2476
Do StarDict dictionaries define their language? (Regardless whether this can currently be queried through sdcv.)

[2017-01-04 18:05] KenMaltby commented on #2477
I assume this about actually deleting a file from your device and it then not being removed from the history list.  Removing it from the History listing by long press option, doesn't/shouldn't remove the file from the device. The greyed out approach sounds good.

[2017-01-04 20:27] oldhasbeen commented on #2239
@houqp
update: koreader runs now over one week with normal reading pattern. True sleep has not corrupted (yet?).
Battery percentage has nicely dropped in small steps from 80 to 54 percent in that time. However has the dictionary lookup function now stopped to work. Remaining in koreader and changing books does not restore the dictionary lookup function. It behaves as there was no dictionary instal

[2017-01-04 20:30] poire-z commented on #2476
I don't think they do, at least not in the .ifo file describing themselves, for example:
[code]
And there's no notion of language in KOReader's dict code, neither in sdcv binary helper:
[code]

[2017-01-04 20:58] poire-z commented on #2477
Depends on how one sees this history feature.

If one sees it as a "reading log" like you seem to do, it's indeed a bug. But it's first a very poor reading log :) : just the filename, no available info of when the reading started, when it was done, when file was deleted...

If one sees it as mostly a way to jump to currently read books like baskerville or I do, it's a feature to have the history c

[2017-01-05 00:27] brightghost commented on #1898
Is this still in the pipeline? It seems off to me to claim these devices are "supported", when in fact major features are inaccessible. I think this should be mentioned on the Readme or installation guide until it's addressed.

[2017-01-05 08:45] Frenzie commented on #2477
It's a file opening log, not a reading log. It's exactly the same as "recently used files" in every other application. You expect it to be there because you opened that file, regardless whether or not it still exists. (Unless you grew up in [the Soviet Union](http://www.tc.umn.edu/~hick0088/classes/csci_2101/false.html). :-P)

So do I. Anything more than 5, maybe 10 entries is just there to hopefu

[2017-01-05 08:48] Frenzie commented on #2476
Pity about the ifo specification. I'm aware that sdcv offers no such functionality; I suppose I phrased that badly.

[2017-01-05 11:04] Tobster85 opened #2478 "feature request: PDF "read"-flow"
* KOReader version: latest
* Device: any

#### Issue
I am thinking of enhancing the PDF reading experience. Reading very individually designed PDFs  is quite hard at the moment because of the need to constantly zoom in and out and move the already enlarged view.

![1 page](https://cloud.githubusercontent.com/assets/22470848/21678198/11f47c88-d33e-11e6-8d29-14ffd09bdfa3.png)

A possible solution co

[2017-01-05 12:50] retrue commented on #2476
What about a plugin that shows the dictionaries installed in the device with the possibility of ticking items in the list to activate or deactivate specific ones?
But that is a different subject and I don't know how difficult would it be.

[2017-01-05 13:13] Frenzie commented on #2476
Alongside enabling and disabling you could also set the language for the dictionary. Anyway, just trying to figure out if there are other areas where something like book language could be useful. :-)

[2017-01-06 03:47] seacatwu opened #2479 "Long press status bar can't open "go to" menu"
* Device:KOBO aura h2o

latest version!
Long press status bar can't open "go to" menu.

[2017-01-06 07:55] retrue commented on #2479
It happens too with Kobo Mini since some nightly versions ago.

[2017-01-06 20:38] AlanSP1 commented on #2479
Maybe related with this: https://github.com/koreader/koreader/pull/2460 It was implemented 29.12.2016.

[2017-01-07 05:26] seacatwu commented on #2479
@AlanSP1  Maybe before this version.

[2017-01-08 09:54] houqp commented on #1871
Thanks @robert00s for catching this issue :)

[2017-01-08 09:54] #1871 closed

[2017-01-09 08:16] Hzj-jie commented on #2477
If the history is coming from a very old history file (in koreader/history folder), removing a file won't impact the history list. This change to deprecate the old history file happened 7 month ago, so it's more likely you won't be impacted by it.
As @poire-z said, for newly opened books, history list should be cleaned each time it's regenerated, i.e. open FileManager; or a new entry has been adde

[2017-01-09 08:50] Hzj-jie commented on #2471
Do you happen to know your device model?

[2017-01-09 09:39] Frenzie opened #2482 "Housekeeping: some language things"
This is basically just a note to self but I probably won't have time until the 12th.

[code]

[2017-01-09 19:08] Hzj-jie commented on #2466
Good suggestion, I will make the change.

[2017-01-09 19:11] Hzj-jie opened #2483 "EvernoteExporter plugin should respect new readhistory module"
* KOReader version: up to 6b8ff76
* Device: Independent

#### Issue
EvernoteExporter is still using legacy koreader/history folder instead of new readhistory module.
Meanwhile, onSaveSettings() should be optimized to avoid to save the settings twice.

#### Steps to reproduce

[2017-01-10 00:05] #2433 closed

[2017-01-10 08:34] oldhasbeen commented on #2239
update: true sleep has not corrupted (yet?). Koreader was running for 2 weeks without interruption. Reading pattern was normal. Battery went in that time from 80 to 43 percent. Dictionary lookup was not possible (see last post). Today koreader crashed instead of suspending and went to KSM 08 (where the battery would have drained without limit because KSM does not have autosleep or autoturnoff.
I h

[2017-01-10 09:16] houqp commented on #2239
Sorry for the late response. I had been traveling for the last week. Flight got delayed multiple times and caught a bad cold, so I am still catching up on emails. Latest koreader release should have the suspend functionality changes I sent to you in my previous comment, so you are good :)

Looking from your crash log, the crash is caused by a segmentation fault, which is very likely coming from CR

[2017-01-10 11:44] AlanSP1 commented on #2239
This looks like great progress in solving this bug. :+1:

[2017-01-10 18:48] #2326 closed

[2017-01-11 20:27] robert00s commented on #2479
After this commit long press status bar can't work: 0c49b915de69b259a7f40eb04affd8e3a12e3eb7
On Kindle PW3 also don't work.
@houqp Can you check it?

[2017-01-12 04:25] #1909 closed

[2017-01-12 04:42] houqp commented on #2479
@robert00s good catch, it's because the hold event is eaten by readerhighlight widget before passing to readerfooter. I will migrate readerhighlight to tap zone, that should fix this issue.

[2017-01-12 10:27] retrue opened #2486 "StorageStat plugin needs improvement."
* KOReader version: Last nightly builds.
* Device: All of them.

#### Issue
The way the information is showed by the Storage Stat plugin is not intuitive so many users won't be able to understand it. More so if the user doesn't speak English.
Here we see:

**/mount/onboard U1.0G F279.4M
P79%**

It should be something like:

**Internal storage**
Used 1.0 GB, Free 279.4 MB, Percentage 79%.
(And a si

[2017-01-12 15:14] poire-z commented on #2239
Sharing some possible explanation for all of this (though I have not verified it):
For the dictionnary failure in the log, it's just that the launch of the sdvc process fails, and that there's no output and result_str stays nil, and this can't be decoded as JSON  (nothing to do with recently added dict features).
For the sdcv command to fail (and to work again if koreader is restarted), i see no o

[2017-01-12 16:19] Frenzie commented on #2239
The H2O also has 512MB RAM.

On Thu, Jan 12, 2017 at 4:14 PM, poire-z <notifications@github.com> wrote:

[2017-01-12 21:26] poire-z commented on #2239
Thanks, same as GloHD then.

I tried to check my theory by watching processes size via shell on my GloHD.
It did not confirm that fork needs twice the size of lauching process, but it did confirm that at some point, koreader can't launch sdcv:

After launch and a few page turns and a few ImageWidgets shown:
[code]
(I'll left out the small buddy process 1016 that does not change sizes in the follow

[2017-01-12 22:12] AlanSP1 commented on #2239
It looks like you found main source of suspend problems and some other problems.

In my case I had random false sleep, but I always preferred to use simple text, not image as sleep cover. I'm not sure if it is important info. Maybe images within books (I read some from time to time with images) also affect this? In that case, a lot of images in book would cause problem sooner?

[2017-01-12 22:59] poire-z commented on #2239
I don't think image withing books would cause leaks; or at least not as huge as the one noticed with screensaver images. They are managed by crengine and pdf engine, which should be fine. It's mostly images made or shown by the koreader lua's code.
And i think i read in some old issues that there was blitbuffer issues when lua code was getting blitbuffers from the engines for display, and that the

[2017-01-13 08:11] retrue opened #2488 "Small typo in the Spanish translation"
* KOReader version: v2015.11-800 (last one as of today)
* Device: All of them.

#### Issue

I found a small typo in the Spanish translation. I would correct it myself but I don't know how the translation system works or what is the correct place to report typos in the translations.

I the entry menu, inside of "Set render style", "Clear all external styles" is translated as "Eli**o**minar todos lo

[2017-01-13 09:18] Frenzie commented on #2488
I'll do it and #2482 later today. :)

On Jan 13, 2017 09:11, "retrue" <notifications@github.com> wrote:

[2017-01-13 12:54] oldhasbeen commented on #2239
@poire-z
In suspend mode book covers (pictures in jpg or png) are displayed. They show up almost immediately after suspend is triggered - final step to suspend comes then after about 15s. I have never seen that the book cover was not shown - only that no true sleep eventuated.
The true sleep corruption seemed not to be linked to the number of previous sleep events. Sometimes it happened in less th

[2017-01-13 13:53] retrue opened #2489 "A button in text search doesn't work"
* KOReader version: Last nightly builds
* Device:

#### Issue
When you search for a word in a document it appears a bar with four buttons. The first button, to go to the first apparition of that word in the document, doesn't work. The other three buttons work correctly.

![reader_2017-jan-13_144315](https://cloud.githubusercontent.com/assets/18194241/21932258/f1c2dc58-d99f-11e6-853f-a7994f55eb0a.p

[2017-01-13 13:55] AlanSP1 commented on #2239
@poire-z I was thinking a bit more on what you said and what we know that happens.

You said that false sleep happens when we suspend device because there was not enough memory to start process. But, false sleep seems to happen also when true sleep did happen, but device is waken from this true sleep into false sleep in some moment afterwards, without obvious outer reason like user interaction.

D

[2017-01-13 16:02] houqp commented on #2239
I think your theory is correct! This explains everything. I have been wondering why the suspend script was not executed at all during those false sleeps.

This is in fact the expected behavior of the fork syscall in all UNIX kernels. It's suppose to make a exact userspace copy of the current process with a different in kernel process metadata (PID for example). Naive kernel implementations usually

[2017-01-13 19:05] Frenzie commented on #2488
Alright, fixed. The fix should be in a nightly near you soon.

[2017-01-13 19:05] #2488 closed

[2017-01-13 19:16] Frenzie commented on #2482
@apletnev I assume it's meant to be line thickness, but note that line width is also common (e.g., in SVG and canvas elements). Or is it something else?

[2017-01-13 21:26] gerroon commented on #2469
Is this resolved? Can we get some recent versions of the android builds?

thanks

[2017-01-14 09:34] poire-z commented on #2239
Not sure, but may be things went like this before suspend stuff was rewritten in lua:
1) suspend asked
2) frontlight shut off, screensaver image displayed (so, memory leak, and we reach the critical point): it looks like it's in suspend state
3) 15 seconds delay
4) os.execute("./suspend.sh") , that fails cause of no more enough memory
5) it still looks like it's in suspend state, when it is not

T

[2017-01-14 17:34] AlanSP1 commented on #2239
@poire-z

I'm looking at this @oldhasbeen comment: https://github.com/koreader/koreader/issues/2239#issuecomment-253767762 here he writes that devices true sleep was corrupted without his interaction for several hours.

Also this comment is interesting: https://github.com/koreader/koreader/issues/2239#issuecomment-255948865 Here device was monitored by radio noise, without physical touching. Sudde

[2017-01-15 00:08] oldhasbeen commented on #2239
Let me recap - this is rather loud thinking for myself to clarify things.
We had initially a reproducible scenario of false sleeps. They were recognized and patched (like the USB patch or the timing change).
We observed then that the execution of  true sleep function can be become corrupted and a restart of koreader was the only way to restore it.
It appears at this stage that lua-scripting of the

[2017-01-15 00:22] oldhasbeen commented on #2239
@poire-z
I have played around with the default dictionary lookup and can see what you have pointed out. It makes sense and helps to avoid fishing for red herrings. The frustrating true sleep corruption make me prone to possibly fantasize connections where there are none.
Can you suggest particular actions that I can do to accelerate the memory leaks so that the point of observable malfunction can

[2017-01-15 06:49] sidxiong commented on #1898
I just installed KOReader on my old good Kindle4, which does not support touch. And I didn't find how to reflow pdf.

[2017-01-15 06:56] houqp commented on #2239
It's a known issue that the device will wake up by itself. This can be solved using @oldhasbeen suggestion: have koreader automatically this and put itself back to sleep. The reason I did not implement this feature is because I want to fix the false sleep issue first, otherwise, koreader won't be able to put itself back to sleep in case of false sleep.

I suspect it's because KOReader was crashed

[2017-01-15 07:00] houqp commented on #1898
reflow menu are not accessible from keyboard only devices right now. We claim it as supported because it supports all the features in kindlepdfviewer. A lot of the new features added in KOReader later are touch only unfortunately. Patches welcome to update the documentation or enable those touch only features in keyboard only devices. The code change should be fairly straight forward.

[2017-01-15 07:19] houqp commented on #1898
Yes, code change is needed in this case. If you want to give it a try, I can help point you to the right direction.

[2017-01-15 07:22] sidxiong commented on #1898
I don't know if I understand correctly: is it kind of re-bind the event, which was previously triggered by tap, to some key operation like double-press menu?
I would like to check out the code, could you please tell me which file to start with? Thank you!

[2017-01-15 07:31] houqp commented on #1898
Yes, simply rebinding the event to menu interactions should be enough. I need to go out to run some errands now, will reply with more information here after I am back.

[2017-01-15 09:28] retrue commented on #2486
It is much clearer now, thank you very much.
However, I don't close the issue because there are still two problems. Quoting @houqp in #2491:

[2017-01-15 09:58] apletnev commented on #2482
@Frenzie i think line width is to complicated because it is like programmer's language.

[2017-01-15 11:00] Frenzie commented on #2482
@apletnev Dutch *lijndikte* (line thickness) and German *Strichbreite* (literally line breadth, but properly translated it would be line width) are often translated into English as *line width*. This predates any kind of programming by a long time, cf. [this random book from 1933](https://books.google.be/books?id=eConAQAAIAAJ&q=%22%22+line+width+%22%22&dq=%22%22+line+width+%22%22&hl=en&sa=X&ved=0a

[2017-01-15 11:29] poire-z commented on #2239
(Found 2 more BlitBuffer not freed in AlphaContainer, mostly used by screensaver.)
So, for now, the most easy way to trigger memory leak is displaying a screensaver image, and in 50-100, you should reach the critical point.
But I dont think you should bother with testing that (unless you want to wear out your power button... mine has become lousy...) : it's obvious that things will go bad when we

[2017-01-15 13:30] apletnev commented on #2482
@Frenzie go ahead

[2017-01-15 14:12] houqp commented on #2239
Handy to monitor if actions or features eat memory.
@houqp: should I PR that (may be with only the Resident size) ? or is that too technical for endusers ?

I think this is too technical for other users :) What I prefer is to have all these system info (including disk usage) shown in a modal that can be triggered from the menu. Or even better, have koreader automatically monitor the memory usage i

[2017-01-15 15:01] houqp commented on #1898
As a proof of concept, you should be able to get the reflow working by adding a menu entry that does the following:

1. set `self.ui.document.configurable.text_wrap` to `1`
2. emit the following events:
[code]

To add a new menu item, you can do it in readermenu around line 192. You can assign the return value of `Menu.itemTableFromTouchMenu(self.tab_item_table)` into a local variable, then append

[2017-01-15 15:02] #2482 closed

[2017-01-15 20:11] oldhasbeen commented on #2239
@poire-z
I have added the memory usage monitor. This is at this stage exactly the tool I have wished for. Thank You!!! If this works out as hoped it will restore the needed confidence in koreader for me.

[2017-01-15 20:23] oldhasbeen commented on #2239
@houqp
after almost one week in continuous operation (about 1000 page turns and about 100 suspends and plenty of dictionary lookups) the suspend has not corrupted but the dictionary lookup is now lost again. I am now also pretty sold on the memory leak trail. It seems that the suspend function was more sensitive to corruption and the next obvious in line seems to be the dictionary lookup. I have a

[2017-01-15 21:19] sidxiong commented on #1898
That makes sense! Thank you for that! I never used Lua before but would like to have a try. Maybe after completing my job hunting. >,<
Thank you!

[2017-01-15 21:21] oldhasbeen commented on #2239
Has anyone knowledge how other readers (nickel, kindle etc.) handle memory and memory leaks?

[2017-01-15 21:33] KenMaltby commented on #2239
You could check for "pkill -15"s, wonder how suspend would clear the blitbuffers memory and still have the image displayed.  I don't think the e-Ink display refreshes that way, but I don't know how it would work.

[2017-01-16 02:31] houqp commented on #1898
No problem. Lua is probably one of the simplest dynamic language out there, so it's very easy to learn. Syntax wise it's very similar to Javascript. I recommend the PIL book: https://www.lua.org/pil/. Older version of this book is available for download online. Fun fact, I actually read this book using KOReader(KPV to be exact) while learning to hack on KOReader in the early days ;)

[2017-01-16 02:57] houqp commented on #2239
My guess is that the false sleep problem with the associated battery drain has come to an end. I refrain however to close this thread yet until I have full confidence and that may take some time.
For now I want to express my gratitude for your help and work.

It's indeed a wild ride (more than 100+ technical comments) ;) We couldn't have gone this far without help from everyone especially your det

[2017-01-16 13:40] #2204 closed

[2017-01-16 13:40] Hzj-jie commented on #2204
The keepalive.koplugin has been submitted.

[2017-01-16 13:46] Hzj-jie opened #2494 "Is it possible to retrieve Kindle Voyage / Oasis light sensor value?"
The default behavior of auto-brightness of kindle voyage is less optimized, i.e. the frontlight becomes brighter when the environment is brighter, which, I believe, is wrong for e-ink display. Well, anyway, I am trying to support the light sensor in KOReader.
I have googled around, especially in mobileread, and searched in voyage system, but I have not found anything interesting. Do you happen to

[2017-01-16 16:54] sylvainblot opened #2496 "Kindle oasis crash startup"
* KOReader version: latest
* Device: kindle oasis

#### Issue
launch with KUAL
crash at startup, here is the crash.log file, seems to be gesture related.

[code]
#### Steps to reproduce

[2017-01-16 16:58] sylvainblot commented on #2496
my bad wrong version

[2017-01-16 16:58] #2496 closed

[2017-01-16 21:11] Eduardomb22 opened #2497 "missing some letters from portuguese languague"
I don´t know how to do it,..but Is it possible to add some letters from portuguese to koreader keyboard?
It is missing these two: ã , õ

Thanks for keeping this good software alive.

[2017-01-17 00:22] raimaj commented on #2285
Hi guys, I own an Aura One and I'dlove to have this feature on koreader.
Can I help in any way (testing/donation/developing) ?

Thanks

[2017-01-17 11:29] wvhulle opened #2500 "Light sensor Kobo Aura One (feature request)"
Hi all,

I know there is work going on making the red LEDs work but the intensity of the white and red LEDs is controlled by a light sensor in nickel. Without running nickel this brightness level is not updated automatically. How could I help to make this possible in Koreader?

Best regards

[2017-01-18 14:29] trekk2810 opened #2502 "KR not starting from KA1 w FW 4.2.8283"
* KOReader version: 2015.11-793-gf95ad00
* Device: Kobo Aura One

With the new FW 4.2.8283 Koreader can't be started from KSM after exiting nickel. If I reboot the device manually, I can start Koreader again.

Here's the excerpt from the crash.log.

[code]

There is already a discussion on mobileread, [here](https://www.mobileread.com/forums/showpost.php?p=3460113&postcount=379.)

Possible reason:

[2017-01-18 14:37] houqp commented on #2494
Nothing interesting in /dev/input? On kobo, reading from the Orientation/Motion sensor can be found there.

[2017-01-18 14:38] houqp commented on #2497
Keyboard layouts are defined in frontend/ui/data/keyboardlayouts. You  can edit those files with a text editor to add characters you need.

[2017-01-18 15:07] houqp commented on #2500
We need to find out how to read the sensor output from the kernel, which might require a little bit of reverse engineering. One possible place to look at is /dev/input.

[2017-01-18 15:11] houqp commented on #2285
We still don't know how to properly control the natural light. @baskerville found the kernel interface, but we are still trying to figure out the value mapping. See previous discussion in https://github.com/koreader/koreader/issues/2321. It would be nice if you can help take a look to see if you can find out the pattern ;)

[2017-01-18 15:14] houqp commented on #2502
It's very strange that they only update the bpp value after nickel is launched :( Do you notice any quality improvement from nickel after update?

[2017-01-18 15:23] trekk2810 commented on #2502
No, I can absolutely see no improvement. The refresh seems to look more grainy, but maybe it's just my eyes. :)

[2017-01-18 17:19] Eduardomb22 commented on #2497
Thanks

[2017-01-18 17:52] poire-z commented on #2412
I've been working around this annoying bug by modifying html files and wrapping `<a>...</a>` with a [Zero-width space](https://en.wikipedia.org/wiki/Zero-width_space). For exemple, while saving a wikipedia page as epub, i do:
[code]
This hidden character makes the search code stops at it when looking for the element we taped on, so it finds it and not the link behind, and my tap on a blank area is

[2017-01-19 00:46] AlanSP1 commented on #2502
It seems that patch posted here solved problem: https://www.mobileread.com/forums/showpost.php?p=3460449&postcount=387

I'm not owning KA1 (I own H2O) and also I'm not very much into new Kobo firmwares as I only use KSM+koreader, so I can't confirm it myself.

[2017-01-19 08:03] Frenzie commented on #2477
I consider that a bug. I don't live in the [Soviet Union](https://en.wikipedia.org/wiki/Censorship_of_images_in_the_Soviet_Union), you know. :-P But seriously, silently losing data is a bad thing. [These lines](https://github.com/koreader/koreader/blob/ced671bc6916c929a8d8224a7106e84abfe26184/frontend/readhistory.lua#L50-L54) should be removed.

[2017-01-19 08:49] seacatwu opened #2503 "Statistics can't display the DOC name"
* KOReader version:latest
* Device:kobo aura h2o

Can't display the DOC name in Statistics page.

[2017-01-19 09:36] houqp commented on #2412
Yeah, this seems a little bit too hacky ;) I recall seeing similar issue reported before where a list of footnotes make it really hard to do page turning. I would expect the clickable area to be restricted to the link text too.

Looking at crengine's source code, it's only comparing Y in ldomNode::elementFromPoint in the lookup code path. Perhaps we can change it to compare X too at the end?

[2017-01-19 15:17] ersi-dnd commented on #2477
Good evening. I'm a (somewhat) happy user of Pocketbook Inkpad 2 + Koreader.

Pocketbook Inkpad 2 has its nasty bugs. One of them is that the microSD card suddenly, in the middle of reading out of the blue, vanishes from the system (fails to be recognised all of a sudden). Luckily it doesn't happen too often, about once or twice a month. When this happens, Pocketbook automatically re-scans the lib

[2017-01-19 17:25] trekk2810 commented on #2502
@AlanSP1 : The patch did not solve the problem on my KA1. After exiting Koreader I still get the "KOReader exited irregularly" message from tsherings _emergency poweroff for Koreader_ script.

[2017-01-19 20:41] trekk2810 commented on #2502
tshering provided an updated script, which seems to work. No more problems on my KA1.

[2017-01-19 20:52] poire-z commented on #2412
I checked, but no, elementFromPoint is just used to find the full-width block of lines (p, div or li) where the tap is in.
But it lead me to the processing that is done after that in ldomDocument::createXPointer( lvPoint pt), and I think i found a quite simple solution.
I'm going to open a PR on crengine, so we can discuss it there.

[2017-01-20 11:02] houqp commented on #2502
Did he mention what's the change? I am curious in the root cause ;)

[2017-01-20 17:30] trekk2810 commented on #2502
You can see his modifications [here](https://www.mobileread.com/forums/showpost.php?p=3458767&postcount=366)

[2017-01-21 04:01] Hzj-jie commented on #2494
Unfortunately, no. I have found the change to detect oasis rotation (https://github.com/koreader/koreader/pull/2209/files), which looks like a pretty complex change, with lots of magic strings.

I suppose it can be retrieved by lipc-get-property. I am trying.

[2017-01-21 15:49] retrue opened #2505 "Scrolling bars in new image viewer"
* KOReader version: Any
* Device:

#### Issue

I love the new image viewer feature. It is something that I have wished for ages, but would it be possible to add scrolling bars to view images at scale 1:1 or zoomed that are bigger than the resolution of the screen?
I have a Kobo Mini, and even with this new feature, looking at maps in fantasy books is all but impossible.

[2017-01-21 16:20] poire-z commented on #2505
Could be some fun with onPan and some blitbuffer cropping.
Are scroll bars really necessary ? That seems more complicated.

It would be sad to lose image space with a second row of buttons (zoom+/zoom-/???).
Are the "pinch" and "spead" gestures available on all devices (I guess not on the emulator, but we could add key bindings for the + and - keys) ?
Can you link to some free epub with a few real

[2017-01-21 17:02] #2412 closed

[2017-01-21 17:05] retrue commented on #2505
Really scroll bars are not necessary if you can scroll the image with your fingers. I mean, tap on the image and while tapped, moved it to one side or other.
I think there are two types of situations here.
Situation 1: Images that are big, for example a 1600x1200 image to be seen at scale 1:1 in a 800x600 screen. Here, there should be a button beside "rotate", "close", "scaled" that say something

[2017-01-21 18:47] KenMaltby commented on #2505
Sounds great for maps, especially those embedded in the text, as opposed to those on a map page.

[2017-01-22 08:04] retrue opened #2509 "Last nightly build (2015.11-816) should be removed from OTA servers."
* KOReader version: v2015.11-816
* Device: Kobo Mini

#### Issue
I have just updated through OTA to version 816 from last nightly build (814). With the update I have lost all the information that KOReader had about my books. The history is still there, but when I open any book in the history, it appears like I had never opened it before: No bookmarks, last page open, book status, font and font siz

[2017-01-22 09:23] poire-z commented on #2509
Confirmed: metadata file in `<filename>.sdr/` directory is now named `epub.lua`, instead of `metadata.epub.lua` .
The `metadata` part has been forgotten by there: https://github.com/koreader/koreader/commit/529d1b3d33007c697ab8f0d731fee8abd67c17c5#diff-76de9a14e1e42ed4e9ff8249052ddb05L76

The `metadata.epub.lua` is not lost, and should be used again once this is fixed. You can rename those for the

[2017-01-22 10:00] poire-z commented on #2509
Btw, been curious: do we have any stats about how many users download (manually and/vs OTA) nightly builds ?

[2017-01-22 10:42] #2509 closed

[2017-01-22 10:57] houqp commented on #2509
oops, thanks for the report! I have removed that build from the server. New build should show up in roughly 30 minutes: https://gitlab.com/koreader/nightly-builds/pipelines/5956812/builds

@poire-z we keep all the access log on the server, but they are not being analyzed.

[2017-01-22 12:02] poire-z commented on #2509
Build is still named 816 (shouldn't it be 817 with the fixing commit?)
It does not include the fix (docsettings.lua still as before).

[2017-01-22 12:30] retrue commented on #2509
Yes, I have just updated to this new 816, manually because I already had installed the previous 816, and the problem is not fixed.

[2017-01-22 12:58] houqp commented on #2509
My bad, I forgot the gitlab builds are cloning from gitlab mirror instead of github. Gitlab mirror wasn't updated automatically at the time I triggered the build. I have retriggered all the builds on gitlab. 817 should be available in 30min.

[2017-01-22 16:19] SsnL opened #2511 "[Kindle pw3] airplane mode automatically on exiting koreader"
* KOReader version: v2015.11-817-g8f6a38d
* Device: Kindle pw3

#### Issue
When exiting koreader, airplane mode gets automatically switched on, no matter koreader was opened from kpvbooklet or kual.

The issue occurred when I updated from an old nightly build (~ 2016.9 I think) to the latest version in GitHub release. It is still happening when I updated to latest nightly I can find.

[2017-01-22 18:42] robert00s commented on #2511
Similar issue here: #2379

[2017-01-23 06:57] Ulterimate opened #2512 "dictionary disassemble for Persian (Farsi) language"
* KOReader version:koreader-stable-v2015.11
* Device:pw3

#### Issue
dictionary disassemble for Persian (Farsi) language
#### Steps to reproduce
i have installed a English/Persian dictionary the way been told in  instruction, and it worked but it was disassembled
it should show "stun" word like this :
![1](https://cloud.githubusercontent.com/assets/25292473/22193785/1f35f214-e153-11e6-8236-fe15d59

[2017-01-23 09:07] oldhasbeen commented on #2239
I am now convinced that the memory leak is the root cause. After starting koreader the resident/virtual memory size was 19/69, creeping up eventually to 355/521 where the dictionary lookup stopt to work. At 443/617 I tried to suspend and koreader crashed. Restarting retored full memory and all functions worked ok.  There was never any false sleep - that seems a thing of the past.
Until the memory

[2017-01-23 09:15] poire-z commented on #2239
Memory leaks related to images should be fixed in current nightly (>=813), so you may wish to upgrade to see how that goes, and tell us if it leaks less quickly (there are still some leaks when switching documents).

[2017-01-23 10:41] j4w0r commented on #2239
@poire-z In versions before v.813 on my Aura H2O resident size was increasing by 12MB each time after "suspend (show book cover) - wake up" action. After v.813 in that scenario it is inreasing by 2MB (some small leak was left). All in all, thank you all for determination narrowing suspend/memory problems.

[2017-01-23 14:33] seacatwu opened #2513 "Suggestion：Let the comic gamma definable"
I found change these values can fit the comic gamma.
how can I let these values definable in the defaults.persistent.lua?
![image](https://cloud.githubusercontent.com/assets/9783549/22207741/41c506b8-e1bb-11e6-8e70-fbf39da25cbd.png)

[2017-01-23 15:58] houqp commented on #2513
We are deprecating defaults.persistent.lua now, so no new settings can be added to it. What other values do you need? Maybe we can just add those new values to it.

[2017-01-23 15:59] houqp commented on #2513
If we need to go down the "make it configurable" route, then it needs to be set in `settings.reader.lua`.

[2017-01-24 00:10] poire-z commented on #2239
@j4w0r: i just checked that (cover image - i usually use files), and i _may_ see the same increase you do (_may_, as i'm not sure, the increase is small, there may be some increase when turning pages, and sometimes there's a decrease).
But I may have seen less of that if I choose "Screensaver / autostrech cover image" in the 3rd menu icon.
Can you confirm you were not using autostretch ? And if no

[2017-01-24 01:56] AlanSP1 commented on #2239
readerfooter.lua.txt
It adds a 9th footer item in Status Bar submenu (mem_usage in the code), that will display M:124 207, Resident size and Virtual Size : Resident size should stay below 400 to be fine.
Handy to monitor if actions or features eat memory.
@houqp: should I PR that (may be with only the Resident size) ? or is that too technical for endusers ?

_____________________

@poire-z I'd lik

[2017-01-24 02:08] seacatwu commented on #2503
![image](https://cloud.githubusercontent.com/assets/9783549/22231218/10496b94-e21d-11e6-9007-426f0340686d.png)

[2017-01-24 09:41] oldhasbeen commented on #2239
@poire-z
I agree with Alan SP1. The Crash o Meter is a resource monitor in the same way as a battery gauge is and may have helped immensely with the false sleep corruption issue.
Without book covers as screensaver I see less than 1MB per suspend cycle leaked away. 1-2 MB with book cover - stretching does not seem to change much. Dictionary lookup eats noticeable. I use this often - can be there a

[2017-01-24 09:56] chenxingqun opened #2515 "koreader+fmon failed to start since firmware 4.2.8283 on kobo aura one"
* KOReader version: v2015.11-818-g81bc115
* Device: Kobo aura one

#### Issue
koreader failed to start. after press koreader.png, it returns to nickel

#### Steps to reproduce
update to firmware 4.2.8283
install fmon and koreader, and then open koreader as usual

[2017-01-24 10:05] liyiecho commented on #2515
Me too, so I use KSM8 now.

[2017-01-24 10:21] houqp commented on #2515
This is no something we can help since we don't manage fmon. Do you who maintains fmon?

[2017-01-24 15:11] poire-z commented on #2239
Just checked with the emulator (no suspend, but calling screensaver.show() & close()), that there is a 0.2M memory leak after each, whether cover image is stretched or not, and even when it is displaying text. Image display eats 2-4M, but this seems released or reused. Numbers may be bigger on our devices, dunnoy why, arm stuff ?
Coud you check if you still notice the 1-2 Mb leak if you chose to "

[2017-01-24 15:48] poire-z commented on #2239
For reference: just tried dict lookup with this [pure LUA json decode](http://regex.info/blog/lua/json) in place of the lpeg based one, with no noticable difference in the (small) memory increase.

[2017-01-24 21:20] oldhasbeen commented on #2239
@poire-z
have tested: 10 suspend cycles (wait with am radio until true sleep is present) - check memory usage after each wake up.
setting "exclude this book cover from screensaver"  gives resident/virtual size readings:
initially 34/110 - after 5th cycle 35/110 after 9th cycle 35/111.
setting book cover to "autostretch":
initially 35/111 - after 1st cycle 37/112 - 2nd 39/115 - 3rd 40/117 - 4th 42/

[2017-01-24 21:47] poire-z commented on #2239
Thank you for the tests and numbers.
For completness, could you do the same tests, same conditions, with autostretch off ?
I'll tend to think that if after a few steps, numbers stay stable, it means there's no obvious memory leak with this action.
If we ever put memory usage in the footer, would we agree the resident size (first number) is enough, and the virtual size (2nd number) is of little int

[2017-01-25 01:03] seacatwu opened #2517 "Some zoom fit margin & status bar problem"
* KOReader version:latest
* Device:H2o
#### Issue
1.Zoom fit content width and use status bar, the status bar covered the content.
![image](https://cloud.githubusercontent.com/assets/9783549/22273596/961e065c-e2dc-11e6-8cd9-ee9c33762e5c.png)
2.Zoom fit content height and use status bar, the top margin can't be 0.
![image](https://cloud.githubusercontent.com/assets/9783549/22273671/e232ca50-e2dc-11

[2017-01-25 01:57] AlanSP1 commented on #2239
Just want to comment on too much info in footer is distraction.

I think that if we have option to turn on/off individual items in footer, we can control our "footer irritation level" to our liking. Some would have problems with many items in footer, some would like to keep eye, but we all can control that to our liking, thus having more options we can control to our liking is always better than h

[2017-01-25 02:12] oldhasbeen commented on #2239
@poire-z
autostretch off numbers are (same test procedure immediately done after the others):
42/118 without change during and after 10 suspend cycles.
I do not know the about the absolute importance of the virtual size (2nd number) either. I could imagine however that both numbers are relevant.    My dictionary lookup failed when 355/521 was reached. My RAM is 512. I would guess that with a small

[2017-01-25 04:14] #2503 closed

[2017-01-25 08:13] poire-z commented on #2512
Not sure about what your problem is, as i don't read persian and am not sure about what you mean by disassemble.
But if you'd mean the persian characters you see are not the ones you expect to see from your B Nazanin font, you may try to change the order of the .ttf in the font.lua you were editing, and make it the first:
[code]
If that does not solve it (the dictionary uses the noto/NotoSans-Regu

[2017-01-25 19:44] robert00s commented on #2497
Similar to #2319 I propose that layout:

![1](https://cloud.githubusercontent.com/assets/22982594/22306258/d8a48cfa-e33e-11e6-876f-ee5161bf1339.png)

![2](https://cloud.githubusercontent.com/assets/22982594/22306259/d8aa7408-e33e-11e6-9a25-afd605bc4b0a.png)

Is this correct?

[2017-01-25 19:59] Eduardomb22 commented on #2497
Yes! Thanks for fixing it!

[2017-01-26 05:33] seacatwu commented on #2513
![image](https://cloud.githubusercontent.com/assets/9783549/22320937/955292f2-e3cb-11e6-9fe7-46743c1a4675.png)
Maybe we can let margin-top or margin_bottom configurable.

[2017-01-26 09:03] #2497 closed

[2017-01-26 10:05] retrue commented on #2466
I tested the checked tag for the keepalive plugin and it works well. Closing the issue.

[2017-01-26 10:05] #2466 closed

[2017-01-27 10:40] retrue commented on #2386
After opening the book that had problems and using it a couple of days, it crashed again when I turned off the embedded styles. Clearing the cache solved the problem again, but this time, before deleting the cache I made a back-up of it.
I have tried to reproduce the problem after clearing the cache by opening, turning pages and closing the book, without success.
@houqp I have sent you to your ema

[2017-01-28 05:34] gerroon commented on #2469
Any word on this issuie? We have not had an android build for a while.

[2017-01-28 08:22] Ulterimate commented on #2512
Great thanks for your help, but Unfortunately it's not working
but i tryed an other trick and it worked:
the persian language has two difference with english that makes us problems
1- it's right-to-left and in dictionary it like we write "hello" and it shows "olleh"!
2-when you write persian letters near each other without any Space between them, they will join each other unlike english
so meaning

[2017-01-28 12:35] frankyifei commented on #2386
can you send me the files, so I can have a look. I ran into this sometimes but I dont have the cache files. [my email](fredyifei@gmail.com)

[2017-01-28 12:48] retrue commented on #2386
@frankyifei Sent, check your email.
I am using the last nightly build of KOReader and my device is a Kobo Mini.

[2017-01-29 13:45] frankyifei commented on #2386
using gdb get this
[code]

[2017-01-30 06:05] frankyifei commented on #2297
can we apply this to avoid compile error https://github.com/zeromq/czmq/commit/2594d406d8ec6f54e54d7570d7febba10a6906b2

[2017-01-30 13:53] houqp commented on #2297
Yes, backporting this patch is the quickest fix

[2017-01-30 13:53] #2479 closed

[2017-01-30 16:28] #2505 closed

[2017-01-30 17:30] retrue commented on #2489
In other book, that first button works, so I don't know why it didn't work with that book.
I would have to try with several books to try to identify what is the problem.

[2017-01-30 17:34] SsnL commented on #2511
Can we at least disable that workaround for non-kobo-ksm devices?

[2017-01-30 18:50] trekk2810 opened #2520 "Problem with Kobo Suspend: Kobo Aura One wakes up by itself"
* KOReader version: v2015.11-793-gf95ad00
* Device: Kobo Aura One

Short version:
My KA1 mysteriously woke up from suspend (with it's screensaver still showing). In the time between 7:49 and 14:52 the battery life went down from 91% to 43%.

Here is what happened in detail:
As you can see in the excerpt of the KoReader log, the device was suspended on 01/29/17 - 22:59:36. That was the time I  push

[2017-01-30 21:37] taosxx commented on #2520
I've seen the same on a Kobo Glo HD with a fresh install of v2015.11-822-g399190c: goes to sleep, wakes up mysteriously a few minutes later - but still shows book cover as screen saver - drains battery from 96% to 43% over night.
Koreader was started from KSM8 after exiting nickel, suspend was entered after closing sleepcover, device was not moved.

[2017-01-31 08:36] retrue commented on #2505
I tested it. Pinch and spread (for zoom in and out) don't work on my Kobo Mini. I don't know if it is a bug or a hardware limitation in Kobos Mini. I mean, I don't know if pinches can be added to Kobo gestures.
But the rest of the PR works great and I am more than happy with it.
Thanks.

[2017-01-31 15:36] poire-z commented on #2505
Could be some hardware or kernel limitation.
But just to be sure: try to be quick when pinching/spreading. I noticed that if you're too slow, and hold too long at start or end, the gesture may be considered a hold-like event, and not be sent as pinch or spread.

[2017-01-31 15:36] anarcat commented on #1580
I wrote a plugin called wallabako for kobo readers that does this. Head over to [gitlab](https://gitlab.com/anarcat/wallabako/) to see what's up with that...

[2017-01-31 15:37] anarcat commented on #1634
@chrox if you want to see how i implemented wallabag sync in the kobo reader, you may want to review my code in [wallabako](https://gitlab.com/anarcat/wallabako/).

cheers!

[2017-01-31 16:33] retrue commented on #2505
Checked again. Pinch or spread don't work on my Kobo Mini. If somebody else can confirm that it works in other devices, then it must be a hardware or kernel limitation.

[2017-01-31 17:15] poire-z commented on #2505
It works on my Glo HD.
We could add an other single touch gesture for zooming, like vertical swipe in a 1/16 wide zone on the side (left side ? right side ? there's already the kobolight plugin that uses this on the left side, dunno how they would conflict).

[2017-01-31 18:27] retrue commented on #2505
Is there space beside "Original size", "Rotate" and "Close" to add two more buttons, "Zoom -" "Zoom +"? Or would it be too cluttered?

[2017-01-31 18:34] KenMaltby commented on #2505
This issue has an interesting history.  The capacitance based original Aura (non-HD) has multi-touch built-in, it is the only Kobo E-reader that multi touch should work on.  All the others use an IR touchscreen that has only half its multi-touch implemented.  But - there are several reports where the Glo HD is able to use multi-touch functions.

[2017-01-31 19:36] retrue commented on #2505
In my case vertical swipe on both sides will work great because Kobo Mini doesn't have light.

[2017-01-31 19:40] poire-z commented on #2505
It was easy to add zoom with vertical swipes on both sides of screen, so here it is.
@retrue: you may want to download the raw imageviewer.lua from my PR and drop it in place of the current one, and say if 1/16 width is enough on your small screen.
No conflict with existing gestures as i was already masking them while allowing panning with zoom on the full scrren.

[2017-01-31 20:04] retrue commented on #2505
Which ones are exactly the gestures? And which one zoom in and wich one zoom out?

down to up, left side?
up to down, left side?
down to up, right side?
up to down, right side?

Because right now I have a very zoomed in image and I cannot zoom it out.

[2017-01-31 20:09] poire-z commented on #2505
Both sides works (but small width, so you may need to touch the border) :
down to up (swipe north) on left or right side will increase zoom (zoom in)
up to down (swipe south) on left or right side will decrease zoom (zoom out)

[2017-01-31 20:15] retrue commented on #2505
Thanks. Now it works. I have to be a bit patient so the screen has time to react.

[2017-02-02 09:32] houqp commented on #2520
This is a known issue, although I don't expect it to happen at the frequency that @taosxx is experiencing. Can any of you run koreader in debug mode to help collect more logs? I am curious what event wakes up the device.

At the mean time, I will submit a patch to put device back to sleep during unexpected wake up actions.

[2017-02-02 10:20] houqp commented on #2511
Yes, will get this fixed asap. It's holiday season here unfortunately :(

[2017-02-02 13:40] farconada opened #2526 "Feature Request: publish to twitter"
* KOReader version:
* Device: Kobo aura One KA1

It would be great to select a quote and publish it to twitter. I've used to do it a lot of from my tablet reader

Thanks

[2017-02-02 14:28] houqp commented on #2520
@taosxx can you confirm that all activities from your log are generated while the device is not operated at all? It doesn't make sense that it keeps suspend and resume by itself because there is no such logic in the code. Only things that can trigger this is closing/opening sleep cover and toggling power button. Have you tried placing the device in a different location?

[2017-02-02 15:35] taosxx commented on #2520
First time was over night. It was on a table next to my bed. Second day, I forgot to take it with me and left it on the counter during the day (no pets or humans at home).
I've enabled debug mode and have it lying on a table in its sleep cover at the moment, I'll let you know if I find something strange in the log file again.

[2017-02-03 10:25] Frenzie commented on #2526
I have no interest in implementing this myself, but the API references are here: https://dev.twitter.com/overview/api

[2017-02-03 12:28] sbll885 opened #2529 "Install on Kobo Glo HD"
* KOReader version: koreader-stable-v2015.11
* Device: Kobo Glo HD, firmware 3.19.5761

#### Unable to launch crash ?

####  Install based on [Start Menu](https://github.com/koreader/koreader/wiki/Installation-on-Kobo-devices).
Start menu was installed , after reboot device started in Start Menu.
**koreader** folder was copied to _.adds_ directory
After  additional restart I can see **start koorea

[2017-02-03 14:12] KenMaltby commented on #2529
I am surprised at the number of people who find it odd that the reader opens in the "File Manager".  That they don't seem to see it as part of the reader.  Perhaps there should be a one time (or dismissible)  information message box with instructions on how to navigate the file manager and select books to read.  It might also explain how to set a "Home" directory for the File Manager. (That would

[2017-02-03 14:19] frankyifei commented on #2386
[code]

[2017-02-03 14:50] AlanSP1 commented on #2529
In file manager there's option to open last used file. I always select that option to enter book I read at the moment.

And yes, some instructions are needed for new users (and for older ones like myself, there's so much options, functions...)

[2017-02-03 15:14] retrue commented on #2529
There are too many options that are only available through editing setting.reader.lua with zero information on the web or wiki. They can be found only through reading the issues and pull requests found here in Github.

[2017-02-03 15:59] baskerville commented on #2502
Here's an excerpt from the related [MR thread](https://www.mobileread.com/forums/showthread.php?t=282758):

[2017-02-03 17:53] baskerville commented on #2502
This naive patch:
[code]
leads to a segmentation fault.

[2017-02-03 19:37] Frenzie commented on #2502
Odd, BB.TYPE_BBRGB32 works in the SDL emulator.

[2017-02-04 09:56] retrue opened #2530 "Feature Request: Debug mode and crash.log stuff in Developper options"
#### Issue

I would like to see in Developper options a menu entry to enable Debug mode. When enabled it should appear ticked. And below Debug mode add too several menu entries related to crash.log. They could be:
Delete crash.log
Rename crash.log
Open crash.log (to look at it as a text file)

For me, as an user who reports bugs it is useful because I avoid connections to the computer to activate/

[2017-02-04 13:32] KenMaltby commented on #2530
The File Manager already has the ability to delete and rename .txt files, it can't be hard to add ".log" to cre's registered file types.  Setting debug mode, with a tick mark to indicate when it is enabled, sounds great.

[2017-02-04 13:45] Frenzie commented on #2530
A little extra line here should do for opening log files: https://github.com/koreader/koreader/blob/97d34c5bb0de21a8c2ad2cb47ead64b2d3de89ff/frontend/document/credocument.lua#L454

[2017-02-04 15:19] houqp commented on #2386
It's very possible that chunk's value was miscaculated somewhere in the code so it points to a unmapped memory address. To see what address is available, you can check the address mapping in `/proc/PID/maps`. Is it easy create a reproducible test case out of this?

[2017-02-04 15:24] houqp commented on #2529
We are very resource constrained on documentation unfortunately. I see two ways to scale this:

1. have volunteers with technical backgrounds to help maintain the manual
2. automate the document generation with tooling. This way, developer can put the document in the code as comment and have the manual generated automatically

Option 2 would be ideal and is something on my long todo list. If anyon

[2017-02-04 15:46] houqp commented on #2530
I like this feature, seems like a quick win for us. In the long run, we should automate the process and make the crash log collecting and bug report experience a "one click" action.

[2017-02-04 18:19] KenMaltby commented on #2530
At some point it also might, be a good idea to add a log.css, to make the crash logs more presentable.

[2017-02-05 05:36] frankyifei commented on #2386
I tested with coolreader, which has the same problem if its own memory management is turned on. It is easy to reproduce this bug. There is a function called autoboxChildren (), which cleans up Dom tree, will cause problem when the file is read from cache. Only way to avoid it crash is when the cache is created for first time, turned off embedded style and let the cache save the dom. And afterwards

[2017-02-05 10:32] baskerville commented on #2502
I've enabled verbose debug messages but the resulting`ev.log` is empty.

`crash.log` contains this:
[code]

[2017-02-05 10:35] Frenzie commented on #2502
Juxtaposed like that it looks pretty funny. Surely there's no relation between the two error messages though? :-)

[2017-02-05 10:45] baskerville commented on #2502
No, there isn't, the first line appears at the beginning of every crash report…

[2017-02-05 11:26] baskerville commented on #2502
By using `logger.info`, I was able to find where the segfault happens: line 68 in `base/ffi/framebuffer_linux.lua`:
[code]

[2017-02-05 12:08] Frenzie commented on #2502
Have you tried using something like `ColorRGB32(0xFF, 0xFF, 0xFF, 0xFF)` (or should that be `ColorRGB32(0xFF, 0xFF, 0xFF, 1)`)?

https://github.com/koreader/koreader-base/blob/3e9b63f5cafc12335e18ea8ed313aa01c004b745/ffi/blitbuffer.lua#L1316-L1319

[2017-02-05 13:49] baskerville commented on #2502
I will try your suggestion, but first I'd like to refine the location: the first call to `setPixel` in `base/ffi/blitbuffer.lua`, on line 810 crashes. And more precisely, the segmentation fault occurs on line 150, when resolving `self.r` (`c.r` is ok):
[code]

[2017-02-05 13:55] baskerville commented on #2502
The suggestion doesn't have any effect.

[2017-02-05 14:42] houqp commented on #2502
What did you get as the values for `self.fb_sizer`, `vinfo.xres`, vinfo.yres` and `finfo.line_length` in framebuffer_linux.lua? Looks like out of bound memory access to me.

The SDL driver uses it like the following (in framebuffer_SDL2_0.lua):

[code]

If you only pass in the first 3 arguments, blitbuffer will automatically allocate the memory for you so you will get the correct memory size.

For

[2017-02-05 15:43] baskerville commented on #2502
[code]

[2017-02-06 09:54] baskerville commented on #2502
I've added two lines in `framebuffer_linux.lua`:
[code]
And the output for those lines is:
[code]

[2017-02-06 15:21] houqp commented on #2502
Depends on the actual value in `self.data`, if there is no `\x00`, `ffi.string(self.data, ffi.sizeof(self.data))` might lead to segfault. You can test reading and writing of the memory with:

[code]

Here is how the math works:

`finfo.line_length` specifies the actual size of each row in the blitbuffer in unit of bytes. The actual framebuffer memory region size should be `vinfo.yres * finfo.line_

[2017-02-06 16:37] baskerville commented on #2502
`self.data` is a pointer, right? So why can't its value be read?

And since I'm specifying the size, there's no terminating char to search for…

Nothing.

[code]

I've said it before but maybe I should repeat myself: the segfault happens on the **first** call to `setPixel`, i.e. when `x = 0` and `y = 0`…

So, for example, this expression: `self.bb:getPixel(0, 0).r` generates a segfault.

[2017-02-06 20:17] gerroon opened #2531 "Android build?"
Hi

Can we please get some recent buildfor Android? It has been a while since we had one and hopefuly we have the android key signing fixed.

[2017-02-07 11:11] toiiggww opened #2532 "Crash on Sony Z5P"
* KOReader version: -587-ga55a987 and 696-g2bc7b01
* Device: Sony Z5P, not rooted

#### Issue
always crash when open pdf and mobi file
#### Steps to reproduce
just open it

[2017-02-07 15:33] houqp commented on #2531
I introduced another bug while fixing the double signing issue:
https://github.com/koreader/koreader-misc/blob/master/nightswatcher/nightswatcher.py#L79

The `*` got expanded before passing to the `zip` command, which broke the android build. Unfortunately I am in travel mode again and won't be back until mid Feb :(

[2017-02-07 15:34] houqp commented on #2532
Is it an android device?

[2017-02-07 15:48] Frenzie commented on #2531
I'll look at it tonight.

On Feb 7, 2017 16:33, "Qingping Hou" <notifications@github.com> wrote:

[2017-02-07 15:59] houqp commented on #2502
Yes, this is indeed the weird part. You can do `print(self.data)` to obtain the memory address to see if it's in the expected range. Although if mmap didn't fail, we really should be getting a valid memory address.

Have you tried the following code?

[code]

To rule out the possibility of bug in LuaJIT, we can write a dummy test program in C that does just the mmap call with framebuffer file (/de

[2017-02-07 16:01] houqp commented on #2531
Thanks! It should be a fairly straight forward fix, just need to figure out how to pass `*` to the zip command from python. The `*` is probably also not required for the zip command to remove a whole folder.

[2017-02-07 16:11] retrue commented on #2532
It is a Sony Xperia, an Android smartphone.

[2017-02-07 16:25] gerroon commented on #2531
thanks for looking into it guys.
If I remember right Python uses Popen subprocess but my Python knowledge is a bit rusty.

[2017-02-07 16:39] houqp commented on #2531
I am using the subprocess module from gevent, but the API is probably very similar :)

[2017-02-07 18:16] wvhulle commented on #2500
Is there an easy way to read files in /dev/input while the devices is connect over usb?

[2017-02-07 22:07] Frenzie commented on #2531
If I did this Docker thing right then it should be spitting out a proper Android build in some 8 hours, but I'm not entirely sure how to trigger it manually. Or if I did do it right, then there's another error in there:

[code]

[2017-02-08 11:00] Frenzie commented on #2531
I'll just drop this here for now as I'm not sure what's up with the OTA server exactly.

http://apkshared.net/2BKl

I don't know if it actually works because KOReader doesn't work on my phone regardless.

[2017-02-08 14:50] Hzj-jie opened #2533 "TimeAPI.org is dead"
* KOReader version: timesync.koplugin
* Device: independent

#### Issue

#### Steps to reproduce

Unfortunately, timeapi.org is dead. http://www.timeapi.org/utc/now is not accessible anymore.
Should we add our own time server in kosync server?

[2017-02-08 15:34] Frenzie commented on #2533
Could it just be temporary?

[2017-02-08 19:17] gerroon commented on #2531
@Frenzie

thanks , I will test it out, however the original issue was that there were multiple apk signatures so we should only get one apk that use the same signtatures across otherwise we need to constantly uninstall and install, not sure what the method is for when multiple devs are releasing the same apk builds

[2017-02-08 19:49] Frenzie commented on #2531
This is (or should be) the proper build with the proper key. It's not me just running `./kodev release` on my regular machine. ;-)

[2017-02-09 01:37] toiiggww commented on #2532
android version 6.0

[2017-02-09 14:26] Hzj-jie commented on #2533
I hope so. But it has already died for a while.

[2017-02-09 16:35] Frenzie commented on #2533
This has something to do with time synchronization, right?

Are there any objections to my suggestion from https://github.com/koreader/koreader/issues/1712#issuecomment-155100070 ?

Made slightly more explicit earlier here: https://www.mobileread.com/forums/showthread.php?p=3212807&highlight=ntpd#post3212807

[code]

Those pools have a track record of decades.

[2017-02-09 17:05] gerroon commented on #2531
Couple issues

-crashes during start up

-mising icon

-wrong app package name

:)

02-09 11:02:35.015  3186  5915 I ActivityManager: Start proc 1328:org.koreader.launcher/u0a298 for activity org.koreader.launcher/.MainActivity
02-09 11:02:35.100  1328  1328 W System  : ClassLoader referenced unknown path: /data/app/org.koreader.launcher-1/base.apk
02-09 11:02:35.135  1328  1328 W XPrivacy: Hookin

[2017-02-09 22:20] Frenzie commented on #2531
Freezes and crashes are normal on Android so I can't comment on that. The program has never once worked on my phone.

I'm not sure what you mean about app package name. Looking at the previous releases they're all the same.

* koreader-android-arm-linux-androideabi-v2015.11-845-g6b5b426.apk
* koreader-android-arm-linux-androideabi-v2015.11-696-g2bc7b01.apk
* koreader-android-arm-linux-androideabi-

[2017-02-09 22:32] Frenzie commented on #2531
Ah, perhaps I see the problem. There's a missing META-INF/KOREADER.RSA and META-INF/KOREADER.SF which would explain this resources stuff. (Meaning deleting everything in META-INF was a bit overzealous.) I imagine it should stick to `CERT.RSA`, `CERT.SF` and `MANIFEST.MF` because those are what's generated by jarsigner. The others probably stem from building the launcher or something. I'll give it

[2017-02-10 01:12] gerroon commented on #2531
@Frenzie

Yeah android builds were never great, but the builds from last 6 months did work ok for me. I use it on multiple devices.

[2017-02-10 02:08] Germanc opened #2537 "Wikipedia not working on Android since latest nightly 20170209"
* KOReader version: koreader-nightly-20170209
* Device: Onyx C67ML Android 4.2

#### Issue
Wikipedia does not work since latest update. When I look up a word from a book it says "Do you want to turn on wifi?". Neither Cancel or Ok open up a wikipedia search. If I try to do a wikipedia search from the file manager, it does not ask to turn on wifi but still won't show the search.
The ereader is conn

[2017-02-10 09:22] Frenzie commented on #2537
The Android build may still be slightly broken. I'll remove it for now.

[2017-02-12 00:09] hombretranquilo opened #2538 "Cut text on bottom menu tab on Aura HD"
* KOReader version:  since v2015.11-816
* Device: Kobo Aura HD

Since version 2015.11-816 this menu looks wrong in some languagues:

![reader_2017-feb-11_235825](https://cloud.githubusercontent.com/assets/8158703/22858466/94760710-f0be-11e6-8830-e6598f498354.png)
![reader_2017-feb-11_235940es](https://cloud.githubusercontent.com/assets/8158703/22858465/94762d58-f0be-11e6-8bd7-46e8bb7835a5.png)

In

[2017-02-12 02:26] houqp commented on #2533
I suggest we switch to use NTP too. There are plenty of reliable NTP servers out there, for example: https://developers.google.com/time/

[2017-02-12 02:32] houqp commented on #2531
@Frenzie good catch. Deleting the whole META-INF directory is just a tip I found from the internet so it might not work for us. I haven't tested it myself. The problem we need to solve here is how to resign a debug APK with a release key. I choose to do it this way so that we can keep the release key in our own koreader server instead of gitlab's CI servers.

[2017-02-12 02:40] houqp commented on #2500
Yes, you should be able to still read all the input from /dev/input while device is connected to usb. I recall there is a builtin command to dump events from /dev/input, but I can't remember the name. You can just write a simple problem in C or LuaJIT to read and print the events: http://stackoverflow.com/questions/15949163/read-from-dev-input

[2017-02-12 03:16] houqp commented on #2538
two new commits in 816:
529d1b3d33007c697ab8f0d731fee8abd67c17c5
642cb8871bdcf01fd892a59a0e789b180f0f9287

I can't tell which one causes the bug by just looking at the commit message. We will have to dig into this.

[2017-02-12 17:06] Hzj-jie commented on #2538
The first change regards to the DocSettings, which should not impact rendering.

[2017-02-15 14:40] roger64 opened #2539 "Forced to use clippings instead of Evernote."
* KOReader version: v2015.1-847-g726b15a
* Device: PW3

#### Issue
Trying to export to Evernote plugin does not work anymore. Instead, when presing the green underlined item (see screenshot) it exports highlights to the new clippings.txt file.

This clippings has been marked (see red underline), probably after an OTA update, and I cannot change it. The usual long press fails to do it.

BTW the new

[2017-02-15 15:57] KenMaltby commented on #2539
Perhaps OT, but after checking it out I couldn't dismiss the highlight from the text.

[2017-02-16 00:12] allati opened #2540 "Calibre wireless connection not established (correctly)"
* KOReader version: v2015.11-847-g726b15a
* Device: Kobo Aura H2O

#### Issue
Several months ago Koreader nightlies stopped connecting to Calibre wireless server. It didn't bother me enough to remember exact build when it happened, so I cannot provide version info when the problem began. Latest stable release (koreader-stable-v2015.11) works OK however.

#### Steps to reproduce
1. Start wireless s

[2017-02-16 04:17] Leoongithub commented on #2532
I also came across this problem when I try to open a pdf file on external sd card. But it works if the pdf is in mobile storage.

[2017-02-16 11:04] pazos opened #2542 "[Kobo] [framebuffer]: koreader doesn't work with FW 4.2.8432"
* KOReader version: any recent version
* Devices: Kobo Aura HD / Kobo Aura One / ...
* Ways to launch koreader: fmon, kfmon, advboot, shell

After upgrading to FW 4.2.8432 koreader doesn't start with crash.log:
`...`
` [*] Current time: 02/16/17-11:52:26`
`02/16/17-11:52:26 ERROR cannot open translation file: l10n/en_US/koreader.po`
`./luajit: ./ffi/framebuffer_linux.lua:60: unknown bpp value for

[2017-02-16 14:06] pazos commented on #2542
Easy peasy:

fbset -geometry 1080 1440 1088 3072 16
echo 3 > /sys/class/graphics/fb0/rotate

** before ** start koreader

[2017-02-16 14:12] pazos commented on #2515
same in #2542, it affects koreader via fmon kfmon and shell script. KSM8 was patched to work with this FW

[2017-02-16 15:09] Frenzie commented on #2542
I imagine this is a duplicate of  #2502 which has some investigations into supporting 32 bits. Until such time your workaround might not be a bad thing to add, but of course it can't be added to koreader.sh just like that. I suppose the simplest option would be something along these lines but perhaps checking against device names (`$PLATFORM`, is it?) would be better.

[code]

[2017-02-16 15:47] pazos commented on #2542
Those values are device specific (in that case for Kobo Aura). Here is a [hackish device agnostic approach](https://github.com/koreader/koreader/files/780623/test.zip)

As for the rotation value it might change between devices, but I don't know

[2017-02-16 16:12] Frenzie commented on #2542
Right, I suggested device specific values because those would've been tested and confirmed. Naturally a device-agnostic approach is better, but then again it's just a hack in lieu of 32-bit support… Btw, you can just stick a short script like that in using three backticks. Makes it easier to read. ;-)

[code]

Btw, if you take a look at the issue I referenced above perhaps you'd be able to assist

[2017-02-16 18:05] robert00s commented on #2378
@houqp
I have a question.
Where is the function in KO that creates writes in file metadata with "performance_in_pages"? After implement sqlite3 pages and time should be insert into DB.

[2017-02-16 23:19] mblq opened #2543 "kobolight.koplugin: frontlight toggle with tap on bottom left corner is not working"
* KOReader version: koreader-nightly-20170209
* Device: Kobo Glo HD

#### Issue
Tap on bottom left corner toggles status bar but does not toggle frontlight.
One finger swipe on left margin to change the frontlight works.

#### Steps to reproduce
Just try it.

[2017-02-17 03:17] KenMaltby commented on #2378
As long as I can continue to totally ignore all the data gathering and it doesn't mess with my reading in any way, I won't be bothered.

[2017-02-17 07:22] Hzj-jie commented on #2533
Emmm, I should learn more linux commands. I do not even know there are ntp command-line tools.
I will confirm ntpdate (I assume we should use this command to update the time.) is available on both Kindle and Kobo, and update this plugin.

[2017-02-17 07:26] Hzj-jie commented on #2539
Do you mean you cannot click the 'Export to local clipping text file' again to uncheck it?

[2017-02-17 07:33] #2486 closed

[2017-02-17 07:33] Hzj-jie commented on #2486
I believe this bug should have been fixed already.

[2017-02-17 07:34] Hzj-jie commented on #2483
Fixed.

[2017-02-17 07:34] #2483 closed

[2017-02-17 07:38] Hzj-jie opened #2544 "Plugin management"
* KOReader version: Up to 4f1cabc
* Device: independent

#### Issue

Since we are adding plugins, we may need a feature to let users hide unwanted plugins to reduce the length of plugin menu. Hidden plugins can still be retrieved in 'Other plugins' menu item.

#### Steps to reproduce

[2017-02-17 08:34] hwhw commented on #2502
Hi everyone! Since I'm done with my exams (have a law degree now), having successfully found a job (IT project management in university library) and almost being done with rectifying my flat and other living circumstances, I think I ought to get back on track with this project again :-) And this bug sounds like a job for me! (Sorry, this adds nothing substantial to the discussion, just wanted to l

[2017-02-17 08:39] Frenzie commented on #2502
Congratulations!

[2017-02-17 13:12] pazos commented on #2542
@Frenzie thanks for the tip ;)

I'm an hobbie user here, so no clues for the 32 bit support thing. Sorry

[2017-02-17 13:44] Frenzie commented on #2542
In the other bug @hwhw said he'll look at it, so we can safely consider this taken care of. :-) I'll close this issue in favor of the other.

[2017-02-17 13:44] #2542 closed

[2017-02-17 13:44] KenMaltby commented on #2539
What I couldn't dismiss was the highlight on the selected text in the epub.  ( I only used the highlight function to test out the poster's problem and perhaps there is a procedure to remove the highlight, that I am not aware of.)  Since the submenu is no longer just for "Evernote", you might want to change it to "Highlight options" or something.

[2017-02-17 14:06] roger64 commented on #2539
Thank you for taking care of this. The clippings feature looks a little unstable because, for me,  nothing is working anymore.

To comment further: I managed to take out the tick bar after pressing some time, but I can't select any of the items. I cannot export to Evernote like I was used to and even the export to clippings text works no more.

[2017-02-17 14:46] pazos commented on #2542
@hwhw : oh, master! ;)
@Frenzie: please close #2515 too

[2017-02-17 16:45] #2515 closed

[2017-02-17 16:45] Frenzie commented on #2515
Closed in favor of #2502.

[2017-02-17 18:27] Hzj-jie commented on #2539
Evernote export failure may relate to issue #2452.
But you should always be able to enable or disable text export by short press the menu item. I do have a plan to update evernote menu items, but before that, would you mind to tell me your operations, so we can fix the issue on your device first.

[2017-02-17 20:48] baskerville commented on #2542
Thanks for the workaround!

I've come up with a short patch:
[code]

[2017-02-18 01:52] roger64 commented on #2539
Well I think there was a big misunderstanding of mine about how to use this new feature. Indeed everything works well with short presses and a little brain.

1. The short press on "Export to local clipping text file" just toggles (**on/off**) the tick mark on this line and do not do anything else (except provide a useless "confirmation" flash.
2. The line  "Exporter toutes les notes contenues dans

[2017-02-18 02:28] houqp commented on #2532
Sorry guys, android platform support is still experimental right now. We have the proof of concept, but no one is actively working on it right now. I have ideas to fix some of its instability issues, but not much time. If anyone wants to contribute at it, let me know and I can point you to the right direction.

[2017-02-18 02:36] houqp commented on #2378
@robert00s see plugins/statistics.koplugin/main.lua around line 614.

@KenMaltby I only expect the new plugin to be faster and more stable than the current one. So if the current version is not bothering you, you should be fine :)

[2017-02-18 07:57] houqp commented on #2544
What's even better is a full-fledged plugin manager that can:

1. disable plugins
2. update plugins
3. install new plugins

[2017-02-18 08:36] houqp commented on #2502
OMG, this is possibly one of the biggest news in KOReader community. Welcome back @hwhw !!! For some reason I thought you already got your law degree awhile ago ;)

Well, I was planning to take a look at it this weekend since I left my Aura HD at my home town 12000KM away and finally has an excuse to play with my Aura One. But since you are at it, I will switch back to the suspend issue and possib

[2017-02-18 10:33] retrue commented on #2544
I like houqp suggestion about the plugin manager.
About hiding entries in the menu, I dedicated some thinking to that problem a few weeks ago, but my idea wass more ambitious. Too ambitious in fact because a new UI will be implemented in the future.
My idea was to make use of the Show advaced options feature and going much further.
You would have three modes:
- A simple mode, where only the more b

[2017-02-18 11:03] Frenzie commented on #2544
I don't think there's an of course there. In good old Opera/Presto I had a completely customized [menu.ini](https://github.com/koreader/koreader/files/784960/menu.ini.zip). The way it worked was that you added the sections you wanted to change and the rest simply stuck to the default. The attached file is a somewhat excessive example of a complete GUI overhaul.

In Opera's spiritual successor [Ott

[2017-02-18 11:10] #2533 closed

[2017-02-18 11:10] retrue commented on #2544
Should I open a feature request?

[2017-02-18 14:28] oscarxh commented on #2387
Same situation happened when I tried to use evernote.
Plugins/evernote.koplugin/EvernoteOAuth.lua:210: wrong version number.

[2017-02-18 21:20] retrue opened #2547 "Open last document behavior: Intended, bug or feature?"
* KOReader version: Last nightly versions
* Device: All of them

#### Steps to reproduce
Open a new book you are not reading. Advance some pages. Close the book. If you check the History, this new book will be the first one in the list.
Now, in the file manager, select this new book and purge sdr. If you check the History, the new book will have disappeared from the list.
Now, choose the option "O

[2017-02-18 22:04] asampal commented on #2441
I started working on a more general solution for this, but got stuck with refreshing a dialog box after returning from the one where you choose a new directory to download to. Specifically, I wanted the title of the initial dialog to contain wording like "Choose a download format to download to <path>". Not being familiar with the GUI stuff, I couldn't get a new path to be updated.

I'll take anot

[2017-02-18 23:50] Hzj-jie commented on #2539
Glad to know it works for you indeed.
Yes, we have already realized the menu items are pretty confusion. I plan to update it soon or later.
Regarding to the existing clipping.txt file, a principle at least I followed is, do not delete anything without users confirmation. But, yes, maybe we can change the information message into a two-button option window. I.e.
Do you also want to purge clipping.t

[2017-02-19 07:38] Frenzie commented on #2547
Also see #2477

On Feb 18, 2017 22:20, "retrue" <notifications@github.com> wrote:

[2017-02-19 09:23] baskerville opened #2548 "Scrolling behavior"
During a scroll interaction, *koreader* tries to re-render the page for each touch event: it doesn't seem like the best possible approach for an e-ink screen.

Here's my suggestion:
- Don't refresh the page until the end of the scroll gesture.
- Only record the first and last touch points.
- When the gesture is over, let `P_s = (x_s, y_s)` be the first touch point and `P_e = (x_e, y_e)` be the las

[2017-02-19 09:50] #1996 closed

[2017-02-19 10:49] Frenzie commented on #2548
Scrolling is definitely somewhat suboptimal, but I don't think going entirely feedback-less is the right approach either. Nickel scrolls reasonably well in PDFs and the browser.

Also, don't blame E Ink for what I assume are mostly Kobo implementation details and partially KOReader ones :-P

* ScummVM (2011) https://www.youtube.com/watch?v=8iFoMhJCCbo
* Nook Simple Touch emulating PlayStation 1 ga

[2017-02-19 11:09] poire-z commented on #2548
This has also bugged me since the start on kobo.
As i don't know about other devices behaviour, i'm just patching my readerpaging.lua with this:
[code]

[2017-02-19 11:16] baskerville opened #2550 "Crashes when cutting/pasting with `..` as destination"
- Steps to reproduce:
    - Select `cut` in the long press file dialog for any file.
    - Move to an empty directory, and select `paste`, in the long press dialog for `..`.
- Backtrace:
[code]

[2017-02-19 11:18] Frenzie commented on #2550
Should be renamed to hasSidecarFile
https://github.com/koreader/koreader/pull/2534/commits/b50204763542212ccd35c7b1903dfee62d4af16e

I'll take care of it. :-)

[2017-02-19 11:49] poire-z commented on #2538
The second change is only about crengine, so again, no impact.
I checked by chosing Spanish language, and I can confirm this happens, it's really ugly.
I tracked it down to some string in es/koreader.po (from my installed version 835-g3ea1820):
[code]
If you remove this block, or shorten the msgstr, the display is fine (and i dont think this string is even used in the display :)
I dont know anythi

[2017-02-19 11:53] Frenzie commented on #2538
History is on Transifex: https://www.transifex.com/houqp/koreader/translate/#es/koreader/108232633?q=speckle

Looks like until 7 days ago it wasn't translated.

[2017-02-19 12:00] retrue commented on #2538
msgstr "Ignorar el tamaÃ±o de las manchas causadas por la redistribuciÃ³n de texto"
a shorter version would be:
msgstr "Ignorar manchas causadas por la redistribución de texto"
an even shorter version:
msgstr "Ignorar manchas por redistribución de texto"
I would prefer "Ignorar manchas causadas por la redistribución de texto" if there is space enough.

[2017-02-19 12:09] Frenzie commented on #2538
Btw, I don't know what text editor you use but the string is encoded properly as "Ignorar el tamaño de las manchas causadas por la redistribución de texto" :-)

Unfortunately it looks like even your shorter option is too long, at least on a low-res device.

![screenshot_2017-02-19_13-08-28](https://cloud.githubusercontent.com/assets/202757/23102175/90e5fc5e-f6a4-11e6-9b40-4d4d0f055cc4.png)

[2017-02-19 13:00] retrue commented on #2538
"Ignorar manchas por reflujo" or "Ignorar manchas por reflujo de texto".
Spanish is wordier than English. English books when translated to Spanish have around a 10% or 20% more pages.

[2017-02-19 13:23] Frenzie commented on #2538
"Ignorar manchas por reflujo de texto" may be acceptable:
![screenshot_2017-02-19_14-07-25](https://cloud.githubusercontent.com/assets/202757/23102623/d6610352-f6ac-11e6-9424-ddb19a14349c.png)
I changed it to that in Transifex for now. The next nightly will automatically pull it in.

"Ignorar manchas por reflujo" is perfect:
![screenshot_2017-02-19_14-07-55](https://cloud.githubusercontent.com/ass

[2017-02-19 13:37] retrue commented on #2538
@Frenzie Would you explain what means or what does "Reflow Speckle Ignore Size"?
I reworded the long Spanish text "Ignorar el tamaño de las manchas causadas por la redistribución de texto" with a shorter version but I don't know what the English text really means, so maybe the translation is wrong.

[2017-02-19 15:30] Frenzie commented on #2538
Speckles are dots ("defects") that aren't characters. Scanning artifacts.

On Feb 19, 2017 14:37, "retrue" <notifications@github.com> wrote:

[2017-02-19 15:32] Frenzie commented on #2538
It's called speckling/speckles in PS, ScanTailor etc. and I think it's
clearer than defects.

On Feb 19, 2017 16:30, "Frans de Jonge" <fransdejonge@gmail.com> wrote:

[2017-02-19 16:38] retrue commented on #2538
Then, "manchas" is a wrong translation in this context. Motas is better here. So, it would be "Ignorar motas por reflujo de texto."
Other options would be artefactos, puntos, moteado, defectos.

[2017-02-19 19:25] Frenzie commented on #2538
They don't need to be dots, of course. They're just small blemishes that tend to look like little dots. A speckle that isn't sufficiently like a small (!) dot is more of a blotch and can't be automatically ignored without having (parts of) letters and punctuation disappear as well. I'm not sure if that changes anything, but I felt my phone e-mail message might've been a tad imprecise.

[2017-02-19 20:16] houqp commented on #2543
Welp, you fixed it yourself :)

[2017-02-19 20:16] #2543 closed

[2017-02-19 21:10] #2550 closed

[2017-02-19 22:25] hombretranquilo commented on #2538
Firstly, @houqp, @Hzj-jie, @poire-z, @Frenzie, @retrue, thak you for your time.
Moreover, I cannot find the menu item «Reflow Speckle Ignore Size». Where this menu item is?. The only way I can find to configure this «Defect Size» attribute is to modify the defaults.lua file. If this is, really, the only way to configure this, translations are unnecesary. I think.

[2017-02-19 22:33] retrue commented on #2538
@hombretranquilo If you have activated "Show advanced options" you will be able to see some more options when a pdf is open.
I don't know if it will show this Speckle Ignore thingie because I don't use pdfs, but you can try. Maybe it is there, maybe not.

[2017-02-20 01:16] roger64 commented on #2539
Hi
I think that purge just means purge, so it should really do it (delete clippings.txt). But a two step implementation seems right (I mean with a confirmation dialog box).

[2017-02-20 13:39] dset0x opened #2554 "Unable to enable wifi on Kobo Glo HD 4.2.8432"
* KOReader version: koreader-nightly-20170209
* Device: Kobo Glo HD

#### Preface
The 4.2.8432 update introduces `/drivers/mx6sl-ntx/wifi/8189fs.ko`

#### Issue
Enabling wifi from koreader results in a message about being unable to connect to `/var/run/wpa_supplicant`

#### Steps to reproduce
(As per `wifi-enable.sh`. Not I have removed `-s` for testing.)
[code]

Adding `-Dwext` to the above comma

[2017-02-20 14:27] Frenzie commented on #2554
Pinging @houqp in #2553

[2017-02-20 14:35] dset0x commented on #2554
Woops, I missed that one. At any rate my understanding is that `wext` is to-be-deprecated in general, so better keep that in mind.

Could we merge these issues?

[2017-02-20 15:00] Frenzie commented on #2554
The solution there is already more robust. :-)

You probably missed it because it's in a PR; I'm not sure if there's another issue.

[2017-02-20 15:00] #2554 closed

[2017-02-20 15:04] dset0x commented on #2554
Indeed, I missed the PR @Frenzie. Thanks!

[2017-02-20 15:19] mingde816 commented on #2387
Same situation happened +1
unexpected response status on allowing access"

[2017-02-20 17:48] baskerville opened #2555 "The User Interface…"
I'm probably not going to surprise you by saying that *koreader*'s UI isn't the greatest UI I've ever used.

Here's the, non-exhaustive, list of problems / suggested improvements:
- Based the average human finger tip area, some icon bars have a correct height, others don't. More generally, the vertical and horizontal padding used around interactive items is often wrong.
- The font used for the dic

[2017-02-20 19:45] KenMaltby commented on #2555
A good deal of that is subjective, and referencing a textbook or other academic source, doesn't actually change that.  There can be a good deal to improve the existing interface, but there is a lot to be liked with it as it is.  While you may feel there shouldn't be a UI that appeals to the more technically literate, I don't believe in such oppression/discrimination.  Not everyone thinks the lowes

[2017-02-20 20:08] Frenzie commented on #2555
Who did you ask? :-)

[2017-02-21 00:18] pazos commented on #2555
UI isn't the best "feature" of koreader, but I like it 💃

There is room enough to improve Koreader UI, but IMO is better to open specific issues to fix those one by one.

[2017-02-21 03:28] houqp commented on #2555
I don't think this is the case for us. We do care about UX here. In fact, I interact a lot of with UX designers at work for my projects.

The real problem here is lack of resources. Right now, I am still working on fixing various stability issues of the reader. The UI framework is lagging behind and resulted in horrible callback hell in the code base. It's also not easy to create widgets with the

[2017-02-21 03:45] pazos commented on #2555
@houqp , @baskerville .
I have one recommendation:
![test2](https://cloud.githubusercontent.com/assets/975883/23150022/6817060e-f7f0-11e6-8544-640455a39b73.png)

[2017-02-21 08:23] hwhw commented on #2555
I started with the foundations of the UI framework from scratch. Mind you, Koreader started as Kindlepdfviewer, meant for a Kindle 3 (which was the device I had at that time - or was it the short time that I had a Kindle DX?). People reported that it did work on a Kindle 2 - with minor changes. It was .... keyboard only. An event loop, mostly. But it had the Lua foundations laid out.

The Kindle 4

[2017-02-22 08:53] Frenzie commented on #2043
Can this be closed?

[2017-02-22 08:54] houqp commented on #2043
Yes, there is a already 11c entry in the build matrix for koreader-base CI: https://github.com/koreader/koreader-base/blob/master/.travis.yml.

[2017-02-22 08:54] #2043 closed

[2017-02-22 09:17] Hzj-jie opened #2561 "Statistic is not accurate"
* KOReader version: up to ee54e1
* Device: independent

#### Issue

Statistic is not accurate

#### Steps to reproduce

It's easy to reproduce the issue by starting a new book. After finishing some 50 pages in several days, you may find the statistic plugin reports inaccurate numbers, say pages, time read, etc.

I have had a look at the statistic plugin, but have not found a obvious reason. Maybe

[2017-02-22 09:18] houqp commented on #2555
I think rolling our own UI framework was actually a good decision. One of the biggest advantage is it makes the code highly portable. All you have to do is change the low level drawing bit and input loop for a new platform and koreader is ready to go. And the UI framework we have right now is a huge improvement over what KPV had offered ;)

I am not too worried about code being too deeply entangle

[2017-02-22 09:24] houqp opened #2562 "reorganize touch menu items"
Sub ticket created for general UX discussion from23 https://github.com/koreader/koreader/issues/2555.

@pazos created proposed a solution to replace the home tab with misc items:

![test2](https://cloud.githubusercontent.com/assets/975883/23150022/6817060e-f7f0-11e6-8544-640455a39b73.png)

I think this is a good step forward and will be happy to accept the change. We need to change the home icon w

[2017-02-22 09:26] houqp commented on #2555
@pazos I have created a separate issue for the reorganizing categories in touch menu. Let's move future discussion over that issue ;)

[2017-02-22 09:41] retrue commented on #2562
To replace Home icon I had thought of a door with an arrow. Doing a search on Google Image I have found several ones that I like. Dunno if they are free but something similar could be drawn.
![mobile_interface-01-512](https://cloud.githubusercontent.com/assets/18194241/23205806/7f675326-f8eb-11e6-9bc1-b4e2cd7162f3.png)
![door-exit-with-arrow-to-the-right_318-40597](https://cloud.githubusercontent.

[2017-02-22 09:54] Frenzie commented on #2562
Other than pokeball, I don't think the icons are problematic.

* Gear = settings
* Pokeball = wtf?
* Tools = tools
* Magnifying glass = search
* Home = home. Should be positioned on the furthest possible right and an off icon of some sort would be clearer because it could be misinterpreted as "KOReader home" as opposed to "OS home". I think putting Exit right underneath Help isn't exactly the most

[2017-02-22 10:04] Frenzie commented on #2561
Wouldn't the min & max seconds be an obvious reason?

[2017-02-22 10:36] baskerville commented on #2548
Thanks @poire-z, unfortunately your patch doesn't work for me: I only get a screen refresh but no scrolling.

In debug mode, I get this kind of messages though:
[code]

I'd like to add, regarding the current scrolling behavior:
- Scrolling sometimes continues for a few seconds after the end of the gesture.
- Making a scroll gesture in one direction can sometimes make the page scroll in the opposit

[2017-02-22 11:06] poire-z commented on #2548
Dunno if that what happened, as you seem to know how to pan :) but as I read "swipe south", i remember what i wrote in some comments in imageviewer.lua:
[code]
So, for onPanRelease to be called (and do the actual panning), you need to hold (waht 1-2 seconds before removing your finger) at the end of the gesture.
With continuous panning, it was indeed not needed, and the onPanRelease was a no-op.
S

[2017-02-22 12:55] pazos commented on #2562
pokedex icon should be replaced (or deleted) . Right now it has the following items:

on filemanager app: history, open last document, ota update, version and help
on reader app: history, ota update, version and help

help isn't useful at all. Just displays "please report bugs to github.com/koreader".  It would be awesome to have some kind of koreader manual on epub, not listed on the filemanager

[2017-02-22 13:04] retrue opened #2563 "Typefont too small in file manager for Kobo Mini"
* KOReader version: Since commit  #2558 two days ago
* Device: Kobo Mini

#### Issue
The size of the font for the file manager was changed a couple of days ago. The new size, smaller, is too small for Kobo Mini. I include two screenshots. The difference doesn't seem big but it is noticeable in a screen so small.
Imho, the new font size should be device dependent or configurable through settings.re

[2017-02-22 13:23] Frenzie commented on #2563
It didn't seem like a big deal at the time. I suppose we should revert it then.

[2017-02-22 13:29] Frenzie commented on #2562
True, so maybe replace pokeball with clock or some such to indicate history. I can't find an appropriate history icon atm so I'll just drop this one (appbar.timer.rewind) 'cause I have to leave right now.

![appbar timer rewind](https://cloud.githubusercontent.com/assets/202757/23213406/0f5ac412-f90b-11e6-9c5a-6da864183fc8.png)

There's also this leaving home icon:
![appbar home variant leave](htt

[2017-02-22 13:46] retrue commented on #2563
The smaller font is only a problem with the Kobo Mini. It is a good change for all the other devices.

[2017-02-22 14:29] AlanSP1 commented on #2561
I also think that min and max time to account page into statistics has a big influence into statistics readings.

For example, at the beginning of the book I usually fast forward for few pages. So, min time needs to be a bit high (15, or even more seconds), not to account for these pages. But, this causes that pages not to be entered into statistics.

Anyway, probably we need to take a hard look h

[2017-02-22 15:09] KenMaltby commented on #2562
The original suggestion seems a lot like "About" and could include the reference to the WiKi (like the current help references "Issues".

As I remember it, the Home icon originally brought you back to the File Manager,  and to the folder that was "Set as HOME directory", so the logic was sound.  Perhaps the Home icon could offer a menu with "Go to Home directory" as its first option.  Then an "Exi

[2017-02-22 15:24] KenMaltby commented on #2563
I have been using this for quite a while now with no problems:
For me, with my Kobo AuraHD, it is in .adds\koreader\frontend\ui\widget\menu.lua

 The "cfont", at line 122 and 325, using Notepad++
 I changed mine to 18. It looks fine but The Aura HD, has a higher res than some, which means that the fine print is clear and readable. The text is smaller, so more of the titles are visible.

To adjust

[2017-02-22 16:29] Frenzie commented on #2562
Note that #1371 is about bundling the wiki, although I'm not entirely sure if it's currently sufficiently structured for that. It could be worse though.

[2017-02-22 17:36] baskerville commented on #2548
Thanks, I wasn't aware of the distinction, my e-reader is the only touch device I use.

[2017-02-22 17:41] Hzj-jie commented on #2561
I do find some page updates will be ignored if time spent on the page is smaller than min or larger than max. I can imagine the reason of min seconds, but what's the purpose of the max seconds?

[2017-02-22 18:09] apletnev commented on #2561
Hi,
Min value, example if you skip pages, you did not read them, add it to total time is not correct.
Max value, an example you forgot to turn off your device and counter still add to the total time.

[2017-02-22 18:40] Frenzie commented on #2561
There's no forgetting. I do that on purpose.

On Feb 22, 2017 19:09, "Alexander Pletnev" <notifications@github.com> wrote:

[2017-02-22 19:12] baskerville commented on #2555
Thanks for the feedback and the historical background: I understand now, how things slowly got out of control.

I'll try to help if I find the time.

[2017-02-22 21:19] Hzj-jie commented on #2561
I usually use a very tiny font to ensure I can read as much as possible in one page, which usually make me take longer time on one page. I have not measured the accurate time, but 90 seconds is not enough.

Should we enlarge the default value of page_max_read_sec?

[2017-02-22 21:33] Hzj-jie commented on #2544
Oh, this conversation goes too far :)
It's ideal to have a menu reordering feature. But I think we can open another feature request to track the issue.
Going back to the plugin management itself, I agree to @HouQP, a full-featured plugin management should have these functionalities. But as long as we do not have a plugin repository, it's not really reasonable to have installation / update features

[2017-02-22 21:59] retrue opened #2564 "FR: Reordering menu feature or full personalised menus"
* KOReader version: All of them
* Device: All of them

#### Issue
Like commented in #2544. I copy and paste what I told there with some things changed or added.

[2017-02-23 07:31] Hzj-jie commented on #2539
I will make a change.

[2017-02-23 08:12] Frenzie commented on #2561
Oh btw, does it pause while you're looking things up in the dictionary/Wikipedia?

Reading speed is something like ~250-300 words per minute in your native language. (My reading speed in French is significantly slower even when it doesn't feel like it.) A page could have anywhere from ~200-500 words on it, although usually probably closer to that same ~250-300 range. So yeah, I figure it should be

[2017-02-23 08:33] asampal commented on #2441
Updated #2445 so that format dialog now has a title with the following text:

[code]
This should make it clear that choosing a format will actually download it and also tells where.

[2017-02-23 08:37] asampal opened #2565 "File Manager orientation should follow that of reader"
* KOReader version: 856-gee54e12
* Device: Kobo Aura One

#### Issue
I have KOReader set to read my PDFs in landscape format. When I switch to the file manager, it's shown in portrait mode forcing me to reorient the KA1.

#### Steps to reproduce
Open KOReader,  set orientation to landscape. Switch to file manager. Notice that the latter is shown in portrait mode.

[2017-02-23 08:39] yefeiyu opened #2566 "How to save the dictionary's word when I searched."
* KOReader version: kobo
* Device: kobo hd

#### Issue
How to save the dictionary's word when I searched.
(When I use Stardict on other OS, it had a tag of "save" for me to save the word with the explain to "dic.txt" .)

#### Steps to reproduce

[2017-02-23 10:17] Frenzie commented on #2566
An interesting idea, but I'm a little unsure how it would be implemented without overloading the GUI.

Okay, so in principle we seem to have an empty button spot available:
![screenshot_2017-02-23_11-10-57](https://cloud.githubusercontent.com/assets/202757/23254622/f26c2522-f9b8-11e6-87bf-6cb6e0429747.png)

Saving would presumably save as .html or .txt in the same directory as the file you're read

[2017-02-23 11:32] apletnev commented on #2561
Guys, the main idea of min and max that calculate actual reading time, I understand that some of the people writing notes, thinking about reading, surfing the net about some facts. But for me, is interesting to know the actual reading time, without thinking, surfing, etc.
I think we can add an additional variable which would show how much time the book is open.

[2017-02-23 11:54] Frenzie commented on #2561
The implicit idea behind my first sentence, which is unrelated to the rest of what I wrote, is that ideally it should *pause* while you're in the dictionary. :-) Anyway, that's just an off-handed remark, probably very hard to implement, so ignore it. ;-D

My actual argument was that if you take, say, a 250 wpm reading speed at 500 wpp then you're already at 120s to read a page. [One of the books I

[2017-02-23 12:10] Frenzie commented on #2565
See #2347. My first two comments there refer to some history regarding this issue.

The way that makes the most sense to me is that the filemanager follows the default orientation, or possibly to have a distinct filemanager orientation, but others think it makes the most sense to follow the last-read document. Some people care sufficiently much for there to be the occasional back and forth in the

[2017-02-23 12:47] Frenzie commented on #1371
I noticed an interesting blog post: http://blog.terryburton.co.uk/2015/02/20/Creating-PDF-Documentation-From-a-GitHub-Wiki-Using-Pandoc.html (see https://gist.github.com/rogersachan/40e4f69439b26e1f096f8c91e98b1dee for a potentially updated version)

## Filter: rewritewikilinks.hs
[code]

Adding the whole haskell-platform stuff would be pretty heavy and when I just tried it I got an error I don't

[2017-02-23 13:42] AlanSP1 commented on #2561
For max time I use 900 seconds, just to be on the safe side.

In my opinion lower value (5 seconds) can be a problem when accuracy is in question. I rise that to 15 seconds.

But, thing is, is statistics module accurate, or not?

[2017-02-23 14:51] Frenzie commented on #2394
Can this be closed or is there still anything left?

[2017-02-23 15:09] Frenzie commented on #1777
Cut has been fixed, copy doesn't yet copy the .sdr.

[2017-02-23 15:21] Frenzie commented on #2529
How about simply renaming it slightly to, e.g., "KOReader File Browser" for the moment? That way you'd know you did in fact open KOReader and not some random file manager.

![screenshot_2017-02-23_16-19-28](https://cloud.githubusercontent.com/assets/202757/23265076/e3db339c-f9e3-11e6-8e1f-f9d9ccce5c9f.png)

[2017-02-23 15:23] Frenzie commented on #2478
Self-evident to a person, but I have no idea how this could be automated (at least without gobs of data and processing power in a machine learning context).

[2017-02-23 15:25] Frenzie commented on #2471
Closing now because Android is pretty broken. Refer to #673.

[2017-02-23 16:13] poire-z commented on #2394
Most things were commited.
There's just the epub.css discussion, which may come down to personal preferences, and the current behavious does not seem to bug any people (and I can fix that in my own patch).
So yes, can be closed. Closing.

[2017-02-23 16:13] #2394 closed

[2017-02-23 16:24] KenMaltby commented on #2529
One part of the problem is that a new user may not have any ebooks in the directory that KOReader defaults to.  He would need to navigate to where he has ebooks, if he has any on his device.  The use of "../" and "/mnt" would not be what windows users are familiar with.

[2017-02-23 16:33] Tobster85 commented on #2478
Hi Frenzie,
this feature does not need to be automated, as the read"flow" is generated by user input before reading the "flow".

[2017-02-23 16:42] Frenzie commented on #2478
Still not trivial but theoretically that's definitely doable. :+1:

[2017-02-23 16:48] pazos commented on #1371
@Frenzie I've tried `pandoc *.md --toc --from markdown_github -o help.epub` and the result is, IMO, pretty bad. It mixes english and chinese and the wiki articles are in mixed order. Also wiki articles have a lot of hyperlinks and cross references.

Why not gitbook?

[2017-02-23 16:53] Frenzie commented on #2529
This Windows user is familiar with it. *grins*

![filemanager31](https://cloud.githubusercontent.com/assets/202757/23268392/e0e9a7f4-f9ed-11e6-8b25-95460e77c845.gif)

But true, that was removed in Windows 95. I'd say that ideally you could navigate by breadcrumps, i.e., something like

<kbd>home</kbd> / <kbd>frans</kbd> / <kbd>etc</kbd>

but in lieu of that it oughtn't be too hard to add a little

[2017-02-23 17:13] Frenzie commented on #1371
@pazos That was just a quick proof of concept illustration of the principle that probably took me about half a minute to come up with back when I wrote it. Obviously it would need the kind of work that can be seen in the __pandoc directory of the postscriptbarcode.wiki repository to be usable.

There are two points I'd like to keep in mind:

1. This is what we've got and I think it's pretty decent

[2017-02-23 17:21] Frenzie commented on #2529
This one's pretty decent.

⬆
2B06
UPWARDS BLACK ARROW

![screenshot_2017-02-23_18-20-53](https://cloud.githubusercontent.com/assets/202757/23270644/d4556652-f9f4-11e6-94ca-da8e1e2c48bf.png)

[2017-02-23 17:40] pazos commented on #2562
Quick preview of @Frenzie suggested history icon in koreader (with the changes in home menu). The icon hasn't the same size of the others, but you'll get the idea.

On the file manager:
![file manager 1](https://cloud.githubusercontent.com/assets/975883/23271166/d869c9e8-f9f6-11e6-9caf-e724cdb0ed95.png)
![file manager 2](https://cloud.githubusercontent.com/assets/975883/23271170/dc8d1a7a-f9f6-11e6

[2017-02-23 18:04] Frenzie commented on #2562
I like it except that it's a timer rather than a clock. Unfortunately the license of the current icons is no derived works, so I can't do something obvious like combining appbar.clock with the rewind arrow.

PS This is appbar.clock:
![appbar clock](https://cloud.githubusercontent.com/assets/202757/23272261/d5367128-f9fa-11e6-92c8-72215a9dfd9d.png)

[2017-02-23 18:30] pazos commented on #2562
Another preview, with an icon from wikimedia.

![preview](https://cloud.githubusercontent.com/assets/975883/23273217/729868a6-f9fe-11e6-8f70-8b5d0549a5a3.png)

[2017-02-23 18:43] pazos commented on #1371
true

Also, not all the pages of the wiki are relevant for an "getting started" epub. Just something like:

1. intro
  1.1 product
  1.2 feature list
2. getting started
  2.1 filemanager
  2.2 reader app
  2.3 taking notes
  2.n ...
3. plugins
  3.1 evernote
  3.n ...

[2017-02-23 18:48] pazos commented on #2562
Also, in the code, pokedex menu is called the "info" menu. So "Book status" makes sense in this menu, but not on history menu

[2017-02-23 18:58] Frenzie commented on #2562
Right, in that case I'd move book status over to the bookmark menu. Anyway, it's just a thought as several people have requested direct access to history.

For info there's appbar.information.circle and appbar.information.
![appbar information circle](https://cloud.githubusercontent.com/assets/202757/23274228/2af609a0-fa02-11e6-9338-204850681c60.png) ![appbar information](https://cloud.githubuserc

[2017-02-23 19:05] pazos commented on #2562
Is part of google's material icons.
https://commons.wikimedia.org/wiki/File:Ic_history_48px.svg

[2017-02-23 19:25] Frenzie commented on #2562
See, I like that pointy end in the other icon, here's a quick edit. :-P

[Ic_history_48px.svg.zip](https://github.com/koreader/koreader/files/797482/Ic_history_48px.svg.zip)

![ic_history_48px svg](https://cloud.githubusercontent.com/assets/202757/23275217/fcc6cc8c-fa05-11e6-8891-62a0a13a89e8.png)

[2017-02-23 19:59] robert00s commented on #2378
Unfortunatelly sqlite INSERT are very slow :(

[code]

INSERT 1000 pages take on my emulator about 7 second.
Convert (insert) 100 books x 500 pages take ~ 6 minutes.
Bigger issue is update pages on current reading book. We should update on every 1-5 pages.
Update more pages in at the same time or on exit book may take more than 0,5 sec and slower ereader:(

I don't know how it looks on real reader

[2017-02-23 20:24] KenMaltby commented on #2478
So you want to have the user able to "map" a sequence of areas (user defined, for each page of the PDF) that a "next page" gesture would have display full screen, in the order specified.

[2017-02-24 00:56] asampal commented on #2565
Yeah this issue needs more thinking. The goal is to not be unnecessarily bothered by an orientation switch, but, IMO, the aggravation is dependent on the state switching involving the file manager.

e.g. if my "session" at a given time consists mostly of browsing around in the file manager with short intervals of loading a book to take a quick look, I would probably have different expectations tha

[2017-02-24 02:20] Hzj-jie commented on #2561
Sorry, it seems like I have misunderstood the component. But it looks inaccurate for me before I understand its implementation, which, I think, is not reasonable to regular users -- We should not expect them to understand the source code before using it.

It looks like we should also consider font size, or in another word, character count of a page to decide the maximum seconds.

But I am thinking

[2017-02-24 02:24] B1tl0rd opened #2570 "sometimes crash Android 6.0 P8"
* KOReader version:v2015.11-856-gee54e12
* Device: Huawei P8 GRA-L09,
* Android 6.0

sometimes crash when open app
always crash when open any epub
always crash Open home icon

[2017-02-24 02:36] roger64 commented on #2539
Thank you for making Koreader more user-friendly

[2017-02-24 06:10] Tobster85 commented on #2478
Exactly! This could be a solution for reading complex layouted and large formated PDF files (like magazines) on our small screen e-readers.
If I can support you with more details of the idea, please let me know.

[2017-02-24 06:40] fei-hao opened #2571 "Feature Request: can we make night mode ignore photos from being inverted"
* KOReader version:
* Device:kobo aura

**It would be great to ignore them from being inverted.**

**Thanks**

![a78c0563a026e149af9a6c012711c7b2](https://cloud.githubusercontent.com/assets/9626442/23293073/f5fb6446-fa9e-11e6-8cd0-d921c08bd9b6.png)
![d031b5ba0748c68369f0a0dde1a1206b](https://cloud.githubusercontent.com/assets/9626442/23293076/fd2e593a-fa9e-11e6-8b57-4754d430999d.png)

[2017-02-24 07:28] #2529 closed

[2017-02-24 07:38] houqp commented on #2571
This is a non-trivia feature to implement for all document types. However, we can probably achieve this with a special CSS setting for crengine.

[2017-02-24 07:55] Frenzie commented on #2478
I think the bigger problem is finding something with both the time and the will to specifically implement something like this. :-)

[2017-02-24 08:28] #2379 closed

[2017-02-24 08:30] houqp commented on #2570
Android is still in a proof of concept stage so not ready for use at this point. We tested the build on automated test platforms and it's having problem launching in moran than 50% of the android devices out there :(

[2017-02-24 08:30] #2511 closed

[2017-02-24 08:36] houqp commented on #2478
@Tobster85 do you expect the user to manually tag the flow for each page?

One thing would be nice though is to upload all these manually labeled flows to our server so we can train an machine learned model ;)

[2017-02-24 08:56] houqp commented on #2562
OK, so looks like the concensus here is to repurpose home tab as "system tab" which includes the following items:
* help
* version (about)
* update
* exit

In this case, a home icon is not an accurate representation of the functionalities.

Allocating one tab for time related features seems like a waste because I can't think of other related things that can be put into there. Perhaps we can create

[2017-02-24 09:08] houqp commented on #2378
140 inserts per second seems unreasonably slow for sqlite. Probably an issue with the sqlite client that i need to further perf test and investigate into. BTW, is `res3` the row id for books?

[2017-02-24 09:20] houqp commented on #2548
I constantly got annoyed by this behavior too to be honest ;) I have an intuition that this can be solved by adding debouncing in the gesture detector or event handler to reduce screen refresh rate. But I haven't been able to find time to experiment with it.

[2017-02-24 09:21] houqp commented on #1371
I feel like we might need to maintain two separate documentations, one for developers and one for users.

[2017-02-24 09:48] apletnev commented on #2561
Of course, you can't read a page in five seconds (usually). Min and max values it is only a range. Min in case if you skip the page, max in case if you don't read it.

The idea with character count is nice.

[2017-02-24 12:02] Frenzie commented on #1371
I think dev docs are also much more automatable as has already been done.

On Feb 24, 2017 10:21, "Qingping Hou" <notifications@github.com> wrote:

[2017-02-24 13:56] robert00s commented on #2378
@houqp
Yes `res3` is calculated id for book.
I found that: http://www.sqlite.org/faq.html#q19

[2017-02-24 14:36] Frenzie commented on #2562
Speaking only for myself, pokeball → history is by far what I do the most so I'm sympathetic to the various requests for basically a dedicated button. But the icon discussion is largely separate and should probably be a different issue.

My proposal would be to kill the pokeball, move book status over to either page corner bookmark or tools, and stick the rest of pokeball under the "file" menu.

!

[2017-02-24 16:06] Tobster85 commented on #2478
Yep, I think it would be suitable to map the flow for every page before actually reading it. If you get used to it, it could be a matter of seconds.
The alternative is to scroll and zoom WHILE reading PDFs (like it is now) and this option is even more uncomfortable to use ;)

[2017-02-24 16:25] gerroon commented on #1777
@Frenzie thanks

[2017-02-24 19:50] robert00s commented on #2378
When I add:

`    conn:exec("PRAGMA synchronous = OFF;")`

inserts are very fast. Over 6000 in less then 0,5 sec. But if you lose power in the middle of a transaction, your database file might go corrupt.
 If the application running SQLite crashes, the data will be safe, but the database might become corrupted if the operating system crashes or the computer loses power before that data has been wr

[2017-02-24 20:51] Frenzie commented on #2564
My thinking is that this should be quite simple through the act of improving the sorting order of the menus in general. Brainstorming, I propose to add a couple of extra entries to the menu tables.

Currently they look like this.

[code]

I propose adding an `identifier` (or just `id`). This would then look like:

[code]

Then there'd be a separate table that specified the sorting order. Maybe som

[2017-02-24 21:21] retrue commented on #2564
My idea was that you could sort the menu slow and painfully from the menu itself, moving with your fingers up and down the menu items or from a submenu to another or deleting entries that weren't important for you,  and that you had the option too to do faster all of that by editing a text file.
Right now the "show advanced options" menu entrie is barely used (only for a couple of options with pdf

[2017-02-24 21:42] Frenzie commented on #2564
Renovating the menu along the lines described above is something I might do if I got the itch, but writing a GUI on top of that — forget it. ;-) Seriously though, you'd still need backend support along the lines described above. It's all iterative. Making the menu order sanely definable is a must. Subsequently making it user-definable is in all likelihood a piece of cake once you've got that. But

[2017-02-24 22:07] retrue commented on #2564
Alright, I will be happy without a GUI to personalise the menu. Just doing it by editing a text file is fine  =)

[2017-02-24 22:27] moshpirit opened #2574 "About the Kobo Aura One"
* Device: Kobo Aura One

#### Issue

I'm considering buying a Kobo Aura One but PDFs reading is highly important for me since I need to read lots of scientific PDFs for my career. So I saw [this 2015 video](https://www.youtube.com/watch?v=rsJizVAMpDQ) about it and wanted to know if there's any improvement about PDF reading and crops (specially for documents made on LaTeX). The thing is that I sear

[2017-02-24 22:38] Frenzie commented on #2574
It's my understanding that the program should already work fine for basic reading but that wifi is currently non-functional. See #2553.

[2017-02-24 22:54] moshpirit commented on #2574
Thank you! hmm looks like the WiFi issue is already solved, isn't it? so I expect it to be implemented in the next release (maybe in a month?) I think I can wait till then for using it.

BTW, I've just [re-checked the video](https://youtu.be/rsJizVAMpDQ?t=21m30s) (I saw it a couple of months ago) and I mixed the official PDF reader and the Kodeader one and I think it works perfectly :) thanks a lo

[2017-02-25 02:25] pazos commented on #2562
@Frenzie: book status makes sense in bookmarks, all those items are related to the book itself.

I miss a "file manager menu". One that include the items in the search tab and both history and open last document, and maybe some options just for the file browser (show hidden files, sorting..)".

I also feel that the settings tab should display the same items on both file browser and reader app, lik

[2017-02-25 02:38] pazos commented on #2562
also, replace pokedex on reader app with a search tab with: search in dictionary, search in wikipedia and search full text

[2017-02-25 03:11] pazos opened #2575 "improve install instructions for kobo"
to include kfmon, and point KSM8 Instead of KSM7.

Fmon instructions are too complicated. It isn't fair.

I use fmon in my devices, with 0 failures. In fact, fmon does NOT trigger any action during re-indexing after a logout from kobo account. So I'm very happy with it, but seems a pain in the ass to install it for the first time (need to flash 2 koboroot.tgz - one for fmon itself and the other fo

[2017-02-25 04:09] Hzj-jie opened #2576 "FR: Display images of books in file manager"
* KOReader version: up to c1318827
* Device: independent

#### Issue

Comparing to all other implementations, current file manager looks simple. We may consider to provide more fancy information. Say, images of books, progress, etc.

#### Steps to reproduce

[2017-02-25 08:02] houqp commented on #2575
We can definitely include a koreader+fmon artifact in our build process. All of our builds scripts are managed in gitlab right now: https://gitlab.com/koreader/nightly-builds/blob/master/build_release.sh.

If you want to take a stab at it, I can give you access to the gitlab repo so you can add build instructions for koreader+fmon KoboRoot.tgz. Then I can update our nightswatcher script to upload

[2017-02-25 08:02] Frenzie commented on #2576
I'm not entirely sure how helpful that would be. For icons it works great:

![screenshot_2017-02-25_08-48-31](https://cloud.githubusercontent.com/assets/202757/23329365/351d367a-fb37-11e6-9f90-289ae00251a7.png)

But for actual books — those aren't designed to be viewed as icons:

![screenshot_2017-02-25_08-49-13](https://cloud.githubusercontent.com/assets/202757/23329371/5ce9f3c8-fb37-11e6-9683-f6

[2017-02-25 08:15] Frenzie commented on #2562
@pazos

Maybe, maybe not. They're all navigational and in that sense it'd make more sense in the hamburger menu on the right. The problem in a sense is that status kind of mixes "book info/properties" and "book status" together. As a fun exercise, here's the "book information" (from the file manager) implemented as a reader menu item:

[code]

But it does? Those are the common settings.

Yup, alre

[2017-02-25 11:55] Frenzie commented on #2575
Could you be a bit more specific? Because this page points to KSM8: https://github.com/koreader/koreader/wiki/Installation-on-Kobo-devices

[2017-02-25 12:20] Frenzie opened #2578 "FR: nicer keyvaluepage"
Copied from https://github.com/koreader/koreader/issues/2562#issuecomment-282469008

I'd like this:

![screenshot_2017-02-25_09-16-33](https://cloud.githubusercontent.com/assets/202757/23329547/26ac1922-fb3b-11e6-98ae-b392fe596b8b.png)

To go more in this direction (Evince properties dialog):

![screenshot_2017-02-25_09-16-17](https://cloud.githubusercontent.com/assets/202757/23329548/2e0d5d84-fb3

[2017-02-25 13:41] poire-z commented on #2378
Should we worry about SD card wearing (like SSD disks do) if there's some sqlite disk write at each page turn ?
Could there be some tunable like "save  only after 10 page turns", so there's an insert/update/commit only then. But of course a full flush when exiting a book, or the reader, or when the statistics plugin is invoked ?

[2017-02-25 13:49] Frenzie commented on #2378
Unlike for SSDs, for SD cards that's more of an actual concern. SD cards don't come with controllers sporting complicated wear leveling algorithms.

[2017-02-25 13:53] retrue commented on #2578
It is true that the current Book Information screen is scarce and needs improvement but, in my opinion, your proposal includes too technical information .
My idea is diferent. Book Information should include other information from the metadata of the ebook, in addition to the current one, like tags and summary.
It would be nice a button inside Book Information that linked to Book Status (if book s

[2017-02-25 14:00] Frenzie commented on #2578
I'm talking about the layout, not about the actual content.

[2017-02-25 14:14] retrue commented on #2578
Book Information is accessed from the File Manager and you already have there Location and size. But it would be handy to have location and size if you accessed Book Information from that future button in Book Status  =P

[2017-02-25 14:55] KenMaltby commented on #2576
This sounds like a bad idea, to this Kobo owner, it would make having a large library more problematic.

[2017-02-25 15:01] Frenzie commented on #2576
Oh, I'm also against this, but it's clearly a popular display mode and the default in, e.g., Windows. The way I see it pretty much all graphical file managers offer a choice between one or more of the following:

1. (detailed) list
2. (large) icons or tiles.

![virtualbox_ie10 - win8_25_02_2017_15_57_50](https://cloud.githubusercontent.com/assets/202757/23332090/2f5fe124-fb73-11e6-8d12-ceb6cb1826c

[2017-02-25 15:20] KenMaltby commented on #2578
I can see a logical difference between "Book Information"  and "File Properties".  Each would have their place, (although it looks like the "File Manager" is being replaced with a "KOReader" (Book) "Browser")

[2017-02-25 16:05] AlanSP1 commented on #2378
Is it possible that statistic info is written in memory and flushed to SD card only at suspending or powering off? Very rarely device would crash and if it crash, loosing a bit of reading statistic isn't that big of a problem, as constantly writing to SD card. Or at least that seems so to me.

[2017-02-25 16:16] AlanSP1 commented on #2574
Download latest nightly from here: http://build.koreader.rocks/download/nightly/

KA1 is completely supported. You only need to use latest KSM8 (with last patch for KA1). You don't need to wait for anything.

[2017-02-25 17:04] #2428 closed

[2017-02-25 17:24] Frenzie commented on #2394
@poire-z Of course the behavior bugs me, also see #2047 (sorry for not noticing before). But your workaround bugs me more. :-P

[2017-02-25 17:56] Frenzie commented on #2230
As far as I can tell this has been fixed. Feel free to reopen if I'm mistaken on account of all the Russian.

[2017-02-25 17:56] #2230 closed

[2017-02-25 18:01] Frenzie commented on #2190
The file works for me in emulator and on H2O. Closing now.

[2017-02-25 18:01] #2190 closed

[2017-02-25 18:08] robert00s commented on #2259
I propose the following dialog box saying the book is not available and give the option to retry or cancel.
We can click OK until book is available or Cancel to go filemanager.
What do you think?
![screen1](https://cloud.githubusercontent.com/assets/22982594/23333564/a70f16da-fb8d-11e6-9385-f6be80c39c65.jpg)

[2017-02-25 18:13] Frenzie commented on #2477
As @ersi-dnd indicated files might not be available for some reason (e.g., path not mounted), which turns a more theoretical problem into a practical one. How about this as a compromise? The harmful lines will be moved to an explicit user invocation, something like this:

![screenshot_2017-02-25_19-09-42](https://cloud.githubusercontent.com/assets/202757/23333600/47eebd76-fb8e-11e6-8737-3abe4c59eb

[2017-02-25 18:17] Frenzie commented on #2259
I'm slightly confused about what the OP is asking. Isn't there already a "file not found/available" dialog with automatic drop-back to the file manager?

@robert00s Not objecting or anything; it's just a little unclear to me what the present behavior and/or the problem is.

[2017-02-25 18:24] embryo10 commented on #2259
Yeap, that was exactly what I was thinking..
It wasn't available when I asked and I don't use a more recent version, so I don't know if its implemented..

[2017-02-25 18:25] embryo10 commented on #2259
Yeap, that was exactly what I was thinking..

[2017-02-25 18:29] embryo10 commented on #2259
@Frenzie The original behavior that I remember was that if the card was not mounted, you ended up at the file manager.
Then you had to find the history entry in the menus, and then select the last file again.
The point of the dialog was to wait there a little, and retry your luck... until the card was mounted.
Just lazier (if that's a word ;o)

[2017-02-25 18:36] Hzj-jie commented on #2576
To me, I prefer to have progress displayed in file list. I am not a big fan of thumbnails also, but I just compare koreader with other implementations.
We can definitely have two modes.

[2017-02-25 18:44] poire-z commented on #2477
That looks fine for people with the mount problem, and I admit the current auto cleaning behaviour may be unwanted for them. And also for devices with SD cards where people can switch cards.
So, this proposal, and the removal of the auto cleaning where it happens, are good.
But I'd like it if there is a (default'ly unset) 'autoremove_deleted_items_from_history' setting that will make the current a

[2017-02-25 21:16] KenMaltby commented on #2259
I think that the delay needs to be before the check for if the "last file option" is applied, in other words before ./reader.lua, for sloppy user scripting.

[2017-02-25 21:25] KenMaltby commented on #2576
The progress displayed graphically sounds good for the History list (I guess the cover could work there too) but don't think it would make much sense for books that haven't been opened yet.

[2017-02-25 21:35] #2176 closed

[2017-02-25 23:14] Frenzie commented on #2564
Just a little update: I've been playing around with this a little and I wrote this probably fairly inefficient proof of concept function. It does the trick in any case.

[code]

[2017-02-25 23:15] strategist922 opened #2585 "The color of fonts in koreader is not black as Kindle"
* KOReader version: koreader-nightly 20170209
* Device: Kindle PaperWhite PW3

#### Issue
The color of fonts in koreader is not as black as Kindle
#### Steps to reproduce
open any pdf has the same issue

[2017-02-25 23:18] Frenzie commented on #2585
You say PDF. Does that mean the issue doesn't occur with EPUBS?

[2017-02-25 23:57] asampal commented on #2442
After poking around, it seems this isn't an action that functions through OPDS, as was my initial assumption, but rather through a file. Could someone clue me in as to what file is involved here and how is it generated by Calibre? It's not clear to me if what I see failing on my KA1 is due to a bug or a user error.

[2017-02-26 00:17] houqp commented on #2585
Have you tried tuning the font darkness from the bottom control panel?

[2017-02-26 00:39] #2477 closed

[2017-02-26 01:56] houqp commented on #2576
This was one of the goal for the original koreader home app, to have multiple view modes that users can switch between.

[2017-02-26 03:49] #2177 closed

[2017-02-26 04:27] KenMaltby commented on #2442
Calibre generates a "metadata.calibre" when it is used to send files to a device.  It updates the file as later files are sent to that device.  (This is not the case when you use the content server and the OPDS function.) It only works if you allow calibre to create its own file structure on your device.

The Calibre OPDS catalog provides the catalog listing that it generates with no search functi

[2017-02-26 18:19] AlanSP1 opened #2588 "FR: Adding exit and restart options to hamburger menu"
With reorganizing menus, we can also add exit and restart options to hamburger menu, as suggested here: https://github.com/koreader/koreader/pull/2577#issuecomment-282494170

[2017-02-26 19:01] Frenzie commented on #2588
On which platforms do one or both of these make sense?

Makes sense:
* Kobo - that's where we already have a [poweroff](https://github.com/koreader/koreader/blob/f402ee5f6ff2769fee1f0bca747f5b0b2eafce1b/frontend/device/kobo/device.lua#L476) function
* Kindle???

Doesn't:
* Android
* Ubuntu Touch
* (Desktop emulator)

[2017-02-26 19:53] AlanSP1 commented on #2588
I have Kobo Aura H2O and I know that I can turn it off with long power button press. Also restart could be useful because memory leaks.

For other platforms, I don't know if it will be useful, or even viable.

[2017-02-26 20:05] Frenzie commented on #2588
Right, I just meant that as an implementation note. On Kobo it's easy to add and it makes sense. It's other platforms like Kindle where i don't know if it makes sense or if it's viable.

[2017-02-26 20:07] Frenzie opened #2589 "FR: automate advanced settings doc"
* KOReader version: up to 7fb2dc8

#### Issue

@poire-z made [an interesting observation](https://github.com/koreader/koreader/pull/2583#issuecomment-282516140):

This should print an alphabetic list of all the available options.
[code]

Ideally we'd automatically add some explanation as well somehow, but for starters just getting the (slightly further processed) output of that command or somethin

[2017-02-26 20:14] Frenzie commented on #2564
@retrue

I had some more fun with it and I've got it working. I probably won't have much time this week (and much less the three following this week) so I might have to let it rest for a little while. On the flipside, if @houqp doesn't have any difficult rewrite-requiring criticisms of the code itself then there's actually fairly little left to do.

https://github.com/Frenzie/koreader/commit/493ba

[2017-02-26 20:19] AlanSP1 commented on #2589
Yes, this would be very useful and also necessary. At the moment there's many options, but if we don't know how to use them, or that they even exist, we can't use them. Having them at least listed in wiki (or in some pdf or epub file that comes with koreader) would be great.

[2017-02-26 21:11] chunosoff opened #2590 "After wake-up the screen of Kobo Aura H2O stays freesed."
* KOReader version: koreader-nightly 20170209
* Device: Kobo Aura H2O

#### After wake-up the touchscreen of my Kobo Aura H2O doesen't respond. Works only power button. I have to switch off and on again the device. This bug takes place not every wake-up, it reproduceble  ~70%. With koreader-nightly-20161120 it reproduceble ~100%. With koreader-stable-v2015.11 I have no this bug.

#### Put the Aura

[2017-02-26 21:11] poire-z commented on #2589
There's also some with `G_reader_settings:nilOrTrue` and friends.
But looking at grep outputs, i'm not sure there're really many settings not reachable via menus.
So, I don't know if it would not be better to make menus for them.

These are the ones i added or that have been discussed in topics i followed:

`G_reader_settings:nilOrTrue("wikipedia_prettify")` (wikipedia headings unicode symbol pref

[2017-02-26 21:28] retrue commented on #2589
There are some options in settings.reader.lua for screensavers: use of book cover, a specific image or directory or even a text message, differently for sleep and power-off. Here: https://github.com/koreader/koreader/pull/2349#issuecomment-261726070

[2017-02-26 21:38] retrue commented on #2564
Dank je, @Frenzie.
This year, I have been tried to compile the code of KOReader from Linux without success. I get errors. I have LinuxMint 18.2 in other partition.
But I guess I wouldn't need to compile to try this. Just copying these five files you changed would do the trick. I'll try tomorrow, but I am not sure if I will be able to use it or to understand what must I do with this  ^^;

[2017-02-26 21:42] pazos commented on #2575
@Frenzie : Sorry, I didn't mean the wiki, but [this](https://github.com/koreader/koreader/tree/master/platform/kobo/fmon)

The wiki seems fine, but the proccess to install koreader with fmon is incomplete. The link to the fmon mobileread thread points to a file: fmon.zip, which includes the binary, but no ways to install it or handle it. The only way of installing fmon for new users, other than to

[2017-02-26 21:46] pazos commented on #2588
It makes sense. But reboots (and cold boots) are sloooow.

About viability @NiLuJe knows :dancer:

[2017-02-26 21:53] houqp commented on #2588
we can only include these menu items for supported devices

[2017-02-26 22:00] houqp commented on #2575
@pazos that works too, we can then invoke the make command in gitlab ci.

[2017-02-26 22:01] houqp commented on #2575
BTW, what happened to kfmon? I thought it's supposed to be a replacement for fmon?

[2017-02-26 22:03] pazos commented on #2590
@chunosoff  more info, please:
way of boot koreader? Ksm, fmon..
Is nickel working fine?
FW version of your device

[2017-02-26 22:27] pazos commented on #2575
@houqp: it is a replacement for fmon, but it requires a reboot to work. @NiLuJe add a way to back to nickel without reboot, but it doesn't work for me

The problem seems not related to kfmon, but to koreader.sh script. @NiLuJe also found that nickel could crash on suspend after switching between nickel & koreader a few times, so a reboot is consider safer.

Honestly, I think most battery issues on

[2017-02-26 23:15] houqp commented on #2564
@Frenzie sorry for the late reply. So having done a similar patch for touch zone ordering, I have to say this kind of feature is not easy to get right :( You will have to build a dependency graph to properly serialize the order, see `frontend/depgraph.lua` and `inputcontainer.lua`.

The biggest pitfall is we can't reorder a table while iterating through it. I made the same mistake with the touch z

[2017-02-26 23:17] houqp commented on #2564
@retrue could you open an issue with the build error next time you give it a try? I would like to help take a look. You can also use our VM image to avoid setting up the build env: https://github.com/koreader/virdevenv/tree/master/vm/ubuntu

[2017-02-26 23:26] houqp commented on #2589
My original plan was introducing setting annotation via comments similar to what we are doing with API docs. So we can write a little snippet comment to document every setting in the code right next to where the setting is used.

Then we just need a custom script to parse out all those annotations and generate a manual with it. It should be very easy to do with LPEG, I just haven't had enough time

[2017-02-26 23:35] houqp commented on #2575
Isn't fmon very similar to kfmon? How come fmon doesn't cause nickel to crash?

Good to know! KOReader actually has couple suspend issues fixed in the last couple months and I am fixing the last known one in https://github.com/koreader/koreader/pull/2527. I have never run into wifi crashes before. Does it crash the whole reader? If you run into it in the future, please don't forget to file an issu

[2017-02-26 23:37] houqp commented on #2590
@chunosoff also can you trigger this bug with a fresh koreader start?

[2017-02-27 04:13] NiLuJe commented on #2575
Still alive \o/.

Can't remember exactly what the issues w/ switching back & forth were, but I'm sure I put those down somewhere ;D.
Mostly related to nickel getting somehow borked when restarted (usually missing touchscreen, crazy suspend, some minor fb issues, potentially some spurious db issues).

It's been a while since I checked, but I *think* I got rid of most of those on my end. WHich ones

[2017-02-27 04:35] NiLuJe commented on #2575
As for why fmon would behave differently from kfmon, the best I could come up with is because of how each of them are started.

Fmon needs to patch the system startup script, IIRC; while kfmon is started via udev. This means that they possibly end up with a slightly different env.
The final form of my attempt at fixing this discrepancy was siphoning the complete nickel environment when KOReader wa

[2017-02-27 06:54] Frenzie commented on #2564
Yeah, temp working table/array is not unusual, and that's what the test is
for. ;) Fixed order is probably not that different but it seems to me it's
exactly the problem we have? (See comment)

On Feb 27, 2017 00:18, "Qingping Hou" <notifications@github.com> wrote:

[2017-02-27 06:56] Frenzie commented on #2588
That's the question, not the answer. :-p

On Feb 26, 2017 22:53, "Qingping Hou" <notifications@github.com> wrote:

[2017-02-27 09:08] robert00s commented on #2259
So what are we doing with this issue? :)
Maybe only infomessage that the last file is not available? But I prefer dialog box with retry info...

[2017-02-27 09:12] robert00s commented on #2378
@AlanSP1
Yes it it possible to write statistics only at suspending or powering off. Possible that there will be needed to write when we go to statistics menu (to prepare statistics).

[2017-02-27 11:43] oldhasbeen commented on #2239
update: I have never seen a false sleep again since the suspend script is in lua. I am constantly in koreader and have never turned the device off. No crash or dictionary lookup failures either since knowing how much memory is allocated and restart koreader before memory becomes too tight.
With my usage pattern I had now only twice to restart. Memory leakage is still present but at least one magni

[2017-02-27 13:19] PythaGorilla commented on #2387
+1
Plugins/evernote.koplugin/EvernoteOAuth.lua:210: wrong version number.

[2017-02-27 13:20] PythaGorilla commented on #2387
mine is
evernote: plugins/evernote.koplugin/EvernoteOAuth.lua:210:closed

[2017-02-27 14:54] Frenzie commented on #2564
@houqp

If we're going for explicit then do you know if it's better to go for ids the way I did or to rewrite the menu in such a way that it'd be more like this:

[code]

I mean, that's probably a lot easier to work with regardless until you introduce the order, but I don't know about the performance/memory implications. I suppose it probably doesn't matter too much given how (relatively) small th

[2017-02-27 15:02] Frenzie commented on #2333
I just tried Kiwix on my phone for the first time in a couple of years and actually it's as fast as Aard Dictionary or faster. Matching is worse though, with `deja` not matching `déjà`, which especially on a phone (or KOReader) is rather convenient.

I might actually be interested in finally playing around with Lua bindings, in this case in combination with libzim, but I just don't have the time t

[2017-02-27 15:07] chunosoff commented on #2590
Sorry, I've maked full reset and fresch Nickel without any books has the same problem. Now I think it is a Hardware problem. Sorry for disturbing you

[2017-02-27 15:12] Frenzie commented on #2590
No problem. I hope you can still claim warranty!

[2017-02-27 15:12] #2590 closed

[2017-02-27 15:19] Frenzie commented on #2589
Sounds simple enough (although I don't know if I have the time), but what format would we take for the comments? Would there be conflicts with the *Doc format of

[code]

or is that non-functional unless it's followed by a function definition?

[2017-02-27 16:18] retrue commented on #2564
Even if the user has to create his personalised menu editing a configuration file, I think it is important to have a menu entry to switch back and forth between the standard menu and the personalised menu. This way, in the personalised menu, you could delete menu entries that you barely use and activate back the standard menu when needed.

[2017-02-27 18:26] Frenzie commented on #2564
Yup, very good point! One question: can the user disable this menu entry if they want to shoot themselves in the foot? :-P

[2017-02-27 20:02] retrue commented on #2564
Yup, very good point!
I think that at least a couple of menu entries should be protected. That is, the user could move them wherever he wanted but he would not be able to disable them.  For example, this one to switch back to the standard menu and maybe some other. Exit? History? Table of Contents?

[2017-02-27 20:39] Frenzie commented on #2564
@myself

I was just rereading the Lua manual. Everything's tables so I guess I might as well put out there what's on my mind. One design I was considering is just one big unsorted mess of menu actions. This way everything just adds to it from all over the place much like already happens.

[code]

and then we basically generate what our current menu looks like in MenuSorter using an input like this