[2016-05-09 08:03] houqp commented on #1953
And here is the sample code that lists the files in a zip archive: https://github.com/nmoinvaz/minizip/blob/master/miniunz.c#L219. We can just reuse the code and check extension from the output.

[2016-05-09 08:31] mergen3107 commented on #2014
Could you please elaborate on that a little bit?
I get confused. So do you mean that Amazon is blocking native keyboard for 3rd party developers and their apps?
Is KOreader on different level than, for example, Leafpad is? I mean they both are run from KUAL, and Leafpad has access to use the native keyboard. I don't understand why KOreader is so restricted.

[2016-05-09 08:31] mergen3107 commented on #2013
Wonderful! :)

[2016-05-09 08:36] mergen3107 commented on #2014
Is it the same reason why KOreader has no access to Password Lock feature? (https://github.com/koreader/koreader/issues/2011)
I am sorry for being (probably) really annoying by asking so many questions, but I really would like to understand the first principles of KOreader-Kindle interactions in order to able to better find bugs and suggest realistic enhancements :)
Thank you!

[2016-05-09 08:40] mergen3107 commented on #2011
OK, thank you NiLuJe!
Then, thinking about a workaround, will the following set up work?
1) From KOreader press a new button that says 'Lock'
2) KOreader will jump to Home and invoke Kindle's default lock to screensaver.
3) Whenever the Kindle is unlocked (either by password or not) only after steps 1 and 2 are completed (in order to return KOreader only after Kindle was locked from KOreader), the

[2016-05-09 08:44] mergen3107 commented on #1438
Is this issue specific to crengine on Kindle? For example, on my Nook Simple Touch (Android 2.1) I use Cool Reader based on crengine and it shows all covers and images well.

[2016-05-09 08:56] houqp commented on #2015
After some bisects, I found the bug is introduced in https://github.com/koreader/crengine/commit/d232091ad6f36c76a17e74858a97fcc4261084c1. @frankyifei thoughts? I will take a closer look this week too.

[2016-05-09 09:18] Frenzie commented on #1953
Cool!
On May 9, 2016 10:03 AM, "Qingping Hou" <notifications@github.com> wrote:

[2016-05-09 11:33] mergen3107 commented on #2014
Currently my keyboard in KOreader has two input languages: English and Russian-Ukrainian.
How can I change additional symbols (in ABC tab)? I'd like to replace Ukrainian diacritics with Kazakh ones. I couldn't find language-specific input configurations inside koreader/frontend/device folder. I can see only English layout.
Thank you!

[2016-05-09 12:35] mergen3107 commented on #2014
For those interested, replaced the Russian-Ukrainian keyboard layout to Russian-Kazakh one.
Change Russian transliterated layout with conventional "йцукен" (analogue of "qwerty" in English).
You can take it [here](https://yadi.sk/d/S28EaW1VraPi5).
Extract to koreader/ with replacing the file.
**Warning!** After updating the build of koreader, make sure you copy this file again since it is overwrit

[2016-05-09 12:49] KenMaltby commented on #2006
Now, if I use the "Home" icon in the reader menu and exit KOReader back to the KSM menu, then select "Start koreader", I get the Info message box with it opening the file and it returns to the page I was on.  ( That used to be what also happened if you were to use the KSM PowerOff function or rebooted.)  If you use the Home icon and then the KSM PowerOff function, when you restart the device and K

[2016-05-09 15:05] frankyifei commented on #2015
I did not touch anything that will change xpointer. the patch did change something related to page split.

[2016-05-09 15:19] frankyifei commented on #2015
Looks like it can not restore a position if that position is at a compulsory page-break.

[2016-05-09 17:50] NiLuJe commented on #2011
1/ Exit KOReader.
2/ Press power button.

...

3/ Start KOReader.

:?

[2016-05-09 18:17] itspec-ru commented on #1438
KOReader uses own crengene https://github.com/koreader/crengine. Which is different from Cool Reader' crengine http://sourceforge.net/projects/crengine.
This bug is platform independent. I'm build and run KOReader on linux. And result same as on Kindle PW

[2016-05-09 18:26] djalma2k commented on #2015
I was going to open a ticket regarding a similar problem (related with this?):
With versions ~ 37x or 38x, in some books (epub) appears the "book status" page when you turn the initial pages (for example: page 4 to 5, in a book with ~2000 pages). Not only appears in the end of the book but it randomly appears in this pages ( 4 or 20, etc) also.

[2016-05-09 18:42] djalma2k opened #2016 "Segmentation fault when when trying to make a screenshot"
* KOReader version: >= 2015-11-276 (last checked 2015-11-38x) (I don't know if the problem is present in versions ( < 2015-11-276)
* Device: Kobo Glo HD

#### Issue
Crash.log:
`Segmentation fault`

I have**n't** problems to generate a screenshot using the landscape mode. **The problem occurs when using portrait mode.**

#### Steps to reproduce
Using both methods:

Regards.

[2016-05-09 19:41] Frenzie commented on #2015
I think that should be fixed already?
On May 9, 2016 8:26 PM, "djalma2k" <notifications@github.com> wrote:

[2016-05-09 19:47] mergen3107 commented on #2011
Ah, OK.
I replaced the Store button with KOreader like [there](http://www.mobileread.com/forums/showthread.php?t=178752), now it is even easier to restart it.

(On Kindle Touch we need const t = 'app://com.github.koreader.kpvbooklet';)

[2016-05-09 19:50] mergen3107 commented on #1438
ok

[2016-05-09 19:50] KenMaltby commented on #2016
This might be what was happening on my AuraHD, also.  I never tried landscape mode, I just did and it works.  In portrait mode it crashes to the launching program (KSM).

[2016-05-09 20:08] djalma2k opened #2017 "Problem with cover (kepub file):"
* KOReader version: Since 2015-11-31x
* Device: Kobo Glo HD || (1448 x 1072)px

#### Issue
**The cover is the 2nd page of the book when it should not be this way.**
On the other hand, **IMHO** when the cover page consist only by a single image. It always should be showed as a full scaled image... It seems better to me... ;P

Cover with version 276 (in landscape mode; exists a bug that don't allow

[2016-05-09 20:19] houqp commented on #1438
This might have something to do with our libjpeg build.

[2016-05-09 20:21] houqp commented on #2015
@djalma2k your issue is not related to this one and should have been fixed. If you are still experiencing this in the latest version, please open an issue for it, I will take a look.

[2016-05-09 20:21] djalma2k commented on #2015
Well, if you are meaning #1831, yes, it was fixed but this one I related It's a new problem, at least to me :P :/

[2016-05-09 20:26] itspec-ru commented on #1438
But all other images in books look correctly except for the cover in fb2

[2016-05-09 20:26] houqp commented on #2015
@frankyifei that's what confuses me too. The commit doesn't seem to touch the xpointer logic at all. https://github.com/koreader/koreader/blob/master/frontend/apps/reader/modules/readerrolling.lua#L382 returns the same xpointer for multiple pages.

[2016-05-09 20:27] houqp commented on #1438
Is it broken for all the fb2s?

[2016-05-09 20:33] itspec-ru commented on #1438
Yes

[2016-05-09 20:35] djalma2k commented on #1813
Seems there isn't svg support in the cre code :/  (http://www.mobileread.com/forums/showpost.php?p=3280669&postcount=8)

and would be nice to have it:
http://www.mobileread.com/forums/showpost.php?p=3280580&postcount=7

Regards.

[2016-05-10 01:01] djalma2k commented on #2006
I already tried to reproduce it using version 2015-11-392 but I can't. Everything about the OP problem (@KenMaltby) works as it should in my Glo HD... (I haven't any options added to KSM to modify the koreader's behavior. Only set the preference to open koreader by default)
Maybe I don't understand the problem properly... anyway, related to this:

Well something similar happens from version (>2015

[2016-05-10 01:03] frankyifei commented on #2017
try use a image with higher resolution

[2016-05-10 01:17] frankyifei commented on #2015
I think the reason is that I added a line for margin and padding to keep the style and the line for this purpose can not be used to create xpointer. I will do more test to confirm.
The first line of a page's top margin and padding were ignored in CRE.

[2016-05-10 01:26] djalma2k commented on #2017
The cover problem is a consecuence of this:
Book rendered with 276:
![276_2](https://cloud.githubusercontent.com/assets/17313916/15132821/7e1ed0a0-165d-11e6-8f2e-ce34a9acb46c.png)
![276_3](https://cloud.githubusercontent.com/assets/17313916/15132830/8aba008c-165d-11e6-91cd-fdc6284fbfdf.png)
Book rendered with >31X:
![38x_2](https://cloud.githubusercontent.com/assets/17313916/15132844/b02f84f4-165d

[2016-05-10 01:42] frankyifei commented on #2017
it disabled zoom in of low resolution image from that versio. So try to use a higher resolution image for cover

[2016-05-10 01:47] frankyifei commented on #2015
I think I found reason for this.
getBookmark() will call ldomNode::elementFromPoint( lvPoint pt, int direction ) to find the node at the split point, but the point passed is the start point of the page, which can be in margin or padding or border of that first node of the page. RenderRectAccessor does not consider top margin, padding or border.
So it will always return the rootnode of that documen

[2016-05-10 01:48] djalma2k commented on #2017
@frankyifei I should have explained better... The bug is that right now all the books have a 1st blank page instead the cover image.
With 276:
1st page-----> cover image
With >31X:
1st page----> a blank page
2nd page----> cover image
And I suspect that its not only happens with the cover images... I have to check it right now...
Regards.

[2016-05-10 01:54] houqp commented on #2006
Is there a feature in KSM that auto selects KOReader after a restart? By no message box, no book, you mean an empty blank screen? Or a filemanager window with empty file list?

After a reboot, can you check to see if there is a valid `lastfile` entry in `settings.reader.lua` before starting KOReader? The line that loads the last file is at: https://github.com/koreader/koreader/blob/master/reader.l

[2016-05-10 01:57] houqp commented on #2006
@djalma2k, changes in typesetting should not affect the restore too much since we don't record the last page number, but a pointer to internal document structure like image or paragraph. So if it goes back to serval chapters before, then it's a bug. Is it still happening to you?

[2016-05-10 02:22] KenMaltby commented on #2006
@houqp;
Yes, a filemanager window with empty file list, upon return from PowerOff or Reboot.
The last file entry looks right, but it has nothing to indicate the progress or page.

[2016-05-10 02:23] houqp commented on #2014
Nice, glad you found the file by yourself :) As a low hanging fruit, we should definitely add keyboard language setting support so user can set their preferred language in reader setting. Let's use this issue for this feature request.

Regarding to you first question, KOReader is completely written from scratch and uses none of the kindle system stuff. Except for the part that accesses system reso

[2016-05-10 02:24] frankyifei commented on #2017
can not download from http://m.zbigz.com/myfiles?url=magnet:?xt=urn:btih:46D8C007D3FEE13D1ED3EA62BB0CE924BC31F4A5&dn=EPL_How_to_Make_Love_Like_a_Porn_Star&tr=http://tracker.tfile.me/announce&tr=http://91.121.54.8:6969/announce&tr=udp://tracker.openbittorrent.com:80&tr=udp://tracker.publicbt.com:80&tr=udp://open.demonii.com:1337/announce

you can upload it here by change the filename to zip

[2016-05-10 02:46] frankyifei commented on #2015
Edit epub.css and set margins to 0 for h1,h2,h3 should fix this temporarily.
The page splitting mechanism is so hard to deal with. It was designed to handle text only.

[2016-05-10 02:52] djalma2k commented on #2017
You should'nt be problems rightnow, anyway If you still can't download it, i will upload it here:
https://dropfile.to/zkOaxHG

PS: If I will upload any file here, can I be able to erase it from here?
Regards.

[2016-05-10 02:59] #2006 closed

[2016-05-10 06:10] mergen3107 commented on #2014
@houqp thank you very much for detailed explanation! I am getting more and more conscious about KOreader's functionality :) Now I see how expensive it is to pay for keeping KOreader versatile across all platforms.

[2016-05-10 07:51] frankyifei commented on #2017
I think this has been fixed in recent commit. I can not find any blank page for this epub using my build.

[2016-05-10 09:09] djalma2k commented on #2017
Using 2015-11-392 (commit: cc72fcafd19b81f7c4744924845f2d7790ec5998)(May 6, 2016), I count 6 different blank pages (2 of them contigous) until the "Prologue" and between the "Prologue" and the "Chapter one" other 3 blank pages...
Well, I'll try it when a newer version will be released via OTA. (Right now It's only 1 commit "below master branch")
Regards and Thanks for checking this.

[2016-05-11 08:42] djalma2k commented on #2017
@frankyifei I just check the last commit (7816c3373306849323ab8b3875f95be8f9081404)(2015-11-394 in OTA) and it is still happening the same :/

[2016-05-11 09:08] djalma2k opened #2020 "[Bug] The Dictionary's window exceeds screen limits"
* KOReader version: checked since >=2015-11-stable until 2015-11-394
* Device: Kobo Glo HD

#### Issue
The Dictionary's window sometimes exceeds screen limits. (Checked using epub files).
![dic_1](https://cloud.githubusercontent.com/assets/17313916/15175793/4e83468a-1768-11e6-9cf7-69a63834ab91.png)
![dic_2](https://cloud.githubusercontent.com/assets/17313916/15175797/55ffbec0-1768-11e6-8ca5-01eac7

[2016-05-11 09:23] djalma2k opened #2021 "[Bug] Wrong highlight position"
- KOReader version: checked since >=2015-11-stable until 2015-11-394
- Device: Kobo Glo HD
#### Issue

**1st example**:
Selection:
![highlight_1_1](https://cloud.githubusercontent.com/assets/17313916/15176229/60d83384-176a-11e6-92f0-33937e92b124.png)
Final highlight:
![highlight_1_2](https://cloud.githubusercontent.com/assets/17313916/15176237/69f5e092-176a-11e6-867c-e4f68f6c1960.png)

**2nd examp

[2016-05-11 15:53] frankyifei commented on #2017
did you check out the master branch of crengine , base is not updated for some days.
I don't have a kobo. The book looks ok on my kindle and on pc emulator.

[2016-05-11 20:27] djalma2k commented on #2017
@frankyifei I just know where is the problem. I'm using kepub files generated by calibre. If I use the raw/original epub files, (the same as you download), I don't have this problem. Anyway with the previous versions (<2015-11-31X) I don't have any problem related to this issue...
Regards.
PS: Sorry if I make you waste time checking this... I didn't realize the calibre conversion.

[2016-05-11 20:41] djalma2k commented on #2021
Just for clarification. In the following example you can see that one highlight affect to the previous page. In the same page one have a correct position and the others haven't. And finally, it final position not always "jumps" the same number of lines (as if the problem was triggered by the book's syntax)
**3rd example**
![highlight_3_1](https://cloud.githubusercontent.com/assets/17313916/1519549

[2016-05-11 22:55] djalma2k commented on #2021
An important thing, and it isn't showed in the previous screenshots, is that sometimes when you want to make the initial selection you have to press in the "final highlight" position, (that changes randomly and you have to guess where it is [trial-error problem] ).

[2016-05-12 01:50] houqp commented on #2016
Only reproducible in kobo, might be related to something weird with our armhf build. I will take a look at it.

[2016-05-12 13:14] frankyifei commented on #2021
Just want to confirm, I found the padding and border width will affect the position of highlight position. for most of the books, it will not be an issue as they will not use a very large top or left padding. I found a solution for it and still testing.
Another thing that I found is that sometimes I highlighted one word, it will created another shadow area in same page. sometimes it will show the

[2016-05-13 01:40] houqp commented on #2021
Yeah, definitely related to two other issues you linked.

[2016-05-13 02:01] houqp commented on #2017
I don't think kepub is supported by KOReader right now. Feel free to create a new issue for kepub support if you want.

[2016-05-13 02:01] #2017 closed

[2016-05-13 20:46] mergen3107 opened #2023 "CONTRIBUTION: Russian localization"
* KOReader version: Should work on every KOReader
* Device: on all devices

#### Thank you KOReader Team!
I am so excited about your diligent and persistent efforts toward making KOReader greater and greater that I couldn't resist to try to help you!

#### Russian Localization
Russian is my second native language after Kazakh since I live in a post-Soviet country, the Republic of Kazakhstan. Also

[2016-05-14 02:59] chrox commented on #2023
Thanks for your contribution. Koreader wouldn't be what it is now without continuous efforts from the Koreader community.

This repo now don't manage translated strings (the po files). When we release a package we fetch the po files for all languages from https://www.transifex.com/houqp/koreader/. And translators should submit the translations to Transifex. See a short instruction [here](https://g

[2016-05-14 03:26] chrox commented on #2014
Yes, interacting with the Kindle native system from Koreader is not an easy job. Maybe it's much easier to do this in Android. Anyway we probably won't invest time in this problem. Closing this now.

[2016-05-14 03:26] #2014 closed

[2016-05-14 03:34] chrox commented on #2000
There is already one candidate for the Koreader Android port:
![image](https://cloud.githubusercontent.com/assets/751535/15265962/5339de8a-19c7-11e6-9db5-9dec8639c737.png)

[2016-05-14 03:46] chrox commented on #1922
I still cannot reproduce this. Could you send a copy of that document with the corresponding history file (the lua file in the sdr directory of the document)?

[2016-05-14 06:44] #2023 closed

[2016-05-14 08:00] mergen3107 commented on #2023
What a unified and organized way of keeping all translations ordered! I am impressed!
I uploaded .po file for Russian through the web interface
Thanks for your feedback to my feedback :)

[2016-05-14 08:21] mergen3107 opened #2025 "Battery level isn't shown correctly on Nook Glowlight Plus"
* KOReader version: latest nightly by 10th of May
* Device: Nook Glowlight Plus (the newest one)

#### Issue
Here is the [quoting](http://forum.xda-developers.com/showpost.php?p=66801124&postcount=9) of the user **cemunleashed** from xda-developers Nook forum:

#### Nook set up
For making KOReader live on NGP, [here](http://www.mobileread.com/forums/showthread.php?t=271505)  the user **thinredline

[2016-05-14 12:27] mergen3107 commented on #2023
Found another strange feature.
1) Select a word in a book.
2) Highlight it. In the widget box that is still open it says "Unhighlight" grayed out. I don't know why I can't remove the highlight right after I did it. Probably it is still on early stage, the same as feature of adding notes yet. Anyway, strange things are the following.
3) When I tap this highlight, it says "Delete", not "Unhighlight"

[2016-05-14 12:51] mergen3107 commented on #2023
Great! New [changes](https://github.com/koreader/koreader/commit/c6d68e381fdd723245ebccad7ff5b77ed4e0b991) work :)
I applied them on my KOReader, looks great.

Interestingly, when I tried to copy small portions to the codes first, KOReader did not open.
Then I just opened Raw versions of these two files and replaced the whole codes with them - succeeded!

Thank you!

[2016-05-14 12:59] mergen3107 opened #2026 "Crashes on some epubs when I turn Embedded styles off."
- KOReader version: koreader-kindle-arm-linux-gnueabi-v2015.11-394-g7816c33
- Device: Kindle Touch
#### Issue

On some epubs, when I try to turn off Embedded Styles off (Bottom options, Gear tab), KOReader crashes to the main Kindle menu. When I come back, the styles are again on.
#### Steps to reproduce

Example epub that has that issue is [here](https://yadi.sk/i/pfECeygqrho7Z).

**Update!**
I m

[2016-05-14 15:31] mergen3107 commented on #2023
@Frenzie, @chrox
Will we consider replacing KOReader's virtual keyboard with [this](https://github.com/koreader/koreader/issues/2014) one I created in the next releases?
I changed there Russian layout to more convenient QWERTY-like layout, also added Kazakh letters (however replaced Ukrainian). Changed numbers so that there are like a dialpad now (like on my [BlackBerry Q10](http://s3.amazonaws.co

[2016-05-14 16:54] mergen3107 opened #2027 "KOReader and BlackBerry Q10 - not working"
- KOReader version: Android version (the latest nightly 394)
- Device: BlackBerry Q10 10.3.2.2836
#### Issue

KOReader installs, but does not work on BlackBerry Q10's Android Runtime.
A black screen appears for about 5 seconds, then KOReader gets minimized.
A patch from [here](http://www.mobileread.com/forums/showthread.php?t=271505) doesn't work too.
#### Steps to reproduce

I think there are two

[2016-05-14 17:53] GuyDeLaCombe commented on #2005
Hi everyone ! @NiLuJe
I was not at home from last week :)

So I started again with a factory reset and install with KSM 8 that time. In fact, the error concerning the nil screen was coming from a modification that I made in the wrong device.lua file. So this time I modified like described [here](https://github.com/koreader/koreader/commit/8205177db6bcebb75b1282ca36b164904c06edc0) and it worked !
B

[2016-05-14 21:24] NiLuJe commented on #2005
@GuyDeLaCombe: Ah! That makes sense, thanks.

So, let's try to apply the GloHD tweaks, too... Gimme a minute ;).

[2016-05-14 21:27] NiLuJe commented on #2005
Does 8ba0cb4 fix the issue?

[2016-05-15 01:37] NiLuJe commented on #1996
Because I'm a tiny bit crazy, I've now made KFMon completely user-configurable.

i.e., you can define your own file/action couples via a simple .ini file dropped in a config directory.

Haven't had the chance to actually test those on a real Kobo because Savannah's network is wonky, so my builds are stalled...

[2016-05-15 02:15] gerroon commented on #2000
I cant read the "reader" part ;)

[2016-05-15 09:40] Frenzie commented on #2023
Unless the current layout is deficient I'd think it should be available in addition somehow, rather than instead of.

[2016-05-15 12:05] mezzarobba commented on #630
It looks like the timestamps of input events are *not* relative to the Epoch and this breaks the timers used to detect gestures. So I tried switching to the “Alyssum protocol” (which appears to handle a similar issue):
[code]
and that solved the problem for me. (Note that `adjustTouchAlyssum()` actually does more than we need on this model: as far as I understand, the part dealing with `ABS_MT_TRA

[2016-05-15 15:29] pazos commented on #1996
@houqp I'm on v2015.11-394-g7816c33 right now, but I update all the time and had zero suspend issues last two months (both battery drains or broken suspend and returning home). I'm actually using fmon to launch koreader.

@NiLuJe Woow, great work on kfmon. I like fancy user configuration. How about to watch a whole folder (like /mnt/onboard/kfmon) looking for some-fancy.png and run the related som

[2016-05-15 15:48] NiLuJe commented on #1996
@pazos: Technically feasible, but recursive inotify watches are iffy to handle, so, meh.
Would require a bit of refactoring, so, unlikely to happen.

It's basically three lines in a .ini to add a watch, that shouldn't be a huge barrier ;).

[2016-05-15 16:17] pazos commented on #1996
@NiLuJe : Finally tested!!!! Awesome work!!!

Attached a comparation video between fmon and kfmon..
Both work really well for me but fmon is faster because koreader.sh don't force a reboot when fmon is detected.

[fmon vs kfmon.zip](https://github.com/koreader/koreader/files/265086/fmon.vs.kfmon.zip)

[2016-05-15 16:47] NiLuJe commented on #1996
Yeah, not rebooting *should* be safe, in general, but I took the ~5s hit as a safety precaution for now ;).

[2016-05-15 16:51] NiLuJe commented on #1996
Namely, switch [https://github.com/koreader/koreader/blob/master/platform/kobo/koreader.sh#L123](this) ```reboot``` to ```./nickel.sh &``` ;).

[2016-05-15 16:53] NiLuJe commented on #1996
I might make that user-configurable while I'm at it...

[2016-05-15 17:59] KenMaltby commented on #1996
Wouldn't the "return 0" get you back to the launching program?  The "reboot" seems unneeded, if things were handled properly when reader.lua was called.  As it is now when I use KOReader's Home Icon I return to KSM without rebooting.

[2016-05-15 18:23] NiLuJe commented on #1996
@KenMaltby: Indeed, except in this instance we have *nothing* to return to, since we basically kill everything at the beginning of the KOReader startup script ;).

Hence we either need to restart Nickel ourselves, or reboot.

[2016-05-15 18:30] KenMaltby commented on #1996
I see, but is a reboot needed to return to KSM or Advboot ?

[2016-05-15 18:40] NiLuJe commented on #1996
Not with KSM, since it's still running in the BG. Which is why we don't kill it and simply return to it.

[2016-05-15 18:49] NiLuJe commented on #1996
As for AdvBoot, it requires a reboot also.

[2016-05-15 19:19] NiLuJe commented on #1996
Okay, got a Kobo test build running, appears to behave properly...

Going to write some doc, tag a release, and push this to the world...

[2016-05-15 22:20] NiLuJe commented on #1996
Okay, done!

Updated the [install package](http://files.ak-team.com/niluje/kopub/KFMon.zip).
Update the [docs](https://github.com/NiLuJe/kfmon).
Comited my [KOReader script tweaks](https://github.com/NiLuJe/koreader/commit/892e3c0f1e5633d9fbc8626ff114d45bee101997).

I'm waiting for those to hit a nightly before pushing this to MR :).
In the meantime, feel free to test & comment :).

[2016-05-15 23:23] KenMaltby commented on #1996
Not to put a damper on the Great work @NiLuJe has accomplished in creating this "Kute File Monitor", improved fmon, But is there a one step installer for KOReader?  The new launcher looks neat, for those who use Nickel, but I was hoping that the automated installation of KOReader (mostly for newcomers) was being included in this issue.

[2016-05-15 23:51] NiLuJe commented on #1996
@KenMaltby: If you basically wrap a koreader zip in that install package, you've got it down to one step ;).

[2016-05-16 03:30] mergen3107 commented on #2023
@Frenzie
yes, current versions is unusable. There should be 33 letters in Russian, in this version there are only 30. Two of three (ь, ъ) are critical! The third one (ё) is an optional replacement for Russian "e" letter.
So I did thorough redesign of 26 letters using conventional qwerty-like layout, and put all other (7) "out-of-26" characters on the second keyboard at their usual places on hardwa

[2016-05-16 04:42] frankyifei commented on #2021
the padding and borders of a block will affect the position of a hightlighted area

[2016-05-16 04:53] houqp commented on #2023
Ha, I don't speak russian at all, i just happened to ended up in that group because i created it :P @mergen3107 the file you uploaded is not downloadable anymore, can you put it into a github gist? Or even better, send us a pull request so we can discuss it further there.

[2016-05-16 05:07] houqp commented on #1996
Awesome work on kfmon! Looking forward to the MR post. No worry about the sqlite dep, i think it makes more sense to vendor it inside kfmon :)

I assume you are going to send out a PR for the tweaked start script?

[2016-05-16 05:07] houqp commented on #1996
NOTE to myself or anyone who is interested to help maintaining the doc:

Update the installation guide in wiki after kfmon is officially launched.

[2016-05-16 05:10] NiLuJe commented on #1996
@houqp: Yep, I'm waiting on feedback from #2005 for the PR, since I have a mix of stuff relevant to that in my tree :p.

[2016-05-16 07:03] houqp commented on #630
@mezzarobba you are running it on kobo touch right? Is this happening to all the kobo touch devices? I am surprised the default config is not set properly for so long.

[2016-05-16 07:14] houqp commented on #2027
Thanks @mergen3107 for the report. We are working hard on getting the next stable release out right now. Hopefully, we can take a look at this after the release. Or if someone wants to take a stab at it, feel free to send a PR :)

If you have android build env setup, you can try modifying the path in https://github.com/koreader/koreader/blob/master/datastorage.lua#L10 to see if it fixes the issue.

[2016-05-16 07:58] mezzarobba commented on #630
Yes, I am running it on a Kobo Touch. The mobileread thread linked above suggests that this is not happening on all Touch models, and perhaps in fact only on those sold in France by fnac (that's what I have too).

[2016-05-16 12:26] KenMaltby commented on #1996
The MR post will be a "Sticky", when I see it.

[2016-05-16 12:57] mergen3107 commented on #2023
@houqp
strange! I can download that file from the above link. OK, let me upload on another source..

[2016-05-16 14:06] mergen3107 commented on #2027
Should I then rebuild my own KOReader package for Android?

[2016-05-16 20:52] #2005 closed

[2016-05-17 01:51] frankyifei commented on #2021
I think I found the reason why first page's highlights keep showing up in following pages.
because first page's coordinates are always inside visible_able. And other page's hightlight will change to fit the screen. Then it will draw first page's highlights on every following page.
How to fix this?

[2016-05-17 02:32] houqp commented on #2021
The code in readerview relies on crengine calculating the screen position rect for us, so we only draw the highlight if crengine thinks the highlight falls into the current screen. `getSinglePageRect` should not be called for this case since `self.ui.document.info.has_pages` should be false.

It might be a bug in `getWordBoxesFromPositions` from cre.cpp though. This is probably a regression caused

[2016-05-17 03:10] frankyifei commented on #2021
I monitored the boxes returned from getScreenBoxesFromPositions, and found it will change the position of a rect to screen coordinates when it is on that page and not change when on other page. For first page's highlight, it will not change on every page. this is from docToWindowRect, which called docToWindowPoint in lvdocview.cpp.

[2016-05-17 03:16] frankyifei commented on #2021
And this is an old bug, I reset the cre to 2015-6 and build the emulator and still have this problem.

[2016-05-17 03:48] houqp commented on #2027
If you want to test custom changes in android, you will need to build your own koreader apk.

[2016-05-17 04:02] houqp commented on #2021
Good call, i forgot it's only happening for the first page. Then it looks like an old crengine bug :(

For me, the highlight in the first page does change on other pages, except it has y set to 0, while for highlights in other pages, the y is set to a very large number that's outside of the screen.

[2016-05-17 04:08] houqp commented on #630
@mezzarobba what is the format for the timestamp you got before the patch? I wonder if there is a simple way to detect it. If not, forcefully apply the first half of adjustTouchAlyssum to all touch model should work too...

[2016-05-17 04:11] frankyifei commented on #2021
on page one
[code]
on page two
[code]
one page three
[code]

[2016-05-17 04:16] frankyifei commented on #2021
how to set y of the boxes? can you set page one's highlight to a large number when is not on page one

[2016-05-17 07:41] mezzarobba commented on #630
I can't check right now, but if I remember right it was similar to the examples posted earlier in this thread, i.e. fairly small numbers (of the order of magnitude of a few thousands) that may be seconds since boot or something like that.

[2016-05-17 07:51] houqp commented on #2021
So after some more digging in cre.cpp, I found `ldomXRange(words[i]).getRect(wordRect)` is not returning the right `y` for first page highlights. In your case, it must be returning `98` for all other pages. `docToWindowRect` actually did not change the value of `y`.

We can definitely hack around this issue by treating page 1 as special case in `getWordBoxesFromPositions` like you said. But I woul

[2016-05-17 07:54] houqp commented on #630
Will you be able to check it later? If we can confirm it's something like seconds since boot, then it's a simple fix and I can send a PR.

[2016-05-17 08:03] mezzarobba commented on #630
Yes, I can have a look this evening (UTC+0200).

[2016-05-17 11:52] KenMaltby commented on #2027
It is possible to modify an existing .apk, I use "EasyApkDisassembler"  to sign the .apk, after applying whatever changes.  There is seldom any need to actually Disassemble the .apk, I just use Notepad++ to make changes to the scripts, then sign the .apk, so it will install.

[2016-05-17 12:29] mergen3107 commented on #2027
I disassembled the nightly-394 build with ApkTool, but I couldn't file a file where I could change the install directory. Total Commander does not find anything with 'sdcard' or something looking like it is installation path.
So where should I find the above mentioned datastorage.lua?

[2016-05-17 14:05] KenMaltby commented on #2027
There is no need to disassemble the .apk. You can just use 7-zip or WinRAR to open the .apk then go to: assets> module then open the koreader- xxxxxx.7z (which has the program in it) the datastorage.lua is there.

[2016-05-17 14:13] NiLuJe commented on #1996
[MR Thread](http://www.mobileread.com/forums/showthread.php?t=274231) posted ;).

As for this issue, I'm thinking maybe do a true 'one-step' package for the next KOReader *stable* release?
(Provided nothing drastically broken emerges on the KFMon side of things ;)).

[2016-05-17 15:55] mergen3107 commented on #2027
OK, got this! Thank you!
So I changed the file (directory is now /mnt/sdcard/koreader/), then re-signed the apk, it didn't blame for anything while installing.
However still no success even with the patch. First time it just minimizes. Then, if I open the window of KOReader again, it goes all black and holds still for eternity. I only noticed something happening on this black screen, like it tries

[2016-05-17 16:28] Brnoch commented on #1994
Thanks a lot!
I'll wait patiently for the change to show up.
Will it still be necessary/recommended to decompress the .dict.dz file with this new version ?

[2016-05-17 16:36] Frenzie commented on #1994
It's long since there in the nightlies. ;) for the rest nothing changed.
On May 17, 2016 6:28 PM, "Brnoch" <notifications@github.com> wrote:

[2016-05-17 17:27] GuyDeLaCombe commented on #2005
HI @NiLuJe

Yes, [that](https://github.com/koreader/koreader/commit/103e4eaeb8e504cf96f3a3b8699ec6c4747885c5) works nicely !

It is really nice to see people helping each other, working without knowing anyone personally, in an unselfish wholesome way and for no money. It's a good hope for a better society and one liberated from the slavery of subordinated labor. Long life to the free labor ! Thank

[2016-05-17 18:06] NiLuJe commented on #2005
Fantastic ;).

Then the very latest OTA should currently work out of the box, as will the next nightly!

[2016-05-17 18:58] KenMaltby commented on #1996
It looks like they have a preferred way to handle this sort of thing:

"Hi Ken,

 Thank you for your suggestion of a post to be made sticky. We would recommend that posts of this nature - instructions for doing something - be put in the MR Wiki rather than in the forums. The Wiki is a far better place for factual information of a fairly static nature such as this. It doesn't really belong in the f

[2016-05-17 19:43] mezzarobba commented on #630
It was indeed seconds since last boot.

[2016-05-17 20:04] NiLuJe commented on #1996
Fair enough ;). I'm not overly fond of stickying everything either (in fact, it's sometimes proved to be counter-intuitive in the Kindle Dev subforum, where stickied stuff seems to go unnoticed).

Granted, the fact that a bunch of the active devs got mod powers in the forum help for this kind of boring quality of life stuff ;).

[2016-05-17 20:32] verge-36 opened #2033 "[FR]Dictionary look-up history like Kindle Vocabulary Builder"
- KOReader version:2015.11-371-g24a30cb
- Device:Android device
# Dictionary lookup feature is already pretty good. But it would be nice if koreader remembers lookup history.Even a .txt file of previously searched words would help a lot.

--Sorry for bad English--

[2016-05-18 01:11] pazos commented on #1996
@NiLuJe @houqp : Sooo, enhancement done!. Should I close the issue or wait for documentation updates on https://github.com/koreader/koreader/blob/master/platform/kobo/fmon/README.txt ?

I think installation based on fmon should be deprecated and documentation moved elsewhere. We can make a lean zip without Koboroot.tgz, koreader.png...

[2016-05-18 02:28] KenMaltby commented on #1996
@pazos The first ten lines should be retained, (with the references to the old method removed). They could be moved to follow the new KFMon method, though.

[2016-05-18 04:01] houqp commented on #1996
yeah, we should update that README to replace fmon with kfmon. BTW, why is that README in fmon directory? Shouldn't it be moved to its parent dir?

[2016-05-18 06:29] Frenzie commented on #1996
Also note that the text has acquired a few discrepancies with the wiki: https://github.com/koreader/koreader/wiki/Installation-on-Kobo-devices

[2016-05-18 09:48] Brnoch commented on #1994
On my Kobo, new dictionnaries didn't show up after the upgrade.
I'll check tonight that I did proceed correctly. Shall I copy once again the dictionnaries in the "dict" folder so that Koreader processes them once again ?

[2016-05-18 10:41] Frenzie commented on #1994
You simply extract the whole archive, so your /dict looks like

/dict/stardict-SomeDictionary-1.0

Afaik there should be no need to to anything else. Could you clarify this bit about decompressing the .dict.dz file?

The nightly update seems to be messing up on my device atm. If something failed you'd best upgrade manually, particularly the sdcv executable in the main /koreader directory but I'd j

[2016-05-18 11:17] frankyifei commented on #2021
Ok， i'm working on it.

[2016-05-18 12:41] Frenzie commented on #1994
Hm, I can confirm that it doesn't seem to work with the koreader-nightly-20160513, even though it should. OTA isn't working for me from that build either. @houqp Do you have any idea what's up?

[2016-05-18 14:49] Brnoch commented on #1994
For information : I read somewhere that the .dict.dz are compressed and that it's better to de-compress them. Under Windows, you can de-compress them after renaming the file to dict.gz. That's what I've done

[2016-05-18 15:55] Frenzie commented on #1994
Sure, but what's the rationale? :) Low-memory devices?

On Wed, May 18, 2016 at 4:49 PM, Brnoch <notifications@github.com> wrote:

[2016-05-18 16:38] Brnoch commented on #1994
Well, actually, I don't know :-)
I figured first that this could help to solve the problem with the new dictionaries, and then to make the system snappier...

[2016-05-19 05:55] verge-36 opened #2034 "Nook Glowlight Plus full screen refresh not working."
* Device:Nook glowlight plus

#### Issue

E ink optimization is problematic. Refresh screen after 6/12/x pages doesn't work.

#### Steps to reproduce

After starting to read a book scroll pages. Full screen refresh never happens.

#### Proposition:

I dont know if screen refresh for nook glowlight plus is hard do implement.
But there's an app for nook:Nook clear screen It basically just refreshes

[2016-05-19 11:39] pavlukivan opened #2035 "Unable to launch on Kindle PW2"
* KOReader version: nightly-20160620
* Device: Kindle PW2

#### Issue
Error in reader.lua at lines 144-146

#### Steps to reproduce
try to launch KOReader

I fixed it by removing lines 144-146, but probably it isn't good workaround.

[2016-05-19 14:21] AlanSP1 commented on #1994
I needed to decompress my dictionary file to have dictionary working. It was on older koreader versions, not sure how it should work on latest.

[2016-05-19 16:25] KenMaltby commented on #1994
I have a couple of dictionaries the use a ".dict.dz"  file and work fine in my AuraHD under KOReader. (v2015.11-396)  They have been working, as far as I know, for many past versions.

[2016-05-19 16:45] Frenzie commented on #1994
@AlanSP1 Would this have been on Android by any chance? Android is… special. =P Things there aren't really indicative of what's up. Compression-wise I don't think there should be any difference since dictionary support was first added in 2013.

[2016-05-19 19:08] AlanSP1 commented on #1994
I have Kobo H20.

But, now thinking, maybe I remember it wrongly? Maybe I was trying to use StarDict3 dictionary? Anyway, I am sure I decompressed StarDict2 dictionary and it works. I had problems with SD3 dictionary, tried everything. It was before, maybe year or even more, that's why I'm not sure, but I'm sure that now I have decompressed version on my reader.

I would need to check if compresse

[2016-05-19 20:12] mwozny123 opened #2036 "Save last read page on device poweroff"
* KOReader version: stable, nightly
* Device: Pocketbook, Kobo, probably all non-Kindle devices

#### Issue
When device system's going for powersave shutdown, Koreader doesn't save last read page.
(Bug extracted from https://github.com/koreader/koreader/issues/1990)

#### Steps to reproduce
Do some reading progress, wait idle till (system's battery saving) will shutdown device.
Startup device, sta

[2016-05-19 21:43] NiLuJe commented on #2035
Can't reproduce on 2015.11-404 (on a PW2).

Try with a fresh install of the latest OTA?

[2016-05-21 13:51] KenMaltby commented on #1996
I think I may be falling behind, So will KOReader, for Kobo, now come with its own launcher?  Will it be included in the download install package? Then the download package would include all that is needed to install and use KOReader, no need to download and install a launcher program? I take it then that the install process would install KFMon and copy over a "koreader folder" ?

For those of us

[2016-05-21 17:01] ycrichard opened #2037 "How to set the "screensaver_folder"?"
* KOReader version: Latest Nighty
* Device: Kobo Aura H2O

#### Issue
I normally set screensaver directory in `KOBO_SCREEN_SAVER`, and get random images inside to show as screensaver.
But in the lastest nighty, `KOBO_SCREEN_SAVER` option has been removed from `defaults.lua`.
And in `screensaver.lua`, that part has been replace by `readSetting("screensaver_folder")`.

Can someone tell me, how to se

[2016-05-21 17:49] NiLuJe commented on #1996
KFMon is completely orthogonal to KSM, one doesn't care about the other, and vice-versa. As long as you don't open any of the trigger files in KSM, nothing happens.

Nothing is likely to change on KOReader's side. I'll probably just make a one-step zip available *somewhere* of the next stable release, and that's it.

[2016-05-21 22:33] pazos commented on #1996
@NiLuJe :  bug found!

Changing from rebooting to restarting does not work. Nickel won't launch (stuck in animation)

log said:

`
[KFMon] [2016-05-22 @ 00:22:53] Trying to load config file '/mnt/onboard/.adds/kfmon/config/kfmon.ini' . . .
[KFMon] [2016-05-22 @ 00:22:53] Daemon config loaded from 'kfmon.ini': db_timeout=450, use_syslog=0
[KFMon] [2016-05-22 @ 00:22:53] Beginning the main loop.
[KF

[2016-05-21 23:40] NiLuJe commented on #1996
@pazos: I assume you're of course running a

[2016-05-22 07:24] Hzj-jie commented on #2037
You may want to edit reader.settings.lua, add
["screensaver_folder"] = "..."
but kobo internal storage (i.e. /mnt/onboard/screensaver) should be able to work.

[2016-05-22 07:28] Hzj-jie opened #2038 "File manager won't be able to start without several font settings"
* KOReader version: v2015.11-411-gf649acd
* Device: Kobo Aura HD

#### Issue
If three fonts are not set scfont, hpkfont, infont, in reader.settings.lua / fontmap, file manager won't be able to start. If 'open last file' has been enabled, koreader will open last file when clicking on file manager icon in reader ui.

#### Steps to reproduce
1. Set fontmap in reader.settings.lua, but do not include s

[2016-05-22 07:57] houqp commented on #2037
@ycrichard , like @Hzj-jie said, you can set it by setting the ` screensaver_folder` key in settings.reader.lua. I am working on adding this as an option to the menu. Currently stuck at refactoring the code that handles defaults.lua. Those are very hacky code that's not easy to clean up unfortunately :(

[2016-05-22 07:58] houqp commented on #2038
Yep, this is a bug. We should have those set to the fallback front if not set.

[2016-05-22 10:50] pavlukivan commented on #2035
I have 5.7.2, if that matters... It doesn't work after fresh install.

[2016-05-22 13:33] ycrichard commented on #2037
Thanks for the instruction, it works well now.
I also added `["use_lastfile_as_screensaver"] = false` into settings.reader.lua.

Looking forward to the option in menu! Cheers

[2016-05-22 13:33] #2037 closed

[2016-05-22 15:54] pavlukivan commented on #2000
@chrox that looks like logo for a camera...

[2016-05-22 16:24] lenisko commented on #2000
Lets see... we have K.O. in name then reader. Maybe some ebook reader with punching fist on screen ? :smile:

also @chrox indeed, this one looks like for camera application

[2016-05-23 05:23] Hzj-jie opened #2040 "Publish Koreader for Android"
- KOReader version:
- Device:
#### Issue

Is there any reason we do not publish Koreader in Google play store? If it's simply because nobody has a Google developer account, I could help.
#### Steps to reproduce

[2016-05-23 12:11] Frenzie commented on #2040
Afaik mostly because it's alpha quality.

[2016-05-23 13:07] RedKage commented on #1949
I just installed Koreader on my PocketBook Lux 3 (626) and I experience the same "issue."
Click on any ePub and I got this little popup

And this thing sits there for a long time. But, if I tap the screen, or presse previous/next buttons, usually the popup dissapears after 5 secs.

Aside from this little bug (I guess) this popup does not indicate that something is going on. When I saw for the 1st

[2016-05-23 16:00] AliLozano opened #2041 "History as initial interface instead explore files"
I recently installed Koreader in my kobo glo hd, I like the way it highlight compared with nickel, but I have some suggestions, for example could we use history as initial interface instead use the file explorer, is it posible?
Three changes:

- Initial interface: History or Recent books (maybe with preview or book cover)
- Home button: Go to Initial interface(History)
- Remove history from pokeba

[2016-05-23 16:28] Frenzie commented on #2041
Probably a duplicate of #1313. I think @chrox is working on a new homescreen.

[2016-05-23 17:24] houqp commented on #2040
Yep, I don't think we are ready for android play yet. There are two major blockers:

* we have many bug repots tagged with android that need to be resolved
* a properly home screen which @chrox is working on

And I think it's better to start with f-droid first, get some feedback, then move to the play store. Otherwise, we might ended up getting many bad reviews :P

[2016-05-23 17:35] houqp commented on #2041
@AliLozano reader menus are managed by https://github.com/koreader/koreader/blob/master/frontend/apps/reader/modules/readermenu.lua. Lua is a very simple lanaguage, much easier to learn than Java and Python ;P

As @Frenzie said, chrox is working on the new home screen, so the experience will be much improved after that work is merged to master.

[2016-05-23 18:04] Frenzie commented on #2041
Dunno, Python is very easy. But yes, so is Lua.
On May 23, 2016 7:37 PM, "Qingping Hou" <notifications@github.com> wrote:

[2016-05-23 18:04] Frenzie commented on #2040
I prefer F-Droid anyway.
On May 23, 2016 7:25 PM, "Qingping Hou" <notifications@github.com> wrote:

[2016-05-23 18:28] AliLozano commented on #2000
Si se aceptan sugerencias..
![koreader](https://cloud.githubusercontent.com/assets/1187993/15480270/3a9cea1e-20ea-11e6-90b9-c0ced4e282ec.jpg)

[2016-05-23 18:33] #2038 closed

[2016-05-24 01:32] houqp commented on #2040
Even for publishing in f-droid, we still need to clear the first blocker :)

[2016-05-24 01:38] houqp commented on #2041
Python is probably easier to learn syntax wise for beginners. But if you go deeper, there are subtle black magics :) While Lua is much simpler in design. I was able to read through and understand the compiler and vm source code in a week. Pretty sure it's going to take much longer for Python :P LuaJIT, on the other hand, is a different story...

[2016-05-24 04:33] AliLozano commented on #2041
Nice, I will review the code, learn and test, somebody knows when new home screen will be available?.

[2016-05-24 04:47] houqp commented on #2041
I don't @chrox set a hard deadline for this. Like all of us, he is also only working on it in this sparing time :)

[2016-05-24 05:58] RedKage commented on #1949
Possible duplicate here: https://github.com/koreader/koreader/issues/1155
And there:https://github.com/koreader/koreader/issues/1955

[2016-05-24 06:02] houqp commented on #630
@mezzarobba , can you help test the patch in PR #2042

[2016-05-24 06:16] houqp commented on #1949
Yes, this issue has been filed before. The bad news is none of us has the device so it's very hard to debug :(

[2016-05-24 06:17] houqp commented on #1949
The animation though, it's a good idea. Probably worth a separate issue. To implement it, we need to make some major refactors in the core UI framework.

[2016-05-24 06:28] houqp commented on #2035
@pavlukivan can you paste the `crash.log` here? This does not make much sense to me since the code path should only be triggered for kobo devices.

[2016-05-24 13:54] mergen3107 commented on #1919
People from [4pda](http://4pda.ru/forum/index.php?showtopic=734837) report that djvu's with Russian filenames have this issue of 'no engine' on Android.
Example file is [attached](https://yadi.sk/d/sFrorXNSrxQdX).

On my Kinde Touch however such files are opened correctly.

[2016-05-24 15:05] gerroon commented on #2040
It would be nice to also have more frequent Android builds, either through F-droid or github releases

[2016-05-24 22:14] AliLozano commented on #2000
Or this:
![koreader2](https://cloud.githubusercontent.com/assets/1187993/15521717/d92c94a2-21d2-11e6-9d34-905717a550b1.jpg)

[2016-05-25 01:52] Hzj-jie opened #2043 "Android build won't work with NDK 11c"
- KOReader version: Up to 2015.11-411-gf649acd
- Device:
#### Issue

Android build won't work with NDK 11c

[code]

After digging out a little bit, following issues found.
1. libk2pdfopt/Makefile, when it builds libtesseract, it should define -DANDROID, as far as I can tell, the latest android g++ compiler won't define it anymore. Append

[code]

around line 107 (After

[code]

should fix it. Or t

[2016-05-25 02:15] mergen3107 opened #2044 "Android - DJVU with Russian names don't work"
* KOReader version: Latest nightly
* Device: Android

#### Issue
People from [4pda](http://4pda.ru/forum/index.php?showtopic=734837) report that djvu's with Russian filenames have this issue of 'no engine' on Android.
KOReader also creates a .lua file with book parameters.
Example file is [attached](https://yadi.sk/d/sFrorXNSrxQdX).

On my Kinde Touch however such files are opened correctly.

[2016-05-25 06:51] houqp commented on #2000
The flat design looks pretty neat :)

[2016-05-25 07:28] houqp commented on #2043
Definitely. I did not run into these issues with my old android toolchain setup. We should make sure the build system works flawless with the new toolchain too. Feel free to submit PRs for those fixes.

[2016-05-25 10:59] RedKage commented on #1949
Maybe adding a feature for the animation?
In the mean time simply adding an ellipsis (like "loading **...**") would indicate that something is going on. Could be easier to implement.

For debugging this, maybe I can do something? I'm more of a C#/.NET/ Micro$oft developer but I can manage on Unix fine. Is there anything I can do, a log I can pull off or something to help you guys?

[2016-05-26 15:31] bbgordon opened #2046 "hanging/negative indent"
* KOReader version: f5b0f0dcd728327d41ab412c004a3df24ba36da4
* Device: Kindle Voyage

In the HTML below the "hanging" class creates a paragraph whose first line is flush with the left edge and subsequent lines moved 2em inward. However, crengine implements negative text-indent by indenting all but a paragraph's first line by its absolute value. If the paragraph has any padding or margin the first

[2016-05-26 15:42] bbgordon opened #2047 "two successive blank pages rendered at page break in EPUB documents"
- KOReader version: f5b0f0d
- Device: Kindle Voyage

I have an epub with `body { page-break-before: always; }`. KOReader now displays two page breaks between HTML files sometimes. I think this happens if content in the last page of the previous HTML file filled the full screen, like a full-page image or text that happened to run to the last line.
1. Go to title page with full-screen image.
2. Hit

[2016-05-26 18:17] djalma2k commented on #2047
It isn't exactly the same but this reminds me to #2017. Maybe it's related somehow...

[2016-05-26 22:59] bbgordon commented on #2047
I can generate a minimal test case EPUB if needed.

Calibre does something similar to this, though it puts the page break on a class that's given for all body tags instead of the body tag itself. I haven't checked if it occurs for Calibre EPUBs.

[2016-05-26 23:55] chrox commented on #2044
Yes, currently DJVU is not supported on Android no matter what the file name is. The problem is we didn't have a straightforward way to compile the same Djvulibre for Android and the other platforms. Although there are other projects like EBookdroid that have succeeded to run Djvulibre on Android, they may have done major refactoring to the original Djvulibre lib and the patches are not available

[2016-05-27 00:10] chrox commented on #1919
@houqp Is this a "next stable release" work? It's totally new feature as we don't build djvulibre for Android now. I will close this in favor of #1543.

[2016-05-27 00:12] chrox commented on #2044
Close this as it's duplicated to #1534.

[2016-05-27 00:13] #1919 closed

[2016-05-27 00:13] #2044 closed

[2016-05-27 00:22] houqp commented on #1919
Yeah, my bad, I forgot we are not building libdjvu in android.

[2016-05-27 18:50] mergen3107 commented on #2044
@chrox
OK, I got the point!
Do you think it is a good idea that we should try to contact [author of Orion Viewer](https://github.com/max-kammerer)?
Although KOReader will be a djvu-competitor on Android for his solution, Orion Viewer is free anyway.
He speaks Russian and so do I, so probably we could get in a good touch.
What do you think?

[2016-05-28 00:21] chrox commented on #2044
That will be great. Orion Viewer also maintains a list of patches to djvulibre.

[2016-05-28 05:00] mergen3107 commented on #2044
@chrox
OK! I'll him on the 4pda forum and let you know then

[2016-05-28 19:20] mergen3107 commented on #2044
@chrox
I have some interesting news!
While I am waiting for the reply from Mr. Michail Bogdanov (Orion Viewer's author), Ebook Droid authors are [telling](http://4pda.ru/forum/index.php?showtopic=734837&view=findpost&p=49953277) me that they have all the sources and binaries of each release version publicly available according to GPL.
So they attached the sources of the latest ones [here](https://

[2016-05-29 01:34] houqp commented on #2046
Sounds reasonable to me. According to http://www.w3schools.com/cssref/pr_text_text-indent.asp, text-indent should  only indent the first line of a paragraph. @bbgordon , feel free to send a pull request.

My only concern is we should also change y to be signed if x is changed to be signed.

[2016-05-29 01:39] houqp commented on #2047
Thanks @bbgordon for the quality bug report! Yes, a minimal test case would be very nice to have. We can also use that to write a regression test for this regression.

[2016-05-29 01:40] houqp commented on #2037
New menu item is added in https://github.com/koreader/koreader/pull/2045

[2016-05-29 01:45] houqp commented on #1949
Yeah, adding ellipsis makes sense. @RedKage , the line you need to change is at: https://github.com/koreader/koreader/blob/master/frontend/apps/reader/readerui.lua#L340. It's better to use the actual ellipsis symbol `…` instead of `...`.

@RedKage , is Pocketbook touch lux 3 running android? If so, do have access to adb logcat?

[2016-05-29 01:47] houqp commented on #2034
@verge-36 is Nook glowlight running with android? The full refresh support can be reverse engineered if you can run strace on the device.

[2016-05-29 01:49] houqp commented on #2026
Do you sill have backup for the old cache files? It would be nice if we can use it to reproduce it on our side to fix the root of the issue.

[2016-05-29 01:53] houqp commented on #2025
We should merge those patches into KOReader instead. I have relied to the thread.

[2016-05-29 01:56] houqp commented on #2027
@mergen3107 , do you have adb logcat access? It would very helpful to paste the log here.

[2016-05-29 04:14] gerroon commented on #1962
Any word on this bug? There was the discussion about making the .sdr having higher priority over the history stuff.

thanks

[2016-05-29 05:09] houqp commented on #1962
@gerroon sdr should now has the highest priority now: https://github.com/koreader/koreader/pull/1965.

Are you still experiencing this issue?

[2016-05-29 05:12] gerroon commented on #1962
@houqp
I am using Android. Is this in the latest available version of Android?

[2016-05-29 05:23] houqp commented on #1962
It should be. Any build after Apr 14, 2016 should has the patch in place.

[2016-05-29 08:28] RedKage commented on #1949
No, the PocketBook aren't running on Android, it's some kinda custom Linux.
You want me to do a pull request for the ellipsis?

[2016-05-29 12:45] chrox commented on #2043
Fixed in koreader/koreader-base#427.

[2016-05-29 12:46] chrox commented on #2034
Duplicated to #1613. Closing this now.

[2016-05-29 12:46] #2034 closed

[2016-05-29 13:04] chrox commented on #2025
This is not true. KOReader only OCRs single words when highlighting them. And it won't initialize the OCR engine when it's not necessary.

screen.height = screen.height + 10

The essential part of the patch is already incorporated into latest KOReader. See [here](https://github.com/koreader/android-luajit-launcher/blob/master/assets/android.lua#L19-L22). And thinredline's patch has a flaw that `fo

[2016-05-29 13:12] chrox commented on #2025
Anyway the battery level problem should be a valid issue. Because we use a [hard-coded battery file](https://github.com/koreader/koreader/blob/master/frontend/device/android/powerd.lua#L4) to read battery level on Android we should switch to [a standard Android API](https://developer.android.com/training/monitoring-device-state/battery-monitoring.html).

[2016-05-29 13:17] chrox commented on #2009
Duplicated to #1415. Close this now.

[2016-05-29 13:17] #2009 closed

[2016-05-29 13:19] frankyifei commented on #2047
in default epub.css, there is a line for DocFragment, which looks like this `DocFragment{page-break-before:always}`
<body> is treated as a child node of each html file(DocFragment), so there is two compulsory page-break at the beginning of each html in your Epub. If you can try apply other css and tell us the results, that would be helpful.

[2016-05-29 15:28] depeesz opened #2048 "Disable embedded fonts"
It would be useful if koreader would have an option not only to disable entire embedded style, but also to switch the font to default one. It would remain, for example, text alignment or declared font sizes.

Thanks a lot.

[2016-05-29 16:16] #1937 closed

[2016-05-29 16:31] gerroon opened #2049 "Build failing on Linux"
I am on Debian Testing

thanks

/media/DRIVEA/BUILD/koreader/base/thirdparty/libzmq/build/x86_64-linux-gnu/libzmq-prefix/src/libzmq/src/curve_server.cpp: In constructor ‘zmq::curve_server_t::curve_server_t(zmq::session_base_t*, const string&, const zmq::options_t&)’:
/media/DRIVEA/BUILD/koreader/base/thirdparty/libzmq/build/x86_64-linux-gnu/libzmq-prefix/src/libzmq/src/curve_server.cpp:53:18: erro

[2016-05-29 17:52] pazos commented on #1996
@NiLuJe:

Yes, lastest nightly

With old kfmon (the one without .ini support) and old koreader.sh (without .ini logic to decide between launch nickel and reboot) changing `reboot` to `./nickel.sh &` in koreader.sh did the work.

With stock device + your tools + lastest kfmon + lastest koreader restarting don't work. Reboot is fine.

I have no time right now to look at it so I changed back to reboo

[2016-05-29 18:06] houqp commented on #2049
duplicate of https://github.com/koreader/koreader/issues/1788

[2016-05-29 18:06] #2049 closed

[2016-05-29 18:12] mergen3107 commented on #2027
@houqp
yes, I think with some workarounds, like from [here](http://devblog.blackberry.com/2013/11/pull-android-logs-from-your-blackberry/), it is possible to approach BlackBerry 10's Android Runtime logs. I'll that a bit later with an ample free time available

[2016-05-29 18:34] mergen3107 commented on #2026
@houqp
Unfortunately, the old cache was just wiped. If this happens again with another book I'll let you know

[2016-05-29 18:34] mergen3107 commented on #2027
@houqp
yes, I think with some workarounds, like from [here](http://devblog.blackberry.com/2013/11/pull-android-logs-from-your-blackberry/), it is possible to approach BlackBerry 10's Android Runtime logs. I'll that a bit later with an ample free time available

[2016-05-29 18:36] TheNeedForRead commented on #1801
Hi, thanks for your excellent work!

I concur that Page Press/haptic support does not work in KUAL, but works through KPVBooklet.
I believe I can shed some light on this issue, which I would love to see fixed.

**Technically, all four Voyage buttons are working perfectly. The 'double-press' issue is caused by the thumb touching the screen after a Voyage button is pressed.**

Whatever code exists i

[2016-05-29 19:19] houqp commented on #1801
I don't have a voyager, are those buttons very close to the screen? If this is really the case, we can add the code. @TheNeedForRead how long does the native reader disable touch after the button is pressed?

[2016-05-29 19:27] TheNeedForRead commented on #1801
Hi, sorry Houp I updated my message a moment ago, I have performed a few more tests and realised was incorrect in my first assumption!  It's a touchscreen deadzone issue, not a touchscreen deactivation issue.

[2016-05-29 19:28] Hzj-jie commented on #2043
Sorry, Huang, my PR is one of the changes.

[2016-05-29 19:47] houqp commented on #1801
Interesting, so the dead zone feature remains active if KOReader is launched through KPVBooklet?

[2016-05-29 19:58] TheNeedForRead commented on #1801
To clarify:

- Kindle reader program has a permanent 7-8mm deadzone around the touchscreen
- KOReader (KPVBooklet or KUAL-launched) has no deadzone
- Voyage buttons (and haptic feedback) do not work in KUAL-launched KOReader
- Voyage buttons (and haptic feedback) work perfectly in KPVBooklet-launched KOReader, but the presses are adversely affected by the lack of deadzone.

[2016-05-29 22:24] houqp commented on #1801
Thanks for the clarification. If the dead zone is permanent, then it's trivia to implement from our side :)

The only information we need is how much 8mm maps to screen coordinate. Do you have ssh access to the device? If so, you can run koreader in debug mode with `./reader.lua -d`. Then you will be able to get coordinates for the touch events. It will show up in the log as something like:

[code

[2016-05-29 22:28] dracodoc commented on #1801
@TheNeedForRead , thanks for the discovery, now the mystery is solved!

If KOreader was to implement a similar deadzone feature, will the bookmark action be interfered? I found the current active zone for bookmark too small anyway. You have to click the exact corner to add the bookmark.

[2016-05-29 22:29] houqp commented on #2016
strace for the crash:

[code]

Segfaults happens when we are setting the memory allocated by malloc: https://github.com/koreader/koreader-base/blob/master/ffi/blitbuffer.lua#L1220

[2016-05-29 22:38] houqp commented on #1801
We might have to tweak that too. We will see after the dead zone is implemented :)

[2016-05-29 22:53] houqp opened #2050 "non-stop gettimeofday system call when reader is idle"
* KOReader version: g66754e3
* Device: Kobo

#### Issue

Just notice this while trouble shooting an issue. The reader is in idle state without user inputs. However, strace shows that it's constantly calling gettimeofday syscall during the background every second. We need to get to the bottom of this to see if it's expected behavior.

[2016-05-29 23:09] NiLuJe commented on #1996
Mmh, thanks for the details, I'll look into it... I probably did something
stupid somewhere along the way ;).
On May 29, 2016 7:52 PM, "Martín Fernández" <notifications@github.com>
wrote:

[2016-05-30 01:02] gerroon commented on #1955
Any ideas on how to fix this? This is so dreadful ;( This might have been intorduced in last couple versions. I do not remember it being this bad. I literally have to press on multiple places on the screen to get the initial refresh going so that the page shows up properly.

[2016-05-30 05:18] enigma90 opened #2052 "Crashes and Frozen very often on Kobo Touch"
* KOReader version: koreader-nightly-20160529
* Device: Kobo Touch

#### Issue Crashes and Frozen very often

#### Steps to reproduce

Sometimes it just gets frozen when entering the program. Sometimes it crashes when I want to continue to read a book by opening "History" from the menu. Rather buggy this version is. I am getting back to nightly-20160513. Below is the crash log.

-----------
/luaji

[2016-05-30 07:24] houqp commented on #2052
The cash looks weird. What was the content of `history.lua` when the crash happens? Does it happen every time?

I wonder whether the freezes are caused by this commit: https://github.com/koreader/koreader/commit/82a3e0f9ad9416119248f177a3dc7b2bcec79fc5.

@enigma90 , if you don't mind, could you help test it by removing the following line?
https://github.com/koreader/koreader/commit/82a3e0f9ad94161

[2016-05-30 08:12] houqp commented on #1955
I really have no clue on why this is happening :( Will you be able to find out the last working version?

[2016-05-30 08:13] houqp commented on #1949
Do you have ssh access to the device? That will make debugging this issue a lot easier.

Yep :)

[2016-05-30 08:22] houqp commented on #2016
This should be fixed by: https://github.com/koreader/koreader-base/pull/431.

Fun fact. This crash only happens If we run KOReader from KSM. Running KOReader after nickel is launched will make this bug disappear. When running from KSM, the width and height of the framebuffer we got from kernel is switched. So I am guessing nickel did some extra syscalls to swap the dimension of the framebuffer?

[2016-05-30 08:40] verge-36 commented on #2025
Yep.OCR was my mistake, turns out my tessdata download was corrupted.

[2016-05-30 10:13] verge-36 commented on #2034
Yes it's android 4.4 . Mentioned app exists in play store.

[2016-05-30 14:23] TheNeedForRead commented on #1801
Hi guys, sorry to disappear but as of this afternoon I'm going to be unavailable for up to a couple of weeks. However, I've posted a shout-out regarding this bug to Voyage users on [mobileread](http://www.mobileread.com/forums/showthread.php?p=3326755#post3326755) asking for a volunteer for this bug specifically. (Although it only just occurred to me that dracodoc might be able to do it :D )

Have

[2016-05-30 15:02] chrox commented on #1801
I also encountered this problem occasionally and it was annoying sometimes. So I can help to implement this touch deadzone for Kindle Voyage.

[2016-05-31 01:01] enigma90 commented on #2052
weird indeed. I just got back to this version to see if I could reduplicate the results, but everything seems fine so far. False alarm, I guess. Sorry.....

[2016-05-31 05:38] houqp commented on #2052
No worry. Then it looks like a filesystem corruption, which also explains why you are getting empty content from `history.lua`. Feel free to reopen this issue if the crash happens again.

[2016-05-31 05:38] #2052 closed

[2016-05-31 21:14] xorrox commented on #1974
For me it crashes very reliably on my H20 using the sleep cover mechanism. Just close sleep cover, and wait. (Haven't experimented about the time delay,  but the 20 minutes suggestion seems reasonable. Might even be a bit less here).  Open sleep cover, and it's back at KSM8 after segfaulting. Haven't seen it not crash doing that recently (specifically build 411, but also several previous "unstable

[2016-05-31 22:14] djalma2k commented on #1905
Well, the chapter tick marks seemed to work well until now I just try the following [book](http://m.zbigz.com/myfiles?url=magnet:?xt=urn:btih:7CBFF2D42C37713C6BB7835BADFA9A1389B3FEB4&dn=EPL_Sueno_en_el_pabellon_rojo&tr=http://tracker.tfile.me/announce&tr=http://91.121.54.8:6969/announce&tr=udp://tracker.openbittorrent.com:80&tr=udp://tracker.publicbt.com:80&tr=udp://open.demonii.com:1337/announce)

[2016-05-31 22:32] djalma2k opened #2054 "Problem with chapter tick marks"
* KOReader version: 2015-11-408
* Device: Kobo Glo HD

#### Issue

Same problem as #1905 but it only "hits" a few epubs of my collection. The vast majority shows the tick marks.

#### Steps to reproduce
Load the following [book](http://m.zbigz.com/myfiles?url=magnet:?xt=urn:btih:7CBFF2D42C37713C6BB7835BADFA9A1389B3FEB4&dn=EPL_Sueno_en_el_pabellon_rojo&tr=http://tracker.tfile.me/announce&tr=http://

[2016-06-01 05:44] houqp commented on #1974
@xorrox , can you confirm that v2015.11-175 is the latest version that does not have this issue? I might need some help from you guys soon to bisec and find out which commit breaks the sleep since I cannot reproduce this at all with my aura hd.

[2016-06-01 20:22] xorrox commented on #1974
I can confirm that 175 doesn't have this issue. And, as OP says, the next release 253 comes out of suspend with an unresponsive screen some of the time, and only segfaults eventually with:

sh: write error: Operation not permitted
Segmentation fault

But I've also seen it crash right at resume, like the later releases.

[2016-06-01 21:46] houqp commented on #1974
@xorrox can you also make 253 segfault within 20min reliably? I will start building releases manually for commits in between these two versions tonight to help bisect the issue.

[2016-06-01 21:54] xorrox commented on #1974
yes, i think so. if it's not coming out of suspend crashed, it's just a matter or open/closing the magnet cover a few times.

[2016-06-02 00:41] bbgordon commented on #2047
Ah, the DocFragment might be it! If I set render style to "clear all external styles" the blank page goes away.

To create a small test case I converted the below HTML with Calibre's `ebook-convert pagebreak.html pagebreak.epub` and renamed pagebreak.epub to .zip so I could attach it. All Calibre settings are defaults. I wasn't able to make a blank page appear in ADE, nor Calibre even when I resiz

[2016-06-02 09:30] andruha30 opened #2058 "Cant edit the file name Pocketbook"
* KOReader version:koreader-pocketbook-arm-obreey-linux-gnueabi-v2015.11-394-g7816c33
* Device:Pocketbook 626+

#### Issue When open to edit the file name (Edit) no possibility to place cursor for editing nevertheless once or twice tapping

#### Steps to reproduce

[2016-06-02 09:31] andruha30 commented on #2058
When open to edit the file name (Edit) no possibility to place cursor for editing nevertheless once or twice tapping. I had to delete the whole name  and then to write a new name

[2016-06-02 11:00] chrox commented on #2058
With the latest nightly it should be able to do that work thanks to @union2find's patch from #2028.

[2016-06-02 11:01] #2058 closed

[2016-06-02 13:23] frankyifei commented on #2047
I guess you can edit epub.css, and change line 67 to this `div { display: block }`
for better format on some epubs I changed this and add 1px margin for every `<div>`, usually it will not cause problem. But here it adds 1 px to the bottom of the first page and the image in first page has already filled first page,so second page only contains 1px of bottom_margin from first page.

[2016-06-02 16:20] Hzj-jie opened #2059 "Should we use Font:getFont in CreDocument?"
- KOReader version: Up to 751e46c
- Device: Independent
#### Issue

CreDocument.default_font / header_font / fallback_font are still read from specific G_reader_settings, but not Font.lua. Should we use Font.lua in CreDocument?
#### Steps to reproduce

[2016-06-02 16:27] Hzj-jie opened #2060 "Crash in koptinterface.lua.all_matches.match"
* KOReader version: Up to 751e46c
* Device: Independent

#### Issue

A crash in koptinterface.lua.all_matches.match function.
The callstack is pretty long, but simply speaking, in all_matches.match function, we need to check whether #plist is zero at the very beginning.

#### Steps to reproduce

I reproduced this issue when I tried to do a 'search' in a pdf file, but tesseract failed to OCR the te

[2016-06-02 17:48] houqp commented on #1974
@xorrox @gmadjara I put some custom builds on my server: http://sfpptp.houqp.me:7980/koreader/

Could you help test which one is the last working version?

[2016-06-02 18:57] houqp commented on #2060
Agreed. @chrox thoughts?

[2016-06-02 18:58] houqp commented on #2016
This should be fixed in the latest master now.

[2016-06-02 18:58] #2016 closed

[2016-06-02 19:41] KenMaltby commented on #2016
It is working with 431 on my Kobo AuraHD.

[2016-06-02 20:05] xorrox commented on #1974
@houqp @gmadjara With very cursory testing, 201 crashed on my H20. 179 and 195 both came back from suspend okay. Still playing a bit more with 195 now.

Thanks for your efforts, btw.

[2016-06-02 20:59] houqp commented on #1974
That's awesome! Thanks for doing the tedious testing work :)

If you can confirm 195 works, then it has something to do with our suspend script. You can try copying the `suspend.sh` from previous working version to 201 and see if it fixes the issue.

[2016-06-02 21:47] xorrox commented on #1974
@houqp Copied the suspend.sh of 195 to latest (431). No crash at first try.
Looking good so far. :) Will keep testing for a bit more.

[2016-06-02 22:23] xorrox commented on #1974
Unfortunately, there's still this issue of non-responsiveness of the display. After the second wakeup, the screen was unresponsive. And after open/closing the cover a few times, the program crashed.  (That was on build 431, with modified suspend.sh). But I've occasionally seen this on other builds, including 195, unfortunately. On 195, I actually regained control of the screen after open/closing a

[2016-06-02 23:26] houqp commented on #1974
Did you experience any issue with 179? The changes introduced between 201 and 195 is related to waking up touch screen when KOReader is launched from nickel.

What's the content in the crash log? Still just segfault?

[2016-06-02 23:42] xorrox commented on #1974
This aspect isn't as nicely deterministic as the previous crash. I've had a few consecutive good wakeups, and in the latest one (still on 431) it again had just crashed without the screen even coming back on:
sh: write error: Operation not permitted
Segmentation fault

I'm not launching from nickel, btw. Just from KSM. But I'll go back to testing some previous builds tomorrow.

[2016-06-02 23:51] bbgordon commented on #2047
Sorry, I mentioned the wrong issue in that pull request!

[2016-06-03 06:23] houqp commented on #2059
So `Font.lua` is for typesetting KOReader's user interface, while those 3 fonts are used by CREngine. They have different use cases. They also go through different code path. The font settings in `Font.lua` goes straight to Freetype2 lib through our FFI shim, while those 3 fonts go through CREngine's fontmanager, which is a more complex Freetype2 wrapper.

Whether we still want to keep them separa

[2016-06-03 06:44] #2046 closed

[2016-06-03 06:52] houqp commented on #1974
So to recap:
* 201 has the easy to reproduce segfault crash on suspend
* reverting the suspend script back to 195 gets rid of a easy to reproduce segfault crash
* any version after 179 still has occasional unresponsive screen after resume
* 179 does not have any suspend issue

Let me know if I missed anything.

I have uploaded couple new builds at http://sfpptp.houqp.me:7980/koreader_new with the

[2016-06-03 07:53] houqp commented on #2054
Thanks for the report. There are two issues here.

1. Because the book is pretty large, the reader set the footer tick marks before the document itself is fully loaded. I will send out a patch soon to fix this.
2. After the first bug is fixed, it still won't show the tick marks because the number of tick marks in this book exceeds the maximum threshold (126 > 100) we have in the reader.

[2016-06-03 08:07] houqp commented on #2054
@chrox do you remember why max_ticks is set to 100 in readerfooter?

[2016-06-03 10:50] xorrox commented on #1974
@gmadjara @houqp Mostly correct, except that I haven't tested 179 near enough to make such a bold statement.

This testing in 20-min intervals is obv. very time-consuming, and you don't get a lot of data points, especially not over multiple versions. So it sure would help if someone else with a H2O could join in. :)

Meanwhile I've gotten a few good resumes out of 201 with the 195 suspend script.

[2016-06-03 14:55] djalma2k opened #2062 "Several crashes when using the dictionaries"
* KOReader version: 751e46c (2015-11-434)
* Device: Kobo Glo HD

#### Issue
Several crashes when using the dictionaries (did not happen with <= 2015-11-40X):
**Type a)** When you are searching a word inside the dictionary widget (box) ("nested search")
[code]
**Type b)** When you are searching for a word that isn't in the dictionary:
[code]
Regards.

PS: I don't know if it's related 2 #2060. If it

[2016-06-03 22:22] xorrox commented on #1974
It looked good initially for 201 with 195 suspend. Got several good resumes, no non-responsibility issues. But eventually I got a segfault.

Then I switched back to 179, and the same thing happened.  Was almost ready to report success, then I inadvertently touched the sleep cover. And then when I opened it, it had segfaulted.

So I'm wondering if there could be a race condition for the suspend/res

[2016-06-04 00:27] houqp commented on #1974
Thanks! These are indeed very helpful information :) So now that we know 179 still has a harder to reproduce segfault issue, could you also check 175? I will also try open/close like crazy to see if I can reproduce on aura hd.

Are these crashes all related to suspend/resume? If not, could you report it here so we can fix it? I haven't seen a crash on my kobo for a long time now. But you probably

[2016-06-04 18:40] xorrox commented on #1974
Hate to say it, but I got a segfault from 175 today. Again just "Segmentation fault".
It was after transporting the reader on my bike (which I do frequently). So it does get a fair amount of shakes, and it being related to the sleep cover remains a plausible hypothesis. So I went back to 118 now.

The good part about these recent segfaults is that in practical terms, they're really only a minor nu

[2016-06-05 12:56] mezzarobba commented on #630
Sorry for taking so long to reply. I tested the last master (861e50c0) since it looks like the patch was merged in the meantime. And I can confirm that it works for me, _except_ that I had lots of trouble going past the initial orientation detection screen on a new installation. At first it didn't seem to work at all, even with very quick taps (while koreader correctly displayed its suspend/powero

[2016-06-05 16:56] mwozny123 commented on #2036
Maybe at least "Save button" ?

Now to not loose reading progress I've to quit Koreader, (even though I want to go back to reading in couple minutes)

This is horrible - (non-Kindle) devices that don't have a hibernate (deep sleep) option.

[2016-06-05 18:51] houqp commented on #2036
Kobo and pocketbook already have the code to saves settings before suspend: https://github.com/koreader/koreader/blob/master/frontend/device/generic/device.lua#L124

IIRC, you have a pocketbook? The problem here is the system shutsdown the device instead of putting it into suspend mode. I wonder if there is a event emitted with the poweroff action. Do you have ssh access to the device to help veri

[2016-06-05 19:43] houqp commented on #1974
So it looks like a bug that's been there for a long time? How about the last stable release?

Maybe H2O has a different suspend routine. Do you have strace installed on your device?

Speaking of the cover movement, you can set `ignore_power_sleepcover` in `settings.reader.lua` to `true` as a bandage until we figure out what is really happening.

[2016-06-05 21:18] houqp commented on #630
By reset you mean removing the reader setting? You should not need to do quick tap to make it work. If you are still able to reproduce it, feel free to upload the settings here, I will take a look :)

Good point. Except couple seconds might not be enough given the main UI loop might be blocked loading document before handling the event. I set it to 10 minute in: https://github.com/koreader/koreade

[2016-06-06 00:43] NiLuJe commented on #1974
@houqp: [/platform/kobo/nickel_suspend_strace.txt](those dumps) are from a H2O ;).

[2016-06-06 01:08] houqp commented on #1974
Ha right, I was wondering whether you have a H20 or Aura HD. Cool, I will take a look after I finish up the new network manager. I also wonder if it has anything to do with https://github.com/koreader/koreader/issues/2050.

[2016-06-06 02:01] NiLuJe commented on #2050
Just for clarity's sake, which process is that coming from?

[2016-06-06 05:21] houqp commented on #2050
I don't remember, I will do a strace again and paste the result here.

[2016-06-06 05:57] AuTa commented on #1801
When I use AD screensaver, then return read, Voyage buttons can not use.
Maybe this is a other problem.

[2016-06-06 12:54] xorrox commented on #1974
Worked the released versions back to the Nov15 stable, and each of them segfaulted within less than a day.

Not sure if it's helpful, but here's an strace of  koreader-stable-v2015.11 that ends with a segfault.

Disabling sleep cover now, let's see if it changes anything.

[strace-koreader.zip](https://github.com/koreader/koreader/files/300395/strace-koreader.zip)

[2016-06-06 16:12] NiLuJe commented on #1974
You might want to trace children, too, because that's just the startup script (i.e., ```strace -f```) ;).

FWIW, I usually go with ```strace -fitv```.

[2016-06-06 21:19] Brnoch commented on #1994
On my Kobo, new dictionnaries still don't show up after many new versions. Do you have any clue about the problem that prevents the fix to work?

[2016-06-07 03:45] gerroon commented on #1941
@houqp

I tried many pdfs, it resets the stats everytime I start reading the books. I am C67ml and couple other android tablets.

[2016-06-07 14:49] xorrox commented on #1974
Heh, good point. Sorry.

[strace-koreader-nov15stable.zip](https://github.com/koreader/koreader/files/302874/strace-koreader-nov15stable.zip)

Here it is now, the file's quite a bit larger. :) Again ending in a segfault.

[2016-06-07 16:57] NiLuJe commented on #1974
Hmmm.

A bunch of clone() & mmap() calls returning ENOMEM sounds way fishy...

Is there a runaway process munching on RAM somewhere?

----

On a slightly related note: see my latest comment on #2019, I'm stupid, we can of course easily get proper coredumps. -_-"

[2016-06-07 18:44] mwozny123 commented on #2036
Yes, I'm running Pocketbook 626.
Thanks for workaround I'll try that.

As you wanted I've just installed, configured the sshd ([pbsshd_1.3_fwv5](http://www.mobileread.com/forums/showthread.php?t=159636)) on my PB, and successfully established connection:)
Please write how I can check the event;)

[2016-06-07 20:11] xorrox commented on #1974
Well, I'm not starting any additional processes, nor do I have any hacks installed at this point. Just plain KSM8.

Launching it from standard KSM8. For the strace, I put a shell script in the user script folder, that runs:
/mnt/onboard/bin/strace -fitv -o /mnt/onboard/strace-koreader.txt /mnt/onboard/.adds/koreader/koreader.sh &

 See attached file

Also see attached file.  I put in a loop that r

[2016-06-08 04:45] martinrotter commented on #2021
+1, I also experienced this bug just yesterday. :)

[2016-06-08 04:59] martinrotter opened #2066 "Very difficult to hit hyperlink"
It is usually very HARD for me to tap on any hyperlinks in my books. In native book viewer, I almost never mis-taped on hyperlink and in KO reader, it is just much harder and often results in going to next page instead of following the hyperlink (EPUB).

[2016-06-08 05:02] martinrotter opened #2067 "Last two characters of highlight portion are not greyed out"
May be related to #2021, #1722.
#### Steps to reproduce
1. Go to page (like) 10, not first page.
2. Highlight whole paragraph, click on "Highlight".
#### Result

Not whole paragraph is greyed out after clicking on "Highlight". Sometimes (like in 60% of cases) last two characters of initially highlighted text are NOT greyed out.

[2016-06-08 05:07] hurzl commented on #2036
If you don't close the file the bookmarks are not saved either. I just lost a bunch of bookmarks because koreader got hung in the "goto" dialog and I had to reset the device. Same happens when the battery goes low.

[2016-06-08 10:11] retrue opened #2068 "OTA update stuck"
* KOReader version: 2015.11-442
* Device: Kobo Mini

#### Issue
Usually an OTA update from a development version to another one takes only some seconds and then restarting the device. But sometimes the update is stuck in the message "Downloading may take several minutes". It stays there without changes. The only way to get out is reseting the device holding the power button for 20 seconds or with

[2016-06-08 10:38] retrue opened #2069 ""Show advanced options" doesn't work."
* KOReader version: 2015.11.434 and next ones. But I don't know which version introduced the bug.
* Device: Kobo Mini

#### Issue
The "Show advanced options" menu entry that is available both from inside and outside a book doesn't work. It shows exactly the same options with it ticked and unticked.

[2016-06-08 14:47] bbgordon opened #2070 "Inconsistent behavior for <h1><a></a>Center this</h1>"
* KOReader version: f5b0f0dcd728327d41ab412c004a3df24ba36da4
* Device: Kindle Voyage

#### Issue

`<h1><a>Center</a> this</h1>` gets centered but `<h1><a></a>Center this</h1>` doesn't.

#### Steps to reproduce

Consider an EPUB with one HTML file:

[code]

crengine doesn't center the text "Foo". If I add text like "bar", a
zero-width space inside my `<a>`, "Foo" (or "barFoo") gets centered:

`<h1>

[2016-06-08 15:48] NiLuJe commented on #2068
Which OTA server are you using?

[2016-06-08 15:58] retrue commented on #2068
I use koreader-eu.ak-team.com
Lately the OTA server at vislab.bjmu.edu.cn has been down a lot.

[2016-06-08 17:36] houqp commented on #1974
That's awesome! We are finally getting close to the root of the issue! Another nice to have info is ps list the memory usage of all the processes to see which one is leaking memory.

[2016-06-08 17:40] houqp commented on #2036
@mwozny123 i will get back to you tonight, you probably need to run koreader in debug mode and dump the output to somewhere.

@hurzl are you able to reproduce the freeze? The `DAUTO_SAVE_PAGING_COUNT` will also save bookmark settings. Maybe we should save the bookmark settings immediately instead of waiting for page turn events.

[2016-06-08 18:54] hurzl commented on #2036
No, I can't reproduce that. I think DAUTO_SAVE_PAGING_COUNT should be 1 by default?
And I have no "defaults.persistent.lua" file.

So I guess this setting in koreader/defaults.lua will be overwritten with the next update?

[2016-06-09 00:54] NiLuJe commented on #2068
Just in case it's a random peering issue: where are you located in the EU, roughly?

But in any case, yeah, I don't think our code accounts for connectivity issues in any way.

[2016-06-09 01:09] xorrox commented on #1974
Here's a core dump of a segfault, and a sequence of "free" that shows how the available memory goes down over time.

As for ps for process memory usage, busybox ps seems to have only a limited set of command switches. I'll have to look into that some more. Any ideas?

[core.zip](https://github.com/koreader/koreader/files/305978/core.zip)

[2016-06-09 02:03] frankyifei commented on #2070
I think there is a similar case #1812 .

[2016-06-09 02:06] frankyifei commented on #2067
a screen shot will be helpful

[2016-06-09 03:36] NiLuJe commented on #1974
Which exact build are you currently running? (Since I imagine that's kind of key to properly make use of that coredump ;)).

[2016-06-09 03:48] NiLuJe commented on #1974
Speaking of, depending on what that coredump ends up looking like, we may need to fire a proper full debug build at one point...

[2016-06-09 04:38] martinrotter opened #2071 "Cannot highlight across pages"
* KOReader version: Latest stable
* Device: PW2

#### Issue
When I try to highlight portion of texts spanning two pages, It is not possible.

#### Steps to reproduce
Start highlighting some texts almost at the end of the page and move your finger to very bottom/right corner (indicating you want to turn to next page and finish your highlight there). Nothing happens, page is not turned.

[2016-06-09 07:16] retrue commented on #2068
I am in the south of Spain.

[2016-06-09 08:05] Frenzie commented on #2068
I've had this issue too with the EU server and I'm in Belgium.

[2016-06-09 08:28] Hzj-jie opened #2072 "Page footer should be counted when zooming PDF files"
* KOReader version: up to 463-gdabc705
* Device: Kobo Aura HD and Android, device independent

#### Issue

When zooming PDF files to fit the content height, bottom of the page will be covered by page footer.

#### Steps to reproduce

https://github.com/koreader/koreader/blob/641d741ec4b1c92959bb86605e8eaf5641d95d60/frontend/apps/reader/modules/readerzooming.lua#L231 may be the root cause. Instead

[2016-06-09 09:18] Hzj-jie opened #2073 "One tap won't close both menu and config widgets"
* KOReader version: up to 462
* Device: Kobo aura HD, should be device independent

#### Issue

One tap cannot close menu and config widgets together.

#### Steps to reproduce

https://github.com/koreader/koreader/commit/a92a88e063ef20bf35249dc3665edadb020d4297 is a little bit suspicious.

[2016-06-09 11:28] xorrox commented on #1974
Still the Nov 2015 stable build. 2015.11-3-g9e0be45.

[2016-06-09 14:58] bbgordon commented on #2070
Thanks for the background!

I understand the interaction between LTEXT_ALIGN and NEWLINE a little better now. Restoring flags is definitely wrong! It would fix this but cause spurious newlines `<p><span>between</span> these</p>` words.

If the first child element doesn't have children of its own, however, the alignment gets cleared before taking effect. Maybe the below is a better approach? I have

[2016-06-09 15:20] Hzj-jie opened #2074 "Backspace will delete the character before the one on the left of the cursor"
- KOReader version: up to 462
- Device: Kobo aura HD, should be device independent
#### Issue

Clicking backspace deletes the character before the one on the left of the cursor. But the expected behavior is to delete the one on the left of the cursor.
#### Steps to reproduce

https://github.com/koreader/koreader/blob/fd39016c87aaa8ee99b5ae236bd439798750ca62/frontend/ui/widget/inputtext.lua#L172, t

[2016-06-09 17:10] houqp commented on #2068
two issues here:
1. The update process is a blocking os.execute call, we should make it asynchrous so users can at least kill it from the UI if needed. Having to reset the device is really bad experience.
2. Not able to handle network issue gracefully. Probably need to take a look at zsync to see if there is anything we can tweak.

[2016-06-09 17:12] houqp commented on #2074
Yup, are you going to submit the PR?

[2016-06-09 17:17] houqp commented on #1974
The strace mmap error might come from LuaJIT's allocator.

Looking at the free output though, looks like there were a lot of free memory left? I wonder if it has something to do with calling mmap in suspend mode. Also why were there so many activities from koreader process in suspend mode?

[2016-06-09 17:19] houqp commented on #1974
BTW, @xorrox

Did you keep the ssh session running all the time? I thought backgroud jobs will get killed after the session ends..

[2016-06-09 17:26] houqp commented on #2036
@mwozny123 , do you have `nohup` command in your ssh? If so, could try running the following command in koreader folder?

[code]

Then do whatever is necessary to make the device auto shutdown. After reboot, paste the content of `koreader.logs` somewhere :)

[2016-06-09 17:28] houqp commented on #2036
@mwozny123 do you happen to have strace command in your pocketbook by any chance?
@hurzl yes, anything in `defaults.lua` will be overwritten after update. You can manually create the `defaults.persistent.lua` file. By default, `DAUTO_SAVE_PAGING_COUNT` is set to 6.

[2016-06-09 17:29] Hzj-jie commented on #2074
Sure.

[2016-06-09 17:30] xorrox commented on #1974
To clarify, that free log was not from a run that crashed. During the crashes somehow my log script didn't keep logging till the end, so I just provided that to llustrate. Since I've updated the script, it hasn't crashed yet. Anyday now... :)

I didn't start it through ssh, I started it from the user scripts option of KSM.

[2016-06-09 17:54] hurzl commented on #2036
For me it was "nil"

[2016-06-09 18:38] xorrox commented on #1974
Well, that didn't take long. ;) Here's a new core dump, strace, and "free"  log, all from one run, and ending in a segfault.

The crash occurs at 17:42. Note how that's when "free" is down to 17k.

[core2.zip](https://github.com/koreader/koreader/files/307676/core2.zip)

[2016-06-09 18:58] mwozny123 commented on #2036
@hurzl I also had it set to "nil"

@houqp it wasn't easy - [pbsshd_1.3_fwv5](http://www.mobileread.com/forums/showthread.php?t=159636) seems to not to support ssh only sftp connections (at least I couldn't connect). I'd to install [pbterm](http://users.physik.fu-berlin.de/~jtt/PB/) which is terminal size is bigger than pb screen and cannot change:/

Here's the log:
[kor-shutd.txt](https://github.c

[2016-06-10 06:57] houqp commented on #2036
There is no interesting event code in the output, the news is I saw a "Power off time has come..." message, so there is definitely a power off event somewhere. By default, we only log keyboard and touch events, the power off event probably has its own type. So let's add one more debug line before running the command again:

Add the following line after this line https://github.com/koreader/koreade

[2016-06-10 06:59] houqp commented on #2036
@hurzl, sorry may bad, I confused it with count of page turn before full refresh config. So yeah, this is disabled by default...

[2016-06-10 07:08] houqp commented on #1974
@NiLuJe You see that crazy per second gettimeofday syscall in https://github.com/koreader/koreader/issues/205? It's comming from luajit process. I bet this is where the mem leak is coming from ;P

[2016-06-10 07:09] houqp commented on #2050
Likely related to https://github.com/koreader/koreader/issues/1974

[2016-06-10 07:09] houqp commented on #1974
If no one gets to it, I will take a look at it this weekend.

[2016-06-10 08:21] houqp commented on #2073
Yup, you are correct, a92a88e is indeed what causes it.

[2016-06-10 09:04] frankyifei commented on #2070
If my memory is correct, I found a way to fix this. The original code will remove space in the beginning of a paragraph, it will cause this bug. But I really forget where to find it.

[2016-06-10 10:48] NiLuJe commented on #1974
The backtrace is not terribly useful, but would seem to again point to a memory allocation issue...

[code]

[2016-06-10 10:48] NiLuJe commented on #1974
Not quite sure where those gettimeofday calls might come from...

[2016-06-10 10:50] NiLuJe commented on #1974
@xorrox: Could you add monitoring of /proc/meminfo?

[2016-06-10 10:51] NiLuJe commented on #1974
And if someone's feeling adventurous, LuaJIT's memory allocator was recently slightly tweaked, so, you could try bumping LuaJIT and see how that fares ;).

[2016-06-10 15:54] KenMaltby commented on #2050
#1769?

[2016-06-10 17:35] mwozny123 commented on #2036
New log.
There're couple RAW EV logged:
[koreaderShutdown-RawEv.txt](https://github.com/koreader/koreader/files/309469/koreaderShutdown-RawEv.txt)

Hope this one will be better if not I could use _strace_ command.

[2016-06-10 19:29] houqp commented on #2036
That's good enough, I cross verified with the header in their SDK, type 22 is the exit event type. So we found the shutdown event, thanks @mwozny123 !

[2016-06-10 19:33] houqp commented on #2050
IIRC, this happens even if that feature is disabled. And the frequency of auto refresh timer should not be once per second. It's likely a bug in the UIManager.

[2016-06-11 00:33] xorrox commented on #1974
Sure. This time I used these every 15 minutes in addition:
ps -o comm,vsz,rss,stat
cat /proc/meminfo

Crash time is 01:20. (The log script is a background process, and keeps running after the koreader segfault, so the memory situation improves again towards the end.)

///
So if luajit is the culprit, why does it affect the H2O, and not other devices?

[core3.zip](https://github.com/koreader/koread

[2016-06-11 00:42] KenMaltby commented on #2050
The only other places where I would expect a call for the time of day would be the display in the main menu or in the statistics/status functions.  ( Perhaps the updating/calculation of time to read.)  Just logical places to look, not much help, I guess.

Luck;
Ken

[2016-06-11 01:40] NiLuJe commented on #1974
What's your usual workflow when using KOReade (i.e., types of documents, peculiar settings)?

[2016-06-11 11:42] xorrox commented on #1974
Nothing very exotic, really. I mostly read epubs, occassionally pdfs (but not during these recent testing days). I upload the books through calibre. I use the sleep cover for suspend/.resume.

I have embedded styles off, wifi off. Minbar all at once on. I have the last book set to autoload.
I never really use the plugins. So for the most part it's just very basic reading. Occasionally a bookmark a

[2016-06-13 05:11] pavlukivan opened #2077 "Black bar under screen"
- KOReader version: 2016.05.29
- Device:Оnyx boox C67ML Darwin, android 4.2.2
#### Issue

Black bar under screen in koreader app only
![8190987](https://cloud.githubusercontent.com/assets/9590981/15997570/71b3a8c6-3157-11e6-9ef1-746b2e276b07.jpg)
![8190990](https://cloud.githubusercontent.com/assets/9590981/15997571/71b3cd7e-3157-11e6-9cda-791e0c0adcbb.jpg)
#### Steps to reproduce

download, insta

[2016-06-13 05:12] pavlukivan opened #2078 "Move to sdcard"
* KOReader version: android

#### Suggestion
Add ability to move the app to sdcard

[2016-06-13 15:10] chrox commented on #2078
It's theoretically impossible in current architecture, since large portion of Koreader is shared objects (i.e. the *.so files) which are not allowed to be loaded in sdcard by some security policy set by the Android system.

[2016-06-13 15:14] #2073 closed

[2016-06-13 16:07] pavlukivan commented on #2078
Ok, thanks for answer.

[2016-06-13 16:07] #2078 closed

[2016-06-14 07:11] houqp commented on #2036
@mwozny123 can you give the patch in https://github.com/koreader/koreader/pull/2081/files a try?

[2016-06-14 10:41] frankyifei commented on #2070
try comment line 1335 to 1344 in lvrend.cpp, it will fix this but the first spaces of a paragraph will not be cleared.

[2016-06-14 14:48] mezzarobba commented on #630
On dimanche 5 juin 2016 14:18:23 CEST Qingping Hou wrote:

No: I meant to reboot the reader using a paperclip (the on/off/suspend
button was not enough, and I had no shell on the reader at the time I
tried).

I'm not too keen on reproducing the exact same situation: I am booting
koreader directly, and I'd need to factory-reset my kobo if I couldn't
pass that initial screen! But I can try to launch

[2016-06-14 14:54] frankyifei commented on #2070
the flags changes in renderFinalBlock(). this function calls it self recursively and if the Element is empty or contains only spaces at the beginning of a paragraph, it should not clear the new line flag.

[2016-06-14 15:29] #2070 closed

[2016-06-14 19:15] chrox commented on #1894
In order to flip pages in flipping mode, we must first set the zoom mode to "Zoom to fit page". Note that the zoom mode set in flipping mode does not affect zoom mode in regular reading. I'll clarify this in the wiki page and close this issue.

[2016-06-14 19:15] #1894 closed

[2016-06-14 19:20] chrox commented on #2069
For PDFs some advanced options will appear in the bottom config panel after the "Show advanced options" is ticked.

[2016-06-14 19:20] #2069 closed

[2016-06-15 03:35] frankyifei commented on #2048
This will be useful for some bad formatted epubs

[2016-06-15 07:25] #2060 closed

[2016-06-16 06:53] houqp commented on #2050
So this only happens in KOBO, not in the emulator. A quick check reveals that length of UIManager._task_queue is always 1 in idle state, which causes UIManager._checkTasks to run every second and subsequently calls gettimeofday every second.

[2016-06-16 14:32] chrox commented on #2072
Fixed in #2079.

[2016-06-16 14:32] #2072 closed

[2016-06-16 14:36] frankyifei opened #2084 "horizontal swipe will cause force exit"
* KOReader version: cf3c91d
* Device: emulator and kindle

#### Issue
when reading epub, swipe from right to left or left to right will cause force exit.
#### Steps to reproduce
[code]

[2016-06-16 14:50] chrox commented on #1990
The requested feature is already implemented, whenever the device goes into suspend koreader will flush settings to disk.

[2016-06-16 14:50] #1990 closed

[2016-06-16 15:00] chrox commented on #1935
This behavior is expected. We don't need to do exactly the same way as the native system does. Isn't it better to save a swiping to get out of the screensaver?

[2016-06-16 15:00] #1935 closed

[2016-06-16 15:05] chrox commented on #2000
@AliLozano  Looks interesting. Could we make the icon more like a book, i.e. adjusting the aspect ratio?

[2016-06-16 15:07] chrox commented on #1934
How did you launch Koreader, via KPVBooklet or KUAL?

[2016-06-16 15:10] chrox commented on #1895
Fixed in #2079.

[2016-06-16 15:10] #1895 closed

[2016-06-16 15:20] ilyats commented on #1934
Now I am using KPVBooklet and the problem exists. I tried now KUAL ("Open the last document") and the problem occurs with it as well.

[2016-06-16 15:22] chrox commented on #501
Implemented in #2082.

[2016-06-16 15:27] chrox commented on #1592
We probably cannot promise to solve this in the next stable release as no developer has this device.

[2016-06-16 15:31] chrox commented on #1770
You may also change the screen DPI which is also a parameter passed into k2pdfopt, otherwise I cannot think up a solution. And this is not an item for the next stable release.

[2016-06-16 15:32] #1770 closed

[2016-06-16 16:21] chrox commented on #2054
Actually if the ticks are more than 100 the progress bar will be so crowded that you cannot distinguish between the ticks. Yeah, it might be over engineered.

[2016-06-16 16:44] #2020 closed

[2016-06-16 16:46] #2054 closed

[2016-06-16 16:46] #2084 closed

[2016-06-16 20:30] mwozny123 commented on #2036
Hi houqp. Thanks for change, but unfortunately it didn't work for me:(

I turn off DAUTO_SAVE_PAGING_COUNT and applied your patch, but it doesn't store last read page at battery save the power off.

Could you reopen this issue?

Should I provide the log?
The same way as last time?

[2016-06-17 01:50] houqp commented on #2036
@mwozny123 yes, could you paste the new log here?

[2016-06-17 07:21] mwozny123 commented on #2036
Strange. I've just:
- connected using wifi to check that patch is on place,
- added Debug Raw Events
- disconnected,
- started Koreader from console (with nohup option),
- move 3 pages ahead
and next time I opened the Koreader last read page was save, and I swear yesterday it wasn't (started from systems menu, not console).

So I confirm that's working from console. Let me just do one more test to

[2016-06-17 08:04] ilyats commented on #1894
But why? Or if it is necessary, shouldn't zoom mode be set automatically? Also, even if I set 'zoom to fit page', swiping finger in horizontal direction produces strange results, with page changing, but then immediately returning back to the original one.

[2016-06-17 09:24] mwozny123 commented on #2036
I do confirm.
Save last read page DON'T work when started "normal" from systems menu.

Save read page DO works when koreader is Started that the  in debug mode :
nohup ./luajit reader.lua -d ./ > koreader.logs

[2016-06-17 11:24] max-kammerer commented on #2044
Orion Viewer patch for russian file names support in djvulibre- https://github.com/max-kammerer/orion-viewer/tree/master/orion-viewer/jni/djvu/libdjvu

[2016-06-17 16:08] bbgordon commented on #2070
Thanks!

[2016-06-17 22:32] xorrox commented on #1974
So I worked myself back to koreader-nightly-20150717, and every release I've tried segfaulted within 24 hours or so.

[core-271.zip](https://github.com/koreader/koreader/files/321369/core-271.zip)

[2016-06-18 07:15] houqp commented on #2036
The stack trace at the end is an unrelated bug. According to the log, there is a `closing document` line at the end, which means reader settings are saved successfully. The bookmark setting should be saved with the page progress too. If that's not the case, it's a bug. Can you confirm this is the case?

I am not sure how it works when you launch it through system menu, does it simply run https://g

[2016-06-18 07:21] houqp commented on #1974
This is a memory leak issue, so we just need to find out which part is leaking memory. Strangely though, this seem to be only happening in H2O? @xorrox do you have the auto refresh time feature turned on for the footer?

I did some initial test for https://github.com/koreader/koreader/issues/2050 on my laptop, looks like gettimeofday is not leaking memory in emulator at least. Perhaps it will be d

[2016-06-18 11:02] mwozny123 commented on #2036
Save works only when Koreader's started with "nohup".
Yes, system menu starts koreader.app (there was no "nohup" option).

(After you patching) If we could add nohup to Koreader commandline (at least for Pocketbook) :

problem will be solved/workarounded.

Here's a log without nohup:
[crash.log.txt](https://github.com/koreader/koreader/files/321701/crash.log.txt)
Strange that no raw event has been

[2016-06-19 07:15] houqp commented on #2036
This is very strange, I have no idea why it is missing the event if it's started from koreader.app :(

So you actually tried adding nohup to koreader.app? If it works, then I don't mind adding this to the the code base.

[2016-06-19 13:56] spelufo commented on #1898
Is the only change needed to trigger the bottom menu? If so, it could be made to show by pressing the menu button twice. That way there is no need to move buttons from one menu to the other.

[2016-06-19 14:09] KenMaltby commented on #1898
Or perhaps a "Display bottom menu" selection in the top menu?  The current releases seem to have the bottom menu appear more often and it is dismissed separately.

[2016-06-19 14:28] xorrox commented on #1974
I've tried it with on and off, doesn't make a difference. Also, IIRC that was a rencent change, so it wouldnt explain the problems with older builds.

What I'm currently trying is disabling all the plugins.

[2016-06-19 14:54] mwozny123 commented on #2036
Well,  to be honest I was too fast with this solution proposal.

I added "/bin/nohup" to line 36 koreader.app test it but it didn't work.

Directly from console command when I run nearly the same command it works.
The problem might be that it's a sub process from koreader.app script?

Maybe this should be logged with some other debug the option?

[2016-06-19 15:10] mwozny123 commented on #2036
I just wanted to say that maybe "nohup" option causes that koreader process instead of being e.g. Killed is rather "more gently" asked to "terminate"?
Maybe we should use another way (without nohup) to check raw event?

From the other hand I wouldn't mind to use a nohup, but I don't know how to add it correctly to koreader.app script.

[2016-06-19 16:48] djalma2k commented on #2062
Type b) also occurs when doing any search request through the koreader's  menu:
[code]

[2016-06-19 17:57] houqp commented on #1974
I wonder if the leak is coming from the thirdparty rendering libraries or koreader framework itself. Could you try starting koreader in filemanager and leave it there without opening any files to see if the leak is still there?

[2016-06-20 04:35] Hzj-jie commented on #2074
The bug looks complex than my expectation, I cannot reproduce it on Android or emulator. Root cause is still unknown.

[2016-06-20 07:58] houqp commented on #2062
I nailed it down to a bug in uimanager, will try to fix it tomorrow. it's bed time for me now :)

[2016-06-20 08:17] houqp commented on #2036
Could be, to test this, you can replace nohub with `exec`: `exec ./reader.lua "$args" > crash.log 2>&1`.

`./reader.lua` should be the same as `./luajit ./reader.lua`. I am not familiar with pocketbook framework, so maybe we missed something. It's hard for me to experiment without an actual device :P

I don't know why it is only able to receive the event when started directly from a ssh session.

[2016-06-20 09:05] mergen3107 opened #2090 "KOReader on Onyx Boox Darwin"
* KOReader version: Latest Nightly and Stable by June 5, 2016 (probably, 431)
* Device: Onyx Boox Darwin (C67ML, E-ink Carta display)
* Issue Origin: [4pda](http://4pda.ru/forum/index.php?showtopic=734837&view=findpost&p=50168619)

#### Issue
Black strip on screen when KOreader is open:
![dsc02836](https://cloud.githubusercontent.com/assets/6279855/16188647/61e2fafe-36f8-11e6-8649-6354b04c2712.jpg

[2016-06-20 10:00] hurzl opened #2091 "Info line not updated after standy"
- KOReader version: koreader-kobo-arm-linux-gnueabihf-v2015.11-431-gc0846ee.zip
- Device: Kobo
#### Issue

Neither the battery status nor time are updated when switching on after standby. I have to turn the page first.

[2016-06-20 13:31] djalma2k opened #2092 "[Bug] Crash using the frontlight toggle button"
* KOReader version: 2b35e40 (2015-11-477)
* Device: Kobo Glo HD

#### Issue
A crash occurs when a number/value is written in the fl box and the toggle button is pressed. ( If you wrote a value in the box, set the fl, erase the value and finally press the toggle button then NO crashes occurs )

[code]
#### Steps to reproduce
1) Write any value in the FL box
2) Press the toggle button

Regards.

[2016-06-20 14:02] djalma2k commented on #2091
I found that the current behaviour is useful in case as for example you want to check, (in an easy way), the battery drop between "the uses". ( I know that it isn't an exact measurement... :P )

Regards.

[2016-06-20 14:26] djalma2k opened #2093 "[FR] Improvement of some menus for landscape mode"
- KOReader version: All versions < 2015-11-477
- Device: Kobo Glo HD
#### Issue

Some menus can be improved when landscape mode is used. For example:
In vertical mode you can check the text changes "without closing the menu":
![reader_2016-jun-20_155239](https://cloud.githubusercontent.com/assets/17313916/16197240/9b32734e-3701-11e6-8014-7ba77ac77e6a.png)
In landscape mode you can't check the text

[2016-06-20 16:16] gerroon opened #2094 "FR: Ability to edit the IP:PORT of Wireless device"
Hi

It looks like Koreader does some auto discovery to find the Calibre wireless connection which means that this can only work in a local network. I forward ports so that I can connect as a wireless device even when I am not around. That is why it would be nice if the user can edit the ip:port combo so that the user can access as aCalibre device from non local networks.

thanks

[2016-06-20 18:16] hurzl commented on #2091
I would prefer the status being the actual status and not some values of the past.

[2016-06-20 18:27] Immick commented on #1844
Guys, I'm sorry is there a ready patch that solver the problem?

Thank you!

[2016-06-20 18:45] Frenzie commented on #1844
Not as far as I know.

[2016-06-20 18:48] Immick commented on #1844
**Frenzie**, too bad :( I thought it's not so hard to get the idea from #1775 of determining document language...

[2016-06-20 19:00] mwozny123 commented on #2036
koreader.app change to:

neither save page worked.
Here's a log for this.
[crash_exec.log.txt](https://github.com/koreader/koreader/files/324053/crash_exec.log.txt)
**Does the raw event exists on poweroff ?**

I've noticed that when I change the book, book's saved, but reading progress not.

I don't start koreader from ssh. I'd installed Pbterm and so I run Koreader directly from Pbterm commandlin

[2016-06-20 19:17] mwozny123 opened #2095 "Screensaver (book cover) doesn't work (ToDo: store 1st page screenshot to bookcover file)"
**Short sum up discussion**: https://github.com/koreader/koreader/issues/2095#issuecomment-229459628
- KOReader version: koreader-nightly
- Device: Pocketbook touch Lux 3 (626)
#### Issue

Koreader is looking for invalid filename (or rather extension).
`[116 : ./luajit] Cannot open bitmap: /mnt/ext1/system/logo/bookcover.bmp`
`[116 : ./luajit] Cannot open bitmap: /mnt/ext1/system/logo/bookcover.BM

[2016-06-20 19:36] Immick opened #2096 "Changing the gesture to adjust Frontlight"
- KOReader version: all
- Device: Kobo Glo HD
#### Issue

As known to adjust Frontlight on Kobo devices you have to use _two fingers_.  In nickel you need to use only _one finger_ on the left side of the screen. I guess the second way (like in Nickel) is more comfortable.
So maybe someone knows how to implement adjusting Frontlight by swiping up and down with **one finger on the left (right) side

[2016-06-21 00:09] bbgordon opened #2097 "List markers pushed off screen"
The implementation for `list-style-position: outside` assumed negative indent added extra padding before text to make room for the marker. My pull request for koreader/koreader#2046 broke this.

I had difficulty with this because we don't find out how much space is needed for the marker until renderFinalBlock. As far as I can tell the caller (renderBlockElement via ldomNode::renderFinalBlock) does

[2016-06-21 05:28] frankyifei commented on #2097
in my opinion, your last change #2046 makes no much difference in rendering results and not many books use this feature. adding more code to fix this may change the book format in other place or introduce other bug. maybe it is better to revert it.

[2016-06-21 06:17] bbgordon commented on #2097
I have a lot of books containing poetry, lyrics, or equations that use it.

While making my changes I found a few other bugs with list items:

EPUB with various kinds of numbered lists:
[testepub.zip](https://github.com/koreader/koreader/files/324884/testepub.zip)

Screenshots from fc6aa51e3901e4a9a6fbb8a25231616b3e36b24d before any of my changes:

![before1](https://cloud.githubusercontent.com/as

[2016-06-21 08:57] houqp commented on #2092
This is a regression caused by a new feature added in textboxwidget. I will take a look at it tomorrow.

[2016-06-21 09:07] houqp commented on #2095
The log you pasted is actually not coming from koreader, but the pocketbook SDK library. So there is nothing we can do. During device shutdown, the pocketbook framework will close koreader and then set the screensaver i believe. KOReader already lose control to the device at that point.

[2016-06-21 09:09] houqp commented on #2036
So it has nothing to do with being the child process. I am running out of idea then. Could you attach the output of strace for running koreader with and without pbterm?

[2016-06-21 09:15] houqp commented on #2097
If you are planning to fix this properly, then I prefer we do it right the first time instead of putting in bandages over bandages :) If you think the refactoring is going to take awhile, then let's revert the commit. Otherwise, I think it's fine to leave the nightly broken for a short amount of time. I like that you are using chrome's layout engine as a reference.

[2016-06-21 11:58] #2062 closed

[2016-06-21 13:12] xorrox commented on #1974
Did that, got a segfault. Interestingly, the core dump is quite a bit bigger than previously, while the crash occurred a bit sooner. It's too big for the attachment limit, so I uploaded it here: http://bitflip.de/test/core-fm.zip

[2016-06-21 14:45] frankyifei commented on #2097
this is a epub test suite for reading system. You may find it useful when testing CRE. under` /css2.1/s12.6.2` you can find epubs with different list styles.
[epub-conform-epubs-1_0_4.zip](https://github.com/koreader/koreader/files/325847/epub-conform-epubs-1_0_4.zip)

[2016-06-22 08:28] houqp commented on #1974
So the good news is I found the bug that causes https://github.com/koreader/koreader/issues/2050. The bad news is it's probably not related to this mem leak :( That bug is exposed by auto suspend feature, which is a recently added thing. So since you are able to reproduce with the last stable release, it's going to be something else >_<

I need to setup gdb on my kobo again to analyze the core dum

[2016-06-22 08:39] houqp opened #2100 "use epub test suits in unit and regression tests"
@frankyifei mentioned a good epub2 test suite at: https://code.google.com/archive/p/epub-conform.
I noticed they also had one for epub3 at: https://github.com/IDPF/epub-testsuite

We should leverage these testsuite for our own unit test and regression test.

[2016-06-22 08:48] houqp commented on #2096
I think it's better to make it configurable, preferably with a plugin. Someone else will prefer two finger scroll ;P

[2016-06-22 08:49] houqp commented on #2091
Should be a simple fix, tagged for next stable release.

[2016-06-22 15:10] frankyifei commented on #2100
+1

[2016-06-22 22:36] gerroon opened #2101 "FR Disable selection in flip mode"
Hi

it would be great if the text selection is disabled in flip mode because it is easy to select underlying text while dragging fingers across screen.

I am using the android version

[2016-06-23 06:52] mwozny123 commented on #2036
Well, around half of the logs were from Koreader started from Pocketbook (system) menu (e.g. last one), but with some patches (e.g. nohup, raw event debug etc)

To make a clear log I've updated (using OTA) to latest nightly.

So I have a clean installed Koreader (without changes in koreader.app, and without raw event debug).
Here's the log:
[crash.log.txt](https://github.com/koreader/koreader/file

[2016-06-23 06:59] houqp commented on #2036
The log you attached is not from strace, could you prepend the `strace -f` command to `./reader.lua` to get the strace output? I would like to see the output for when it's launched from system menu and from pbterm.

Yes, please always have -d turned on :)

[2016-06-23 08:40] houqp commented on #1974
@xorrox from the strace log you provided in core-fm.zip, looks like you did open a epub book? Could you try leaving a clean fm there to see if it still consumes the memory gradually? It would also help if you can pass in `-d` argument to `reader.lua`.

[2016-06-23 10:26] NiLuJe commented on #2035
Wasn't this reported a while ago? I vaguely remember testing this on my end
and not being able to reproduce it... I'll double check this week end.
On Jun 23, 2016 12:09 PM, "Ivan Pavluk" <notifications@github.com> wrote:

[2016-06-23 11:48] #2050 closed

[2016-06-23 13:30] xorrox commented on #1974
Hm, I'm fairly certain I didn't open a file, just open/closed the cover a few times, maybe navigated within the directory listing a bit. When it crashed, the screen still showed the file manager (and it never crashed back to file manager when it segfaulted with a book opened).

Anecdotally, I switched to build 477, and it took quite a bit longer to segfault. About 36 hours, while any other build i

[2016-06-23 18:01] chrox commented on #1548
Seems no progress, closing it now.

[2016-06-23 18:01] #1548 closed

[2016-06-23 18:12] chrox commented on #2077
Will be fixed by #2102.

[2016-06-23 18:24] #1415 closed

[2016-06-23 18:24] #1759 closed

[2016-06-23 18:24] #2025 closed

[2016-06-23 18:36] Immick opened #2103 "One default font for all books"
- KOReader version: all
- Device: all
#### Issue

I'm wondering is there a way to setup one default font for all books? There must be an option for it.
And secondly - sometimes KOReader cannot override font in EPUB. SO there must be also optin that will allow to turn off internal font (like it madein CoolReader).

Thank you!

[2016-06-23 19:16] gerroon commented on #1415
@houqp

That is so cool. Thanks for implementing it. I am so eager to try this if we can get an Android build soon.

[2016-06-23 19:36] mwozny123 commented on #2036
Sorry I overlooked "strace" command.
Here's a log:
[Uploading crash-strace-rawEv-sysMenu.txt…]()

[2016-06-23 20:56] KenMaltby commented on #2103
Have you tried the "Set render style" option "clear all external styles"?

You can set the default font as on of the options for a "Long Press" on the font listing.

[2016-06-23 22:47] houqp commented on #1415
I just clicked the merge button, @chrox did all the work :P

[2016-06-23 22:53] houqp commented on #1974
If that's the case, then we might have a bug that filemanager opens book by itself. I will wait for the new strace log to confirm :)

That's weird, I can't think of any change in that build relates to memory usage.

Actually, you don't really need to wait for it to segfault. You can stop and ship the log to us as long as you can veirfy that it is leaking memory ( > 120MB). Hopefully that can save

[2016-06-24 01:01] gerroon commented on #1415
thanks @chrox

[2016-06-24 02:51] bbgordon commented on #2097
koreader/crengine#59 has all the fixes shown in the screenshot. My main question is about the code quality.

[2016-06-24 07:38] Immick commented on #2103
Yes, I've tried it. I set "clear all external styles" and then tried to change the font (in epub) an nothing was changed.

After Long press I set the chosen font as the default. But htne when I open other books (expecting to see the default font) I get another font.

[2016-06-24 12:36] KenMaltby commented on #2103
I guess I should have asked if you had turned off the "Embedded Style" option, under the bottom reader menu's Gear Tab/Icon.  I usually try that first.

Some epubs make it harder than others, to change the font.  It  may come down to having to change the epub itself.  Publishers of prose and poetry can be the most aggressive about maintaining control over how the text is presented.

[2016-06-24 13:08] #2097 closed

[2016-06-24 18:10] gerroon commented on #1941
Hi

This is still an issue with pdf files. I only use pdfs so maybe I am always hitting corner cases. I tried this on 3 different Android devices with no luck.

[2016-06-24 20:44] selohamon opened #2104 "Feature for pdfreflow"
When I am reading a PDF and click on next, sometimes I need to read the text again to know which part was, you could not show some kind of marking? So it was only read on.

[2016-06-25 02:15] gerroon opened #2105 "Backlight control does not work properly on C67ML"
- KOReader version:
  koreader-nightly-20160624
- Device:
  C67ML
#### Issue

The backlight control works half baked
#### Steps to reproduce

Open the light settings and put a number. Wait for the light to change (which does not happen)

Changing the light level works after enabling and disabling the light. Basically KR changes the light setting but the setting is not applied right away. I have to

[2016-06-25 02:34] gerroon commented on #2105
Hmmm

Something  is wonky on my other android devices. It seems like when I set it the first time my screen goes black (on Amoled)

[2016-06-25 03:33] chrox commented on #2104
Sorry, I don't understand what do you want. Could you explain it in more details such as what's your problem right now and what do you expect the Koreader could behave?

[2016-06-25 03:34] chrox commented on #2105
Could you adjust the light intensity with two-finger vertical swiping?

[2016-06-25 03:42] chrox commented on #2101
Yes, the user experience of the page flipping page is horrible in some circumstances such as what you described above, but it's definitely not adding yet another menu option to disable selection to solve this since flipping mode provides "column zoom mode" for regular reading. Feature request #1327 may be a better solution to this. Closing this in favor of #1327.

[2016-06-25 03:42] #2101 closed

[2016-06-25 04:46] gerroon commented on #2105
@chrox

Swiping works but it is like the original post. I have to disable and enable the light via the hardware ey to see the actual change. When I do swiping, I see the numbers changing at the top with no real affect. I have to do hardware way of toggling to get the real light intensity to be shown on the device.

[2016-06-25 04:47] gerroon commented on #2101
I see. I was thinking that text selection should be disabled in the flip mode for real. And column mode does not seem to fit in there in my view but you guys are the designers of this stuff.

[2016-06-25 04:51] gerroon commented on #2105
I wonder if this is related to the refresh issues I reported earlier.
https://github.com/koreader/koreader/issues/1955

[2016-06-25 05:12] chrox commented on #2090
Duplicated to #2077, closing this now.

[2016-06-25 05:12] #2090 closed

[2016-06-25 06:00] chrox commented on #1941
I cannot reproduce this neither on Android nor on Kindle Voyage and I also mostly read PDFs. Could it be that your SD card where your PDF documents are stored are read only mode? In that case Koreader cannot write progress info to the sdr folder, considering you have another problem with sdr in #1962. I suggest you check the document lua file inside the sdr folder of your document before and after

[2016-06-25 06:21] chrox commented on #1962
Now there is no settings files in the history directory as implemented in #2063, sdr should the only source of truth. Please reopen this if you still have problem with the latest nightly release.

[2016-06-25 06:21] #1962 closed

[2016-06-25 07:01] kiongping commented on #1994
finally figured out. Just have to extract the file, and dump to the dict folder, all done. With my kobo glo hd

[2016-06-25 07:19] Frenzie commented on #1994
Are you talking about regular extraction (e.g., some .zip or .rar file) or special extraction (i.e., the .dict.dz file)?

[2016-06-25 07:24] kiongping commented on #1994
just regular one. even with the whole folder is working for me. I put two dictionaries with separate folder in /dict. it just work.

[2016-06-25 07:24] kiongping commented on #1994
extract the .dz make the dictionary not working in my case.

[2016-06-25 07:25] Frenzie commented on #1994
It's supposed to be that way. =)
On Jun 25, 2016 9:24 AM, "kiongping" <notifications@github.com> wrote:

[2016-06-25 07:26] Frenzie commented on #1994
Well, dunno about not working, lol. But the dictionary takes folders, not
zip files.
On Jun 25, 2016 9:25 AM, "Frans de Jonge" <fransdejonge@gmail.com> wrote:

[2016-06-25 07:33] houqp commented on #2036
Select syscall got interrupted, i wonder if it's because of SIGINT/SIGTERM sent from the framework during shutdown. The child process we forked that runs the main loop of inkview definitely caught the shutdown event. The error message from the stack trace ` interrupted!` is from LuaJIT's interrupt handler, so time to figure out what's the best way to handle these signals manually in LuaJIT.

[2016-06-25 08:02] kiongping commented on #1994
yap

[2016-06-25 13:27] chrox commented on #1799
The OP didn't provide enough information to reproduce this issue. So please feel free to reopen this if you still have this problem, I'm closing this now.

[2016-06-25 13:27] #1799 closed

[2016-06-25 13:35] chrox commented on #1780
Closing this now as it did not raise any bug or issue.

[2016-06-25 13:35] #1780 closed

[2016-06-25 13:42] chrox commented on #1893
I will add this mailing list to our wiki page and close this now.

[2016-06-25 13:42] #1893 closed

[2016-06-25 13:53] chrox commented on #1689
Duplicated to #643.

[2016-06-25 13:53] #1689 closed

[2016-06-25 13:55] chrox commented on #1691
Duplicated to #643.

[2016-06-25 13:55] #1691 closed

[2016-06-25 13:59] chrox commented on #1771
It seems this issue report is either invalid or duplicated to #1670, #1692.

[2016-06-25 13:59] #1771 closed

[2016-06-25 14:04] chrox commented on #1670
Koreader for Android has changed a lot since this issue was reported so the provided logs might be out of date. Please retry with the latest nightly build and report back if you still have this problem.

[2016-06-25 14:04] #1670 closed

[2016-06-25 14:09] chrox commented on #1782
Koreader for Android has changed a lot since this issue was reported so the provided logs might be out of date. Please retry with the latest nightly build and report back if you still have this problem.

[2016-06-25 14:09] #1782 closed

[2016-06-25 14:13] chrox commented on #1749
Power off the device automatically is not and should not be an option for a reader application.  It seems the OP's real problem is duplicated to #1663.

[2016-06-25 14:13] #1749 closed

[2016-06-25 14:16] chrox commented on #1745
This issue will be fixed along with #2066 which specified a generic issue of hitting hyperlinks in Koreader.

[2016-06-25 14:16] #1745 closed

[2016-06-25 14:27] chrox commented on #1735
Yes, that the hyphenation language defaults to English seems unfair to books of other languages. And this issue is solved by #1775 which implements auto detection of book language and select hyphenation language accordingly.

[2016-06-25 14:27] #1735 closed

[2016-06-25 14:33] chrox commented on #1733
A reader application cannot turn on your device neither could/should it turn off your device. This feature request is invalid and will be closed.

[2016-06-25 14:33] #1733 closed

[2016-06-25 14:36] chrox commented on #1694
Close this in favor of #1653.

[2016-06-25 14:36] #1694 closed

[2016-06-25 15:05] chrox commented on #1546
It seems work now on my Kindle Voyage. Please feel free to reopen this if you still have problem.

[2016-06-25 15:05] #1546 closed

[2016-06-25 15:10] chrox commented on #1545
Koreader has changed a lot since the OP raised this issue, so the problem might already be fixed. Please reopen this if you still have this problem with the latest nightly release.

[2016-06-25 15:10] #1545 closed

[2016-06-25 15:11] chrox commented on #1532
Implemented in #1806.

[2016-06-25 15:11] #1532 closed

[2016-06-25 15:15] chrox commented on #1531
Preferably we will move "Calibre wireless connection" from the reading menu to the filemanager menu as it has nothing to do with the current reading book as suggested in #1871. Close this in favor of #1871.

[2016-06-25 15:15] #1531 closed

[2016-06-25 15:19] chrox commented on #2094
Duplicated to #1475.

[2016-06-25 15:19] #2094 closed

[2016-06-25 15:53] AlanSP1 commented on #1733
@chrox
request wasn't to turn device on/off, but to choose if magnetic cover turns device on/off.

If magnetic cover is disabled, magnetic cover wouldn't influence device status (you could close magnetic cover, device still would be on).

[2016-06-25 15:55] AlanSP1 commented on #1733
I see that my description was pretty unclear, hope I cleared what I meant now.

[2016-06-25 15:58] chrox commented on #1733
Sorry I miss-understood what you mean on & off, it could be more precise to describe it as screen on/off or suspend/resume. Anyway, this is now duplicated to #1382.

[2016-06-25 16:12] AlanSP1 commented on #1733
Sorry, didn't see that request before.

[2016-06-25 18:37] #2092 closed

[2016-06-25 18:57] houqp commented on #1382
This feature is already implemented by @Hzj-jie : https://github.com/koreader/koreader/blob/master/frontend/device/kobo/device.lua#L107

We should add the option setting in the up coming koreader home.

[2016-06-25 18:57] #1382 closed

[2016-06-26 01:09] houqp commented on #2036
@mwozny123 I made a custom build to test the signal handling code, could you give it a try? download link: http://sfpptp.houqp.me:7980/koreader-pocketbook-arm-obreey-linux-gnueabi-v2015.11-485-gbfa4bcd.zip

As always, please run it `strace -f` + `-d`, thanks :)

[2016-06-26 04:20] selohamon commented on #2104
@chrox See this picture, the last word is "adiante"
![reader_2016-jun-26_011220](https://cloud.githubusercontent.com/assets/20133471/16360468/e5297d4c-3b3b-11e6-8ada-286a4ae314fa.png)

when I tap to go next
![2](https://cloud.githubusercontent.com/assets/20133471/16360469/ee9da86c-3b3b-11e6-9be4-008f596730f5.png)
See I made a mark after the word "adiante", this will serve to not be looking for in

[2016-06-26 05:01] houqp commented on #2104
we used to gray out the previous read portion of the page after a page turn. Now sure why it was removed. I now only read books in scroll mode, which in my opinion, is the much better than the default mode and does not have this problem. I highly recommend it if you haven't tried it yet. You can enable it at the bottom configuration panel.

[2016-06-26 08:46] xorrox commented on #1974
In my second test of running only from file manager, things look better. Has been running for 2+ days and doesn't seem to have been leaking memory.

Still don't know what happened during that first try, Sorry bout the misdirection.

[2016-06-26 09:18] chrox commented on #2104
In addition to @houqp's scroll view mode, you can also show page overlap by enable it in the top menu "Page overlap" entry which is disabled by default.

[2016-06-26 13:13] frankyifei commented on #2097
@bbgordon ， if you tested with the test suite I uploaded. you will find your commits break many tests under /css2.1/s12.6.2. even your last commits [#59](https://github.com/koreader/crengine/pull/59) did not fix it and created other problems.
I think best way is to revert your [#54](https://github.com/koreader/crengine/pull/54) commit, because it really breaks normal features and your last commit

[2016-06-26 13:33] #2104 closed

[2016-06-26 13:42] frankyifei commented on #2097
I'd better open a new issue for this

[2016-06-26 13:47] frankyifei opened #2107 "about recent list style change in CRE"
recent changes to crengine caused several problems.  [#59](https://github.com/koreader/crengine/pull/59) did not fix it and created other problems.
I think best way is to revert  [#54](https://github.com/koreader/crengine/pull/54) , because it really breaks normal features and last commit  [#59](https://github.com/koreader/crengine/pull/59)  changes many things that we need to test. The cost / ben

[2016-06-26 14:12] chrox commented on #2107
It does have serious degeneration of list rendering. I agree with @frankyifei that we should first revert those changes.

[2016-06-26 14:31] djalma2k commented on #2092
I don't know if it's related to #2028 but a bug related with the inputbox is still present in this version #2106 :
1) Write anything in any inputbox ("light control", dictionary...)
2) Long press the "backspace" key.
*****
And a 2nd one I need to recheck is using any type of characters (unexpected ones) in the light control box. I had a problem with it since my last reported issue but I haven't th

[2016-06-26 14:43] chrox commented on #2092
Thanks for your report. I'll fix it later.

[2016-06-26 18:26] houqp commented on #2104
@chrox why is the overlap disabled by default? Also thoughts on making scrollview the default behavior?

[2016-06-26 18:29] #1714 closed

[2016-06-26 18:39] houqp commented on #1974
Good news is it's probably not our framework's fault, bad news is it's harder to tracking down the mem leak if it's coming from thirdparty libraries.

You probably opened the epub book by mistake :P Could you give the latest build 481 a try? This time with only one book open :) If the leak happens again, it would helpful if you can also upload the book somewhere.

[2016-06-26 18:40] houqp commented on #1974
Also, since you mentioned you mostly only read epub, could you try pdf as well?

[2016-06-26 19:16] mwozny123 commented on #2036
Great work @houqp :)
I did a bookmark, highlight text, and turn pages and it was saved after power off:)

FYI There's some NULLs e.g.:
`select(6, [5], NULL, NULL, NULLiv_poweroff_timer pid=136`
I don't know if that's expected or not, so attaching full log:
[crash.log.txt](https://github.com/koreader/koreader/files/333756/crash.log.txt)
but as I did 2 quick tests it works as expected.

If I had fou

[2016-06-26 19:34] houqp commented on #2107
Thanks @frankyifei for catching this regression, we should definitely include those tests in our unit test suite :)

[2016-06-26 19:42] houqp commented on #2036
Thanks @mwozny123 for testing, those NULLs are indeed expected :)

[2016-06-26 19:53] mwozny123 commented on #2095
If we could create 1st page screenshot (I believe Koreader has such feature) and name it :
`/mnt/ext1/system/logo/bookcover.bmp`
it would be fully integrated with system.

File type should be BMP file (size 758 x 904 px (probably device screen resolution), if needed I can check other sizes?).

Are you sure this log/entry is not from Koreader? Here's a clean [crash.log.txt](https://github.com/korea

[2016-06-26 20:31] houqp commented on #2095
Yes, I am sure those lines are coming from the native pocketbook framework. Is that file suppose to be overridden by 3rd party applications?

[2016-06-27 00:24] #2036 closed

[2016-06-27 01:48] bbgordon commented on #2107
I agree this wasn't ready for prime time. Thanks for pointing out a good test case and reverting it!

I do need to get negative indent working for my own use. I've reproduced one problem but there are more. If I can produce something that survives more test cases than I used previously is there interest in reviewing it?

[2016-06-27 02:02] houqp commented on #2107
@bbgordon definitely. The negative indent is also a bug that we should fix. we just need to make sure the fix is implemented correctly so it won't cause other bugs. You are also welcome to include the negative indent as a test case when your patch is ready ;)

[2016-06-27 09:09] retrue opened #2110 "Double tap to go to next/previous chapter doesn't work anymore"
* KOReader version: v2015.11-490
* Device: Kobo Mini

#### Issue
Double tap to go to next or previous chapter stopped working. It worked in version v2015.11-485.
I use double tap to go to previous/next chapter. Until some weeks ago, to enable the option of double tap, it was necessary to go to the entry menu "Advanced settings" and change a parameter to false, like this:

DGESDETECT_DISABLE_DOUBLE

[2016-06-27 09:16] mwozny123 commented on #2095
Once Koreader is installed all ebook formats are associated with Koreader:
https://github.com/koreader/koreader/blob/master/platform/pocketbook/extensions.cfg

And so build-in reader is totally replaced by Koreader, and there's no option to start build-in reader.

Default, build-in reader had a function to store 1st page (cover) screenshot as file:
`/mnt/ext1/system/logo/bookcover`.

[Other file n

[2016-06-27 14:29] Brnoch commented on #1994
Nice news! Hope I'll get this modification soon. Thanks a lot.

2016-06-25 10:02 GMT+02:00 kiongping <notifications@github.com>:

[2016-06-27 14:34] chrox commented on #1994
@Frenzie What's preventing this issue being solved? Could you provide a sample StarDict 3.0.0 dictionary and several test cases on this? I believe direct testing on the `sdcv` binary is enough to get the result.

[2016-06-27 16:10] Frenzie commented on #1994
All works fine. It's the automated releases that don't. Perhaps they don't
pull in the changes from the repo or something?
On Jun 27, 2016 4:34 PM, "Huang Xin" <notifications@github.com> wrote:

[2016-06-27 16:55] chrox commented on #1994
I'm afraid a got the reason:
[code]

The `sdcv` repo is indeed not updated for some reason on the nightly build machine. Will fix it now. Then tomorrow's nightly build should fix this problem, hopefully.

[2016-06-27 17:23] chrox opened #2113 "A better approach to test Koreader for Android issues"
I found a Android auto testing platform https://mqc.aliyun.com that could help us finally resolve the crashes and ANR problems on Android. The main difficulty we have to investigate into this, I think, is that we don't have enough Android devices to reproduce those problems. And with the help of mqc.aliyun.com we can upload the APK of Koreader to that platform and it will be tested on 30 devices i

[2016-06-27 18:46] #2110 closed

[2016-06-27 18:46] Frenzie commented on #2113
Looks very nice. What kind of tests does it do, exactly?

[2016-06-28 01:39] chrox commented on #2113
It's a kind of monkey testing, random inputs are generated by some kind of a program for 5 minutes util the application crashes. Since our primary problem on Android platform is that the app just don't run, the monkey testing is a perfect approach.

[2016-06-28 06:34] houqp commented on #2113
This is great tool! I am not able to find other comparable free offering that's in English. How do they charge for the service?

[2016-06-28 06:38] houqp commented on #2095
I see, and this only affects the screen after shutdown? KOReader should update the screen properly while it still has control of the screen.

[2016-06-28 11:42] chrox commented on #2113
It's free for the first three testing tasks everyday. And each free testing task will be ran on 30 randomly selected devices. They will charge for additional services like manually select on which devices the test will be ran or including more devices in each testing task. But for us, the free service is good enough.

[2016-06-28 21:15] #1705 closed

[2016-06-28 21:15] #1682 closed

[2016-06-29 19:17] mwozny123 commented on #2095
**To sum up discussion:
TODO** - each time koreader opens a new book, first page (cover) screenshot should be saved as:
`/mnt/ext1/system/logo/bookcover`

[2016-06-29 19:59] KenMaltby opened #2115 "FR: Screenshot options to save as Screensaver image"
If there were an option to save a screenshot as the current screensaver image you could make any Map, Chart, Table, Recipe, ect... that the user can see on a page, become an image that they can bring up and dismiss easily.  Sense the device would be suspended, accidental touches would have no effect.  The Book Status or Statistics page could also become the books screensaver ( although it would no

[2016-06-30 01:04] houqp commented on #2095
@mwozny123 can you confirm that this is used after device is shutdown? If that's the case, we only have to write it out during poweroff event. Doing this everytime a book is opened will increase the book loading time.

[2016-06-30 09:23] Brnoch commented on #1994
Hi,
Unfortunately, I still can't see the modification after upgrading koreader to the latest nightly build.

[2016-06-30 10:42] Brnoch opened #2117 "Cannot use the dictionary for words placed at the bottom of the page"
* KOReader version: v2015.11-501-gb82fdc8
* Device: Kobo Glo HD

When you perform a long press on a word located in the bottom line of the page, the "Go to" fuction" is fired instead of the dictionary, even if the margin is configured to "big".

Wouldn't it be possible to disable the bottom status bar toggle switch when making a quick press, and to use the quick press for the "Go to" function ? Fr

[2016-06-30 10:46] Brnoch commented on #2096
This post made me discover this useful functionality...
For me the fact that you need to use two fingers is not a big deal.
But I'd like to use it to disable / enable the front light: could it set the light to 0 ? Presently it can't go under 1.

[2016-06-30 10:48] chrox commented on #2117
This is by design. You need to tap the status bar until it disappears and then hold to loop up words.
Please refer to discussions on #1350.

[2016-06-30 10:48] #2117 closed

[2016-06-30 10:52] chrox commented on #2096
On kobo it does not decrease to 0 because of [this](https://github.com/koreader/koreader/blob/master/frontend/device/kobo/powerd.lua#L8-L10):
[code]
So this is by design, but it could be optimized for example only for devices that have hardware light toggler button.

[2016-06-30 10:54] Brnoch commented on #2117
OK. I'll do this.

[2016-06-30 10:55] chrox commented on #1994
It turns out that we didn't update the `sdcv` in koreader-base at all. See [here](https://github.com/koreader/koreader-base/blob/master/thirdparty/sdcv/CMakeLists.txt#L29-L34):
[code]

[2016-06-30 11:37] Frenzie commented on #1994
Ah, so that's the answer to [my question above](https://github.com/koreader/koreader/issues/1994#issuecomment-220014020). But I'm fairly certain that I tested it with `./kodev build` on a freshly pulled repo last month.

[2016-06-30 12:43] sunnsi commented on #1782
I have installed the latest version released on 6.24. The app always crashes when it opens any pdf file on SD card. My device is LG gpad 8.3. It works fine when pdf files on internal storage are opened.

[2016-06-30 12:56] xorrox commented on #1974
I ran two tests with 483. One with an epub, in which I ran into the screen non-responsiveness issue described earlier before it segfaulted. Including the epub with the logs, but I doubt it's book-specific because i've seen it with epubs from different origins.

One with a pdf, not sure if I saw a memory leak there.  But at least the value reported by "free" went down considerably over time.

[core

[2016-06-30 13:42] chrox commented on #1782
What's your Android version?

[2016-06-30 13:52] chrox commented on #2035
It seems that we cannot reproduce this. Please reopen this if you still have this problem with the latest nightly build.

[2016-06-30 13:52] #2035 closed

[2016-06-30 13:55] chrox commented on #2041
This will be implemented in #1790. So closing this in favor of #1790.

[2016-06-30 13:55] #2041 closed

[2016-06-30 14:02] NiLuJe commented on #1974
Hmm, on a H2O, the touch input issue on resume should definitely be
fixed... Which FW version are you running?
On Jun 30, 2016 2:57 PM, "xorrox" <notifications@github.com> wrote:

[2016-06-30 14:03] chrox commented on #1991
I'm afraid it's not controlled by us. And I suggest that we don't interfere too much with the underlying hardware and power management on Kindle, after all Kindle does a good job on this for third party applications.

[2016-06-30 14:03] #1991 closed

[2016-06-30 14:04] #1994 closed

[2016-06-30 14:14] sunnsi commented on #1782
Android 5.0.2. The path for SD card is /storage/external_SD/.  The path of internal storage is  /storage/sdcard0 or /storage/emulated/0/ or /storage/emulated/legacy or /sdcard/ ,  I have no idea which ones are symbol links.

[2016-06-30 14:19] chrox commented on #1909
This is by design or at least by current limitation. We check wifi connectivity not by checking if the device has an IP address but by trying to connecting to the dns server. So if we are in a local network that are not connected to internet, the wifi status check will fail, but we still can use calibre wireless connction. That's why we don't check wifi status when connecting calibre server.

[2016-06-30 14:23] chrox commented on #1782
Do you have a logcat of koreader when you open a PDF file on SD card? Maybe we can get more information from it.

[2016-06-30 14:25] chrox commented on #1922
No progress, closing this now.

[2016-06-30 14:25] #1922 closed

[2016-06-30 14:30] chrox commented on #1832
Seems no progress, closing this now.

[2016-06-30 14:30] #1832 closed

[2016-06-30 14:31] chrox commented on #1737
This will be discussed in #2040.

[2016-06-30 14:31] #1737 closed

[2016-06-30 14:49] sunnsi commented on #1782
Thanks for your quickly reply. Would you like to give me a hand on how to produce a log file?

[2016-06-30 15:02] xorrox commented on #1974
3.19.5613

[2016-06-30 15:27] KenMaltby commented on #1909
To use the calibre wireless functions, not only must the device's WiFi be on, but the appropriate wireless function of calibre must be running.  Perhaps there is something that can be checked for each of the functions?

[2016-06-30 15:44] NiLuJe commented on #1974
Huh. For the record, that's indeed the "no touch input registering" issue
after a resume from sleep, right?

On Thu, Jun 30, 2016 at 5:02 PM, xorrox <notifications@github.com> wrote:

[2016-06-30 20:15] Brnoch commented on #2096
Could be great if you could allow to decrease the light to 0 on devices like the Kobo Glo HD!

[2016-06-30 20:28] xorrox commented on #1974
That's how I would describe the symptoms, yes.

[2016-07-01 06:59] Easthy opened #2119 "Koreader does not start on Ubuntu touch"
* KOReader version: latest on 1 July 2016
* Device: BQ Acquaris E5 HD Ubuntu Edition

Ubuntu Touch version 15.04. OTA-11

#### Issue
Koreader doesn't start. After few seconds showing logotype it closes

#### Steps to reproduce
1) Download click package by link https://yadi.sk/d/MEaVUZlzsvQQ6
2) Install click package with the following command:
phablet: pkcon install --allow-untrusted koreader-ubun

[2016-07-01 07:04] Hzj-jie commented on #1944
I believe this bug has been fixed. I have not reproduced it in recent versions.

[2016-07-01 07:04] #1944 closed

[2016-07-01 07:18] Hzj-jie commented on #1938
Sorry for the late response. I was busy with my bread work recently. But now it's time for me to fulfill my promise.

I spent some time to investigate the possibility, and realized KOReader is becoming a huge system with too many functions in one binary. And a tiny error can eventually break the entire system. From my own opinion, this is not good. I prefer the way Unix works - the combination of

[2016-07-01 08:29] houqp commented on #1938
Good to see you back :)

Can't agree more. I have been thinking of splitting out the UI and rendering code apart for awhile. It will be a big win for KOReader. This way, UI crash will not crash the whole reader and the UI loop will not be blocked by the rendering job. It also makes it possible to plug in other UI frontends written in any language. A UI frontend can even connect to the headless rea

[2016-07-01 08:53] Brnoch commented on #1994
Thanks, it works like a charm now! I appreciate it a lot.

[2016-07-01 08:56] houqp commented on #1974
Thanks @xorrox for the log, there is definitely a gradual memory leak happening for both pdf and epub. I will take a closer look at the strace during the weekend.

One question, the timestamp from the strace output in the same timezone as the timestamp in memory usage log? If so, that will make it a lot easier for us to correlate both files.

Another request, could you also add `-d` argument to `r

[2016-07-01 08:59] Brnoch opened #2120 "Suggestion : choose which dictionary/dictionaries to use with a specific book?"
* KOReader version: v2015.11-505-g30a9f73
* Device: Kobo Glo HD

I have several dictionaries installed on my Kobo.
Presently, Koreader searches the terms in all dictionaries. This can be annoying, specifically if you read books in several languages and if you have dictionaries in several languages too.

Could it be possible to decide which dictionary you want to use for one specific book or genera

[2016-07-01 09:00] houqp commented on #2120
Good suggestion, we should be able to save this preference into book settings.

[2016-07-01 09:04] Brnoch commented on #2120
Well, I just discovered that you can define the default dictionary to use for one specific book by pressing the dictionary name. But it seems that it doesn't work: after defining the default dictionary, the choosen dictionary doesn't show up before the other ones.

[2016-07-01 09:06] houqp commented on #2120
Right... I forgot this feature is already implemented. I am marking this as a bug that needs to be fixed before the next stable release. Thanks!

[2016-07-01 10:00] Easthy commented on #2119
I tried to find koreader's log in /var/log but failed. If you could say where the log file should be stored I would attach logs to help you in fixing this problem

[2016-07-01 10:28] Frenzie commented on #2119
By default there'd probably be no logfile, although I don't know about
mobile Ubuntu devices. Normally you'd redirect the output to a file using
`>`. See
http://pcsupport.about.com/od/commandlinereference/a/redirect-command-output-to-file.htm

On Fri, Jul 1, 2016 at 12:00 PM, Easthy <notifications@github.com> wrote:

[2016-07-01 10:29] Frenzie commented on #2119
Oh yeah, sorry for the spam, but you would also want to enable the debug
option.

On Fri, Jul 1, 2016 at 12:27 PM, Frans de Jonge <fransdejonge@gmail.com>
wrote:

[2016-07-01 13:58] chrox commented on #2119
@Frenzie Applications on Ubuntu touch runs in sandbox and they are installed in a predefined location managed by the click package management system thus are not controlled by users. So things are not like plain linux environment such as Kindle and Kobo.

@Easthy You can find logs of Koreader app from `/home/phablet/.cache/upstart/*` after you ssh into your device. And if you cannot run Koreader,

[2016-07-01 14:04] chrox commented on #2120
I cannot reproduce what you described neither on Kindle nor on Android. After setting the default dictionary for the document by tapping the dictionary title, the default dictionary will be used *if it has a definition of the word*. Are you sure you can select the default dictionary with "<<" and ">>" but it's not shown as the default dictionary?

[2016-07-01 14:08] Easthy commented on #2119
phablet@ubuntu-phablet: find ~ koreader
returns:
/home/phablet/.cache/ubuntu-app-launch/desktop/org.koreader.koreader_koreader_0.0.1.desktop
/home/phablet/.local/share/click/hooks/desktop/org.koreader.koreader_koreader_0.0.1.desktop
/home/phablet/.local/share/applications/org.koreader.koreader_koreader_0.0.1.desktop
/home/phablet/.local/share/org.koreader.koreader
/home/phablet/.local/share/org.ko

[2016-07-01 14:28] Brnoch commented on #2120
You're right. I made a test on a word in plural form ("félicitations"). This plural form didn't exist in the default dictionary, so that the one containing it appeared first. And as the default dictionary had "félicitation", it appeared next. There is no bug!
By the way, "félicitations" (congratulations) for the excellent koreader :-)

[2016-07-01 14:31] chrox commented on #2120
Thanks for your report.

[2016-07-01 14:31] #2120 closed

[2016-07-01 15:00] chrox commented on #2119
The `frontend/device` will first probe device platform [here](https://github.com/koreader/koreader/blob/master/frontend/device.lua#L2-L7)
[code]

It's supposed to return a sdl device on Ubuntu Touch by first trying to load "libSDL.so" and then "libSDL2.so" [like this](https://github.com/koreader/koreader-base/blob/master/ffi/util.lua#L258-L281)
[code]
But for some reason neither `libSDL.so` nor `l

[2016-07-01 15:55] xorrox commented on #1974
Those timestamps seem consistent, For some reason the file times are in UTC, but the times reported are localtime.

Yes, forgot to include it the last time, and forgot to change the startup script again when switching to new version.  I'm on vacation.:)

[2016-07-01 15:56] chrox commented on #1427
We already have a nice gesture to control light intensity. And I don't think several taps in the menus is any way easier than the gesture to adjust light.

[2016-07-01 15:56] #1427 closed

[2016-07-01 16:00] chrox commented on #1375
No progress, please reopen this if you still have problem with the latest nightly build.

[2016-07-01 16:09] chrox commented on #1234
No progress, closing this now. Please reopen this if you still have this problem with the latest nightly build.

[2016-07-01 16:16] #1234 closed

[2016-07-01 16:34] NiLuJe commented on #1375
(Left it closed, it's just a "nice to have" thing if I ever get the time ;)).

[2016-07-01 17:44] Easthy commented on #2119
I haven't found libSDL2 on my phone so far.

phablet@ubuntu-phablet: find ~ '*sdl*' > ~/Downloads/found.log
returns:
/home/phablet/.cache/ubuntu-app-launch/desktop/balls.briketa_ubuntu-touch-sdl-template_0.239.desktop
/home/phablet/.local/share/click/hooks/desktop/balls.briketa_ubuntu-touch-sdl-template_0.239.desktop
/home/phablet/.local/share/applications/balls.briketa_ubuntu-touch-sdl-template_0

[2016-07-01 18:44] #1801 closed

[2016-07-01 22:21] Hzj-jie commented on #1938
Is there any issue to track index change?
My initial plan is to use bash scripts, we can use various existing tools, grep, awk,cut, etc, without writting complex code.

[2016-07-01 22:38] protist commented on #1382
Thanks @houqp. How do we enable this option?

[2016-07-01 22:38] houqp opened #2122 "design discussion: metadata index"
We have tried to keep things simple and avoid introducing indexes in KOReader. So far, it has been working well for us. But we might need to introduce it in the future especially with the new KOReader home. Let's use this issue to discuss various design tradeoffs for our metadata index module.

The first couple things that come to my mind are sqlite and leveldb/rocksdb.

[2016-07-01 22:39] houqp commented on #1938
Let's move the discussion to https://github.com/koreader/koreader/issues/2122

[2016-07-01 22:42] houqp commented on #1382
@protist just set `ignore_power_sleepcover` to true in your reader setting. You will have to manually edit `settings.reader.lua` file.

[2016-07-01 22:44] houqp commented on #1974
Thanks @xorrox for confirm. Have great break :) I am oncall during the vacation >_<

FWIW, this might be related to https://github.com/koreader/koreader/issues/1352.

[2016-07-02 00:04] protist commented on #1382
Thanks @houqp. However, I couldn't find `settings.reader.lua` anywhere. I also grepped for `ignore_power_sleepcover`, but I could only find it in the code itself (i.e. `koreader/frontend/device/kobo/device.lua`).

[2016-07-02 00:59] protist commented on #1382
Having said that, I tested by deleting these [three lines](https://github.com/koreader/koreader/blob/master/frontend/device/kobo/device.lua#L107-109), and it works. The magnet on my cover now does nothing. Obviously it'd be neater if I could find the setting, but the code is definitely working at least.

[2016-07-02 02:49] houqp commented on #1382
Which version are you using? You should be able to find `settings.reader.lua` under `.kobo/koreader` directory.

[2016-07-02 03:38] chrox commented on #2119
Could you copy `/opt/click.ubuntu.com/balls.briketa/0.239/lib/arm-linux-gnueabihf/libSDL2.so
` into `/userdata/system-data/opt/click.ubuntu.com/org.koreader.koreader/0.0.1/libs/` or `/usr/lib`?

[2016-07-02 04:03] protist commented on #1382
I was using the nightly [koreader-kobo-arm-linux-gnueabihf-v2015.11-483-geb2d4e9.zip](https://github.com/koreader/koreader/releases/tag/v2016.06.24-nightly) from two builds ago. I double-checked but that file is definitely not there. I just downloaded the very latest nightly (+1 build), but it's not there either.

[2016-07-02 05:16] Easthy commented on #2119
I cannot copy into /usr/lib even using sud and developer mode. Command interrupted with '...readonly file system..'.
But I successfully copied into .../koreader/0.0.1/libs
Koreader starts without errors now. I can send you libSDL2.so file if you need it

[2016-07-02 05:31] Easthy commented on #2119
It seems that app is not able to open files. It closes after choosing file. I'll try to open more files, then report you

[2016-07-02 07:44] houqp commented on #1382
The setting file is not included with the release. Instead, it will be created dynamically after you run and exit the reader for the first time. Have you tried exiting the reader before checking the file?

[2016-07-02 08:50] chrox commented on #2119
Could you also post the content of the log file `/home/phablet/.cache/upstart/application-click-org.koreader.koreader_koreader_0.0.1.log`?

[2016-07-02 10:51] protist commented on #1382
Oh, I see now, @houqp. Thanks for the tip; I see it now. So eventually this option will end up in `defaults.lua`? Then when users update koreader they can just copy their preferences across in the initial install, rather than having to reboot, then reconnect? As it is, it's simpler for me to just remove those lines. Cheers.

[2016-07-02 19:42] houqp commented on #1382
@protist how are you updating koreader right now? Looks like you are wiping everything with a clean install everytime? `settings.reader.lua` is supposed to be kept during updates so all your settings will be not wiped during update.

We are moving away from defaults.lua as `settings.reader.lua` is the preferred way of managing user configs.

[2016-07-03 02:16] gerroon commented on #2105
This controls brightness fine
echo 100 >/sys/class/backlight/rk28_bl/brightness

Anyother method is not refreshing the brightness. I tried couple "lcd" brightness apps, they modify the brightness but the result is not visible right away, until I enable or disable the light or click on the tray bar

[2016-07-03 02:20] gerroon opened #2123 "C67ML the lowest brighness is not the lowest brightness"
- KOReader version: koreader-nightly-20160702
- Device: C67ML
#### Issue

Setting the light to the lowest using the finger gesture or the menu setting does not put it to the lowest possible value. I do not know what the exact range is but, I see that it is set to 3 when I quit KR and look at the light menu. The lowest light on this is 1 not 3.

I am feeling that this must be an Android sdk issue

[2016-07-03 02:38] gerroon opened #2124 "FR: Speed up the experience on Android"
Hi

The android builds has gotten much better as far as the stability goes, there are still rough cases though.

The other issue I have with the Android builds on my tablets is that the scroll speed or the general interaction speed does not seem to increase with the process speed or the memory increasements. For instance it feels as laggy as on my octa core cpu as it does on my eink devices or ein

[2016-07-03 03:27] medwatt opened #2125 "Android 2.2.1"
Is there anyway I can force KOReader to install on my old Sony PRS-T1 which runs on android 2.2.1. I know its supposed to run on android 2.3 and above but is there some hack that I can try ? It will make the device super cool. Thanks.

[2016-07-03 07:15] Hzj-jie commented on #2122
Copy some of my comments from #1938

Briefly, I suggest to use a background task to build index file with language specific tools, instead of merging the logic in KOReader core logic.

So instead of adding a input method - as this by mentioned, instead of inputting Chinese, searching books with Chinese names is more important - I would suggest to use an index file. Then we can use background tasks

[2016-07-03 07:21] Hzj-jie commented on #2122
So reply to HouQP's comment, I think for content indexing, which is even more complex, we can use sql lite. But I can image this is a long term change. But for title indexing, which I believe can fulfill 90% user requirements, grep and awk look like the right tools for a fast solution.

[2016-07-03 08:06] xorrox commented on #1974
483 again, this time with the debug switch.

The core file is huge. The whole thing is 100+ MB zipped.

http://bitflip.de/test/core-483-2.zip

[2016-07-03 11:14] protist commented on #1382
@houqp Yes, you are correct. I was wiping everything with a clean install, and just copying `defaults.lua`. The README doesn't really mention upgrading, so I presumed this was the preferred way to do it, but apparently I guessed wrong!

What is the current recommended way of upgrading, then? Just manually copying over both `defaults.lua` and `settings.reader.lua`? (And eventually just the latter?)

[2016-07-03 11:20] taosxx opened #2126 "nested dictionary lookup doesn't work for second page of definition text"
- KOReader version: koreader-kobo-arm-linux-gnueabihf-v2015.11-507-gef260f0.zip
- Device: Kobo Glo HD
#### Issue

It seems impossible to look up a word that's used on the second page of a dictionary definition, instead the word at the same position of the first page is searched for.
#### Steps to reproduce

From an open book (pdf, epub, etc) look up a word which will have a long definition (e.g. "

[2016-07-03 12:03] taosxx opened #2127 "problems with line breaks after umlaut characters in dictionary definitions and nested look-ups"
- KOReader version: koreader-kobo-arm-linux-gnueabihf-v2015.11-507-gef260f0.zip
- Device: Kobo Glo HD
#### Issue

If a dictionary definition contains a word with an umlaut character and this word is located at the end of a line and exceeds it, instead of being completely pushed to the next line, a line break is introduced after the umlaut. This not only looks strange, it also negatively affects ne

[2016-07-03 12:47] KenMaltby commented on #1382
For Windows users it is simple to "Drag&Drop" the "koreader" folder from WinRAR or 7-zip into the appropriate directory of your device.  You are then offered the option to "Merge" the folders.

[2016-07-03 12:51] protist commented on #1382
Ah okay. I use Linux, but easy enough to `rsync`. I thought there might be files deleted in newer builds, but I guess they'd just be not referenced (and just take up a minimal amount of space). Thanks for the advice.

[2016-07-03 19:46] mwozny123 commented on #2095
Yes, this file is used after device shutdown.
Original PB reader updates it, at loading or closing book (it doesn't matter),
yes, updating this just before shutdown should be fine.

[2016-07-03 20:08] houqp commented on #2105
We control brightness through the standard android API. I think the other apps go with the same approach too. Are you saying writing to `/sys/class/backlight/rk28_bl/brightness` works without needing to toggle to refresh?

[2016-07-03 20:47] dwl99 opened #2128 "Unresponsive touchscreen on Kobo N905"
- KOReader version: koreader-nightly-20160702 koreader-kobo-arm-linux-gnueabihf-v2015.11-507-gef260f0.zip
- Device: Kobo N905
#### Issue

My Kobo N905 is on firmware 3.19.5761. Whenever I start the latest koreader nightly (and the stable version too) I get stuck at the "Tap the lower right corner" screen which does not respond to touches. I've tried editing koreader\frontend\device\input.lua but w

[2016-07-03 21:08] houqp commented on #2123
Feels like a framework issue to me too. IIRC, we don't cap the minimal level in android.

[2016-07-03 21:12] houqp commented on #2124
refresh rate is hardcoded because KOReader was developed to only run on eink readers. This is something we should revisit after the next stable release.

[2016-07-03 21:16] houqp commented on #2125
We might be relying on couple APIs that's only available in 2.3+. But technically it's possible to port it to 2.1. So if you are a developer, feel free to give it a try ;P I haven't heard anyone working on it.

[2016-07-03 21:26] medwatt commented on #2125
@houqp
I'm not a developer at all; just a guy who uses KOReader on the Onyx Boox i86 which runs android 3.0. I also have a Sony PRS-T1 (android 2.2) and thought it would be wonderful to use KOReader on it, particularly for PDF reading.

[2016-07-03 21:53] houqp commented on #2122
If we are going add indexes, which is a really big change, I would prefer we do it properly it from the beginning. We are an open-source project so there is no deadline and we can take time to engineer good design and code. Choosing a design because it's faster to implement will likely to cause tech dept down the road that will end up causing us more time to fix/refactor/migrate in the future.

Ju

[2016-07-03 21:55] houqp commented on #2122
More idea: use index engine like lucene/Xapian. The official lucene is written in Java, so it relies on JVM. Xapian might be a better choice for us.

[2016-07-03 22:38] houqp commented on #2128
As a quick fix, you can backup `settings.reader.lua` and `defaults.persistent.lua`, wipe the current `koreader` and install a fresh new one from last stable release, which should not have the screen probing code (don't forget to copy back the backed up setting files of course).

If you want to help us debug this issue, please edit the koreader.sh file and change the line
https://github.com/koreade

[2016-07-04 00:58] seacatwu commented on #1938
thank you Hzj-jie.
That's ok.

[2016-07-04 02:30] gerroon commented on #2105
@houqp

Yes that does not require a refresh. My gut feeling is that the Android brightness settings for the einks are different that the brightness settings for the tablets with the lcds naturally.

The apps that I tried for changing brightness for Android(including Koreader) fails to change the brightness or the frontlight right away, some sort of manual refreshing is needed. The only app that wa

[2016-07-04 13:58] Easthy commented on #2119
I tried without success to open
.fb2
.txt
.epub

libSDL2.so and log /home/phablet/.cache/upstart/application-click-org.koreader.koreader_koreader_0.0.1.log are here:
https://yadi.sk/d/Fm3rvy67sz6DU

[2016-07-04 18:25] dwl99 commented on #2128
Sorry, I couldn't find a settings.reader.lua or defaults.persistent.lua file on the device or in the downloaded nightly koreader folder. I edited the koreader.sh file with Notepad++ as you indicated and ran koreader and got the unresponsive touchscreen. Unfortunately I couldn't find  crash.log file anywhere on the device. As you may have gathered this is my first foray into github.

[2016-07-05 00:48] Hzj-jie commented on #2122
Emmm, good point. But I also do not think it's a good idea to add complex input method in current system. What do you think?

[2016-07-05 02:46] houqp commented on #2122
I totally agree we should make the input method a self contained module. After the next stable release, we should start working on splitting up KOReader so it is more resilient to crashes from sub-components.

[2016-07-05 04:18] yshui commented on #1422
This problem still exists on Kindle Voyage with latest build

[2016-07-05 05:59] chrox commented on #1422
Please refer to this comment: https://github.com/koreader/koreader/issues/1422#issuecomment-75923898, the behavior is by design and expected.

[2016-07-05 06:51] houqp commented on #2126
Likely a bug introduced during recent refactoring in textboxwidget. We will make sure this is addressed before the next stable release.

[2016-07-05 06:53] houqp commented on #2127
Good catch, looks like a bug in our line breaking code. I have added this to the next stable release mile stone.

[2016-07-05 06:59] houqp commented on #1382
I basically do the same thing as what @KenMaltby does ;p But I am implementing a proper network manager so I can do the update without having to plug in/out the device all the time, which can be very annoying.

`rsync` is cleaner if you automated it. Also I believe if you update it via OTA update feature, it should delete out of date files for you too.

[2016-07-05 07:02] houqp commented on #1382
BTW, `defaults.lua` will be overridden by an upgrade. If you have any custom settings in `defaults.lua`, you should put it into `defaults.persistent.lua` instead. If the README is not clear, please feel free to send us pull request to improve it. Or you can just open an issue to let us know which part is confusing so we can fix it.

[2016-07-05 07:04] houqp commented on #2105
Judging from the name `rootdim`, I bet it also write to the file directly like you did ;P

Looks like we need to make a special case for C67ML in the code. Are all ONYX BOOX readers based on android?

[2016-07-05 07:09] houqp commented on #2119
I crashed while reading document settings, @Easthy does the app has write access to the directory which the books are in?

@Hzj-jie , looks like it failed at creating the sidecar directory, we should probably present an error to the user when it fails at this line: https://github.com/koreader/koreader/blob/master/frontend/docsettings.lua#L57

[2016-07-05 07:15] houqp commented on #2128
@dwl99 thanks for helping us debugging the issue, sorry for the late response.

It's weird that there is no `crash.log`. If there is no `settings.reader.lua` or `defaults.persistent.lua`, then you can ignore them. Did you check the `.kobo/koreader` directory?

Is this your first time running KOReader on KOBO? If so, then maybe this model is not supported yet. But we can figure out what needs to be

[2016-07-05 07:20] houqp commented on #2128
Actaully, N905 should be supported by KOReader, so the probing screen must be broken. If you can confirm that there is no `crash.log` in `.kobo/koreader` folder, we can try manually disable the probe.

[2016-07-05 07:25] houqp commented on #1422
@chrox shouldn't https://github.com/koreader/koreader/pull/2079 fix this issue?

[2016-07-05 07:27] houqp commented on #2125
I think it won't even be able to start on 2.2 without patches. Is it possible to upgrade the android version on the sony reader at all?

[2016-07-05 07:33] Easthy commented on #2119
I gues that koreader has the write access to the book's folder. Before trying to open books:

[code]

After trying to open books:
[code]

[code]

[2016-07-05 07:40] houqp commented on #2119
hm... that's weird. Now that I can see those `.sdr` directories are created properly. Are there any files inside? If you are able to edit koreader files, try adding following line:

[code]

Before the table insert call at: https://github.com/koreader/koreader/blob/master/frontend/docsettings.lua#L76

Then upload the crash.log here.

[2016-07-05 07:55] Easthy commented on #2119
.sdr folders are empty.

I can edit docsettings.lua
Log is here:

`
libust[4280/4287]: Error: Error opening shm /lttng-ust-wait-5 (in get_wait_shm() at lttng-ust-comm.c:958)
libust[4280/4287]: Error: Error opening shm /lttng-ust-wait-5 (in get_wait_shm() at lttng-ust-comm.c:958)
libust[4280/4288]: Error: Error opening shm /lttng-ust-wait-5-32011 (in get_wait_shm() at lttng-ust-comm.c:958)
libust[4

[2016-07-05 08:06] houqp commented on #2119
I see, it's crashing while loading evernote plugin. Can you try remove `plugins/evernote.koplugin` directory?

@chrox , do you know how is the `self.path` set in the plugin? https://github.com/koreader/koreader/blob/master/plugins/evernote.koplugin/main.lua#L43

[2016-07-05 08:08] houqp commented on #2119
Also @Easthy , did you manually append new content from crash.log to the uploaded text file? The crash.log should be reset every time koreader is launched.

[2016-07-05 08:11] medwatt commented on #2125
@houqp
The last update for the PRS-T1 was about 3 years ago and the android version was 2.2.1. I wonder if it'll be possible to patch the system partition in such a way that the required dependencies will be added ? Anyway, do you see a way I can use KOReader on the PRS-T1 ?

[2016-07-05 08:15] Easthy commented on #2119
@houqp  I just copied the log file every time you asked of it.
`sudo cp /home/phablet/.cache/upstart/application-click-org.koreader.koreader_koreader_0.0.1.log ~/Documents`

Folder have been removed.
[code]

Now I am able to open books and read text.

[2016-07-05 11:25] tigran123 opened #2130 "Latest nightly builds much slower than v2015.11-stable on Kobo Aura H2O (and possibly others)"
* KOReader version: v2015.11-507-gef260f0
* Device: Kobo Aura H2O

#### Issue
Koreader became much slower than v2015.11-stable. Specifically, open a DjVu file, e.g. this one:

http://libgen.io/book/index.php?md5=723C8ED0D904E5A1DF1197730515D22A

Notice that even opening the file takes 3 times longer. But this is not a main problem --- the real problem is that turning the pages is also much slower

[2016-07-05 11:27] tigran123 commented on #2128
I have N905 and the probing function seems to work fine for me (although the fix committed in #1608 didn't make a difference, but upgrading to the latest nightly build did), as I described in the other incident.

[2016-07-05 11:40] Easthy opened #2131 "Language settings is not applied. Ubuntu touch"
- KOReader version: 0.0.1 (latest on 1 July 2016, possibly v2015.11-505-g30a9f73)
- Device: BQ Acquaris E5 HD Ubuntu Edition
#### Issue

Language set in language settings is not applied.
#### Steps to reproduce

1) Open language settings
2) Change language
3) Restart app
4) Open setting - language is not changed.

Changed settings
<a href="http://savepic.ru/10372153.htm" target="_blank" ><img src=

[2016-07-05 13:09] chrox commented on #2119
@houqp The `path` property is set in the [`PluginLoader`](https://github.com/koreader/koreader/blob/master/frontend/apps/reader/pluginloader.lua#L29). The Evernote plugin tries to create `sdr` directory in the plugin code directory and causes an error which is not handled properly in `DocSettings`.

And Ubuntu Touch is not like a regular Linux distribution. Application is ran in sandbox and logs a

[2016-07-05 13:17] KenMaltby commented on #2122
I hope that the fact that a number of Kobo owners prefer KOReader, in major part because it is not dependent upon a corruptible database.

[2016-07-05 14:39] Easthy commented on #2131
`
-- we can read Lua syntax here!
return {
    ["lastfile"] = "/home/phablet/Documents/Martin_Idien-Dzhiek_London.epub",
    ["night_mode"] = true,
    ["statistics"] = {
        ["is_enabled"] = true,
        ["min_sec"] = 5.0000000000000e+00,
        ["max_sec"] = 9.0000000000000e+01
    },
    ["filemanagermenu_tab_index"] = 3.0000000000000e+00,
    ["lastdir"] = "/home/phablet/Documents",

[2016-07-05 14:51] chrox commented on #2131
This file seems alright, the `language` settings being saved. Did you try setting to other languages? Does any other languages work?

[2016-07-05 15:01] tigran123 commented on #2130
Just to add that on Kobo Touch it seems to be very fast and responsive, even though the actual hardware is slower than Aura H2O. I suspect it is something to do with H2O's higher resolution...

[2016-07-05 15:02] Easthy commented on #2131
I have tried without success all languages so far.

[2016-07-05 15:05] chrox commented on #2131
I found that `gettext` looks for `po` files only in the `l10n` directory in current directory (this is true for other platform but on Ubuntu Touch current directory is not the Koreader installation directory thus it fails to find any `po` files).

Ref [this](https://github.com/koreader/koreader/blob/master/frontend/gettext.lua#L48-L49):
[code]

[2016-07-05 15:12] chrox commented on #2131
Could you verify that there are some "cannot open translation file *" strings in the log file?

[2016-07-05 15:33] chrox commented on #2130
No noticeable performance degeneration here on Kindle Voyage. And a snip of detailed log may be helpful to debug this issue. I suspect that double tap detection is enabled on your Kobo H2O (which should be disabled by default), so that single tap takes 0.3 sec to be detected. The rendering work won't start until the gesture is detected. If this is true, you will see "# double tap detected in slot

[2016-07-05 15:40] Easthy commented on #2131
Yes, I have found theese strings
[code]
and so on.

Also you said that log file should be reset every launch. If so I should not see that strings in log. The only one string "cannot open translation file" should be present in the log

[2016-07-05 16:35] gerroon commented on #2105
@houqp

I am guessing that this might be an issue with all the EInk Android devices.

As far as I know Onyx makes Android devices though one of its models might be just a Linux based

[2016-07-05 17:12] #2119 closed

[2016-07-05 17:28] tigran123 commented on #2130
Yes, I think you are correct --- I too have found this new option "Disable double tap" and I think it is connected to it. I mean the jerky behaviour. But the loading of djvu file being twice as slow cannot be connected to it, surely.

[2016-07-05 17:28] dwl99 commented on #2128
I tried it again & there is no koreader folder in .kobo/ ?????

[2016-07-05 17:45] NiLuJe commented on #2128
We moved to ```.adds``` a while ago ;).

[2016-07-05 18:21] tigran123 commented on #2130
Ah, I see what is happening: the option "Disable double tap" is IGNORED! Yes, even after the restart of koreader it still reacts to double tap by zooming in some strange location on the next page (probably being confused by autoscroll set to ON) and then one has to reset the page to normal (Crop: Auto) manually.

So, the bug is --- we still have 0.3s delay even with "Disable double tap" option tur

[2016-07-05 18:21] verge-36 opened #2133 "[FR]More Contrast Settings"
- Device:E ink device
  Would it be possible to add more contrast options? With some pdf files even the darkest option is hardly readable.

[2016-07-05 18:52] tigran123 opened #2134 "Koreader crashes opening a DjVu file."
* KOReader version: v2015.11-507-gef260f0
* Device: Kobo Aura HD

#### Issue

Here is the crash.log

`
[root@(none) koreader]# cat crash.log
[!] doShowReader coroutine crashed:
frontend/docsettings.lua:12: bad argument #1 to 'attributes' (string expected, got nil)
stack traceback:
	frontend/docsettings.lua:12: in function 'buildCandidate'
	frontend/docsettings.lua:76: in function 'open'
	frontend/

[2016-07-05 18:53] tigran123 commented on #2134
I forgot to mention that my koreader.sh script looks like this:

`
#!/bin/sh
export LC_ALL="en_US.UTF-8"

KOREADER_DIR="${0%/*}"
cd "${KOREADER_DIR}"
export LD_LIBRARY_PATH="${KOREADER_DIR}/libs:${LD_LIBRARY_PATH}"
export TESSDATA_PREFIX="data"
export STARDICT_DATA_DIR="data/dict"
export EXT_FONT_DIR="/mnt/onboard/fonts"

if [ "$#" -eq 0 ] ; then
	args="/mnt/onboard"
else
	args="$*"
fi

export PRO

[2016-07-05 19:13] dwl99 commented on #2128
no crash.log there either :-(

[2016-07-05 19:48] Easthy opened #2135 "pdf and djvu files could not be opened. Ubuntu touch"
- KOReader version: 0.0.1 (latest on 1 July 2016, possibly v2015.11-505-g30a9f73)
- Device: BQ Acquaris E5 HD Ubuntu Edition
#### Issue

.pdf and .djvu files could not be opened, koreader closes
#### Steps to reproduce

Try to open .djvu or .pdf files

Here logs after trying to open pdf file and djvu file:
https://yadi.sk/d/Sx5VYgctt383a

[2016-07-05 20:16] supercoil opened #2136 "highlighting and one-letter words issue in epub"
- KOReader version: koreader-stable-v2015.11
- Device: Kobo Glo HD

I've had a look at other highlighting issues; don't know whether this one's related to any of them. It occurs in epubs, but not pdfs. When I highlight a word and there is a one-letter word to the left of it, this gets highlighted as well. (And vice versa: trying to highlight a one-letter word highlights the word to the right too.)

[2016-07-05 20:18] tigran123 commented on #2134
Closing the issue as I can no longer reproduce it.

[2016-07-05 20:18] #2134 closed

[2016-07-05 20:36] supercoil opened #2137 "missing characters with diacritics in on-screen keyboard"
- KOReader version: koreader-stable-v2015.11
- Device: Kobo Glo HD

I'm using a Polish dictionary, but I'm having trouble looking up words: as far as I can tell a few letters from the Polish alphabet with diacritics are missing from the on-screen keyboard. They are:
a and e with ogonek: ą ę
l with stroke: ł
z with acute and with dot: ź ż

Edit: added z's

[2016-07-05 20:57] tigran123 commented on #2130
On Kobo Mini turning pages in DjVu is slower as well, compared with v2015.11-stable.

[2016-07-05 22:33] chrox commented on #2131
No, the log is handled by system and won't be reset when it restarts.

[2016-07-06 00:15] chrox commented on #2135
The log file shows a segmentation fault problem. Could you find the `core` file it dumps?

[2016-07-06 01:01] chrox commented on #2122
I dislike the idea of whole-library full-text indexing neither.

Full-text indexing is problematic in embedded device with limited memory capacity and computation power and especially for application like Koreader that is run-time limited, the Koreader application itself could be terminated at anytime when it would be indexing (Kindle native system sometimes dies because of indexing even it runs t

[2016-07-06 01:05] chrox commented on #2122
@Hzj-jie I still have no clue on how indexing could solve the Chinese input problem. Could you elaborate it more clearly?

[2016-07-06 01:36] protist commented on #1382
@houqp I did not even know if there was an OTA feature… there's nothing in the README, and just a passing reference in the wiki?

Regarding `defaults.persistent.lua`, I think the [wiki](https://github.com/koreader/koreader/wiki/Change-defaults) is clear enough, but again, this refers to the OTA. Also, in my last update, `defaults.lua` had changed, so my previous config file had to be modified manu

[2016-07-06 10:25] verge-36 commented on #2034
@ houqp I ran strace on the device for both stock B&N Reader and Nook Clearscreen apps.
I may have missed a few lines with this script but i couldn't find a way to run strace any other way since the Clearscreen app closes instantly after starting it..
[NOOK.tar.gz](https://github.com/koreader/koreader/files/349551/NOOK.tar.gz)

[2016-07-07 08:53] houqp commented on #2128
Oh right, I forgot I am still using a very old KSM... @dwl99 do you have ssh access?

So N905 is another name for kobo touch? Try removing the following line to disable touch probe and see what happens: https://github.com/koreader/koreader/blob/master/frontend/device/kobo/device.lua#L28

[2016-07-07 08:58] houqp commented on #2137
I am not an expert in keyboard layout. Which keys do you think we should assign those letters to? You can tweak and test the layout by editing this file: https://github.com/koreader/koreader/blob/master/frontend/ui/data/keyboardlayouts/yazhert.lua.

[2016-07-07 09:02] houqp commented on #2130
This is very strange, did you compare the stable version with koreader-kobo-arm-linux-gnueabihf-v2015.11-11-g16509e2.zip?

[2016-07-07 09:04] tigran123 opened #2140 "TB/TC times don't get updated for DjVu files."
* KOReader version: v2015.11-507-gef260f0
* Device: Kobo Aura H2O

#### Issue
For djvu files the times to complete the book and current chapter do not seem to be updated, i.e. they are stuck at the value "na".

#### Steps to reproduce
Open any djvu file and start turning the pages. Notice the "TB:" and "TC:" values in the status bar remain as "na". But for PDF files they are updated correctly.

[2016-07-07 09:08] tigran123 opened #2141 "Disable double tap option has no effect for DjVu files"
* KOReader version: v2015.11-507-gef260f0
* Device: Kobo Aura H2O

#### Issue
For djvu files double-tap seems to be always active, regardless of the option "Disable double tap" in the "Screen" section of menu. I did remember to restart Koreader after setting the option --- still, if I double-tap the area is zoomed in (but not the area I double-tap on --- rather, some strangely picked area from som

[2016-07-07 09:11] tigran123 opened #2142 "Book status not available for djvu files."
* KOReader version: v2015.11-507-gef260f0
* Device: Kobo Aura H2O.

#### Issue
Why is the "Book status" option in the menu restricted to PDF files? It should work just as well with DjVu files as there is nothing PDF-specific there.

#### Steps to reproduce
Open a djvu file and notice that "Book status" option (place where you can rate the book and leave comments) is not available.

[2016-07-07 09:25] houqp commented on #2135
Perhaps toolchain issue? It's weird that canonical does not provide official cli toolchain...

[2016-07-07 09:34] houqp commented on #1382
There are many hidden features in KOReader that I don't even know ;P

[2016-07-07 09:42] houqp commented on #2142
Yeah, this is expected. Someone just need to add djvu support.

[2016-07-07 09:51] tigran123 commented on #2141
I forgot to add in the description that if this implies that we always have a delay of 0.3s when turning a page in djvu files then this is a serious "show-stopper" bug, because for scientific literature you often need to browse through the pages quickly (e.g. to go back to some formula referred to later).

[2016-07-07 12:30] KenMaltby commented on #1382
The OTA servers provide us users with access to the current "Nightly" (or twice daily?) auto generated "release".  I normally download the current OTA nightly, to my PC and make changes to it then recompress the file and leave it ready to be installed, as I described above.  I tried the OTA process on my AuraHD and it worked fine for 512, yesterday.  I had to connect with the USB afterwards to mak

[2016-07-07 13:24] supercoil commented on #2137
OK, I've had another look at the layout. I see there are basically three categories/groups of keys you can switch between with the three keys at the bottom left: "latin", "cyrillic", "diacritic" (which also includes ligatures etc.). All three include numbers. That's useful for "latin" and "cyrillic" – so you don't have to switch all the time – but I think you could do away with them in the third g

[2016-07-07 17:59] Easthy commented on #2135
Files from /var/crash are here:
https://yadi.sk/d/Sx5VYgctt383a

[2016-07-08 05:32] dwl99 commented on #2128
Thanks, that got me past the touch probe. The touchscreen now works but the calibration is miles out. If I tap on a book I end up opening one several centimetres away!

[2016-07-08 13:18] xorrox commented on #1974
And the same thing for 507.

[core-507.zip](https://github.com/koreader/koreader/files/354293/core-507.zip)

[2016-07-08 18:52] dsanson commented on #1375
I am still having the problem with the latest nightly build on my PW2 (running 5.6.5). @NiLuJe's patch solves the problem, though now night mode and regular mode seem to be swapped.

[2016-07-08 19:28] didina44 commented on #1705
THANK YOU!!

On 28 June 2016 at 23:15, Qingping Hou <notifications@github.com> wrote:

[2016-07-08 19:58] NiLuJe commented on #1375
@dsanson: Yep, that was just a POC.

I do intend to try to work on that someday, but to be frank, it's quite low on the pile of things to do ;).

[2016-07-08 20:30] yshui commented on #1422
@chrox But if this behavior is annoying, maybe the design could be changed a little bit?

[2016-07-09 00:51] houqp commented on #2122
That's what's in my mind too. Full document content index should be done out of band, i.e. done on the computer or from the cloud. Then ship those indexes to the reader as a read-only asset. That said, I think it should be fine to index file names and a tiny bit of metadata directly on the device.

People tend to think databases are easy to corrupt. IMO, that's a misconception. It is true that in

[2016-07-09 01:07] houqp commented on #2128
@dwl99 that's why we have the screen probe :P I don't see any reason why the touch probe won't react to your touches. We can get some ssh help if we can't figure out this issue later.

For now can you change `utils/kobo_touch_probe.lua` file and add the following line at the beginning of `TouchProbe:onTapProbe` function: ?

[code]

Then after this line: https://github.com/koreader/koreader/blob/ma

[2016-07-09 04:36] dsanson commented on #1375
Sad it is a low priority! Wish I understood the code better so I could work on it.

The bright flash with each page turn makes night mode almost unusable, especially for, as @Markismus put it, the "woman sleeping next to me". For me at least, your proof of concept patch is better than nothing.

[2016-07-09 06:09] Sunkworld opened #2144 "Build Failure on OS X"
* KOReader version:
* Device:OS X 10.11.5

#### Issue
Build failed on OS X. Seems something wrong with freetype2?
Here's the log:

Undefined symbols for architecture x86_64:
  "_FT_GetFilePath_From_Mac_ATS_Name", referenced from:
     -exported_symbol[s_list] command line option
  "_FT_GetFile_From_Mac_ATS_Name", referenced from:
     -exported_symbol[s_list] command line option
  "_FT_GetFile_Fro

[2016-07-09 07:02] Hzj-jie opened #2145 "Screen fully refreshed after staying on a page for a minute"
* KOReader version: 513 nightly build
* Device: Kobo Aura HD

#### Issue

When auto refresh time feature has been enabled, and after staying on a page for around one minute, the screen automatically fully refreshed.

#### Steps to reproduce

I believe this issue relates to my recent change to set dirty region in TextWidge:setText. And the size of status bar is entire screen (no idea whether this i

[2016-07-09 07:31] houqp commented on #2145
As I mentioned in that PR, we should not call setDirty in TextWidget. If we call it in the parent widget (filemanager), this issue won't happen. I will send a PR to address it later.

[2016-07-09 09:06] houqp commented on #2145
The fact that status bar is has a size of full screen is not expected. That's a separate issue we should look into :)

[2016-07-09 12:28] NiLuJe commented on #2145
It definitely did not use to be, I remember playing with it before the whole UIManager refactor ;).

[2016-07-09 12:30] NiLuJe commented on #2144
Woops, thought the Mac buildfix went into the 2.6.4 release, they didn't.

Will bump FT to latets git, that should fix it.

Thanks for the report ;).

[2016-07-09 19:10] andruha30 opened #2149 "koreader for pocketbook has performance degeneration"
- KOReader version:
- Device:
#### Issue
#### Steps to reproduce

[2016-07-09 19:18] andruha30 commented on #2149
It takes much time to open pdf and djvu file up to 1 minute or even more
I cant find ukrainian keyboard when renaming the file.Only russian and english ones
Cursor cant be placed at the beginning of the line when renaming a file it jumps wherever but not where i want
I have to tap up to 5-6 times to enter the menu while reading the book

[2016-07-09 21:30] houqp commented on #2149
@andruha30 the previous version 483 does not have this issue right?

[2016-07-10 05:25] Sunkworld commented on #2144
I update to the latest version, first run './kodev fetch-thirdparty' then './kodev build', but the problem still exists, and the log is just the same...

[2016-07-10 05:42] houqp commented on #2144
I don't have max os with me any more. You should hunt down @chrox at PekingU and ask for offline "customer sevice" :P

[2016-07-10 05:47] andruha30 commented on #2149
I think 431 is all right

[2016-07-10 07:10] Sunkworld commented on #2144
😂😂

[2016-07-10 07:51] houqp commented on #2144
@Sunkworld can you try revert to commit 273a0cb7ee24b9285d0f164737de7f3c5decb66f to see if this error still exist?

[2016-07-10 09:03] roger64 commented on #1813
I just remarked today with version 2015.11-507-gef260f0 on a PW3 that the property _width: xx%_ works now consistently (integrated style enabled) which helps a lot for the display of all relative size centered images. This is a neat progress. Thank you!!

Support is still missing for the _float_ property and everything related to _svg_ (including wrappers).

[2016-07-10 11:54] Sunkworld commented on #2144
@houqp I tried to revert to that, and get an error about evernote-sdk-lua; after I manually add the files needed to the specific directory, it turns out that the gui can be opened after, but when I try to open any file, it exited. Besides, it rebuild several dependencies starting from lua-Spore everytime.
Here's the log:
./luajit: frontend/apps/reader/modules/readerdictionary.lua:8: module 'json'

[2016-07-10 14:44] verge-36 commented on #2105
Hello. I have a rooted NOOK Glowlight Plus, which is also an Android based E-Ink(Carta?) device. I don't think it is an issue with all eink android devices.
Two finger vertical scrolling isn't working for me(Usually crashes). But using Menu-Frontlight to apply screen brightness works fine.Screen usually goes black when i first set it, I tap once then it is fixed.I can change it with no black scree

[2016-07-10 19:42] verge-36 opened #2150 "Koreader crashes often with new Android builds"
* KOReader version:v2015.11-507-gef260f0(crashes frequently)
* Previous version:v2015.11-371-g24a30cb(crashes 1,2 times a day)
* Device:Nook Glowlight Plus

#### Issue
Koreader crashes frequently.Here is logcat attached. Couldn't find any logs in koreader directory.
[NOOK.tar.gz](https://github.com/koreader/koreader/files/356167/NOOK.tar.gz)
#### Steps to reproduce
Open the app. Start Reading a bo

[2016-07-10 22:22] houqp commented on #2150
Hm.. I have never seen this before. looks like luajit issue. Can you try version 483 to help narrow down the commits?

[2016-07-10 22:29] houqp commented on #2144
lua-Spore is the library that also introduces the luajson module. The emulator is crashing because it can't find the json module. So looks like lua-Spore is not built correctly. Can you run `kodev build -v` and paste the build log for lua-Spore here?

[2016-07-10 22:57] supercoil commented on #2137
OK, I played around with the keyboard layout a bit, but I wasn't sure what the best layout would be. Then I decided to have a closer look at how complete the set of latin letters with diacritics is in the first place in the current layout; so far I've found 25+ from different languages that are still missing, so I don't think it's really worth trying to rearrange the current layout, because you're

[2016-07-11 03:09] gerroon commented on #2105
I get the initial blackness with  my all android devices (lcd and eink)

[2016-07-11 03:18] Sunkworld commented on #2144
@houqp

/Applications/Xcode.app/Contents/Developer/usr/bin/make -C base
install -d thirdparty/lua-Spore/build/x86_64-apple-darwin15.5.0
rm -f /Users/Yuuko/Downloads/koreader/base/thirdparty/lua-Spore/build/x86_64-apple-darwin15.5.0/lua-Spore-prefix/src/lua-Spore/../lua-Spore-stamp/lua-Spore-build
rm -f build/x86_64-apple-darwin15.5.0/rocks/lib/luarocks/rocks/lua-spore/0.3.1-1/lua-spore-0.3.1-1.roc

[2016-07-11 05:55] verge-36 commented on #2150
Here:
[Crashlog_483.tar.gz](https://github.com/koreader/koreader/files/356495/Crashlog_483.tar.gz)
This survived a little longer than the newer version.

[2016-07-11 06:18] houqp commented on #2144
Weird, there is no error in the build. Can you confirm that `build/x86_64-apple-darwin15.5.0/rocks/lib/luarocks/rocks/lua-spore/0.3.1-1/lua-spore-0.3.1-1.rockspec` does not exist after the build is done?

[2016-07-11 06:22] houqp commented on #2150
Same issue as the last one. Still looks like a LuaJIT issue to me:

[code]

Perhaps it's trying to execute a JITed machine code on a rw memory region.

Does KOReader ever work for you before?

[2016-07-11 07:48] houqp commented on #1974
I can definitely see the mem leak happening :( Every time a pdf is opened, 10-20MB is gone. And the memory usage never went down after the document is closed.

[2016-07-11 08:04] houqp commented on #2137
Thanks for looking into it. Yes, if there are too many to cover, we should create language specific layouts and let users switch between them. Perhaps you can help create the polish layout? I have no idea how the standard polish layout looks like ;P

[2016-07-11 08:22] verge-36 commented on #2150
At first There were some problems with UI not showing up , but after using the patch here:[http://www.mobileread.com/forums/showthread.php?t=271505] it kinda worked.
I think after a while this patch was merged or the issue was fixed because i didn't need this patch anymore.
Sometimes refused to show UI but killing it and starting again almost always fixed it. Didn't see any Crashes except once or